{# form.html.twig #}

{% use "form_div_layout.html.twig" %}
{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}

    	{% if not form.vars.valid %}
			{%- set error_class = ' has-error' -%}
		{% else %}
			{%- set error_class = '' -%}
    	{% endif %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control' ~ error_class)|trim}) -%}
    {% endif %}
    {{- parent() -}}

{%- endblock form_widget_simple %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="list-unstyled">
            {% for error in errors %}
                <li class="text-danger"><span class="mt-5 glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
