{% extends 'base.html.twig' %}

{% block title %}Edit {{ type }} Global Values &#124; Proposal System{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script defer>
		jQuery(function ($) {
			// $ format for fields
			$('.masked')
					.maskMoney({
						'prefix': '$',
						'precision': 0,
						'allowZero': true
					})
					.maskMoney('mask');

			/**
			 * Delete an Itinerary activity event handler.
			 */
			$('.link-delete-item').click(function (e) {
				e.preventDefault();

				if (confirm('{% trans %}Do you really want to delete this Item?{% endtrans %}')) {
					$('#form_deleteId').val($(this).siblings('.item_id').html());
					$('#form_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block body %}
	<h1>Global Values</h1>

	{{ form_start(form) }}
	<div class="panel panel-primary panel-wizard">
		<div class="panel-heading">
			<h2>{{ type }} Global Values</h2>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-budget">
				<thead>
				<tr>
					<th id="global_cost_name">Item Name</th>
					<th id="global_cost_default_value">Default Value</th>
				</tr>
				</thead>

				<tbody>
				{% for globalValue in form.globalValues %}
					<tr>
						<th class="lighter-blue-bg">{{ globalValue.name.vars.value }}</th>
						<td headers="global_cost_default_value"
							class="text-right">{{ form_widget(globalValue.defaultValue, { 'attr': {'class': 'form-control masked'} }) }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			{% if type == 'Specialist' and form.globalPAA is defined %}
				<h3 class="fieldset__subtitle">Program Activity Allowance (PAA)</h3>
				<p class="small">{% trans %}Set the range of days and assign a PAA for each one. The range of days corresponds to the duration of the specialist proposal. <strong>Note:</strong> if the range is open (e.g. 150 days or more), leave the range's end field blank.{% endtrans %}</p>

				<table class="table table-bordered table-budget">
					<thead>
					<tr>
						<th id="global_paa_range" class="col-sm-6">{% trans %}Duration of assignment{% endtrans %}</th>
						<th id="global_paa_default_value" class="col-sm-6">{% trans %}Default Value{% endtrans %}</th>
					</tr>
					</thead>

					<tbody>
					{% for paaValue in form.globalPAA %}
						<tr>
							<td headers="global_paa_range">
								<div class="inline-fields-container">
									{% if not loop.first %}
									<a href="#" class="link-delete-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
									<span class="item_id hidden">{{ paaValue.vars.value.id }}</span>
									{% endif %}
									{{ form_widget(paaValue.rangeStart, { 'attr': {'class': 'form-control'} }) }} {% trans %}to{% endtrans %}
									{{ form_widget(paaValue.rangeEnd, { 'attr': {'class': 'form-control'} }) }} {% trans %}days{% endtrans %}
								</div>
							</td>
							<td headers="global_paa_default_value" class="text-right">
								{{ form_widget(paaValue.defaultValue, { 'attr': {'class': 'form-control masked'} }) }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

				<div class="text-right">
					{{ form_widget(form.addPAA, { 'attr': {'class': 'btn btn-info'} }) }}
				</div>

				<div class="hidden">
					{{ form_widget(form.deleteId) }}
					{{ form_widget(form.here) }}
				</div>
			{% endif %}
		</div>

		<div class="panel-footer">
			<div class="row">
				<div class="col-md-offset-8 col-md-4 text-right">
					{{ form_widget(form.submit, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
				</div>
			</div>

			{{ form_row(form._token) }}
		</div>
	</div>
	{{ form_end(form, {'render_rest': false}) }}

{% endblock %}