{% extends 'base.html.twig' %}

{% block title %}Global Values &#124; Proposal System{% endblock %}

{% block body %}
    <h1>Global Values</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Global Values for Fellow Proposals</h2>
            <a href="{{ path('proposal_global_value_fellow_edit') }}" class="btn btn-info pull-right">Update</a>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                {% set fellowGlobalValuesTotal = 0 %}

                {% for fellowGlobalValue in fellowGlobalValues %}
                    <tr>
                        <th>{{ fellowGlobalValue.name }}</th>
                        <td class="totals-cell text-right">{{ fellowGlobalValue.defaultValue|currency_format(0) }}</td>
                    </tr>

                    {% set fellowGlobalValuesTotal = fellowGlobalValuesTotal + fellowGlobalValue.defaultValue %}
                {% endfor %}

                <tr class="totals-row totals-cell">
                    <th class="text-right">Total</th>
                    <td class="text-right">{{ fellowGlobalValuesTotal|currency_format(0) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Global Values for In-Country Specialist Proposals</h2>
            <a href="{{ path('proposal_global_value_specialist_edit', {'type': 'in-country'}) }}" class="btn btn-info pull-right">Update</a>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>

                {% for specialistGlobalValue in specialistGlobalValues if specialistGlobalValue.specialistType == 'in-country' %}
                    <tr>
                        <th>{{ specialistGlobalValue.name }}</th>
                        <td class="totals-cell text-right">{{ specialistGlobalValue.defaultValue|currency_format(0) }}</td>
                    </tr>

                    {% set fellowGlobalValuesTotal = fellowGlobalValuesTotal + specialistGlobalValue.defaultValue %}
                {% endfor %}

                </tbody>
            </table>

			<h3 class="fieldset__subtitle">Program Activity Allowance (PAA)</h3>
			<p>{% trans %}Set the range of days and assign a PAA for each one. The range of days corresponds to the duration of the specialist proposal. <strong>Note:</strong> if the range is open (e.g. 150 days or more), leave the range's end field blank.{% endtrans %}</p>

			<table class="table table-bordered">
				<tbody>

				{% for paaValue in globalPAA %}
					<tr>
						<th>{{ paaValue.rangeStart }} to {{ paaValue.rangeEnd }} days</th>
						<td class="totals-cell text-right">{{ paaValue.defaultValue|currency_format(0) }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Global Values for Virtual Specialist Proposals</h2>
            <a href="{{ path('proposal_global_value_specialist_edit', {'type':'virtual'}) }}" class="btn btn-info pull-right">Update</a>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>

                {% for specialistGlobalValue in specialistGlobalValues if specialistGlobalValue.specialistType == 'virtual' %}
                    <tr>
                        <th>{{ specialistGlobalValue.name }}</th>
                        <td class="totals-cell text-right">{{ specialistGlobalValue.defaultValue|currency_format(0) }}</td>
                    </tr>

                    {% set fellowGlobalValuesTotal = fellowGlobalValuesTotal + specialistGlobalValue.defaultValue %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}