.list-unstyled {
  &__author-item {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &__details--deleted div {
      text-decoration: line-through;
    }
  }
}


.two-col-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding-left: 10px;
}