.css-tooltip {
    display: inline-block;
    position: relative;
    // &__trigger {
    //     &:hover + .css-tooltip__content{
    //         display: block;
    //     }
    // }

    &__trigger--link {
        display: inline-block;
        text-decoration: underline;
        color: $link-color;
        cursor: pointer;
    }

    &__content {
        display: none;
        position: absolute;
        top: 35px;
        left: 0;
        background: $gray-dark;
        color: $white;
        padding: 15px;
        width: 550px;
        border-radius: 3px;
        text-align: left;
        z-index: 1000;
        font-size: 14px;
        // &:hover {
        //     display: block;
        // }
        a {
            color: lighten($link-color, 20%);
        }
    }

    &--right {
        .css-tooltip__content {
            z-index: 1000;
            top: 50%;
            left: 100%;
            transform: translate(0%, -50%);
            margin-left: 10px;
            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid $dark-gray;
                left: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                left: -20px;
                width: 20px;
                height: 100%;
                top: 0;
            }
        }
    }

    &--left {
        .css-tooltip__content {
            z-index: 1000;
            top: 50%;
            right: 100%;
            left: inherit;
            transform: translate(0%, -50%);
            margin-right: 10px;
            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid $dark-gray;
                right: -10px;
                top: 50%;
                transform: translateY(-50%);
            }
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                right: -20px;
                width: 20px;
                height: 100%;
                top: 0;
            }
        }
    }

    &--bottom {
        .css-tooltip__content {
            z-index: 1000;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0%);
            margin-top: 10px;
            &::before {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-bottom: 10px solid $dark-gray;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
                border-top: 10px solid transparent;
                right: 50%;
                top: -20px;
                transform: translateX(-50%);
            }
            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: -20px;
                width: 100%;
                height: 20px;
                left: 0;
            }
        }
    }

    &--sm {
        .css-tooltip__content {
            width: 250px;
        }
    }

    &--block {
        display: block;
    }

    p{
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    &:hover {
        .css-tooltip__content {
            display: inline-block;
        }
    }
}

.panel:not(.panel-bordered) {
    border: 0;
}

.panel-bordered {
    border-radius: 5px;
}

.panel-heading {
    @extend .clearfix;
    //padding: 17px 14px 17px;
    h3, h2 {
        //font-size: 1.5em;
        margin: 0;
        line-height: 1.2;
    }
    .glyphicon {
        vertical-align: text-top;
        margin-right: 20px;
    }
}

.panel-body {
    .form-group {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    label, .form-label, p {
        font-weight: 400;
        display: block;
    }
}

.panel-footer {
    border: 1px solid rgba(0,0,0,.1);
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.table__view-mode {
    tr th:first-child {
        background-color: $lighter-blue;
        width: 50%;
    }
    tbody>tr>td, tbody>tr>th {
        border: 0;
    }
}

.table > thead > tr:first-child > th {
    background-color: $light-blue;
    color: $white;

    a {
        color: $white;
        float: right;
        padding-left: 2px;

        span {
            font-size: 8px;
        }
    }

    &.label__required::after {
        color: #ffbcbc;
    }
}

.table-title {
    background-color: $white !important;
    border-bottom: solid 1px $table-border-color !important;
    border-top: solid 1px $table-border-color !important;
}

.totals-cell {
    background-color: $lighter-blue;
}

.inline-form {
    display: inline-block;
    vertical-align: middle;
}

.panel-wizard {
    //font-size: 18px;

    .form-control, .table th, .table td {
        //font-size: 16px;
    }

    .panel-heading {
        small, .small {
            margin-top: 8px;
        }
    }
}

.panel-review {
    background-color: $pale-yellow;
    .panel-body {
        .form-group {
            padding-top: 8px;
            padding-bottom: 8px;
            &:first-child {
                padding-top: 0;
            }
        }
    }
}

.ui-sortable-handle {
    &:hover {
        cursor: move;
        background-color: $light-gray;
    }
}

.table .table {
    background: transparent;
}
/** specialist project itinerary section **/
.itinerary-empty-row {
	td {
		background-color: $alert-danger-bg;
	}
}
.table-activity {
	> thead {
		> tr, tr:first-child {
			> th {
				background-color: transparent;
				color: #EB5E28;
                font-size: 0.9em!important;
			}
		}
	}

    &:not(.week-activities) tbody {
        td {
            border-top: none !important;
        }

        //tr:nth-child(2n+2) td {
        //    border-bottom: 1px solid #ddd !important;
        //}
        tr {
          &:nth-child(2n+2) td {
            border-bottom: 1px solid #ddd !important;
          }

          &:last-child td {
            border-bottom: none !important;
          }
        }
    }

    + .table-travel thead tr:first-child th {
        border-top: 1px solid $table-border-color !important;
    }
}
.table-travel {
	> thead {
		> tr, tr:first-child {
			> th {
				background-color: transparent;
				color: #00af60;
                font-size: 0.9em!important;
			}
		}
	}
}
.itinerary-rest-row {
	> td+td {
		background-color: #f0f0f0;
	}
}
.table-rest-day {
	> thead {
		> tr, tr:first-child {
			> th {
				background-color: transparent;
				color: #824671;
                font-size: 0.9em!important;
			}
		}
	}
}
.table-activity td, .table-travel td, .table-rest-day td {
	font-size: 0.9em!important;
}

.budget-totals-icon {
    font-size: 30px;
    line-height: 18px;
    color: darken($medium-gray, 10%);
    user-select: none;
}

.close.close-text {
    opacity: .6;
    font-size: 16px;
    margin-top: 6px;
    font-weight: 500;
    &:hover {
        opacity: 1;
    }
}

/* override for: line 26, ../sass/_sortable.sass */
table[data-sortable] th:after {
    font-family: 'Glyphicons Halflings'!important;
    content: "\e253\e252"!important;
    visibility: visible!important;
    height: 8px!important;
    width: 20px!important;
    border-width: 0!important;
    font-size: 8px;
    display: block!important;
    float: none!important;
    margin-top: 3px!important;
    font-weight: 400!important;
    letter-spacing: 2px;
    margin-left: 2px!important;
}
/* override for: line 40, ../sass/_sortable.sass */
table[data-sortable] th[data-sortable="false"]:after {
    visibility: hidden!important;
}
/* override for: line 43, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted-direction="descending"]:after {
    border-top-color: inherit;
    margin-top: 3px!important;
    content: "\e252" !important;
}
/* override for: line 47, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted-direction="ascending"]:after {
    border-bottom-color: inherit;
    margin-top: 3px!important;
    content: "\e253" !important;
}

/* active tab in shopping cart */
.tabs-light {
	.nav-tabs {
		> li {
			&.active > a {
				background-color: $white;
			}
		}
	}
}

// Virtual Itinerary activities table
.table.week-activities tbody {
    td {
        border-top: none !important;
    }

    tr:nth-child(3n+4) td {
        border-top: 1px solid #ddd !important;
    }
}

.bg-header{
    &-warning {
        background-color: $bg-header-warning!important;
    }
    &-info {
        background-color: $bg-header-info!important;
    }
    &-success {
        background-color: $bg-header-success!important;
    }
}