/* Generals */
body.not-logged-in {
    overflow: auto;
}

.clearfix {
    clear: both;
}

h1 {
    letter-spacing: -1px;
    font-size: 26px;
    margin: 10px 0;
    color: #1F4478;
    font-weight: 400;
}

h2 {
    color: #1F4478;
    font-size: 21px;
    font-weight: 400;
    margin: 10px 0 !important;
}

.jarviswidget > header > h2 {
    margin: 0 0 0 10px !important;
}

.jarviswidget-color-blueDark > header > h2 {
    color: #fff;
}

/* application (applicant role) */

label {
    white-space: normal;
}

.bootstrapWizard {
    padding: 20px 0 20px;
}

.review-status-progress-wizard.bootstrapWizard li {
    margin-bottom: 20px;
    width: 23%;
}

.fellow-progress-wizard.bootstrapWizard li {
    width: 19%;
}

.fellow-progress-wizard-full.bootstrapWizard li {
    width: 15%;
}

#main {
    overflow-y: hidden;
}

.child-field-group {
    padding: 20px !important;
    background: #fefefe;
    border: #f0f0f0 solid 1px;
}

.child-field-group:hover {
    box-shadow: 0px 0px 10px #999;
}

.child-field-group h2 {
    margin: 0 0 10px 0 !important;
}

.child-field-group fieldset {
    padding: 5px 0 0 0;
}

.child-field-group .fieldset-description {
    padding: 0 0 15px 15px;
    font-style: italic;
    color: #3c763d;
}

.field-type-datetime .fieldset-description {
    padding: 0;
}

section.form-type-textarea {
    margin: 0;
}

.word-counter {
    margin-bottom: 15px;
    padding: 5px;
    color: #826430;
    background: #fffde6;
    font-style: italic;
    font-size: 0.85em;
}

.word-counter span {
    font-weight: bold;
}

tr.draggable .btn {
    margin: 15px;
}

.document-content {
    padding: 0 0 10px 0;
    border-bottom: #ddd 1px solid;
}

.admin-menu #left-panel {
    top: 78px;
    z-index: 499;
}

/* left menu bar */

.menu li.active {
    background: #f5ed99;
}

.menu li.active a {
    font-weight: normal !important;
    color: #000 !important;
}

#left-panel ul.menu li {
    margin: 0 !important;
}

li.expanded, li.collapsed, li.leaf {
    padding: 0 !important;
}

/* reports */
.report-col {
    background: #fefefe;
    border: #f0f0f0 1px solid;
}

.report-col:hover {
    background: #f5ed99;
    border: #e6de89 1px solid;
}

/* help messages */
.help-block {
    color: #3c763d;
    font-style: italic;
    background: #dff0d8;
    padding: 5px;
    font-size: 0.85em;
    white-space: normal;
}

.smart-style-2 .login-info span {
    padding: 5px 10px 0px;
}

#show-shortcut {
    display: block;
}

.contextual-links-region {
    overflow: hidden;
}

/* Anonymous */
.not-logged-in #main {
    margin: 0;
}

#new-applicants-register-form footer {
    position: relative;
}

#start-registration-overlay {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
}

/* Forms */
.submit-application-button-wrapper {
    width: 20%;
}

.submit-application-button-wrapper .popover-content {
    padding: 9px 14px !important;
}

/*.smart-form .btn:not(.btn-xs):not(.btn-sm):not(.btn-lg):not(#start-registration):not(#edit-submit--2):not(.roster-app-save) {
    padding: 6px 12px;
}*/

.smart-form .col-11 {
    width: 91.66%;
}

.smart-form .col-12 {
    width: 100%;
}

.smart-form .select i {
    pointer-events: none;
}

.smart-form .select select {
    cursor: pointer;
}

/* table s without class */

table td,
table th {
    background-color: #fff !important;
}

table {
    border-collapse: collapse !important;
}

table {
    width: 100%;
    margin-bottom: 18px;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #dddddd;
}

table > thead > tr > th {
    vertical-align: middle;
    border-bottom: 2px solid #dddddd;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody + tbody {
    border-top: 2px solid #dddddd;
}

table table {
    background-color: #ffffff;
}

table > thead > tr > td.active,
table > tbody > tr > td.active,
table > tfoot > tr > td.active,
table > thead > tr > th.active,
table > tbody > tr > th.active,
table > tfoot > tr > th.active,
table > thead > tr.active > td,
table > tbody > tr.active > td,
table > tfoot > tr.active > td,
table > thead > tr.active > th,
table > tbody > tr.active > th,
table > tfoot > tr.active > th {
    background-color: #ecf3f8;
}

table > thead > tr > td.success,
table > tbody > tr > td.success,
table > tfoot > tr > td.success,
table > thead > tr > th.success,
table > tbody > tr > th.success,
table > tfoot > tr > th.success,
table > thead > tr.success > td,
table > tbody > tr.success > td,
table > tfoot > tr.success > td,
table > thead > tr.success > th,
table > tbody > tr.success > th,
table > tfoot > tr.success > th {
    background-color: #dff0d8;
}

table > thead > tr > td.info,
table > tbody > tr > td.info,
table > tfoot > tr > td.info,
table > thead > tr > th.info,
table > tbody > tr > th.info,
table > tfoot > tr > th.info,
table > thead > tr.info > td,
table > tbody > tr.info > td,
table > tfoot > tr.info > td,
table > thead > tr.info > th,
table > tbody > tr.info > th,
table > tfoot > tr.info > th {
    background-color: #d6dde7;
}

table > thead > tr > td.warning,
table > tbody > tr > td.warning,
table > tfoot > tr > td.warning,
table > thead > tr > th.warning,
table > tbody > tr > th.warning,
table > tfoot > tr > th.warning,
table > thead > tr.warning > td,
table > tbody > tr.warning > td,
table > tfoot > tr.warning > td,
table > thead > tr.warning > th,
table > tbody > tr.warning > th,
table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

table > thead > tr > td.danger,
table > tbody > tr > td.danger,
table > tfoot > tr > td.danger,
table > thead > tr > th.danger,
table > tbody > tr > th.danger,
table > tfoot > tr > th.danger,
table > thead > tr.danger > td,
table > tbody > tr.danger > td,
table > tfoot > tr.danger > td,
table > thead > tr.danger > th,
table > tbody > tr.danger > th,
table > tfoot > tr.danger > th {
    background-color: #f2dede;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9 !important;
}

table tr:nth-child(odd) td {
    background-color: transparent !important;
}

table > tbody > tr.odd > td,
table > tbody > tr.odd > th {
    background-color: #f9f9f9 !important;
}

td.checkbox,
th.checkbox {
    display: table-cell;
    padding: 8px 5px;
}

td.checkbox input[type="checkbox"] {
    float: none;
    margin: 0;
}

td.checkbox label.checkbox {
    padding: 0;
}

th.field-label {
    padding-left: 10px !important;
    background-color: #4C4F53 !important;
    color: #fff;
}

section.checkbox {
    padding: 0;
}

.check-icon-menu {
    position: absolute;
    right: 2px;
    color: #0b9e12;
}

nav ul li {
    overflow: visible;;
}

/* Role Switcher */
#submit-role {
    display: none;
}

/**/
.smart-style-3 #header {
    background-image: -webkit-linear-gradient(top, #f2f2f2, #b6b8bc);
    background-image: -moz-linear-gradient(top, #f2f2f2, #b6b8bc);
    background-image: -ms-linear-gradient(top, #F2F2F2 0%, #B6B8BC 100%);
    background-image: -o-linear-gradient(top, #F2F2F2 0%, #B6B8BC 100%);
    background-image: linear-gradient(to bottom, #F2F2F2 0%, #B6B8BC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b6b8bc', GradientType=0);

}

.smart-style-3 nav > ul > li > a > i {
    color: #1F4478;
    font-size: 20px;
}

.smart-style-3 #project-selector, .smart-style-3 #project-context > :first-child, .smart-style-3 .header-dropdown-list > li > .dropdown-toggle {
    color: #fff;
    text-shadow: #000 0 -1px;
}

.pull-right-item {
    margin-top: 10px;
}

@media (max-width: 979px) {
    .pull-right-item:not(#user_data) {
        margin-top: 0;
    }

    .pull-right-item a {
        padding-top: 4px;
    }
}

@media (max-width: 992px) {
    .pull-right-item i {
        font-size: 2em;
    }
}

#user_picture_header,
#user_name_header,
#user_roleswitch_header {
    display: inline-block;
    float: left;
    margin-right: 8px;
}

#user_name_header,
#user_roleswitch_header {
    padding-top: 7px;
}

#user_roleswitch_header .form-item,
#user_roleswitch_header .form-actions {
    margin: 0;
}

.btn-danger {
    color: #fff;
    background-color: #BC442B;
    border-color: #8F311E;
}

.btn-success {
    color: #fff;
    background-color: #739e73;
    border-color: #659265;
}

/*.btn-primary {
  color: #fff;
  background-color: #154170;
  border-color: #2c699d;
}*/

.btn-primary {
    color: #fff;
    background-color: #0A8CCB;
    border-color: #0678AC;
}

/*
* Clear the background and border that is placed from the 'views-view--system-logs.tpl.php'
*/
#sparks > li:nth-child(1) > div > div.jarviswidget.jarviswidget-color-blueDark.jarviswidget-sortable > header {
    background-color: transparent;
    border: none;
}

/*
* Style for the top 'Bulk operations' container
*/
.form-item-operation {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1em;
}

td.views-field-nothing,
td.views-field-edit-node {
    text-align: center;
}

.table-bordered {
    margin: 10px 0 !important;
}

/* Statistics */
#sparks {
    text-align: center;
}

#sparks li {
    text-align: center;
    max-height: 70px;
    vertical-align: top;
}

#sparks li h5 {
    text-transform: capitalize;
}

.sparks-info {
    max-width: 110px;
}

.sparks-info span {
    font-weight: bold;
}

.statistics-block {
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    border-top: 1px dashed rgba(0, 0, 0, .2);
    padding-bottom: 8px;
    clear: both;
}

/* Login */
.client-form header {
    padding: 15px 13px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    background: rgba(248, 248, 248, 0.9);
    font-size: 20px;
    color: #214c84;
}

#edit-actions--2.form-actions {
    margin: 0;
    background: none;
    border-top: none;
    display: block;
    padding: 0;
}

/* List */
.menu li.leaf {
    list-style: none;
}

/* Call to actions */
.call-to-action .menu li.leaf {
    margin-bottom: 15px;
    display: inline;
}

.call-to-action ul.menu {
    text-align: center;
}

#divSmallBoxes {
    top: initial;
    bottom: 144px;
}

#divSmallBoxes p {
    margin-bottom: 0;
}

#divSmallBoxes ul {
    padding-left: 0;
}

#divSmallBoxes li {
    list-style-type: none;
}

.bigBox {
    height: 80px;
}

.bigBox p {
    margin: 0;
}

.bigBox .bigboxicon {
    top: inherit;
    bottom: 0;
}

#divMiniIcons {
    bottom: 108px;
}

.smart-form {
    color: #333;
}

form input {
    max-width: 100%;
}

.smart-form .ok-button {
    padding: 5px 0;
}

/*.smart-form input[type=text]:not(#edit-email-to):not(#edit-title):not(#edit-subject) {
    border-color: #BDBDBD;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 8px 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}*/

/* Review forms*/
.snapshot {
    /*overflow-y: scroll;
    max-height: 50em;*/
    overflow-y: auto;
    height: 100%;
    padding: 0 20px;
}

.snapshot .child-field-group {
    background: none;
/ / padding : 15 px 15 px 0 15 px !important;
/ / border-width : 1 px 0 0 0;
}

.snapshot .child-field-group:hover {
    box-shadow: none;
}

.review-panel {
    box-shadow: -3px 3px 10px #aaa;
    background: #fffde6;
}

.review-panel fieldset {
    padding: 15px 0 0 0 !important;
}

.review-panel .field-items {
    padding-bottom: 15px;
}

.review-panel .container-inline-date .date-padding {
    padding: 0;
}

.review-panel .form-actions {
    background: #e7e5ce;
}

.snapshot fieldset {
    padding: 0;
}

@media (max-width: 768px) {
    #eligibility-review-form, #application-status-form, #panel-review-form {
        padding: 0 30px;
    }

    .snapshot {
        height: 50%;
    }

    .snapshot:hover {
        border: 1px solid #eee;
        box-shadow: 5px 5px 10px #A2A2A2;
    }
}

.snapshot .form-type-checkbox {
    padding-left: 20px;
}

.snapshot .form-type-checkbox input[type="checkbox"] {
    margin-left: -20px;
    margin-right: 5px;
}

form fieldset,
.master-fieldset,
.child-field-group {
    clear: both;
}

form td button {
    margin-bottom: 10px !important;
    display: block !important;
    clear: both !important;
}

/*.smart-form fieldset {
    background-color: transparent;
}*/

.form-wrapper /*, .form-item */
{
    margin: 5px 0;
}

.field-type-addressfield fieldset {
    padding-left: 0;
    padding-right: 0;
}

.form-type-select label,
.form-type-managed-file label {
    display: block;
}

/* End date shown by default */
/*.date-float {*/
    /*display: none;*/
/*}*/

/*.end-date-wrapper section {*/
    /*display: inline-block !important;*/
/*}*/

/*term dependent select*/
#term-dependent {
    min-width: 280px;
}

/* Animated throbber */
html.js input.form-autocomplete {
    background-image: url(/misc/throbber.gif);
    background-position: 100% 10px; /* LTR */
    background-repeat: no-repeat;
}

html.js input.throbbing {
    background-position: 100% -12px; /* LTR */
}

/*#views-exposed-form-admin-views-user-system-1 input.form-text[type="text"],
#views-exposed-form-search-page input.form-text[type="text"], .smart-style-3 input:not([type]),
.smart-style-3 input[type="color"],
.smart-style-3 input[type="email"],
.smart-style-3 input[type="number"],
.smart-style-3 input[type="password"],
.smart-style-3 input[type="tel"],
.smart-style-3 input[type="url"],
.smart-style-3 input[type="text"] {
    height: 30px !important;
}*/

#cied-search-applications-form > div > div > div > div.dt-row.dt-bottom-row {
    margin: 15px -10px -17px;
}

#views-exposed-form-admin-views-user-system-1 .dt-bottom-row,
#views-exposed-form-search-page .dt-bottom-row {
    margin: 15px -10px -10px;
}

#search-application-hidden-filters {
    display: none;
}

.chosen-container {
    width: 100% !important;
}

#search-application-display-filters-box {
    line-height: 3.3em;
}

.views-exposed-form .views-exposed-widgets {
    padding: 10px;
}

.view-filters .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0;
}

.admin-views-view .views-exposed-form .views-submit-button, .admin-views-view .views-exposed-form .views-reset-button {
    padding: 0.5em 1em 0 0;
}

/*#views-exposed-form-admin-views-user-system-1 input.form-text[type="text"],
.smart-style-3 input:not([type]), .smart-style-3 input[type="color"], .smart-style-3 input[type="email"], .smart-style-3 input[type="number"], .smart-style-3 input[type="password"], .smart-style-3 input[type="tel"], .smart-style-3 input[type="url"], .smart-style-3 input[type="text"]:not(#edit-email-to):not(#edit-title):not(#edit-subject), .smart-style-3 textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BDBDBD;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #404040;
    display: block;
    font: 13px/16px 'Open Sans', Helvetica, Arial, sans-serif;
    outline: 0 none;
    padding: 8px 10px;
    transition: border-color 0.3s ease 0s;
    width: 100%;
}*/

#edit_field_additional_documents_und_chosen > ul > li > input
    /* Application Status Progress Bar */
.custom-progress i {
    color: #B2B5B9;
}

.pane-cied-progress i.fa.fa-asterisk {
    color: #B2B5B9;
}

.bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step {
    padding: 6px;
}

.bootstrapWizard li.active .step i {
    font-size: 18px;
    top: -24px;
}

.bootstrapWizard li .step {
    padding: 6px;
}

.bootstrapWizard li .step i {
    font-size: 18px;
    top: 0;
}

.bootstrapWizard li.active .step, .bootstrapWizard li.active.complete .step {
    border: 3px solid rgba(0, 0, 0, 0);
}

/* Views Bulk Operations */
#views-form-search-page #edit-select {
    display: none !important;
}

.vbo-views-form #edit-select legend {
    display: none;
}

/* Dashboard */
.bottom-dash {
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    padding-bottom: 15px;
}

#block-panels-mini-applicant-dashboard .panel-col-top {
    float: left;
}

.button-row {
    padding: 10px 0;
}

.node-notification .node-application-status > h2, .node-notification .node-application-status .node-readmore {
    display: none;
}

/* User profile form */
span.form-required {
/ / display : none;
}

#user-profile-form .form-type-radio,
#user-register-form .form-type-radio {
    float: left;
    margin-right: 10px;
}

.input.password-parent {
    width: 100%;
}

.form-item-pass-pass2, .form-item-pass-pass2 input {
    margin-bottom: 0 !important;
}

ul.tabs.primary {
    display: none;
}

#edit-field-emergency-contact-und-0 .fieldset-legend {
    display: none;
}

/* Reset password form */
#password-hustle-user-pass-reset .password_confirm,
#password-hustle-user-pass-reset .password_confirm .input {
    width: 100%;
}

#password-hustle-user-pass-reset label[for="edit-pass-pass1"] {
    margin-bottom: 0 !important;
}

#password-hustle-user-pass-reset .password-strength {
    margin-top: 0 !important
}

#password-hustle-user-pass-reset .form-item-pass-pass2 {
    margin-top: 0 !important
}

/*
Removes the list style from the tab links on the top of the page
*/
.action-links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}

/**
* Remove the 'Cancel' button in the role switcher
*/
#edit-cancel--2 {
    display: none;
}

#edit-field-file-und-0-ajax-wrapper > section > label:nth-child(1) {
    position: absolute;
}

#edit-field-file-und-0-ajax-wrapper > section > label.managed_file > div > input.form-file {
    float: left;
    margin-left: 50px;
}

#edit-field-file-und-0-ajax-wrapper > section > label.managed_file > div > button {
    clear: both;
    margin: 10px;
    color: #fff;
    background-color: #739e73;
    border-color: #659265;
}

#edit_field_additional_documents_und_chosen > ul > li.search-field > input[type="text"] {
    min-width: 200px !important;
}

#block-withdraw-application-specialist-withdrawal,
#block-withdraw-application-fellow-withdrawal {
    margin-bottom: 25px;
}

#block-withdraw-application-fellow-withdrawal {
    clear: left;
}

/* Show label for grant date field */
.node-type-specialist-application #field-date-add-more-wrapper legend {
    display: block;
}

/*Custom disabled link*/
.lk-disabled {
    background-color: #999 !important;
}

/* Professional Experience table column */
.field_hours_per_week, .field_non_u_s_years {
    text-align: center;
    width: 150px;
}

/* Applications layout */
.page-node .entity-field-collection-item {
    margin-bottom: 20px;
}

.missing-info {
    margin-top: 10px;
    background: #f9f2f4;
    border: 2px inset #d00000;
    box-shadow: 2px 2px 5px #ccc;
}

.missing-info h2 {
    color: #d00000;
}

.block-cied-applications {
    width: 48% !important;
    margin-right: 2% !important;
}

#divMiniIcons {
    display: none;
}

input[disabled] {
    cursor: not-allowed !important;
}

.cannot-submit a {
    color: #fff !important;
    text-decoration: underline;
}

.cannot-submit a:hover {
    color: #fff !important;
    text-decoration: underline;
}

.sticky-header {
    z-index: 2;
}

/* Role switcher intro */
.roles-intro-html label {
    margin: 10px 0 0 10px;
}

/* Application status - Previous US Grantee Info section  */
.previous-us-grantee-info .country-list {
    font-weight: normal !important;
}

/* Application status - References section */
.references ul {
    padding-left: 20px;
}

.references .well {
    margin: 10px 0 0;
}

.references .document-content {
    padding: 0;
    border-bottom: none;
}

#user-pass label[for="edit-name"],
#user-login label[for="edit-name"],
#user-login label[for="edit-pass"] {
    float: left;
    padding-top: 25px;
    position: absolute;
}

.reference_submitted_form .disbled-input-holder {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    cursor: not-allowed !important;
}

/** Roster pages **/
.roster-table-wrapper { margin-top: 15px; }

.view-roster-application-page .child-field-group:hover {
    box-shadow: none;
}

.view-roster-application-page > div .content {
    margin-bottom: 25px;
}

.view-roster-application-page > div .content > .field {
    margin-bottom: 4px;
}

#address-book-btn {
    margin-bottom: 15px;
}

.applicants-selected-list-wrapper {
    display: none;
}

.applicants-selected-list {
    margin-top: 10px;
    padding-left: 0 !important;
}

.roster-applicants-list th:nth-child(2),
.roster-applicants-list td:nth-child(2) {
    text-align: center;
}

.roster-applicants-list td:nth-child(3) label {
    margin-left: 5px;
}
/** End of: Roster pages **/

#node_profile_form_group_prev_grantee_info .field-name-field-previous-grantee-informati:not(.form-wrapper),
.previous-us-grantee-info .field-name-field-previous-grantee-informati {
    margin-top: 20px;
}

#node_profile_form_group_prev_grantee_info .field-name-field-previous-grantee-informati:not(.form-wrapper) > .field-items > .field-item {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: none;
    border-top: #DDD 1px solid;
}

.manage-reviewers-top {
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}

.node-type-eligibility-review .field-name-field-single-date,
.node-type-specialist-review-form .field-name-field-single-date,
.node-type-panel-review-form .field-name-field-single-date {
    display: none;
}

#notifications-admin label {
    font-weight: bold;
    margin: 10px 0 0;
    font-size: 16px;
}

#notifications-admin section {
    margin: 40px 0 0;
}

#notifications-admin fieldset {
    background-color: #f0f0f0;
}

#notifications-admin .description {
    color: #3c763d;
    font-size: 1em;
    font-style: italic;
    background: #dff0d8;
    padding: 5px;
}

#notifications-admin .filter-wrapper {
    display: none;
}

.node-type-application-status .field-name-field-submitted-at,
.node-type-application-status .field-name-field-candidate-status-changed {
    display: none;
}

/* Fellow Review form */
.review-panel [disabled] {
    cursor: default !important;
    opacity: .6 !important;
}

#edit-phase-2 .field-type-list-boolean .form-type-radios > label {
    float:left;
    width:50%
}

#edit-phase-2 .field-type-list-boolean .form-type-radios > .form-radios {
    float:left;
}

#edit-phase-2 .field-type-list-boolean .form-type-radios > .form-radios .form-type-radio {
    float:right;

}
#edit-phase-2 .field-type-list-boolean .form-type-radios > .form-radios .form-type-radio:first-child {
    margin-left:15px;
}

/* Add margin to markup widget added to a form*/
.field-widget-markup ul{
    margin-left: 25px;
}
.field-widget-markup h3{
    font-weight: normal;
    margin: 30px 0 10px;
}

/* end-date to position */
.end-date-wrapper .form-type-date-popup > label:first-child{
    position: relative;
    top: -2.5em;
    left: -1em;
}


/* Hide weight select for aditional documents */
.field-name-field-additional-documents-file .form-type-select,
.field-name-field-additional-documents-file .form-type-managed-file label:first-child{
    visibility: hidden;
    height: 0px;
    position: fixed;
    top: 0px;
}

.roster-app-list-wrapper .form-actions {
    padding: 0;
    border-top: none;
}

.roster-app-list-entry-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.roster-app-sel .form-type-radio {
    float: left;
    margin-right: 20px;
}

.roster-app-entry-status {
    margin-left: 20px;
}

.roster-app-entry-status.saved { color: green; }
.roster-app-entry-status.not-saved { color:red; }
