<p>Hello,</p>

<p>This email is to inform you that the EL Fellow Proposals under the RELO location {{ reloLocation }} have been ranked by a RELO, and they are now ready for your review.</p>

<p>You can check that from the Browse Proposals page.<br>
	<a href="{{ absolute_url(path('fellow_project_browse')) }}">
		{{ absolute_url(path('fellow_project_browse')) }}
	</a>
</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
