{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script defer>
        jQuery(function ($) {
            // $ format for fields
            $('.masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');

			$('#table-budget').on('blur', '.region-budget', function() {
				var total = 0;
				$('.region-budget').each(function() {
					total += parseFloat($(this).val().replace(/[\$\,]/gi, ''));
				})
				$('#total-budget').val(total).maskMoney('mask');
			});
        });

    </script>
{% endblock %}

{% block body %}
    <h1>Regional Budget</h1>

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Set the budget per region</h2>
        </div>

        {{ form_start(form) }}
        <div class="panel-body">
            <table class="table table-bordered table-budget" id="table-budget">
                <thead>
                <tr>
                    <th id="global_cost_name">{% trans %}Region{% endtrans %}</th>
                    <th id="global_cost_default_value">{% trans %}Budget{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
				{% set budgetTotal = 0 %}
                {% for budgetPerRegion in form.budgetPerRegion %}
					{% set budgetTotal = budgetTotal + budgetPerRegion.vars.value.budget %}
                    <tr>
                        <th class="lighter-blue-bg">
                            {{ budgetPerRegion.vars.value.name }} ({{ budgetPerRegion.vars.value.acronym }})
                        </th>
                        <td headers="global_cost_default_value" class="text-right">
                            {{ form_widget(budgetPerRegion.budget, { 'attr': {'class': 'form-control masked region-budget'} }) }}
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <th>{% trans %}Total{% endtrans %}</th>
                        <th class="text-right"><input id="total-budget" class="form-control masked" value="{{ budgetTotal }}" disabled="disabled"></th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-offset-8 col-md-4 text-right">
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}

        {{ form_end(form, {'render_rest': false}) }}

    </div>

{% endblock %}
