<p>Hello,</p>

<p>This email is to inform you that the {{ region.name }} Shopping Cart is now ready for your review.</p>

<p>To review it, please click on the URL below.<br>
	<a href="{{ absolute_url(path('fellow_project_region_shopping_cart', {
		'acronym': region.acronym
		} )) }}">
		{{ absolute_url(path('fellow_project_region_shopping_cart', {
			'acronym': region.acronym
		} )) }}
	</a>
</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
