<tr class="header headers-center lighter-blue-bg">
    <th id="living_expense_item">
        {% trans %}Item{% endtrans %}
    </th>
    <th id="living_expense_cost">
        {% trans %}Cost{% endtrans %}
    </th>
    <th id="living_expense_post_po_contribution" colspan="4">
        {% trans %}Post/Partnering Organization Contribution{% endtrans %}
    </th>
    <th id="living_expense_eca_contribution">
        {% trans %}ECA Contribution{% endtrans %}
    </th>
</tr>
<tr class="subheader lighter-blue-bg">
    <th id="living_expense_description" class="col-lg-2">
        {% trans %}Description{% endtrans %}
    </th>
    <th id="living_expense_total_cost_country" class="col-lg-1">
        {% trans %}Total cost{% endtrans %}
    </th>
    <th id="living_expense_post_contribution" class="col-lg-1 label__required">
        {% trans %}Post will contribute{% endtrans %}
    </th>
    <th id="living_expense_po_contribution_monetary" class="col-lg-1 label__required">
        {% trans %}Partnering Organization will contribute &#40;monetary&#41;{% endtrans %}
    </th>
    <th id="living_expense_po_contribution_in_kind" class="col-lg-1 label__required">
        {% trans %}Partnering Organization will contribute &#40;in-kind&#41;{% endtrans %}
    </th>
    <th id="living_expense_post_po_total_contribution" class="col-lg-1">
        {% trans %}Total Post and Partnering Organization contribution{% endtrans %}
    </th>
    <th id="living_expense_eca_total_contribution" class="col-lg-1">
        {% trans %}Total ECA contribution{% endtrans %}
    </th>
</tr>
