{% extends ':project/specialist/wizard/budget:base_contribution_transportation.html.twig' %}

{% block contribution_transportation_table_header %}
    <tr class="header headers-center lighter-blue-bg">
        <th id="contribution_travel_item" colspan="4">
            {% trans %}Travel Info{% endtrans %}
        </th>
        <th id="contribution_cost">
            {% trans %}Cost{% endtrans %}
        </th>
        <th id="contribution_post_host_contribution" colspan="4">
            {% trans %}Post/Partnering Organization Contribution{% endtrans %}
        </th>
        <th id="contribution_eca_contribution">
            {% trans %}ECA Contribution{% endtrans %}
        </th>
    </tr>
    <tr class="subheader lighter-blue-bg">
        <th id="contribution_description">
            {% trans %}Description{% endtrans %}
        </th>
        <th id="contribution_date">
            {% trans %}Date{% endtrans %}
        </th>
        <th id="contribution_booking_responsibility">
            {% trans %}Booking Responsibility{% endtrans %}
        </th>
        <th id="contribution_mode">
            {% trans %}Mode{% endtrans %}
        </th>
        <th id="contribution_estimated_cost">
            {% trans %}Estimated Cost{% endtrans %}
        </th>
        <th id="contribution_post_contribution">
            {% trans %}Post contribution{% endtrans %}
        </th>
        <th id="contribution_host_contribution_monetary">
            {% trans %}Partnering Organization contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_host_contribution_in_kind">
            {% trans %}Partnering Organization contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_post_host_total_contribution">
            {% trans %}Total Post and Partnering Organization contribution{% endtrans %}
        </th>
        <th id="contribution_eca_total_contribution">
            {% trans %}Total ECA contribution{% endtrans %}
        </th>
    </tr>
{% endblock %}

{% block contribution_transportation_table_body_row %}
    {# @var travel \AppBundle\Entity\Specialist\Itinerary\Travel #}
    {% set travel = transportationCostItem.vars.value.travel %}

    <td headers="contribution_travel_item contribution_description">
        {% if travel is not null %}
            {{ travel.origin.city }} to {{ travel.destination.city }}
        {% endif %}
    </td>
    <td headers="contribution_travel_item contribution_date">
        {% if travel is not null %}
            {{ travel.date|date('F d, Y') }}
        {% endif %}
    </td>
    <td headers="contribution_travel_item contribution_booking_responsibility">
        {% if travel is not null %}
            {{ travel.bookingResponsible|title }}
        {% endif %}
    </td>
    <td headers="contribution_travel_item contribution_mode">
        {% if travel is not null %}
            {{ travel.mode }}
        {% endif %}
    </td>
    <td headers="contribution_cost contribution_total_cost_country">
        {{ form_widget(transportationCostItem.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(transportationCostItem.totalCost) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_contribution">
        {{ form_widget(transportationCostItem.postContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(transportationCostItem.postContribution) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_monetary">
        {{ form_widget(transportationCostItem.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(transportationCostItem.hostContributionMonetary) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_in_kind">
        {{ form_widget(transportationCostItem.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(transportationCostItem.hostContributionInKind) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_host_total_contribution">
        {{ form_widget(transportationCostItem.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(transportationCostItem.postHostTotalContribution) }}
    </td>
    <td headers="contribution_eca_contribution contribution_eca_total_contribution">
        {{ form_widget(transportationCostItem.ecaTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
{% endblock %}
