{% extends ':project/specialist/wizard/budget:base_paa.html.twig' %}

{% block contribution_paa_table_header %}
    {% include ':project/specialist/wizard/budget/eca:contribution_table_header.html.twig' %}
{% endblock %}

{% block contribution_paa_table_body_row %}
    <td headers="contribution_item contribution_description">
        {{ form_widget(paaCostItem.costItem.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(paaCostItem.costItem.description  ) }}
    </td>
    <td headers="contribution_cost contribution_total_cost_country">
        {{ form_widget(paaCostItem.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(paaCostItem.totalCost) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_contribution">
        {{ form_widget(paaCostItem.postContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(paaCostItem.postContribution) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_monetary">
        {{ form_widget(paaCostItem.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(paaCostItem.hostContributionMonetary) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_in_kind">
        {{ form_widget(paaCostItem.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(paaCostItem.hostContributionInKind) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_host_total_contribution">
        {{ form_widget(paaCostItem.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(paaCostItem.postHostTotalContribution) }}
    </td>
    <td headers="contribution_eca_contribution contribution_eca_total_contribution">
        {{ form_widget(paaCostItem.ecaTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
{% endblock %}
