<footer id="footer" class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                      <div class="copyright__content">
                        <p>
                            <a href="https://exchanges.state.gov/us/program/english-language-fellow-program" title="Exchange Programs">This is a program of the U.S. Department of State</a>, administered by Georgetown University, Center for Intercultural Education and Development.</p>
                        <p>
                            All decisions related to the English Language Programs (including candidate review, selection, funding, suspension, revocation, and termination) and all criteria related thereto are made and established by the U.S. Department of State.
                        </p>
                      </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="social-icons pull-right">
                    <li><a class="social_twitter" href="https://twitter.com/ELPrograms" target="_blank"></a></li>
                    <li><a class="social_linkedin" href="https://www.linkedin.com/company/english-language-fellow-program" target="_blank"></a></li>
                    <li><a class="social_youtube" href="https://www.youtube.com/user/ELFellowProgram" target="_blank"></a></li>
                    <li><a class="social_instagram" href="https://www.instagram.com/elprograms/" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="branding">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center">
                <ul class="brands-list">
                    <li>
                        <img src="{{ asset('dist/images/american-flag.png') }}" width="67" alt="United States Flag">
                    </li>
                    <li>
                        <a href="https://eca.state.gov" target="_blank" title="U.S. Department of State">
                            <img src="{{ asset('dist/images/us-department-of-state-seal.png') }}" width="302" alt="US State Department Logo">                    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>