{# Gets token from the session and make it available as a PHP array #}
{% set token = app.session.get("_security_secure_area")|unserialize %}

<header id="header" class="main-header">
    <a href="/" id="logo" class="main-logo mt-5" title="Home">
        <img src="{{ asset('dist/images/logo.png') }}" alt="English Language Programs Logo">
    </a>

    <a href="https://eca.state.gov" target="_blank" title="U.S. Department of State" style="margin-left:55px;">
        <img src="{{ asset('dist/images/logo-state-dept.png') }}" width="302" alt="US State Department Logo">                    
    </a>

    <div class="pull-right">
        {{ render(controller('AppBundle:Connect:roleSwitcherForm')) }}
        <div class="btn-group">
            {# @var user \AppBundle\Entity\User #}
            {% set user = app.user %}
            {% set ciedProfileUri = (user.ciedProfileUri is not null) ? user.ciedProfileUri : '/user/' ~ user.ciedId %}

            <a href="{{ application_system_url }}{{ ciedProfileUri }}/edit" title="Manage Account" id="manage-btn" class="btn btn-link">
                {% trans %}Manage Account{% endtrans %}
            </a>

            <a href="{{ application_system_url }}/help" title="Help" id="help-btn" class="btn btn-link">
                {% trans %}Help{% endtrans %}
            </a>

            <a href="{{ path('fos_user_security_logout') }}" title="Log Out" id="logout" class="btn btn-link">
                {% trans %}Logout{% endtrans %}
            </a>
        </div>
    </div>
</header>
