<tr class="header headers-center lighter-blue-bg">
    <th id="contribution_item" class="col-md-3">
        {% trans %}Item{% endtrans %}
    </th>
    <th id="contribution_cost">
        {% trans %}Cost{% endtrans %}
    </th>
    <th id="contribution_post_host_contribution" colspan="3">
        {% trans %}Partnering Organization Contribution{% endtrans %}
    </th>
    <th id="contribution_eca_contribution">
        {% trans %}Post Contribution{% endtrans %}
    </th>
</tr>
<tr class="subheader lighter-blue-bg">
    <th id="contribution_description">
        {% trans %}Description{% endtrans %}
    </th>
    <th id="contribution_estimated_cost">
        {% trans %}Estimated Cost{% endtrans %}
    </th>
    <th id="contribution_host_contribution_monetary">
        {% trans %}Partnering Organization contribution &#40;monetary&#41;{% endtrans %}
    </th>
    <th id="contribution_host_contribution_in_kind">
        {% trans %}Partnering Organization contribution &#40;in-kind&#41;{% endtrans %}
    </th>
    <th id="contribution_host_total_contribution">
        {% trans %}Total Partnering Organization contribution{% endtrans %}
    </th>
    <th id="contribution_post_total_contribution">
        {% trans %}Total Post contribution{% endtrans %}
    </th>
</tr>
