{% extends 'project/specialist/wizard/budget/base_contribution_one_time.html.twig' %}

{% block contribution_one_time_table_header %}
    {% include('project/specialist/wizard/budget/post/contribution_table_header.html.twig') %}
{% endblock %}

{% block contribution_one_time_table_body_row %}
    <td headers="contribution_item contribution_description" class="custom-cost">
        <a href="#" class="link-delete-cost-item text-danger" data-contribution-one-time-id="{{ contributionOneTimeCostItem.vars.value.id }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>

        {{ form_widget(contributionOneTimeCostItem.costItem.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(contributionOneTimeCostItem.costItem.description  ) }}
    </td>
    <td headers="contribution_cost contribution_total_cost_country">
        {{ form_widget(contributionOneTimeCostItem.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionOneTimeCostItem.totalCost) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_monetary">
        {{ form_widget(contributionOneTimeCostItem.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionOneTimeCostItem.hostContributionMonetary) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_host_contribution_in_kind">
        {{ form_widget(contributionOneTimeCostItem.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
        {{ form_errors(contributionOneTimeCostItem.hostContributionInKind) }}
    </td>
    <td headers="contribution_post_host_contribution contribution_post_host_total_contribution">
        {{ form_widget(contributionOneTimeCostItem.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
    <td headers="contribution_eca_contribution contribution_eca_total_contribution">
        {{ form_widget(contributionOneTimeCostItem.postTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
    </td>
{% endblock %}
