<tr class="header headers-center lighter-blue-bg">
    <th id="living_expense_item">
        {% trans %}Item{% endtrans %}
    </th>
    <th id="living_expense_cost">
        {% trans %}Cost{% endtrans %}
    </th>
    <th id="living_expense_po_contribution" colspan="3">
        {% trans %}Partnering Organization Contribution{% endtrans %}
    </th>
    <th id="living_expense_post_contribution">
        {% trans %}Post Contribution{% endtrans %}
    </th>
</tr>
<tr class="subheader lighter-blue-bg">
    <th id="living_expense_description">
        {% trans %}Description{% endtrans %}
    </th>
    <th id="living_expense_total_cost_country">
        {% trans %}Total cost{% endtrans %}
    </th>
    <th id="living_expense_po_contribution_monetary">
        {% trans %}Partnering Organization will contribute &#40;monetary&#41;{% endtrans %}
    </th>
    <th id="living_expense_po_contribution_in_kind">
        {% trans %}Partnering Organization will contribute &#40;in-kind&#41;{% endtrans %}
    </th>
    <th id="living_expense_po_total_contribution">
        {% trans %}Total Partnering Organization contribution{% endtrans %}
    </th>
    <th id="living_expense_post_total_contribution">
        {% trans %}Total Post contribution{% endtrans %}
    </th>
</tr>
