{% extends 'project/specialist/wizard/budget/base_contribution_living_expenses.html.twig' %}

{% block contribution_living_expenses_table_header %}
	{% include('project/specialist/wizard/budget/post/contribution_living_expenses_table_header.html.twig') %}
{% endblock %}

{% block contribution_living_expenses_table_body_row %}
	<td headers="living_expense_item living_expense_description">
		{{ contributionLivingExpenseCostItem.vars.value.livingExpenseCostItem.costItem.description }}
	</td>
	<td headers="living_expense_cost living_expense_total_cost_country">
		{{ form_widget(contributionLivingExpenseCostItem.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
	</td>
	<td headers="living_expense_po_contribution living_expense_po_contribution_monetary">
		{{ form_widget(contributionLivingExpenseCostItem.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
		{{ form_errors(contributionLivingExpenseCostItem.hostContributionMonetary) }}
	</td>
	<td headers="living_expense_po_contribution living_expense_po_contribution_in_kind">
		{{ form_widget(contributionLivingExpenseCostItem.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
		{{ form_errors(contributionLivingExpenseCostItem.hostContributionInKind) }}
	</td>
	<td headers="living_expense_po_contribution living_expense_po_total_contribution">
		{{ form_widget(contributionLivingExpenseCostItem.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
		{{ form_errors(contributionLivingExpenseCostItem.postHostTotalContribution) }}
	</td>
	<td headers="living_expense_post_contribution living_expense_post_total_contribution">
		{{ form_widget(contributionLivingExpenseCostItem.postTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
	</td>
{% endblock %}

{% block contribution_ground_transport_table_body %}
	<tr{% if errorsGT.rows|length %} class="alert-danger"{% endif %}>
		<td headers="ground_transport_item">
			{{ form.contributionGroundTransport.vars.value.costItem.description }}
		</td>
		<td headers="ground_transport_cost ground_transport_total_cost_country">
			{{ form_widget(form.contributionGroundTransport.totalCost, { 'attr': {'class': 'form-control masked'} }) }}
		</td>
		<td headers="ground_transport_post_po_contribution ground_transport_po_contribution_monetary">
			{{ form_widget(form.contributionGroundTransport.hostContributionMonetary, { 'attr': {'class': 'form-control masked'} }) }}
			{{ form_errors(form.contributionGroundTransport.hostContributionMonetary) }}
		</td>
		<td headers="ground_transport_post_po_contribution ground_transport_po_contribution_in_kind">
			{{ form_widget(form.contributionGroundTransport.hostContributionInKind, { 'attr': {'class': 'form-control masked'} }) }}
			{{ form_errors(form.contributionGroundTransport.hostContributionInKind) }}
		</td>
		<td headers="ground_transport_post_po_contribution ground_transport_post_po_total_contribution">
			{{ form_widget(form.contributionGroundTransport.postHostTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
			{{ form_errors(form.contributionGroundTransport.postHostTotalContribution) }}
		</td>
		<td headers="ground_transport_eca_contribution ground_transport_post_total_contribution">
			{{ form_widget(form.contributionGroundTransport.postTotalContribution, { 'attr': {'class': 'form-control masked'} }) }}
		</td>
	</tr>
{% endblock %}