{% extends '::base.html.twig' %}
{% import 'project/common/macros.twig' as macros %}

{% block title %}Budget Revision History{% endblock %}

{% block body %}
	{% include 'fellowproject/submission_main_heading.html.twig' %}

	<div class="row">
		<div class="col-md-12 col-lg-12">

		{{ macros.financialsMainNavigation(fellowProject) }}

		<div class="panel panel-default">

			<div class="panel-body">
				<h2>Budget Revision History</h2>

				<table class="table table-bordered">
					<thead>
					<tr>
						<th id="creation-date" class="col-md-3">Created on</th>
						<th id="description" class="col-md-5">Description/Justification</th>
						<th id="author" class="col-md-3">Created by</th>
						<th id="actions" class="col-md-1 col-lg-1">Actions</th>
					</tr>
					</thead>
					<tbody>
					{% for revision in projectBudget.revisions %}
						<tr>
							<td headers="creation-date">{{ revision.createdAt|date('m/d/Y h:i a') }}</td>
							<td headers="description">{{ revision.changeDesc }}</td>
							<td headers="author">{% if revision.user %}{{ revision.user.name }}{% endif %}</td>
							<td headers="actions">
								<ul class="list-unstyled no-margin">
									<li>
										<a href="{{ path('fellow_project_financials_view_budget', {'id': fellowProject.id, 'revision': revision.revision}) }}">Review</a>
									</li>
								</ul>
							</td>
						</tr>
					{% else %}
						<tr>
							<td headers="host-id" colspan="6">There are no revisions</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
		</div>
	</div>
{% endblock %}
