{% extends "::base.html.twig" %}
{% import 'project/common/macros.twig' as macros %}

{% block title %}Edit Budget{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script>
		jQuery(function($) {
			// $ format for fields
			var optionsmm = {prefix: '$', precision: 0, allowZero: true}
			$('.form-group input.masked').maskMoney(optionsmm);
			$('.form-group input:disabled').maskMoney({prefix: '$', precision: 0, allowZero: true, allowNegative: true});
			$('.form-group input.masked, .form-group input:disabled').maskMoney('mask');

			$('.monthly_cost td, .one_time_totals td, .fixed_cost td, .one_time td').on('focus', 'input', function() {
				var tempval = $(this).val().replace(/[\$,]/gi, '');
				$(this).maskMoney('destroy').val(tempval);
			}).on('blur', 'input', function() {
				$(this).maskMoney(optionsmm).maskMoney('mask');
			}).on('change', 'input', function() {
				$('#budget_changed').val(1);
				var fieldClass = $(this).attr('class').split(' ')[0];
				var $parentRow = $(this).closest('tr');

				updateRow($parentRow, fieldClass);
				if ($parentRow.hasClass('one_time')) {
					updateCol($parentRow, fieldClass);
				}
			});

			$('.monthly_cost, .one_time_totals, .fixed_cost, .one_time').each(function() {
				checkRow($(this));
			});

			function calcCell($row, colType) {
				if (typeof colType == 'string') {
					colType = [colType];
				}
				for (i = 0; i < colType.length; i++) {
					switch (colType[i]) {
						case 'tec':
							var num2 = parseInt($row.find('.pcf').val().replace(/[\$,]/gi, '')) + parseInt($row.find('.hcf').val().replace(/[\$,]/gi, ''));
							$row.find('.tec').val(parseInt($row.find('.fc').val().replace(/[\$,]/gi, '')) - num2).maskMoney('mask');
							break;

						case 'pcngu':
							$row.find('.pcngu').val(parseInt($row.find('.pcf').val().replace(/[\$,]/gi, '')) - $row.find('.pcgu').val().replace(/[\$,]/gi, '')).maskMoney('mask');
							break;

						case 'hcngu':
							$row.find('.hcngu').val(parseInt($row.find('.hcf').val().replace(/[\$,]/gi, '')) - $row.find('.hcgu').val().replace(/[\$,]/gi, '')).maskMoney('mask');
							break;
					}
				}
			}

			function updateRow($row, fieldClass) {
				var matches = {
					'fc': 'tec',
					'pcf': ['tec', 'pcngu'],
					'pcgu': 'pcngu',
					'hcf': ['tec', 'hcngu'],
					'hcgu': 'hcngu'
				}
				calcCell($row, matches[fieldClass]);
				checkRow($row);
			}

			function updateCol($row, fieldClass) {
				var total = 0;
				var selectorClass = $row.attr('class').split(' ')[0];
				var fields = '.'+ selectorClass +' .'+fieldClass;
				var totalField = '.'+ selectorClass +'_totals .'+fieldClass;

				$.each($row.closest('table').find(fields), function(idx, val) {
					total += parseInt($(this).val().replace(/[\$,]/gi, ''));
				});
				$(totalField).val(total).maskMoney('mask');

				// triggers the calculations in totals row
				updateRow($('.'+ selectorClass +'_totals'), fieldClass)
			}

			function checkRow($row) {
				var errors = 0;
//				console.log('checking: '+ $row.attr('class'));
				$.each($row.find('input'), function() {
					if ($(this).val().indexOf('-') != -1) {
						errors++;
						return;
					}
				});
				if (errors > 0) {
					$row.addClass('alert-danger');
				} else {
					$row.removeClass('alert-danger');
				}
			}

		});
	</script>
{% endblock %}

{% block body %}

	{% include 'fellowproject/submission_main_heading.html.twig' %}

	<div class="row">
		<div class="col-md-12 col-lg-12">

		{{ macros.financialsMainNavigation(fellowProject) }}

		{{ form_start(form) }}

		<div class="panel panel-wizard">

			<div class="panel-body">
				<h2>Edit Budget</h2>

				<p>
				{{ "Last Updated: <strong>%createdAt%</strong> by <strong>%name%</strong>"|trans({'%createdAt%': currentRevision.createdAt|date('m/d/Y h:i a'), '%name%': currentRevision.user?currentRevision.user.name:''})|raw }}. <a href="{{ path('fellow_project_financials_budget_history', {'id': fellowProject.id}) }}" target="_blank">{{ 'See Revision History'|trans }}</a></p>

				{{ form_errors(form) }}

				<h3 class="fieldset__subtitle">{% trans %}Costs of Living{% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						{{ macros.fellowBudgetAdminCostTableHead('monthly_cost') }}

						<tbody>
						{% set idx = 0 %}
						{% for cost in monthlyCostItems %}
							{% set item = form.budgetCostItems[idx] %}

							{{ macros.fellowBudgetAdminCostTableRow('monthly_cost', item, cost.description) }}

							{% set idx = idx + 1 %}
						{% endfor %}
						</tbody>
					</table>
				</div>


				{# One time costs #}
				<h3 class="fieldset__subtitle">{% trans %}Settling in/one-time costs(if applicable){% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						{{ macros.fellowBudgetAdminCostTableHead('one_time', 'Description'|trans, 'Cost'|trans, 'Contribution for full Fellowship'|trans) }}

						<tbody>
						{% for cost in oneTimeCostItems %}
							{% set item = form.budgetCostItems[idx] %}

							{{ macros.fellowBudgetAdminCostTableRow('one_time', item, cost.description) }}

							{% set idx = idx + 1 %}
						{% endfor %}

						{% set custom_idx = idx %}
						{% for item in form.budgetCostItems|slice(custom_idx) %}
							{% if item.vars.value.costItem.type == 'CostItemCustom' %}

								{{ macros.fellowBudgetAdminCostTableRow('one_time', item, item.vars.value.costItem.description) }}

							{% endif %}
							{% set idx = idx + 1 %}
						{% endfor %}

						{# Onetime totals row#}
						{% set item = form.budgetOneTimeTotals %}

						{{ macros.fellowBudgetAdminCostTableRow('one_time', item, 'Total'|trans, 'one_time_totals') }}

						</tbody>

					</table>

					{#{{ dump(form.budgetOneTimeTotals) }}#}
				</div>
			</div>

			{################ In-kind Host contributions/estimates ###################}
			<div class="panel-body">
				<h3 class="fieldset__subtitle">{% trans %}Host Institution In-Kind Contributions{% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						<thead>
						<tr>
							<th class="col-md-6">{% trans %}Item{% endtrans %}</th>
							<th class="col-md-6">{% trans %}Host Contribution{% endtrans %}</th>
						</tr>
						<tr class="subheader">
							<th id="monthly_cost_description" class="active">{% trans %}Description{% endtrans %}</th>
							<th id="monthly_cost_host_contribution_full_in_kind" class="active">{% trans %}Estimated value{% endtrans %}</th>
						</tr>
						</thead>

						<tbody>
						{% set idx = 0 %}
						{% for cost in monthlyCostItems %}
							{% set item = form.budgetCostItems[idx] %}

							<tr>
								<th headers="monthly_cost_description" class="active">{{ cost.description }}</th>
								<td headers="monthly_cost_host_contribution_full_in_kind">{{ form_widget(item.host_contribution_in_kind, { 'attr': {'class': 'form-control masked'} }) }}</td>
							</tr>

							{% set idx = idx + 1 %}
						{% endfor %}

						{% for cost in oneTimeCostItems %}
							{% set item = form.budgetCostItems[idx] %}
							<tr>
								<th headers="one_time_cost_description" class="active">{{ cost.description }}</th>
								<td headers="one_time_host_contribution_in_kind">{{ form_widget(item.host_contribution_in_kind, { 'attr': {'class': 'masked'} }) }}</td>
							</tr>
							{% set idx = idx + 1 %}
						{% endfor %}

						{% set custom_idx = idx %}
						{% for item in form.budgetCostItems|slice(custom_idx) %}
							{% if item.vars.value.costItem.type == 'CostItemCustomInKind' %}
							<tr>
								<th headers="one_time_cost_description" class="active">
									{{ item.vars.value.costItem.description }}
								</th>
								<td headers="one_time_host_contribution_in_kind">{{ form_widget(item.host_contribution_in_kind, { 'attr': {'class': 'form-control masked'} }) }}</td>
							</tr>
							{% endif %}
							{% set idx = idx + 1 %}
						{% endfor %}

						</tbody>

					</table>

				</div>
			</div>

			{#######################  Fixed Costs (aka Globals)  ###########}
			<div class="panel-body">
				<h3 class="fieldset__subtitle">{% trans %}Fixed costs{% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						{{ macros.fellowBudgetAdminCostTableHead('fixed_cost', 'Item'|trans, 'Total Estimated cost'|trans, 'Contribution for full Fellowship'|trans) }}

						<tbody>
						{% for item in form.projectGlobalValues %}

							{{ macros.fellowBudgetAdminCostTableRow('fixed_cost', item, item.vars.value.globalValue.name) }}

						{% endfor %}
						</tbody>
					</table>
				</div>

			</div>

			<div class="panel-body">
				<div class="form-group">
					{{ form_label(form.changeDesc) }}
					{{ form_widget(form.changeDesc, { 'attr': {'class': 'form-control'} }) }}
					{{ form_errors(form.changeDesc) }}
				</div>
			</div>

			<div class="panel-footer">
				<div class="row">
					<div class="col-md-4">
						<a href="#" class="btn">Cancel</a>
					</div>
					<div class="col-md-8 text-right">
						{{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
					</div>
					{{ form_widget(form.changed) }}
					{{ form_row(form._token) }}
				</div>
			</div>

		</div>
			{{ form_end(form, {'render_rest': false}) }}
		</div>
	</div>

{% endblock %}