{% extends '::base.html.twig' %}
{% import 'project/common/macros.twig' as macros %}

{% block title %}Fellow Financials Summary {% endblock %}

{% block body %}
	{% include 'fellowproject/submission_main_heading.html.twig' %}

    <div class="row">
        <div class="col-md-12 col-lg-12">

			{{ macros.financialsMainNavigation(fellowProject) }}

            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="well text-center">
                        <a href="{{ path('fellow_project_financials_edit_budget', {id: fellowProject.id}) }}" class="btn btn-info">
							{{ 'Edit Budget'|trans }}
                        </a>
                    </div>

					<h2>Total Budget</h2>
					<h3 class="pull-left">Monetary contributions</h3>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th id="contribution-description" class="col-md-4">&nbsp;</th>
                            <th id="contribution-budgeted" class="col-md-2">Budgeted</th>
                            {#<th id="contribution-actual-gu" class="col-md-2">Actual (GU)</th>#}
                            {#<th id="contribution-actual-non-gu" class="col-md-2">Actual (non-GU)</th>#}
                            {#<th id="contribution-remaining" class="col-md-2">Remaining</th>#}
                        </tr>
                        </thead>

                        <tbody>
						{% set total = 0 %}
						{% for name, item in orderedCosts %}
							{% set total = total + item[1] %}
                        <tr>
                            <td headers="contribution-description">{{ name }}</td>
                            <td headers="contribution-budgeted" class="text-right">{{ item[1]|currency_format(0) }}</td>

							{% if item[0] == 'group' %}
								</tr>
								{% for subitem in item[2] %}
									<tr>
										<td headers="contribution-description" class="indent-20">{{ budgetPrefix }}{{ subitem.costItem.description }}</td>
										<td headers="contribution-budgeted" class="text-right">{{ subitem.fullCost|currency_format(0) }}</td>
									</tr>
								{% endfor %}
							{% else %}
								{#<td headers="contribution-actual-gu"></td>#}
								{#<td headers="contribution-actual-non-gu"></td>#}
								{#<td headers="contribution-remaining"></td>#}
							</tr>
							{% endif %}
						{% endfor %}
                        </tbody>

                        <tfood>
                            <tr>
                                <td headers="contribution-description">
                                    <strong>Total</strong>
                                </td>
                                <td headers="contribution-budgeted" class="text-right">{{ total|currency_format(0) }}</td>
                                {#<td headers="contribution-actual-gu"></td>#}
                                {#<td headers="contribution-actual-non-gu"></td>#}
                                {#<td headers="contribution-remaining"></td>#}
                            </tr>
                        </tfood>
                    </table>

					<h3 class="pull-left">In-kind contributions</h3>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th id="in-kind-contribution-description" class="col-md-8">&nbsp;</th>
                            <th id="in-kind-contribution-budgeted" class="col-md-4">Budgeted</th>
                        </tr>
                        </thead>

                        <tbody>
						{% set total = 0 %}
						{% for item in currentRevision.budgetCostItems %}
							{% set total = total + item.hostContributionInKind %}
							<tr>
								<td headers="in-kind-contribution-description">{{ item.costItem.description }}</td>
								<td headers="in-kind-contribution-budgeted" class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
							</tr>
						{% endfor %}
                        </tbody>

                        <tfood>
                            <tr>
                                <td headers="in-kind-contribution-description">
                                    <strong>Total</strong>
                                </td>
                                <td headers="in-kind-contribution-budgeted" class="text-right">{{ total|currency_format(0) }}</td>
                            </tr>
                        </tfood>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
