{% extends "::base.html.twig" %}
{% import 'project/common/macros.twig' as macros %}

{% block title %}View Budget revision{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script>
		jQuery(function($) {
			// $ format for fields
			var optionsmm = {prefix: '$', precision: 0, allowZero: true}
			$('.form-group input.masked').maskMoney(optionsmm);
			$('.form-group input:disabled').maskMoney({prefix: '$', precision: 0, allowZero: true, allowNegative: true});
			$('.form-group input.masked, .form-group input:disabled').maskMoney('mask');

			$('.monthly_cost, .one_time_totals, .fixed_cost, .one_time').each(function() {
				checkRow($(this));
			});

			function checkRow($row) {
				var errors = 0;
				$.each($row.find('td'), function() {
					if ($(this).text().indexOf('(') != -1) {
						errors++;
						return;
					}
				});
				if (errors > 0) {
					$row.addClass('alert-danger');
				} else {
					$row.removeClass('alert-danger');
				}
			}

		});
	</script>
{% endblock %}

{% block body %}

	{% include 'fellowproject/submission_main_heading.html.twig' %}

	<div class="row">
		<div class="col-md-12 col-lg-12">

		{{ macros.financialsMainNavigation(fellowProject) }}

		<div class="panel panel-wizard">
			<div class="panel-body">
				<h2>Budget revision {{ budgetRevision.revision }} </h2>
				<p>
					{{ "Created on: <strong>%createdAt%</strong> by <strong>%name%</strong>"|trans({'%createdAt%': budgetRevision.createdAt|date('m/d/Y h:i a'), '%name%': budgetRevision.user?budgetRevision.user.name:''})|raw }}.</p>

				<h3 class="fieldset__subtitle">{% trans %}Costs of Living{% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						{{ macros.fellowBudgetAdminCostTableHead('monthly_cost') }}

						<tbody>
						{% set idx = 0 %}
						{% for cost in monthlyCostItems %}
							{% set item = budgetRevision.budgetCostItems[idx] %}
							{#{{ dump(item) }}#}

							{{ macros.fellowBudgetAdminViewCostTableRow('monthly_cost', item, cost.description) }}

							{% set idx = idx + 1 %}
						{% endfor %}
						</tbody>
					</table>
				</div>


				{# One time costs #}
				<h3 class="fieldset__subtitle">{% trans %}Settling in/one-time costs(if applicable){% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						{{ macros.fellowBudgetAdminCostTableHead('one_time', 'Description'|trans, 'Cost'|trans, 'Contribution for full Fellowship'|trans) }}

						<tbody>
						{% for cost in oneTimeCostItems %}
							{% set item = budgetRevision.budgetCostItems[idx] %}

							{{ macros.fellowBudgetAdminViewCostTableRow('one_time', item, cost.description) }}

							{% set idx = idx + 1 %}
						{% endfor %}

						{% set custom_idx = idx %}
						{% for item in budgetRevision.budgetCostItems|slice(custom_idx) %}
							{% if item.costItem.type == 'CostItemCustom' %}

								{{ macros.fellowBudgetAdminViewCostTableRow('one_time', item, item.costItem.description) }}

							{% endif %}
							{% set idx = idx + 1 %}
						{% endfor %}

						{# Onetime totals row#}
						{% set item = budgetRevision.budgetOneTimeTotals %}

						{{ macros.fellowBudgetAdminViewCostTableRow('one_time', item, 'Total'|trans, 'one_time_totals') }}

						</tbody>

					</table>

					{#{{ dump(budgetRevision.budgetOneTimeTotals) }}#}
				</div>
			</div>

			{################ In-kind Host contributions/estimates ###################}
			<div class="panel-body">
				<h3 class="fieldset__subtitle">{% trans %}Host Institution In-Kind Contributions{% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						<thead>
						<tr>
							<th class="col-md-6">{% trans %}Item{% endtrans %}</th>
							<th class="col-md-6">{% trans %}Host Contribution{% endtrans %}</th>
						</tr>
						<tr class="subheader">
							<th id="monthly_cost_description" class="active">{% trans %}Description{% endtrans %}</th>
							<th id="monthly_cost_host_contribution_full_in_kind" class="active">{% trans %}Estimated value{% endtrans %}</th>
						</tr>
						</thead>

						<tbody>
						{% set idx = 0 %}
						{% for cost in monthlyCostItems %}
							{% set item = budgetRevision.budgetCostItems[idx] %}

							<tr>
								<th headers="monthly_cost_description" class="active">{{ cost.description }}</th>
								<td headers="monthly_cost_host_contribution_full_in_kind" class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
							</tr>

							{% set idx = idx + 1 %}
						{% endfor %}

						{% for cost in oneTimeCostItems %}
							{% set item = budgetRevision.budgetCostItems[idx] %}
							<tr>
								<th headers="one_time_cost_description" class="active">{{ cost.description }}</th>
								<td headers="one_time_host_contribution_in_kind" class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
							</tr>
							{% set idx = idx + 1 %}
						{% endfor %}

						{% set custom_idx = idx %}
						{% for item in budgetRevision.budgetCostItems|slice(custom_idx) %}
							{% if item.costItem.type == 'CostItemCustomInKind' %}
							<tr>
								<th headers="one_time_cost_description" class="active">
									{{ item.costItem.description }}
								</th>
								<td headers="one_time_host_contribution_in_kind" class="text-right">{{ item.hostContributionInKind|currency_format(0) }}</td>
							</tr>
							{% endif %}
							{% set idx = idx + 1 %}
						{% endfor %}

						</tbody>

					</table>

				</div>
			</div>

			{#######################  Fixed Costs (aka Globals)  ###########}
			<div class="panel-body">
				<h3 class="fieldset__subtitle">{% trans %}Fixed costs{% endtrans %}</h3>

				<div class="form-group">
					<table class="table table-bordered table-budget">
						{{ macros.fellowBudgetAdminCostTableHead('fixed_cost', 'Item'|trans, 'Total Estimated cost'|trans, 'Contribution for full Fellowship'|trans) }}

						<tbody>
						{% for item in budgetRevision.projectGlobalValues %}

							{{ macros.fellowBudgetAdminViewCostTableRow('fixed_cost', item, item.globalValue.name) }}

						{% endfor %}
						</tbody>
					</table>
				</div>

			</div>

			<div class="panel-body">
				<div class="form-group">
					<strong>{{ 'Description/Justification'|trans }}</strong>:
					<br>{{ budgetRevision.changeDesc|nl2br }}
				</div>
			</div>

			<div class="panel-footer">
				<div class="row">
					<div class="col-md-4">
						{% if budgetRevision.revision > 1 %}
							<a href="{{ path('fellow_project_financials_view_budget', {'id': fellowProject.id, 'revision': budgetRevision.revision-1}) }}">{{ 'Previous'|trans }}</a>
						{% endif %}
					</div>
					<div class="col-md-4 text-center">
						<a href="{{ path('fellow_project_financials_budget_history', {'id': fellowProject.id}) }}">{{ 'Back to Revision History'|trans }}</a>
					</div>
					<div class="col-md-4 text-right">
						{% if budgetRevision.revision < budgetRevision.budget.revisions|length %}
							<a href="{{ path('fellow_project_financials_view_budget', {'id': fellowProject.id, 'revision': budgetRevision.revision+1}) }}">{{ 'Next'|trans }}</a>
						{% endif %}
					</div>
				</div>
			</div>

		</div>
		</div>
	</div>
{% endblock %}