<p>Hello,</p>

<p>This email is to inform you that an EL Fellow proposal has been submitted by a Post, reviewed by a RELO, and reviewed by the RPO. It was not selected for ECA-funding and Post has agreed to provide alternate funding. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>
	To review the complete proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
		{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
	</a>
</p>

<p>Grant documents need to be submitted to Georgetown and be signed by {{ grantDocumentSubmissionDeadline|date('F j, Y') }}.</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
