<p>Hello,</p>

<p>This email is to inform you that your EL Fellow proposal has been reviewed. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>ECA has determined that your proposed project cannot be funded by ECA at this time. If Post would like to fund the project with alternate funding, you may resubmit the proposal.</p>

<p>
	To review the complete proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
		{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
	</a>
</p>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Change the funding source to “No ECA funding requested” and select “Alternate Funding Provided” to resubmit. PLEASE NOTE THE FOLLOWING:
		<ul>
			<li>You may not change the content of the proposal. The only proposal section that you may edit is the budget.</li>
			<li>By resubmitting the proposal with no ECA-funding requested, Post agrees to pay for the entire cost of the fellowship and understands that it will not receive funding from ECA for this project.</li>
			<li>Grant documents need to be submitted to Georgetown and be signed by {{ grantDocumentSubmissionDeadline|date('F j, Y') }}.</li>
		</ul>
	</li>
	<li>Select “Alternate Funding Unavailable” and resubmit — Post is not able to fund the project.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
