<p>Hello,</p>

<p>This email is to inform you that the proposal you submitted has been approved but will not be funded by ECA. The funds for this project are being provided by Post or an alternate source. The grant will need to be processed with Georgetown University. The details of the proposal are listed below:</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>To review the proposal, please click on URL below.<br>

	<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
		{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
	</a>
</p>
<p>You will receive more information regarding next steps soon.</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
