<p>Hello,</p>

<p>This email is to inform you that {{ user.name }}({{ role }}) has changed the status of a Project Proposal. The
	details of the
	proposal are listed below.</p>
<ul>
	<li>
		{# @var country \AppBundle\Entity\Country #}
		{% set country = fellowProject.projectGeneralInfo.countries.last %}
		<strong>Country:</strong> {{ country.name }}
	</li>
	<li>
		<strong>Host City:</strong> {{ fellowProject.locationHostInfo.hostCity }}
	</li>
	<li>
		<strong>Host Institution:</strong> {{ fellowProject.locationHostInfo.host }}
	</li>
	<li>
		<strong>{% trans %}Cycle{% endtrans %}</strong> {{ fellowProject.projectGeneralInfo.cycle.name }}
	</li>
	<li>
		<strong>{% trans %}Review Status{% endtrans %}</strong> {{ fellowProject.projectGeneralInfo.projectReviewStatus }}
	</li>
	<li>
		<strong>{% trans %}Outcome{% endtrans %}</strong> {{ fellowProject.projectGeneralInfo.projectOutcome }}
	</li>
	<li>
		<strong>{% trans %}Submitted by{% endtrans %}</strong> {{ fellowProject.projectGeneralInfo.submittedBy.name }}
	</li>
	<li>
		<strong>{% trans %}Submitted on{% endtrans %}</strong> {{ fellowProject.fellowProjectReviews.first.createdAt|date('m/d/Y') }}

	</li>
</ul>

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
	{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a>

<p>There, you will find comments about the change, please take action accordingly</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}