<p>Hello,</p>

<p>This email is to inform you that the review of the proposal is now complete.</p>

{% if 'ECA' == fellowProject.fellowProjectBudget.fundedby %}
	<p>This proposal is now under consideration for ECA-funding. You will be notified when the proposal is selected or not selected for ECA-funding. If the proposal is not selected for ECA-funding, you will have the opportunity to find alternate sources of funding.</p>
{% endif %}

{% include 'email/proposalreview/project_details.html.twig' %}

<p>
	No further action needs to be taken at this time. You may still view the content of the proposal and the review comments by clicking on the URL below.<br>

	<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
		{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
	</a>
</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
