<p>To notify:</p>
<ul>
	<li>To:
		<ul>
		{% for recipient in recipients %}
			<li>{{ recipient }}</li>
		{% endfor %}
		</ul>
	</li>
	{% if cc is defined and cc is not empty %}
	<li>CC:
		<ul>
		{% for recipient in cc %}
			<li>{{ recipient }}</li>
		{% endfor %}
		</ul>
	</li>
	{% endif %}
	{% if bcc is defined and bcc is not empty %}
	<li>BCC:
		<ul>
		{% for recipient in bcc %}
			<li>{{ recipient }}</li>
		{% endfor %}
		</ul>
	</li>
	{% endif %}
</ul>