<p>Hello,</p>

<p>This email is to inform you that an EL Fellow proposal has been returned to Post for revision. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>
    To review the complete proposal, please click on the URL below.<br>

    <a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
        {{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
    </a>
</p>

<p>Post may choose to edit or withdraw the proposal. If the edit the proposal, it will be resubmitted to RELO review.</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
    {% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
