<p>Hello,</p>

<p>This email is to inform you that an EL Fellow proposal has been returned to you for revision by ECA. The details of the proposal are listed below.</p>

{% include 'email/proposalreview/project_details.html.twig' %}

<p>
	To review the complete proposal as well as the comments by ECA, please click on the URL below.<br>

    <a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
        {{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
    </a>
</p>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Review Complete — You approve of the proposal as it is written. Post and RELO will be notified that the proposal will now be considered for ECA funding if requested.</li>
	<li>Edit the proposal yourself and select Review Complete —The proposal with your edits will be submitted. Post and RELO will be notified that the proposal will now be considered for  ECA funding if requested.</li>
	<li>Ask ECA — You have a question or concern about the proposal that you would like the EL Fellow GPO to review.</li>
	<li>Return to RELO for revision — You may comment on the proposal and return the proposal to RELO for editing. RELO will see your comments and may choose to edit and resubmit the proposal for your re-review.</li>
	<li>Return to Post for revision — You may comment on the proposal and return the proposal to Post for editing. Post and RELO will see your comments and Post may choose to edit and resubmit the proposal. When Post resubmits, it will go back to RELO review.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/proposalreview/recipients.html.twig' %}
{% endif %}
