{% extends 'base.html.twig' %}

{% block title %}Clear cache{% endblock %}

{% block body %}
    <h1>Clearing cache</h1>

    <div class="panel-body">
        {#{{ dump(content) }}#}
        Cache cleared!
    </div>

{% endblock %}