{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Certifications
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <p>{% trans %}Please check the boxes to certify the following:{% endtrans %}</p>
    </div>

    <div class="form-group">
        {{ form_label(form.rsoCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
        {{ form_errors(form.rsoCertification) }}

        <p class="small">{% trans %}Post certifies that the Regional Security Office (RSO)
            has been informed of this project and has no objection to the placement of a Specialist.
            (Note: The RSO is not required to approve the Fellow’s housing.){% endtrans %}</p>

        <div class="select-wrapper">
            {{ form_widget(form.rsoCertification) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.visaCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
        {{ form_errors(form.visaCertification) }}

        <p class="small">{% trans %}Following the selection and acceptance of a Specialist, Post will provide ECA/A/L,
            the Specialist, and GU/CIED the information required for the Specialist to obtain the proper visa and/or
            work residence permit that will allow the Specialist to enter the host country and carry out Specialist
            duties. Post is not responsible for dependent visa’s but providing information is helpful. In addition, upon
            the Specialist’s arrival in country, Post will help the Specialist obtain visa adjustments, such as a
            multiple-entry permission, visa extension, any special registration procedures, and work and/or residency
            permits, if necessary.{% endtrans %}</p>

        <div class="select-wrapper">
            {{ form_widget(form.visaCertification) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.inCountryOrientationCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
        {{ form_errors(form.inCountryOrientationCertification) }}

        <p class="small">{% trans %}Post will arrange an in-country orientation, including
            a security brief and other forms of project-related logistical support.{% endtrans %}</p>

        <div class="select-wrapper">
            {{ form_widget(form.inCountryOrientationCertification) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.costSharingCertification, null, { 'label_attr': {'class': 'label__required'} }) }}
        {{ form_errors(form.costSharingCertification) }}

        <p class="small">{% trans %}If the host institution is unable to fulfill cost-sharing commitments, Post will
            assume responsibility for all host institution cost-sharing commitments.{% endtrans %}</p>

        <div class="select-wrapper">
            {{ form_widget(form.costSharingCertification) }}
        </div>
    </div>
{% endblock %}
