{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script>
		jQuery(function($) {
			// $ format for fields
			$('.form-group input.masked, .form-group input.masked-delayed').maskMoney({
				'prefix': '$',
				'precision': 0,
				'allowZero': true
			});
			$('.form-group input.masked').maskMoney('mask');

			// Delete link action
			$('.link-delete-item').click(function (e) {
				e.preventDefault();
				if (confirm('{% trans %}Deleting a city will erase any related information from the itinerary and budget, are you sure you want to proceed?{% endtrans %}')) {
					$('#city_costs_deleteId').val($(this).siblings('.assignment_id').html());
					$('#city_costs_here').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		General Information
		<small class="pull-right">Step 4 of 4</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<h3 class="fieldset__subtitle">Living Expenses</h3>
	<p class="small">
		{% trans %}Please enter the daily expenses for meals and lodging for each city. Post should determine appropriate daily expenses for each city. Daily expenses may not exceed the <a href="https://aoprals.state.gov/web920/per_diem.asp" target="_blank">State Department Foreign Per Diem Rate</a>.{% endtrans %}
	</p>

	<div class="form-group">

		{% for country in specialistProjectPhase.projectGeneralInfo.Countries %}

			<h3>{{ country.name }}</h3>
			<table class="table table-bordered table-budget">
				<thead>
				<tr>
					<th id="cc_city" class="label__required">{% trans %}City{% endtrans %}</th>
					{% for expenseItem in livingExpensesCostItems %}
					<th class="label__required" id="cc_{{ loop.index }}">{{ expenseItem.description }}</th>
					{% endfor %}
				</tr>
				</thead>
				<tbody>
				{% for city in form.cityCosts %}
					{% if (city.vars.value.inCountryAssignment.country == country) %}
						<tr>
						{% if city.vars.value.inCountryAssignment.city %}
							<td class="custom-cost" headers="cc_city">
								<a href="{{ path('specialist_project_phase_city_costs_delete', {
									'id': specialistProjectPhase.id,
									'icaid': city.vars.value.inCountryAssignment.id}) }}" class="link-delete-item text-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
								<span class="assignment_id hidden">{{ city.vars.value.inCountryAssignment.id }}</span>
								{{ form_widget(city.city, {'attr': {'class': 'form-control'}}) }}
								{{ form_widget(city.currentCity) }}
								{{ form_widget(city.inCountryAssignmentId) }}
							</td>

							{% for expenseItem in livingExpensesCostItems %}
								{% for costItem in city.livingExpenseCostitems %}
									{% if expenseItem.description == costItem.vars.value.costItem.description %}
									<td headers="cc_{{ loop.index }}">{{ form_widget(costItem.costPerDay, { 'attr': {'class': 'form-control masked'} }) }}</td>
									{% endif %}
								{% endfor %}
							{% endfor %}

						{% else %}

							<td class="custom-cost" headers="cc_city">{{ form_widget(city.city, { 'attr': {'class': 'form-control'} }) }}
								{{ form_widget(city.country) }}</td>

							{% for expenseItem in livingExpensesCostItems %}
								{% for costItem in city.livingExpenseCostitems %}
									{% if expenseItem.description == costItem.vars.value.costItem.description %}
										<td headers="cc{{ loop.index }}">{{ form_widget(costItem.costPerDay, { 'attr': {'class': 'form-control masked-delayed'} }) }}</td>
									{% endif %}
								{% endfor %}
							{% endfor %}

						{% endif %}
					</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>

			<div class="text-right">
				<button type="submit" class="btn btn-info" name="city_costs[addCity]" id="add_{{ country.id }}">{{ 'Add City'|trans }}</button>
				<button type="submit" class="btn btn-info" name="city_costs[here]" id="save_{{ country.id }}">{{ 'Save'|trans }}</button>
			</div>

		{% endfor %}
	</div>

	<div class="hidden">
		{{ form_widget(form.deleteId) }}
		{{ form_widget(form.here, {'attr': {'class': 'hidden'}}) }}
	</div>

{% endblock %}
