{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
	<h2>
		Country or Cultural Considerations
		<small class="pull-right">Step 1 of 1</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}
	<div class="form-group">
		<label for="requirements_additionalRequirementsDesc" class="label__required">
			{% trans %}Please share any country or cultural considerations that the Specialist should be made aware of.{% endtrans %}
		</label>
		<div class="css-tooltip css-tooltip--bottom">
			<span class="css-tooltip__trigger css-tooltip__trigger--link">{{ 'Specialist Tooltip Display Text - Cultural Consideration'|trans }}</span>
			<div class="css-tooltip__content">{{ 'Specialist Tooltip Content - Cultural Considerations'|trans }}
			</div>
		</div>
		{{ form_widget(form.additionalRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
		{{ form_errors(form.additionalRequirementsDesc) }}
	</div>
{% endblock %}
