{% extends 'project/common/base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			// Delete link action
			$('.link-delete-item').click(function (e) {
				e.preventDefault();
				if (confirm('{% trans %}Deleting a country will erase its cities and related information from the itinerary and budget, are you sure you want to proceed?{% endtrans %}')) {
					$('#countries_deleteId').val($(this).siblings('.country_id').html());
					$('#countries_save').trigger('click');
				}
			});

		});
	</script>
{% endblock %}

{% block wizard_step_title %}
    <h2>
        General Information
        <small class="pull-right">
			Step 2 of
			{% if specialistProjectPhase.type != constant('VIRTUAL_TYPE', specialistProjectPhase) %}4{% else %}3{% endif %}
		</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
	<div class="form-group">
		<h3 class="label__required">{% if is_granted('ROLE_EMBASSY') %}Country{% else %}Countries{% endif %}</h3>
		<table class="table table-bordered">
			<tbody>
			{% set countries = form.vars.value.countries %}
			{% for country in countries %}
				<tr>
					<td>{{ country.name }}</td>
					<td>
						<a href="{{ path('specialist_project_phase_countries_delete', {
							'id': specialistProjectPhase.id,
							'cid': country.id}) }}" class="link-delete-item">{% trans %}Delete{% endtrans %}</a>
						<span class="country_id hidden">{{ country.id }}</span>
					</td>
				</tr>
			{% endfor %}

			{% if countries.count == 0 or not is_granted('ROLE_EMBASSY') %}
			<tr>
				<td>
					{% set noCountry = app.session.flashBag.has('no_country') %}

					<div class="select-wrapper{% if noCountry %} has-error{% endif %}">
						{{ form_widget(form.country, { 'attr': {'class': 'form-select'} }) }}
					</div>
					{% if noCountry %}
					<span class="small text-danger block mt-5">
                		<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('no_country')[0] }}
					</span>
					{% endif %}

				</td>
				{% if not is_granted('ROLE_EMBASSY') %}
				<td>{{ form_widget(form.addCountry, { 'attr': {'class': 'btn btn-info'} }) }}</td>
				{% endif %}
			</tr>
			{% endif %}
			</tbody>
		</table>
		{{ form_widget(form.deleteId) }}

	</div>

{% endblock %}