{% extends ':project/common:base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Goals, Impact, Deliverables, and Phases
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <label class="label__required" for="goals_sustainability_postMissionGoalsDesc">
            {% trans %}How does this project support Mission goals{% endtrans %}?
        </label>
        {{ form_widget(form.postMissionGoalsDesc) }}
        {{ form_errors(form.postMissionGoalsDesc) }}
    </div>

    <div class="form-group">
        <label class="label__required" for="goals_sustainability_sustainabilityDesc">
            {% trans %}By the end of this Specialist project, what will the participants be able to do, or what will they have learned{% endtrans %}?
        </label>
        {{ form_widget(form.sustainabilityDesc) }}
        {{ form_errors(form.sustainabilityDesc) }}
    </div>

    <div class="form-group">
        <label for="goals_sustainability_deliverablesDesc">
            {% trans %}Please describe the project deliverables, if any.{% endtrans %}
            <br><small>{% trans %}For example, a training manual, curriculum, text book.{% endtrans %}</small>
        </label>
        {{ form_widget(form.deliverablesDesc) }}
        {{ form_errors(form.deliverablesDesc) }}
    </div>

    <div class="form-group">

        <label for="goals_sustainability_subsequentPhasesDesc">
            {% trans %}If you plan on submitting a proposal for an additional phase or phases which will continue this project, please briefly describe the plans for the subsequent phase(s).{% endtrans %}
            <br><small>{% trans %}Please note that additional phases will be part of the same project, but the additional phase must be submitted separately using the “Submit Additional Phase of Existing Project” button on the dashboard. Additional phases will be approved independently of the initial phase.{% endtrans %}</small>
        </label>
        {{ form_widget(form.subsequentPhasesDesc) }}
        {{ form_errors(form.subsequentPhasesDesc) }}
    </div>
{% endblock %}
