{% extends ':project/common:base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Partnering Organizations
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        {% for countryPartneringOrganizations in form.partneringOrganizations %}
            {% set countryName = countryPartneringOrganizations.vars.label %}

            <h3>{{ countryName }}</h3>

            <table class="table table-bordered no-margin">
                <tbody>
                {% set noPartneringOrganization = false %}

                {% if projectPhasePartneringOrganizations[countryName] is defined %}
                    {# @var projectPhasePartneringOrganization \AppBundle\Entity\Specialist\PartneringOrganization #}
                    {% for projectPhasePartneringOrganization in projectPhasePartneringOrganizations[countryName] %}
                        <tr>
                            <td colspan="2" class="col-md-10 col-lg-11">{{ projectPhasePartneringOrganization.name }}</td>
                            <td class="col-md-2 col-lg-1">
                                <a href="{{ path('specialist_project_phase_partnering_organization_delete', {
                                    'id': specialistProjectPhase.id,
                                    'po_id': projectPhasePartneringOrganization.id
                                }) }}" class="delete-partnering-organization">Delete</a>
                            </td>

                            {% set noPartneringOrganization = noPartneringOrganization or projectPhasePartneringOrganization.notApplicable %}
                        </tr>
                    {% endfor %}
                {% endif %}

                {% if not noPartneringOrganization %}
                    <tr>
                        <td class="col-md-5 col-lg-5">
                            <div class="select-wrapper">
                                {{ form_widget(countryPartneringOrganizations.partneringOrganization) }}
                            </div>
                        </td>
                        <td class="col-md-5 col-lg-6">
                            {{ form_widget(countryPartneringOrganizations.partneringOrganizationCustom,  {
                                'attr': {'class': 'form-control', 'placeholder': countryPartneringOrganizations.partneringOrganizationCustom.vars.label}
                            }) }}
                        </td>
                        <td class="col-md-2 col-lg-1">
                            {{ form_widget(countryPartneringOrganizations.addPartneringOrganization, {'attr': {'class': 'btn btn-info'}}) }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}

{% block wizard_step_additional_content %}
    {{ form_start(deleteForm, {'attr': {'id': 'delete-partnering-organization-form'}}) }}
    {{ form_end(deleteForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.delete-partnering-organization').click(function (evt) {
            evt.preventDefault();

            if (confirm('{% trans %}Do you really want to remove this Partnering Organization from the Project?{% endtrans %}')) {
                $('#delete-partnering-organization-form').attr('action', this.href).submit();
            }
        });
    </script>
{% endblock %}
