{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        General Information
        <small class="pull-right">
            Step 3 of&nbsp;
            {% if specialistProjectPhase.type != constant('VIRTUAL_TYPE', specialistProjectPhase) %}4{% else %}3{% endif %}
        </small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <table class="table table__view-mode table-bordered">
            <tbody>
            <tr>
                <th>{{ 'label.relo_location'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {# @var reloLocation \AppBundle\Entity\ReloLocation #}
                        {% for reloLocation in form.vars.value.reloLocations %}
                            <li>{{ reloLocation.name }}</li>
                        {% else %}
                            <li>No RELO Available</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        {{ form_label(form.posts, null, { 'label_attr': {'class': 'label__required'} }) }}
        <table class="table table-bordered table-budget">
            <tbody>
            {% for post in form.posts %}
                <tr>
                    <th class="lighter-blue-bg col-md-4 col-lg-3">
                        {{ form_label(post) }}
                    </th>
                    <td class="col-md-8 col-lg-9">
                        <div class="select-wrapper">
                            {{ form_widget(post) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
