{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Pre- and Post-work
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <small>By default, specialists are given 2 full pre-work days.</small>
    <ul>
        <li>
            <small><strong>Pre-work day 1:</strong> Preparation day</small>
        </li>
        <li>
            <small><strong>Pre-work day 2:</strong> Preparation day</small>
        </li>
    </ul>

    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}Does the Specialist need additional pre-work days{% endtrans %}?
            </legend>
            {{ form_widget(form.additionalPreWork, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.additionalPreWork) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <label for="pre_post_work_additionalPreWorkDays">
                {% trans %}If yes, how many additional pre-work days{% endtrans %}?
            </label>
            <div class="select-wrapper">
                {{ form_widget(form.additionalPreWorkDays, { 'attr': {'class': 'form-select'} }) }}
            </div>
            {{ form_errors(form.additionalPreWorkDays) }}
        </div>

        <div class="form-group">
            <label for="pre_post_work_additionalPreWorkStartDate">
                {% trans %}What is the earliest date that pre-work days can begin{% endtrans %}?
            </label>
            <div class="datepicker">
                {{ form_widget(form.additionalPreWorkStartDate, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <small><strong>Note:</strong> This is the day the Specialist’s agreement will begin</small>
                </div>
            </div>
            {{ form_errors(form.additionalPreWorkStartDate) }}
        </div>

        <div class="form-group">
            <label for="pre_post_work_additionalPreWorkDesc">
                {% trans %}Describe pre-work. If there are specific dates/times for the pre-work (e.g. a scheduled phone call), please include that information as well.{% endtrans %}
            </label>
            {{ form_widget(form.additionalPreWorkDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.additionalPreWorkDesc) }}
        </div>
    </div>

    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}Does the Specialist need post-work days{% endtrans %}?
            </legend>
            {{ form_widget(form.additionalPostWork, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.additionalPostWork) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <label for="pre_post_work_additionalPostWorkDays">
                {% trans %}If yes, how many post-work days{% endtrans %}?
            </label>
            <div class="select-wrapper">
                {{ form_widget(form.additionalPostWorkDays, { 'attr': {'class': 'form-select'} }) }}
            </div>
            {{ form_errors(form.additionalPostWorkDays) }}
        </div>

        <div class="form-group">
            <label for="pre_post_work_additionalPostWorkStartDate">
                {% trans %}What is the latest date that post-work days can end{% endtrans %}?
            </label>
            <div class="datepicker">
                {{ form_widget(form.additionalPostWorkStartDate, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <small><strong>Note:</strong> This is the day the Specialist’s agreement will end</small>
                </div>
            </div>
            {{ form_errors(form.additionalPostWorkStartDate) }}
        </div>

        <div class="form-group">
            <label for="pre_post_work_additionalPostWorkDesc">
                {% trans %}Describe post-work. If there are specific dates/times for the post-work (e.g. a scheduled phone call), please include that information as well.{% endtrans %}
            </label>
            {{ form_widget(form.additionalPostWorkDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.additionalPostWorkDesc) }}
        </div>
    </div>
{% endblock %}
