{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        General Information
        <small class="pull-right">Step 2 of 3</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        {{ form_label(form.region, null, { 'label_attr': {'class': 'label__required'} }) }}
        {{ form_errors(form.region) }}

        {% set noRegion = app.session.flashBag.has('no_region') %}

        <div class="select-wrapper{% if noRegion %} has-error{% endif %}">
            {{ form_widget(form.region, { 'attr': {'class': 'form-select'} }) }}
        </div>

        {% if noRegion %}
            <span class="small text-danger block mt-5">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('no_region')[0] }}
            </span>
        {% endif %}
    </div>
{% endblock %}
