{% extends ':project/common:base_wizard_step.html.twig' %}

{% block wizard_step_title %}
<h2>
    {% trans %}General Information - Project requirements{% endtrans %}
    <small class="pull-right">Step 1 of 1</small>
</h2>
{% endblock %}

{% block wizard_step_body %}
	{% if specialistProjectPhase.sourcePhase != null %}
        <div class="form-group">
            <fieldset>
                <legend>
                    <label class="label__required inline-block" for="candidate_info_degreeRequirements">
						{% trans %}Do you want to request the same Specialist?{% endtrans %}
                    </label>
                </legend>

				{{ form_widget(form.candidateSame, { 'attr': {'class': 'inline-labels'} }) }}
				{{ form_errors(form.candidateSame) }}
            </fieldset>
        </div>

        <div class="sub-fieldset">
            <div class="form-group">
                <label for="candidate_info_degreeRequirementsDesc">
					{% trans %}If you are requiring the same Specialist, does he or she require a new visa?{% endtrans %}
                </label>

				{{ form_widget(form.candidateSameNewVisa, { 'attr': {'class': 'inline-labels'} }) }}
				{{ form_errors(form.candidateSameNewVisa) }}
            </div>
        </div>
	{% endif %}

    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}What type of visa does the Specialist require?{% endtrans %}
            </legend>
            <div class="select-wrapper">
                {{ form_widget(form.specialistProjectPhase.requiredVisaType, { 'attr': {'class': 'form-select'} }) }}
            </div>
            {{ form_errors(form.specialistProjectPhase.requiredVisaType) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <legend>{% trans %}If other type of Visa, please specify.{% endtrans %}</legend>
            {{ form_widget(form.specialistProjectPhase.otherVisaType, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.specialistProjectPhase.otherVisaType) }}
        </div>

        <div class="form-group">
            <legend>
                {% trans %}If a Visa is required, what is the average length of the visa process.{% endtrans %}
            </legend>
            <div class="select-wrapper">
                {{ form_widget(form.specialistProjectPhase.visaAvgLength, { 'attr': {'class': 'form-select'} }) }}
            </div>
            {{ form_errors(form.specialistProjectPhase.visaAvgLength) }}
        </div>

        <div class="form-group">
            {{ form_label(form.visaRequirementsDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
            <div class="css-tooltip css-tooltip--bottom">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Specialist Tooltip Display Text - Visa Comments{% endtrans %}</span>
                <div class="css-tooltip__content">
                    {% trans %}Specialist Tooltip Content - Visa Comments{% endtrans %}
                </div>
            </div>
            {{ form_widget(form.visaRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.visaRequirementsDesc) }}
        </div>

        <div class="form-group">
            <label for="requirements_ageRestrictionDesc">
				{% trans %}Please describe age restriction.{% endtrans %}
            </label>
			{{ form_widget(form.ageRestrictionDesc, { 'attr': {'class': 'form-control'} }) }}
			{{ form_errors(form.ageRestrictionDesc) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.medicalRestrictionsDesc, null, { 'label_attr': {'class': 'inline-block label__required'} }) }}
        <div class="css-tooltip css-tooltip--bottom">
            <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Specialist Tooltip Display Text - Medical restrictions{% endtrans %}</span>
            <div class="css-tooltip__content">
                {% trans %}Specialist Tooltip Content - Medical restrictions{% endtrans %}
            </div>
        </div>
        {{ form_widget(form.medicalRestrictionsDesc, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.medicalRestrictionsDesc) }}
    </div>

    <div class="form-group">
        <label for="requirements_securityInfoDesc" class="inline-block">
            {% trans %}Please share any security information that the Specialist should be aware of.{% endtrans %}
        </label>
        <div class="css-tooltip css-tooltip--bottom">
            <span class="css-tooltip__trigger css-tooltip__trigger--link">{{ 'Specialist Tooltip Display Text - Security Information'|trans }}</span>
            <div class="css-tooltip__content">{{ 'Specialist Tooltip Content - Security Information'|trans }}
            </div>
        </div>
        {{ form_widget(form.securityInfoDesc, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.securityInfoDesc) }}
    </div>

    <div class="form-group">
        <label for="requirements_additionalRequirementsDesc" class="label__required inline-block">
            {% trans %}Please share any country or cultural considerations that the Specialist should be made aware of.{% endtrans %}
        </label>
        <div class="css-tooltip css-tooltip--bottom">
            <span class="css-tooltip__trigger css-tooltip__trigger--link">{{ 'Specialist Tooltip Display Text - Cultural Consideration'|trans }}</span>
            <div class="css-tooltip__content">{{ 'Specialist Tooltip Content - Cultural Considerations'|trans }}
            </div>
        </div>
        {{ form_widget(form.additionalRequirementsDesc, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.additionalRequirementsDesc) }}
    </div>
{% endblock %}
