{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        General Information
        <small class="pull-right">
            Step 1 of {% if specialistProjectPhase.type != constant('VIRTUAL_TYPE', specialistProjectPhase) %}4{% else %}3{% endif %}
        </small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <label class="label__required" for="title_region_specialistProjectPhase_title">
            {% trans %}Title{% endtrans %}
        </label>
        <div class="small">
			{% if specialistProjectPhase.sourcePhase != null %}
				{% set phaseNumber = 2 %}
			{% else %}
				{% set phaseNumber = 1 %}
			{% endif %}
            <p>{{ 'Ensure to add the phase to this title (if applicable); e.g. <i>Title A Phase %phaseNumber%</i>'|trans({
					'%phaseNumber%': phaseNumber
				})|raw }}.</p>
        </div>

        {{ form_widget(form.specialistProjectPhase.title) }}
        {{ form_errors(form.specialistProjectPhase.title) }}
    </div>

    <div class="form-group">
        <label for="title_region_specialistProjectPhase_programDesc">{{ 'Program Description'|trans }}</label>

        {{ form_widget(form.specialistProjectPhase.programDesc, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.specialistProjectPhase.programDesc) }}
    </div>

    <div class="form-group">
        {{ form_label(form.region, null, { 'label_attr': {'class': 'label__required'} }) }}
        {{ form_errors(form.region) }}

        {% set noRegion = app.session.flashBag.has('no_region') %}

        <div class="select-wrapper{% if noRegion %} has-error{% endif %}">
            {{ form_widget(form.region, { 'attr': {'class': 'form-select'} }) }}
        </div>
        {% if noRegion %}
            <span class="small text-danger block mt-5">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('no_region')[0] }}
            </span>
        {% endif %}
    </div>
{% endblock %}
