html{
    height: 100%;
}

body{
    @extend .clearfix;
    height: 100%;
}

main {
    background-color: $main-bg-color;
    float: left;
    width: calc(100% - 200px);
    min-height: calc(100% - 54px);
    padding: 15px;
    //font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: "Cabin", "Open Sans",Arial,Helvetica,Sans-Serif !important;

    small, .small {
        color: inherit;
    }
}
h1 {
    margin-top: 0;
}