.no-background{
    background: none !important;
}

.label-disabled{
    opacity: .6!important;
}

.anchor {
    top: -90px;
    position: absolute;
}

.required-field{
    color: $brand-warning;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-0 {
    margin-top: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.m-5 {
    margin: 5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.indent-10 {
    text-indent: 10px;
}

.indent-20 {
    text-indent: 20px;
}

.inline-block {
    display: inline-block !important;
}

.display-block {
    display: block !important;
}

legend.inline-block {
    width: auto;
}

.inline {
    display: inline !important;
}

.inline-elements {
    > div {
        display: inline;
    }
}

.block {
    display: block !important;
}

.no-margin {
    margin: 0 !important;
}

.lighter-blue-bg {
    background-color: $lighter-blue;
}

.light-blue-bg {
    background-color: $light-blue;
}

.vertical-scroll-box {
    max-height: calc(100vh - 206px);
    overflow-y: scroll;
}

.body-font-small {
    font-size: 16px;
}

.no-border {
    border: none !important;
}