// Colors

$white: #fff;
$dark-gray: #333;
$light-gray: #f1f2f2;
$medium-gray: #bababc;
$dark-blue: #1a3b6a;
$darker-blue: #142c4f;
$light-blue: #658db5;
$lighter-blue: #e6f0ff;
$main-bg-color: $light-gray;
$sidenav-text-color: #fff;
$sub-fieldset-bg: $lighter-blue;
$pale-yellow: #fffde6;

//Bootstrap icons path
$icon-font-path: '../fonts/';

// Bootstrap Variables
$brand-success:         #56c155;
$brand-info:            #1598CC;
$brand-danger:          #E6513D;

$btn-info-bg:           #1a3b6a;
$btn-info-border:       #153056;

$font-family-base: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$form-group-margin-bottom: 0;
$link-color: $light-blue;
$brand-primary: $dark-blue;
$brand-info: $light-blue;
$body-bg: $brand-primary;
//$input-border-radius: 0;
$nav-link-hover-bg: transparent;
$panel-border-radius: 0;
$panel-footer-bg: #f9f9f9;
$border-radius-base: 2px;
$btn-border-radius-large: 4px;
$modal-lg: 90%;

// Custom font sizing for headings
$new-font-size-base:          16px !default;
$font-size-h1:            ceil(($new-font-size-base * 1.6)) !default; 
$font-size-h2:            floor(($new-font-size-base * 1.4)) !default; 
$font-size-h3:            floor(($new-font-size-base * 1.2)) !default; 
$font-size-h4:            $new-font-size-base !default; 

// general purpose based on bg-xxxx provided by Bootstrap
$bg-header-warning: #b4aa73;
$bg-header-info: #72a1b9;
$bg-header-success: #83ac73;

