<table class="table table-bordered">
    <thead>
    <tr>
        <th id="itinerary_travel_origin" class="col-md-2 col-lg-2 label__required">
            {% trans %}From{% endtrans %}
        </th>
        <th id="itinerary_travel_destination" class="col-md-2 col-lg-2 label__required">
            {% trans %}To{% endtrans %}
        </th>
        <th id="itinerary_travel_date" class="col-md-2 col-lg-2 label__required">
            {% trans %}Date{% endtrans %}
        </th>
        <th id="itinerary_travel_mode" class="col-md-2 col-lg-2 label__required">
            {% trans %}Mode{% endtrans %}
        </th>
        <th id="itinerary_travel_travel_time" class="col-md-1 col-lg-1 label__required">
            {% trans %}Approximate Time of Travel{% endtrans %}
        </th>
        <th id="itinerary_travel_booking_responsible" class="col-md-2 col-lg-2 label__required">
            {% trans %}Who is responsible for booking the travel?{% endtrans %}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td headers="itinerary_travel_origin">
            <div class="select-wrapper">
                {{ form_widget(form.origin, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
        <td headers="itinerary_travel_destination">
            <div class="select-wrapper">
                {{ form_widget(form.destination, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
        <td headers="itinerary_travel_date">
            <div class="datepicker">
                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
        <td headers="itinerary_travel_mode">
            {{ form_widget(form.mode, {'attr': {'class': 'form-control'}}) }}
        </td>
        <td headers="itinerary_travel_travel_time">
            {{ form_widget(form.travelTime, {'attr': {'class': 'form-control'}}) }}
        </td>
        <td headers="itinerary_travel_booking_responsible">
            <div class="select-wrapper">
                {{ form_widget(form.bookingResponsible, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
    </tr>
    </tbody>
</table>
