{% extends ':project/common:base_wizard_step_no_form.html.twig' %}

{% set is_mixed_project = specialistProjectPhase.type == constant('MIXED_TYPE', specialistProjectPhase) %}
{% set has_before_component = specialistProjectPhase.mixedVirtualComponent == constant('MIXED_VIRTUAL_COMPONENT_BEFORE', specialistProjectPhase) %}
{% set has_before_after_component = specialistProjectPhase.mixedVirtualComponent == constant('MIXED_VIRTUAL_COMPONENT_BEFORE_AND_AFTER', specialistProjectPhase) %}

{% block wizard_step_title %}
    <h2>
        Virtual Itinerary
        <small class="pull-right">Step {% if is_mixed_project %}3 of 3{% else %}2 of 2{% endif %}</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        {% if is_mixed_project %}
            {% if has_before_after_component %}
                <h3>Before In Country Component</h3>
            {% endif %}

            {% if has_before_component or has_before_after_component %}
                <h4>{{ specialistProjectPhase.virtualStartDateBefore|date('F d, Y') }} to {{ specialistProjectPhase.virtualEndDateBefore|date('F d, Y') }}</h4>
            {% else %}
                <h4>{{ specialistProjectPhase.virtualStartDateAfter|date('F d, Y') }} to {{ specialistProjectPhase.virtualEndDateAfter|date('F d, Y') }}</h4>
            {% endif %}
        {% else %}
            <h4>{{ specialistProjectPhase.startDate|date('F d, Y') }} to {{ specialistProjectPhase.endDate|date('F d, Y') }}</h4>
        {% endif %}

        {% include ':project/specialist/wizard/virtual/itinerary:activities_table.html.twig' with { 'weeks': weeks, 'edit_activities': true } %}

        {% if is_mixed_project and has_before_after_component %}
            <h3>After In Country Component</h3>
            <h4>{{ specialistProjectPhase.virtualStartDateAfter|date('F d, Y') }} to {{ specialistProjectPhase.virtualEndDateAfter|date('F d, Y') }}</h4>

            {% include ':project/specialist/wizard/virtual/itinerary:activities_table.html.twig' with { 'weeks': weeks_after, 'edit_activities': true, 'loop_index_carry': weeks|length } %}
        {% endif %}
    </div>

    {% if activities != null %}
        <div class="form-group">
        {% include ':project/specialist/wizard/virtual/itinerary:activities_summary.html.twig' with { 'activities': activities } %}
        </div>
    {% endif %}

    {% include ':project/specialist/wizard/virtual/itinerary:add_activity.html.twig' with { 'form': add_activity_form } only %}

    <div id="activity-form-edit-wrapper"></div>

    <div class="hidden delete-form" id="delete-virtual-activity-form">
        {{ form_start(delete_activity_form) }}
        {{ form_end(delete_activity_form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        /**
         *
         * @param selectFld
         */
        function toggleActivityField(selectFld) {
            "use strict";
            var $otherField = $(selectFld).parent().parent().find('input');

            if ($(selectFld).find(':selected').text() == 'Other') {
                $otherField.removeClass('disabled').removeAttr('readonly');
            } else {
                $otherField.addClass('disabled').attr('readonly', 'readonly').val('');
            }
        }

        /**
         * Disable the for Estimated Participants input text fields for those Audience that don't have entered values.
         *
         * @param $wrapper The wrapper that contains the fields.
         */
        function disabledEstimatedParticipants($wrapper, $header) {
            $wrapper.find('td[headers="' + $header + '"] :text')
                .filter(function (i, el) { return !el.value; })
                .attr('disabled', true);
        }

        /**
         * Calculate the total number of participants filtering those inputs with numeric values.
         *
         * @param $wrapper The wrapper that contains the fields.
         * @param header
         * @param rowsToIgnore
         * @param totalFieldSel
         */
        function calculateTotalNumberParticipants($wrapper, header, rowsToIgnore, totalFieldSel) {
            var totalNumber = $wrapper
                .find('td[headers="' + header + '"] .row:not(' + rowsToIgnore.join(',') + ') :text')
                .filter(function (i, el) { return el.value && !isNaN(el.value); })
                .map(function(i, el) { return Math.floor(el.value); })
                .toArray()
                .reduce(function(prev, current) { return prev + current; }, 0);

            $wrapper.find(totalFieldSel).val(totalNumber);
        }

        jQuery(function ($) {
          /**
           * Reset modal window form fields.
           */
          $('body').on(
            'hidden.bs.modal', '.modal', function resetModalForm(e) {
              $(e.target).find('form')[0].reset();
            }
          );

            /**
             * Add activity event handler
             */
            $('.add-virtual-activity').click(
              function (e) {
                "use strict";
                var $virtualActivityFormModal = $('.virtual-activity-form'),
                    weekIndex = $(this).data('week-index');

                e.preventDefault();

                toggleActivityField($virtualActivityFormModal.find('td[headers="itinerary-virtual-type"] select'));
                disabledEstimatedParticipants($virtualActivityFormModal, 'itinerary-virtual-anticipated-audience');
                disabledEstimatedParticipants($virtualActivityFormModal, 'itinerary-virtual-hours-per-week');

                $virtualActivityFormModal
                  .find(':input[name="activity[weeks][' + weekIndex + '][week][]"]').prop('checked', true).end()
                  .find(':input[name="activity[weeks][' + weekIndex + '][hours]"]').prop('disabled', false).end()
                  .modal('show');
              }
            );

            /**
             * Edit Virtual Itinerary Activity event handler
             */
            $('.edit-virtual-activity').click(function (e) {
                "use strict";
                e.preventDefault();

                $.get($(this).attr('href'), function (data) {
                    "use strict";
                    var $virtualActivityFormModalWrapper = $('#activity-form-edit-wrapper'),
                        $checkboxes;

                    $virtualActivityFormModalWrapper.html(data).find('.modal').modal('show');

                    $checkboxes = $virtualActivityFormModalWrapper.find('td[headers="itinerary-virtual-topics"] :checkbox');

                    if ($checkboxes.filter(':checked').length >= 3) {
                        $checkboxes.filter(':not(:checked)').addClass('disabled').attr('disabled', true);

                        // Disabled `If other topic` field if Other option is marked.
                        $('#activity_topicOther').attr('disabled', !$checkboxes.last().is(':checked'));
                    }

                    toggleActivityField($virtualActivityFormModalWrapper.find('td[headers="itinerary-virtual-type"] select'));
                    calculateTotalNumberParticipants(
                        $virtualActivityFormModalWrapper,
                        'itinerary-virtual-anticipated-audience',
                        ['#other-audience-row', '#total-number-participants-row'],
                        '.audience-total-number-participants'
                    );
                    disabledEstimatedParticipants($virtualActivityFormModalWrapper, 'itinerary-virtual-anticipated-audience');
                    calculateTotalNumberParticipants(
                        $virtualActivityFormModalWrapper,
                        'itinerary-virtual-hours-per-week',
                        [':last'],
                        '.total-hours-for-project'
                    );
                    disabledEstimatedParticipants($virtualActivityFormModalWrapper, 'itinerary-virtual-hours-per-week');
                });
            });

            /**
             * Delete Virtual Itinerary Activity event handler.
             */
            $('.delete-virtual-activity').click(function (e) {
                "use strict";
                e.preventDefault();

                if (confirm('{% trans %}Do you really want to delete this activity from the Itinerary?{% endtrans %}')) {
                    $('#delete-virtual-activity-form form').attr('action', this.href).trigger('submit');
                }
            });

            $('.virtual-activity-form, #activity-form-edit-wrapper')
                .on('change', 'td[headers="itinerary-virtual-type"] select', function() {
                    "use strict";
                    toggleActivityField(this);
                })
                /**
                 * Disable Topics checkbox when user selects three of them.
                 */
                .on('change', 'td[headers="itinerary-virtual-topics"] :checkbox', function() {
                    "use strict";
                    var $checkboxes = $(this).closest('tr').find('td[headers="itinerary-virtual-topics"] :checkbox');

                    // Disabled unchecked checkboxes when user selects three topics from the list.
                    if ($checkboxes.filter(':checked').length >= 3) {
                        $checkboxes.filter(':not(:checked)').addClass('disabled').attr('disabled', true);

                        // Disabled `If other topic` field if Other option is marked.
                        $('#activity_topicOther').attr('disabled', !$checkboxes.last().is(':checked'));
                    }
                    else {
                        $checkboxes.removeClass('disabled').removeAttr('disabled');
                        $('#activity_topicOther').removeAttr('disabled')
                    }
                })
                /**
                 * Enable/disable "Est. Nº Participants" text input when Audience is checked.
                 */
                .on('change', 'td[headers="itinerary-virtual-anticipated-audience"] :checkbox', function () {
                    "use strict";
                    var isChecked = this.checked;

                    $(this).closest('.row').find(':text').val('').attr('disabled', !isChecked);

                    if ('Other' === $('label[for="' + this.id + '"]').text()) {
                        $('#other-audience-row :text').attr('disabled', !isChecked);
                    }

                    calculateTotalNumberParticipants(
                        $(this).closest('.modal'),
                        'itinerary-virtual-anticipated-audience',
                        ['#other-audience-row', '#total-number-participants-row'],
                        '.audience-total-number-participants'
                    );
                })
                /**
                 * Event handler to sum the Estimated Nº Participants when the users leaves the input text field.
                 */
                .on('focusout', 'td[headers="itinerary-virtual-anticipated-audience"] .row:not(#other-audience-row, #total-number-participants-row) :text', function () {
                    "use strict";
                    calculateTotalNumberParticipants(
                        $(this).closest('.modal'),
                        'itinerary-virtual-anticipated-audience',
                        ['#other-audience-row', '#total-number-participants-row'],
                        '.audience-total-number-participants'
                    );
                })
                /**
                 * Enable/disable "Hours per Week" text input when Week is checked.
                 */
                .on('change', 'td[headers="itinerary-virtual-hours-per-week"] :checkbox', function () {
                    "use strict";
                    $(this).closest('.row').find(':text').val('').attr('disabled', !this.checked);

                    calculateTotalNumberParticipants(
                        $(this).closest('.modal'),
                        'itinerary-virtual-hours-per-week',
                        [':last'],
                        '.total-hours-for-project'
                    );
                })
                /**
                 * Event handler to sum Totals Hours per Week
                 */
                .on('focusout', 'td[headers="itinerary-virtual-hours-per-week"] .row:not(:last) :text', function () {
                    "use strict";
                    calculateTotalNumberParticipants(
                        $(this).closest('.modal'),
                        'itinerary-virtual-hours-per-week',
                        [':last'],
                        '.total-hours-for-project'
                    );
                })
                /**
                 * Submit handler
                 */
                .on('submit', 'form', function() {
                "use strict";
                var $topicsChecked = $(this).find('td[headers="itinerary-virtual-topics"] :checkbox:checked'),
                    $weeksChecked = $(this).find('td[headers="itinerary-virtual-hours-per-week"] :checkbox:checked');

                if ((!$(this).find('td[headers="itinerary-virtual-type"] select').val()
                        || $(this).find('td[headers="itinerary-virtual-type"] select :selected').text() == 'Other')
                        && !$(this).find('td[headers="itinerary-virtual-type"] input').val()) {
                    alert('An Activity Type must be set');
                    return false;
                } else if (0 === $topicsChecked.length || $topicsChecked.length > 3) {
                    alert('You must check at least one Topic and no more than three.');
                    return false;
                }  else if (0 === $weeksChecked.length) {
                    alert('You must check at least one Week.');
                    return false;
                }
            });
        });
    </script>
{% endblock %}
