<h3>Summary of activities</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th id="summary-activity" class="col-md-5 col-lg-5">
            {{ 'Activity'|trans }}
        </th>
        <th id="summary-type" class="col-md-3 col-lg-3">
            {{ 'Type'|trans }}
        </th>
        <th id="summary-audience" class="col-md-2 col-lg-2">
            {{ 'Anticipated Audience'|trans }}
        </th>
        <th id="summary-duration" class="col-md-2 col-lg-2">
            {{ 'Total Est. Nº of hours spent on the activity for the total project'|trans }}
        </th>
    </tr>
    </thead>

    <tbody>
    {% set totalDuration = 0 %}
    {% for activity in activities %}
        <tr>
            <td headers="summary-activity">{{ activity.typeDesc }}</td>
            <td headers="summary-type">
                {% if activity.typeOther %}
                    {{ activity.typeOther }}
                {% else %}
                    {{ activity.type.name }}
                {% endif %}
            </td>
            <td headers="summary-audience" class="text-right">
                {% set participants = 0 %}
                {% for audience in activity.anticipatedAudience %}
                    {% set participants = participants + audience.estimatedParticipants %}
                {% endfor %}
                {{ participants }}
            </td>
            <td headers="summary-duration" class="text-right">{{ activity.totalDuration }}</td>
        </tr>
        {% set totalDuration = totalDuration + activity.totalDuration %}
    {% endfor %}
    <tr>
        <th colspan="3">{{ 'Total'|trans }}</th>
        <th class="text-right">{{ totalDuration }}</th>
    </tr>
    </tbody>
</table>
