<table class="table table-bordered no-margin">
    {# @var week \AppBundle\Entity\Specialist\Virtual\Itinerary\Week#}
    {% for week in weeks %}
        {% set no_activities = week.activities is empty %}

        <tr class="itinerary-{% if no_activities %}empty{% endif %}-row">
            <td headers="itinerary_date" class="col-md-2 col-lg-2">
                {% set week_index = loop_index_carry is defined ? loop_index_carry + loop.index : loop.index %}

                <h3>Week {{ week_index }}</h3>

                <p>{{ week.startDate|date('F d, Y') }} to {{ week.endDate|date('F d, Y') }}</p>

                {% if edit_activities %}
                    <ul class="list-unstyled no-margin">
                        <li>
                            <a href="#activity-form" class="btn btn-link add-virtual-activity" data-week-index="{{ week_index - 1 }}">
                                {% trans %}Add Activity{% endtrans %}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </td>

            <td headers="itinerary_activity" class="col-md-10 col-lg-10">
                {% if not no_activities %}
                    <table class="table table-activity week-activities">
                        <thead>
                        <tr>
                            <th colspan="5">{% trans %}Activities{% endtrans %}</th>
                        </tr>
                        <tr>
                            <th id="itinerary-virtual-type" class="col-md-2 col-lg-2">
                                {% trans %}Activity{% endtrans %}
                            </th>
                            <th id="itinerary-virtual-topics" class="{% if edit_activities %}col-md-2 col-lg-2{% else %}col-md-3 col-lg-3{% endif %}">
                                {% trans %}Topics{% endtrans %}
                            </th>
                            <th id="" class="col-md-4 col-lg-4">
                                {% trans %}Anticipated Audience{% endtrans %}
                            </th>
                            <th id="itinerary-virtual-duration" class="col-md-1 col-lg-1">
                                {% trans %}Hours per Week{% endtrans %}
                            </th>
                            {% if edit_activities %}
                                <th id="itinerary-virtual-actions" class="col-md-1 col-lg-1">&nbsp;</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {# @var activityWeek \AppBundle\Entity\Specialist\Virtual\Itinerary\Activity\ActivityWeek #}
                        {% for activityWeek in week.activities %}
                            <tr>
                                {# @var activity \AppBundle\Entity\Specialist\Virtual\Itinerary\Activity #}
                                {% set activity = activityWeek.activity %}

                                <td headers="itinerary-virtual-type">
                                    <strong>{% trans %}Type:{% endtrans %}</strong>&nbsp;
                                    {% if activity.typeOther %}
                                        {{ activity.typeOther }}
                                    {% else %}
                                        {{ activity.type }}
                                    {% endif %}
                                </td>
                                <td headers="itinerary-virtual-topics">
                                    <ul class="list-unstyled no-margin">
                                        {# @var topic \AppBundle\Entity\AreaOfExpertise #}
                                        {% for topic in activity.topics %}
                                            <li class="mb-5">
                                                {% if 'Other' == topic.name %}
                                                    <strong>Other:</strong>&nbsp;
                                                    {% if activity.topicOther is not null %}
                                                        {{ activity.topicOther }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ topic.name }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td headers="itinerary-virtual-anticipated-audience">
                                    <ul class="list-unstyled no-margin">
                                        {% set totalNumberParticipants = 0 %}

                                        {# @var anticipatedAudience \AppBundle\Entity\Specialist\Itinerary\Activity\AnticipatedAudience #}
                                        {% for anticipatedAudience in activity.anticipatedAudience %}
                                            <li class="mb-5 row">
                                                <div class="col-lg-9 col-md-9">
                                                    {% if 'Other' == anticipatedAudience.audience.name %}
                                                        <strong>Other:</strong>&nbsp;
                                                        {{ anticipatedAudience.audienceOther }}
                                                    {% else %}
                                                        {{ anticipatedAudience.audience.name }}
                                                    {% endif %}
                                                </div>
                                                <div class="col-lg-3 col-md-3 text-right">
                                                    {{ anticipatedAudience.estimatedParticipants }}
                                                </div>
                                            </li>

                                            {% set totalNumberParticipants = totalNumberParticipants + anticipatedAudience.estimatedParticipants %}
                                        {% endfor %}
                                        <li class="mb-5 row">
                                            <div class="col-lg-9 col-md-9 text-right">
                                                <strong>Total Nº Participants:</strong>
                                            </div>
                                            <div class="col-lg-3 col-md-3 text-right">
                                                {{ totalNumberParticipants }}
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td headers="itinerary-virtual-duration" class="text-right">
                                    {{ activityWeek.duration }}
                                </td>
                                {% if edit_activities %}
                                    <td headers="itinerary-virtual-actions">
                                        <ul class="list-unstyled no-margin">
                                            <li class="mb-5">
                                                <a href="{{ path('specialist_project_phase_itinerary_virtual_activity_edit', {
                                                    'id': specialistProjectPhase.id,
                                                    'aid': activity.id
                                                }) }}" class="edit-virtual-activity">{% trans %}
                                                    Edit{% endtrans %}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('specialist_project_phase_itinerary_virtual_activity_delete', {
                                                    'id': specialistProjectPhase.id,
                                                    'awid': activityWeek.id
                                                }) }}" class="delete-virtual-activity">{% trans %}
                                                    Delete{% endtrans %}</a>
                                            </li>
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td colspan="5" headers="itinerary-virtual-type">
                                    <strong>Description:</strong>&nbsp;
                                    <p>{{ activity.typeDesc }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" headers="itinerary-virtual-type">
                                    <strong>{% trans %}Will the specialist be required to be online for a specific local time for this activity? Please explain:{% endtrans %}</strong>&nbsp;
                                    <p>{{ activity.onlineAvailabilityDesc }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
