<div class="virtual-activity-form modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <div class="pull-right">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
                    {{ form_widget(form.add, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                </div>
                <h4 class="modal-title">
                    {% trans %}Add Itinerary Activity{% endtrans %}
                </h4>
            </div>

            <div class="modal-body">
                {#{% include ':project/specialist/wizard/itinerary:add_activity_body.html.twig' with {'form': form, 'nonJS': false} only %}#}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th id="itinerary-virtual-type" class="col-md-2 col-lg-2 label__required">
                            {% trans %}Activity{% endtrans %}
                        </th>
                        <th id="itinerary-virtual-topics" class="col-md-3 col-lg-3 label__required">
                            {% trans %}Topic{% endtrans %}
                        </th>
                        <th id="itinerary-virtual-anticipated-audience" class="col-md-4 col-lg-4 label__required">
                            {% trans %}Anticipated Audience{% endtrans %}
                        </th>
                        <th id="itinerary-virtual-hours-per-week" class="col-md-3 col-lg-3 label__required">
                            {% trans %}Hours per Week{% endtrans %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td headers="itinerary-virtual-type">
                            <h4>
                                <label for="itinerary_activity_type">Type</label>
                            </h4>
                            <div class="select-wrapper">
                                {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                <label>
                                    <strong>{% trans %}If other activity{% endtrans %}</strong>
                                </label>
                                {{ form_widget(form.typeOther, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                <h4>
                                    <label for="itinerary_activity_activityTypeDesc">Description</label>
                                </h4>
                                {% trans %}<p class="small text-success">For example, a training manual, curriculum,
                                    text book.</p>{% endtrans %}
                                {{ form_widget(form.typeDesc, { 'attr': { 'class': 'form-control activity-type-textarea', 'rows' : '6' } }) }}
                            </div>

                            <div class="form-group">
                                <h4>
                                    <label for="itinerary_activity_activityTypeDesc">
                                        {% trans %}Will the specialist be required to be online for a specific local time for this activity? Please explain:{% endtrans %}
                                    </label>
                                </h4>
                                {{ form_widget(form.onlineAvailabilityDesc, { 'attr': { 'class': 'form-control activity-type-textarea', 'rows' : '6' } }) }}
                            </div>
                        </td>
                        <td headers="itinerary-virtual-topics">
                            <p class="small text-success">
                                {% trans %}Select up to 3 topics{% endtrans %}
                            </p>

                            <div class="checkbox-wrapper">
                                {{ form_widget(form.topics) }}
                            </div>

                            <div class="form-group">
                                <label><strong>{% trans %}If other topic{% endtrans %}</strong>
                                    {{ form_widget(form.topicOther, {'attr': {'class': 'form-control'}}) }}
                                </label>
                            </div>
                        </td>
                        <td headers="itinerary-virtual-anticipated-audience">
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <p class="small text-success">{% trans %}Select all applicable{% endtrans %}</p>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <p class="small">
                                        {% trans %}Est. Nº Participants{% endtrans %}
                                    </p>
                                </div>
                            </div>

                            {% for anticipatedAudienceEntry in form.anticipatedAudience %}
                                <div class="row mb-5">
                                    <div class="col-lg-8 col-md-8">
                                        <div class="checkbox-wrapper">
                                            {{ form_widget(anticipatedAudienceEntry.audience) }}
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        {% if anticipatedAudienceEntry.estimatedParticipants is defined %}
                                            {{ form_widget(anticipatedAudienceEntry.estimatedParticipants, {'attr': {'class': 'form-control'}}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div id="other-audience-row" class="row mb-5">
                                <div class="col-lg-8 col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <strong>{% trans %}If other audience{% endtrans %}</strong>
                                        </label>
                                        {{ form_widget(form.audienceOther, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>

                            <div id="total-number-participants-row" class="row mb-5">
                                <div class="col-lg-offset-8 col-md-offset-8 col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label>
                                            <strong>
                                                {% trans %}Total Nº Participants{% endtrans %}
                                            </strong>
                                        </label>
                                        <input type="text" class="audience-total-number-participants form-control"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td headers="itinerary-virtual-hours-per-week">
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <p class="small text-success">{% trans %}Select all applicable{% endtrans %}</p>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <p class="small">
                                        {% trans %}Est. Nº of hours spent on the activity per week{% endtrans %}
                                    </p>
                                </div>
                            </div>

                            {% for itineraryWeek in form.weeks %}
                                <div class="row mb-5">
                                    {% set week = itineraryWeek.week|last %}

                                    <div class="col-lg-8 col-md-8">
                                        <div class="checkbox-wrapper">
                                            {{ form_widget(week) }}
                                            <label for="{{ week.vars.id }}">
                                                <h4>Week {{ loop.index }}</h4>
                                                <p class="small">{{ week.vars.label }}</p>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        {% if itineraryWeek.hours is defined %}
                                            {{ form_widget(itineraryWeek.hours, {'attr': {'class': 'form-control'}}) }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="row mb-5">
                                <div class="col-lg-8 col-md-8">
                                    <div class="form-group">
                                        <label>
                                            <strong>
                                                {% trans %}Total Est. Nº of hours spent on the activity for the total
                                                project{% endtrans %}
                                            </strong>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="total-hours-for-project form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="activity_add_2" name="activity[add]" class="btn btn-success btn-lg">Save and add to Itinerary</button>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
