{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/styles/fellow-admin-menu.css') }}"/>
{% endblock %}

{% block body %}
    {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
    {% set projectGeneralInfo = fellowProject.projectGeneralInfo %}

    {# Button trigger share modal window #}
    <button type="button" class="btn btn-primary pull-right btn-share" data-toggle="modal" data-target="#shareModal">
        {% trans %}Sharing options{% endtrans %}
    </button>

    {% include 'fellowproject/submission_main_heading.html.twig' %}

    <div class="panel">
        <div class="panel-body">
            {% include 'notifications.html.twig' %}

            <h2 class="text-center">Administration Panel</h2>

            <p class="text-center">Select an option below to manage your proposal.</p>

            <div class="container-fluid">
                <nav class="icon-nav-lg">
                    <ul class="nav">
                        <li>
                            <ul class="nav row">
                                <li class="col-sm-3">
                                    {% set projectGeneralInfoSection = fellowProjectPresenter.getProjectGeneralInfoSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(projectGeneralInfoSection.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ projectGeneralInfoSection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-general-information.png') }}" alt="">
                                                <span>General Information</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ projectGeneralInfoSection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    {% set contactPoints = fellowProjectPresenter.getPointOfContactsSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(contactPoints.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ contactPoints.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-points-contact.png') }}" alt="">
                                                <span>Points of Contact</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ contactPoints.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    {% set projectRequirementsSection = fellowProjectPresenter.getProjectRequirementsSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(projectRequirementsSection.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ projectRequirementsSection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-requirements.png') }}" alt="">
                                                <span>Requirements and Restrictions</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ projectRequirementsSection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    {% set housingInfoSection = fellowProjectPresenter.getHousingInfoSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(housingInfoSection.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ housingInfoSection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-housing.png') }}" alt="">
                                                <span>Dependents</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ housingInfoSection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <ul class="nav row">
                                <li class="col-sm-3">
                                    {% set certificationSection = fellowProjectPresenter.getCertificationsSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(certificationSection.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ certificationSection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-cert-goals.png') }}" alt="">
                                                <span>Certifications</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ certificationSection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    {% set locationHostInfoSection = fellowProjectPresenter.getLocationHostInfoSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(locationHostInfoSection.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ locationHostInfoSection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-location-host.png') }}" alt="">
                                                <span>Location &amp; Host Institution</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ locationHostInfoSection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    {% set fellowshipDutySection = fellowProjectPresenter.getFellowshipDutySectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path(fellowshipDutySection.path, { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ fellowshipDutySection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-duties.png') }}" alt="">
                                                <span>Fellowship Duties and Mission Goals</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ fellowshipDutySection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="col-sm-3">
                                    {% set budgetSection = fellowProjectPresenter.getBudgetSectionStatus %}

                                    {% if is_granted('edit', projectGeneralInfo) %}
                                        <a href="{{ path('fellow_project_budget_funded', { 'id': fellowProject.id }) }}">
                                    {% else %}
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                    {% endif %}
                                        <div class="panel panel-default panel-bordered {{ budgetSection.class }}">
                                            <div class="panel-body">
                                                <img src="{{ asset('dist/images/icon-lg-budget.png') }}" alt="">
                                                <span>Budget</span>
                                            </div>
                                            <div class="panel-footer">
                                                <small class="status">{{ budgetSection.status }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>

            {{ form_start(form) }}

            <div class="well text-center">
                <a href="{{ path('project_fellow_show', { 'id': fellowProject.id }) }}" class="btn btn-lg btn-default mr-5">
                    {% trans %}Review proposal{% endtrans %}
                </a>

                {% if is_granted('delete', projectGeneralInfo) %}
                    <a href="{{ path('project_fellow_confirm_delete', { 'id': fellowProject.id }) }}" class="btn btn-lg btn-danger">
                        {% trans %}Delete this Proposal{% endtrans %}
                    </a>
                {% endif %}

                {#{% if projectGeneralInfo.isWithdrawable and is_granted('withdraw', projectGeneralInfo) %}#}
                    {#<a href="{{ path('project_fellow_confirm_withdrawal', { 'id': fellowProject.id }) }}" class="btn btn-lg btn-danger">#}
                        {#{% trans %}Withdraw{% endtrans %}#}
                    {#</a>#}
                {#{% endif %}#}

                {% if not fellowProjectPresenter.isProposalSubmitted %}
                    {% if fellowProjectPresenter.isProposalReadyForSubmission %}
                        {{ form_widget(form.submitFellowProposal, { 'attr': {'class': 'btn btn-lg btn-success ml-5'} }) }}
                    {% else %}
                        <div class="css-tooltip css-tooltip--right css-tooltip--sm">
                            <span class="disabled css-tooltip__trigger btn btn-lg btn-success ml-5">{% trans %}Submit proposal{% endtrans %}</span>

                            <div class="css-tooltip__content">
                                <p>{% trans %}You must complete all of the above to submit this proposal{% endtrans %}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>

    {# Share Modal Window #}
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-text" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">Close</span>
                    </button>
                    <h4 class="modal-title" id="shareModalLabel">
                        {% trans %}Sharing options{% endtrans %}
                    </h4>
                </div>

                <div class="modal-body">

                    <span class="h4">Invite people</span>
                    <p class="mt-5">{% trans %}Please enter and select the email address of the registered RELO or Embassy user you want to share this proposal with.{% endtrans %}</p>
                    <input type="text" autocomplete="off" class="form-control mt-5" id="people-list">
                    <span class="small text-danger mt-5" id="share-modal-error-message" style="display:none">
                       <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 
                       Entered email address is not a valid user.
                    </span>
                    <br>
                    <span class="h4">Who has access</span>
                    <ul id="who-has-access-list" class="list-unstyled">
                        {# @var currentUser \AppBundle\Entity\User #}
                        {% set currentAuthenticatedUser = app.user %}

                        {# @var creator \AppBundle\Entity\User #}
                        {% set creator = projectGeneralInfo.createdBy %}

                        {# @var submitter \AppBundle\Entity\User #}
                        {% set submitter = projectGeneralInfo.submittedBy %}

                        <li class="list-unstyled__author-item" data-author-id="{{ creator.id }}">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ creator.name }}

                                            {% if currentAuthenticatedUser.id == creator.id %}
                                                &#40;You&#41;
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12">
                                            <small>{{ creator.email }}</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 text-center">
                                    {% if (submitter is not null) and (submitter.id == creator.id) %}
                                        {% trans %}Is owner and submitter{% endtrans %}
                                    {% else %}
                                        {% trans %}Is owner{% endtrans %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>

                        {# @var user \AppBundle\Entity\User #}
                        {% for user in projectGeneralInfo.authors %}
                            <li class="list-unstyled__author-item" data-author-id="{{ user.id }}">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row list-unstyled__author-item__details">
                                            <div class="col-md-12">
                                                {{ user.name }}

                                                {% if currentAuthenticatedUser.id == user.id %}
                                                    &#40;You&#41;
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12">
                                                <small>{{ user.email }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        {% if (submitter is not null) and (submitter.id == user.id) %}
                                            {% trans %}Is submitter{% endtrans %}
                                        {% else %}
                                            <a class="un-share-project" href="javascript:void(0)">
                                                {% trans %}Un-share{% endtrans %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="modal-footer">
                    {{ form_start(shareProjectForm) }}

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {{ form_widget(shareProjectForm.shareProject, { 'attr': {'class': 'btn btn-primary'} }) }}

                    {{ form_row(shareProjectForm._token) }}
                    {{ form_end(shareProjectForm, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script defer>
        // This variable stores all Embassy and RELO users.
        var embassyRELOUsers = jQuery.parseJSON('{{ embassyRELOUsers|raw }}');
    </script>

    <script async src="{{ asset('dist/scripts/bootstrap3-typeahead.js') }}"></script>
{% endblock %}
