{% extends 'base.html.twig' %}

{% block title %}Fellow Proposals &#124; Proposal System{% endblock %}

{% block body %}
    <h1>My Fellow Proposals</h1>

    <div class="panel panel-default">
        {% include 'notifications.html.twig' %}

        <div class="panel-heading">
            <h2 class="pull-left">Created by me</h2>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="fellow_proposal_reference_number" class="col-md-1 col-lg-1">
                        {% trans %}Reference &#35;{% endtrans %}
                    </th>
                    <th id="fellow_proposal_country" class="col-md-2 col-lg-2">
                        {% trans %}Country{% endtrans %}
                    </th>
                    <th id="fellow_proposal_host_institution" class="col-md-3 col-lg-3">
                        {% trans %}Host Institution{% endtrans %}
                    </th>
                    <th id="fellow_proposal_status" class="col-md-2 col-lg-2">
                        {% trans %}Status{% endtrans %}
                    </th>
                    <th id="fellow_proposal_outcome" class="col-md-2 col-lg-2">
                        {% trans %}Outcome{% endtrans %}
                    </th>
                    <th id="fellow_proposal_action" class="col-md-2 col-lg-1">
                        {% trans %}Action{% endtrans %}
                    </th>
                </tr>
                </thead>

                <tbody>
                {# @var fellowProjectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
                {% for fellowProjectGeneralInfo in fellowProposalsGeneralInfo %}
                    {# @var fellowProject \AppBundle\Entity\FellowProject #}
                    {% set fellowProject = fellowProjectGeneralInfo.fellowProject %}

                    <tr>
                        <td headers="fellow_proposal_reference_number">
                            {{ fellowProjectGeneralInfo.referenceNumber }}
                        </td>
                        <td headers="fellow_proposal_country">
                            {% for country in fellowProjectGeneralInfo.countries %}
                                {% if loop.last %}
                                    {{ country.name }}
                                {% else %}
                                    {{ country.name }},
                                {% endif %}
                            {% else %}
                                Not selected
                            {% endfor %}
                        </td>
                        <td headers="fellow_proposal_host_institution">
                            {% if fellowProject.locationHostInfo is null or fellowProject.locationHostInfo.host is null %}
                                Not selected
                            {% else %}
                                {{ fellowProject.locationHostInfo.host.name }}
                            {% endif %}
                        </td>
                        <td headers="fellow_proposal_status">
                            {% if 'submitted' == fellowProjectGeneralInfo.submissionStatus %}
                                {% if fellowProjectGeneralInfo.projectReviewStatus is not null %}
                                    {{ fellowProjectGeneralInfo.projectReviewStatus.name }}
                                {% endif %}
                            {% else %}
                                {{ fellowProjectGeneralInfo.submissionStatus|replace({'_': ' '})|title }}
                            {% endif %}
                        </td>
                        <td headers="fellow_proposal_outcome">
                            {% if fellowProjectGeneralInfo.projectOutcome is not null %}
                                {{ fellowProjectGeneralInfo.projectOutcome.name }}
                            {% endif %}
                        </td>
                        <td headers="fellow_proposal_action">
                            <ul class="list-unstyled no-margin">
                                <li>
                                    <a href="{{ path('project_fellow_show', { 'id': fellowProject.id }) }}">
                                        {% trans %}Review proposal{% endtrans %}
                                    </a>
                                </li>
                                {% if is_granted('edit', fellowProjectGeneralInfo) %}
                                    <li class="mt-5">
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                            {% trans %}Edit this proposal{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if is_granted('delete', fellowProjectGeneralInfo) %}
                                    <li class="mt-5">
                                        <a href="{{ path('project_fellow_confirm_delete', { 'id': fellowProject.id }) }}">
                                            {% trans %}Delete this Proposal{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td headers="fellow_proposal_reference_number" colspan="6">
                            {% trans %}There are no Fellow Proposals.{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-heading">
            <h2 class="pull-left">Shared with me</h2>
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="shared_fellow_proposal_reference_number" class="col-md-1 col-lg-1">
                        {% trans %}Reference &#35;{% endtrans %}
                    </th>
                    <th id="shared_fellow_proposal_country" class="col-md-2 col-lg-2">
                        {% trans %}Country{% endtrans %}
                    </th>
                    <th id="shared_fellow_proposal_host_institution" class="col-md-3 col-lg-3">
                        {% trans %}Host Institution{% endtrans %}
                    </th>
                    <th id="shared_fellow_proposal_status" class="col-md-2 col-lg-2">
                        {% trans %}Status{% endtrans %}
                    </th>
                    <th id="shared_fellow_proposal_outcome" class="col-md-2 col-lg-2">
                        {% trans %}Outcome{% endtrans %}
                    </th>
                    <th id="shared_fellow_proposal_action" class="col-md-2 col-lg-1">
                        {% trans %}Action{% endtrans %}
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for fellowProjectGeneralInfo in sharedProposals %}
                    {% set fellowProject = fellowProjectGeneralInfo.fellowProject %}

                    <tr>
                        <td headers="shared_fellow_proposal_reference_number">
                            {{ fellowProjectGeneralInfo.referenceNumber }}
                        </td>
                        <td headers="shared_fellow_proposal_country">
                            {% for country in fellowProjectGeneralInfo.countries %}
                                {% if loop.last %}
                                    {{ country.name }}
                                {% else %}
                                    {{ country.name }},
                                {% endif %}
                            {% else %}
                                Not selected
                            {% endfor %}
                        </td>
                        <td headers="shared_fellow_proposal_host_institution">
                            {% if fellowProject.locationHostInfo is null or fellowProject.locationHostInfo.host is null %}
                                Not selected
                            {% else %}
                                {{ fellowProject.locationHostInfo.host.name }}
                            {% endif %}
                        </td>
                        <td headers="shared_fellow_proposal_status">
                            {% if 'submitted' == fellowProjectGeneralInfo.submissionStatus %}
                                {% if fellowProjectGeneralInfo.projectReviewStatus is not null %}
                                    {{ fellowProjectGeneralInfo.projectReviewStatus.name }}
                                {% endif %}
                            {% else %}
                                {{ fellowProjectGeneralInfo.submissionStatus|replace({'_': ' '})|title }}
                            {% endif %}
                        </td>
                        <td headers="shared_fellow_proposal_outcome">
                            {% if fellowProjectGeneralInfo.projectOutcome is not null %}
                                {{ fellowProjectGeneralInfo.projectOutcome.name }}
                            {% endif %}
                        </td>
                        <td headers="shared_fellow_proposal_action">
                            <ul class="list-unstyled no-margin">
                                <li>
                                    <a href="{{ path('project_fellow_show', { 'id': fellowProject.id }) }}">
                                        {% trans %}Review proposal{% endtrans %}
                                    </a>
                                </li>
                                {% if is_granted('edit', fellowProjectGeneralInfo) %}
                                    <li class="mt-5">
                                        <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}">
                                            {% trans %}Edit this proposal{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if is_granted('delete', fellowProjectGeneralInfo) %}
                                    <li class="mt-5">
                                        <a href="{{ path('project_fellow_confirm_delete', { 'id': fellowProject.id }) }}">
                                            {% trans %}Delete this Proposal{% endtrans %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td headers="fellow_proposal_reference_number" colspan="6">
                            {% trans %}No Fellow Proposals have been shared with you.{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
