{% extends 'base.html.twig' %}

{% block title %}Fellow Proposals RELO Ranking &#124; Proposal System{% endblock %}

{% block body %}

    <h1>Rank Fellow Proposals</h1>

    {% include 'notifications.html.twig' %}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_start(cycleForm, {'attr': {'class': 'filter-year'}}) }}

            <div class="form-group inline-form">
                <label for="cycle">Fiscal year</label>
                <div class="select-wrapper">
                    {{ form_widget(cycleForm, { 'attr': {'class': 'btn-xs'} }) }}
                </div>
            </div>

            {{ form_end(cycleForm) }}
        </div>

        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="proposal-rank">&nbsp;</th>
					{% if not is_granted('ROLE_RELO') %}
                    <th id="proposal-rpo-ranking">
                        {% trans %}RPO Ranking{% endtrans %}
                    </th>
					{% endif %}
                    <th id="proposal-relo-ranking">
                        {% trans %}RELO Ranking{% endtrans %}
                    </th>
                    <th id="proposal-reference-number" class="col-lg-1">
                        {% trans %}Reference #{% endtrans %}
                    </th>
                    <th id="proposal-status" class="col-lg-1">
                        {% trans %}Proposal Status{% endtrans %}
                    </th>
                    <th id="proposal-outcome" class="col-lg-1">
                        {% trans %}Proposal Outcome{% endtrans %}
                    </th>
                    <th id="proposal-region" class="col-lg-1">
                        {% trans %}Region{% endtrans %}
                    </th>
                    <th id="proposal-relo-location" class="col-lg-2">
                        {% trans %}RELO Location{% endtrans %}
                    </th>
                    <th id="proposal-country" class="col-lg-2">
                        {% trans %}Country{% endtrans %}
                    </th>
                    <th id="proposal-host-institution" class="col-lg-2">
                        {% trans %}Host Institution{% endtrans %}
                    </th>
                    <th id="proposal-cycle" class="col-lg-1">
                        {% trans %}Cycle Type{% endtrans %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {# @var fellowProject \AppBundle\Entity\FellowProject #}
                {% for fellowProject in fellowProjects %}
                    {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
                    {% set projectGeneralInfo = fellowProject.projectGeneralInfo %}

                    {# @var locationHost \AppBundle\Entity\LocationHostInfo #}
                    {% set locationHost = fellowProject.locationHostInfo %}

                    <tr class="table-row">
                        <td headers="proposal-rank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="13">
                                <path style="text-indent:0;text-align:start;line-height:normal;text-transform:none;block-progression:tb;-inkscape-font-specification:Sans" d="M 12 2 L 9 5 L 15 5 L 12 2 z M 2 7 L 2 9 L 22 9 L 22 7 L 2 7 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 15 L 2 17 L 22 17 L 22 15 L 2 15 z M 9 19 L 12 22 L 15 19 L 9 19 z" color="#000" overflow="visible" font-family="Sans"></path>
                            </svg>
                        </td>
						{% if not is_granted('ROLE_RELO') %}
                        <td headers="proposal-rpo-ranking" class="text-center">{{ projectGeneralInfo.rpoRanking }}</td>
						{% endif %}
                        <td headers="proposal-relo-ranking" class="text-center">
                            {{ projectGeneralInfo.reloRanking }}
                        </td>
                        <td headers="proposal-reference-number">
                            <input type="hidden" value="{{ fellowProject.id }}">

                            <a href="{{ path('project_fellow_show', {id: fellowProject.id}) }}">
                                {{ projectGeneralInfo.referenceNumber }}
                            </a>
                        </td>
                        <td headers="proposal-status">
                            {% if 'submitted' == projectGeneralInfo.submissionStatus %}
                                {% if projectGeneralInfo.projectReviewStatus is not null %}
                                    {{ projectGeneralInfo.projectReviewStatus.name }}
                                {% endif %}
                            {% else %}
                                {{ projectGeneralInfo.submissionStatus|replace({'_': ' '})|title }}
                            {% endif %}
                        </td>
                        <td headers="proposal-outcome">
                            {% if projectGeneralInfo.projectOutcome is not null %}
                                {{ projectGeneralInfo.projectOutcome.name }}
                            {% endif %}
                        </td>
                        <td headers="proposal-region">
                            {% if projectGeneralInfo.region is not null %}
                                {{ projectGeneralInfo.region.acronym }}
                            {% endif %}
                        </td>
                        <td headers="proposal-relo-location">
                            {% if projectGeneralInfo.reloLocations is not empty %}
                                {{ projectGeneralInfo.reloLocations.first.name }}
                            {% endif %}
                        </td>
                        <td headers="proposal-country">
                            {% if projectGeneralInfo.countries is not empty %}
                                {{ projectGeneralInfo.countries.last.name }}
                            {% endif %}
                        </td>
                        <td headers="proposal-host-institution">
                            {% if locationHost is not null and locationHost.host is not null %}
                                {{ locationHost.host.name }}
                            {% endif %}
                        </td>
                        <td headers="proposal-cycle">
                            {% if fellowProject.cycleSeason is not null %}
                                {{ fellowProject.cycleSeason|title }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td headers="proposal-reference-number" colspan="10">
                            {% trans %}There are no Fellow Proposals.{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <div class="row">
                {{ form_start(rankingForm) }}

                {{ form_widget(rankingForm.ranking) }}

                <div class="text-right col-md-12">
                    {{ form_widget(rankingForm.submitRanking, { 'attr': {'class': 'btn btn-default btn-md'} }) }}
                    {% if rankingForm.submitRankingNotify is defined %}
                        {{ form_widget(rankingForm.submitRankingNotify, { 'attr': {'class': 'btn btn-success btn-md'} }) }}
                    {% endif %}
                </div>

                {{ form_row(rankingForm._token) }}
                {{ form_end(rankingForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        if ('undefined' === typeof jQuery.ui) {
            document.write('<script src="{{ asset('dist/scripts/jquery-ui.js') }}"><\/script>');
        }

        (function () {
            var $tableBodyEl = $('.table tbody');

            $('#cycle').change(function () {
                $('.filter-year').submit();
            });

            var fixHelper = function(e, ui) {
                ui.children().each(function() {
                    $(this).width($(this).width());
                });
                return ui;
            };

            $tableBodyEl
                    .sortable({
                        placeholder: 'table-row',
                        helper: fixHelper
                    })
                    .disableSelection();

            $('.ranking-form').submit(function () {
                // Get the ID of all proposals listed in the Ranking table
                var proposalsIds = $tableBodyEl.find('tr input').toArray().map(function (el) {
                    return el.value;
                });

                $('#form_ranking').val(proposalsIds.join());
            });
        })();
    </script>
{% endblock %}

