<div id="review-navigation" class="panel pane-default">
    {{ form_start(form) }}
        <div class="panel-body">
            <a href="{{ path('project_fellow_export_pdf', { 'id': fellowProject.id }) }}" class="btn btn-info pull-right mr-5">
                {% trans %}Export PDF{% endtrans %}
            </a>

            {% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_admin_menu', { 'id': fellowProject.id }) }}" class="btn btn-info">
                    {% trans %}Edit this proposal{% endtrans %}
                </a>
            {% endif %}

            {% if is_granted('delete', projectGeneralInfo) %}
                <a href="{{ path('project_fellow_confirm_delete', { 'id': fellowProject.id }) }}" class="btn btn-danger">
                    {% trans %}Delete this Proposal{% endtrans %}
                </a>
            {% endif %}

            {#{% if projectGeneralInfo.isWithdrawable and is_granted('withdraw', projectGeneralInfo) %}#}
                {#<a href="{{ path('project_fellow_confirm_withdrawal', { 'id': fellowProject.id }) }}" class="btn btn-danger">#}
                    {#{% trans %}Withdraw{% endtrans %}#}
                {#</a>#}
            {#{% endif %}#}

            {% if not fellowProjectPresenter.isProposalSubmitted %}
                {% if fellowProjectPresenter.isProposalReadyForSubmission %}
                    {# {{ form_widget(form.submitFellowProposal, { 'attr': {'class': 'btn btn-success ml-5'} }) }} #}
                    <button type="submit" class="btn btn-success ml-5">{% trans %}Submit proposal{% endtrans %}</button>
                {% else %}
                    <div class="css-tooltip css-tooltip--right css-tooltip--sm">
                        <span class="disabled css-tooltip__trigger btn btn-success ml-5">
                            {% trans %}Submit proposal{% endtrans %}
                        </span>

                        <div class="css-tooltip__content">
                            <p>{% trans %}You must complete all sections to submit this proposal{% endtrans %}</p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        </div>
    {# {{ form_row(form._token) }} #}
    <input type="hidden" id="submit_fellow_proposal__token" name="submit_fellow_proposal[_token]" value="{{ form._token.vars.value }}">
    {{ form_end(form, {'render_rest': false}) }}
</div>
