	<div class="panel panel-default panel-review">

		<div class="panel-body">

			<div class="form-group">
				<strong>{% trans %}Fiscal Year:{% endtrans %}</strong>
				<div>{{ projectPhase.projectGeneralInfo.cycle.name }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Review Status:{% endtrans %}</strong>
				<div>{{ projectPhase.projectGeneralInfo.projectReviewStatus }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Outcome:{% endtrans %}</strong>
				<div>{{ projectPhase.projectGeneralInfo.projectOutcome }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Submitted by:{% endtrans %}</strong>
				<div>
					{{ projectPhase.projectGeneralInfo.submittedBy.name }}
					({{ projectPhase.projectGeneralInfo.submittedByRole }})
					<br>
					{{ projectPhase.projectGeneralInfo.submittedBy.email }}
				</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Submitted on:{% endtrans %}</strong>
				<div>{{ projectPhaseReview.createdAt|date('m/d/Y') }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Created by:{% endtrans %}</strong>
				<div>
					{{projectPhase.projectGeneralInfo.createdBy.name}}
					({{projectPhase.projectGeneralInfo.createdByRole}})
					<br>
					{{projectPhase.projectGeneralInfo.createdBy.email}}
				</div>
			</div>

			{#<div class="form-group">#}
				{#<strong>{% trans %}Total amount requested from ECA{% endtrans %}:</strong> {{ projectPhaseBudgetTotals.ecaTotalContribution|currency_format(0) }} <br/>#}
				{#<strong>{% trans %}Total cost share{% endtrans %}:</strong> {{ totals.shared|currency_format(0) }}#}
			{#</div>#}

		{% if reviewForm %}
			{{ form_start(reviewForm) }}
			{% if is_granted('ROLE_ADMIN') %}

			<div class="form-group">
				{{ form_label(reviewForm.cycle) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.cycle, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.reviewStatus) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.reviewStatus, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.outcome) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.outcome, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.submissionStatus) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.submissionStatus, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="submit">
				{{ form_widget(reviewForm.save, {'attr': {'class': 'btn btn-lg btn-success'}}) }}
			</div>
			{% elseif is_granted('ROLE_STATE_DEPARTMENT') and reviewForm.outcome is defined %}
				<div class="form-group">
					{{ form_label(reviewForm.outcome) }}
					<div class="select-wrapper">
						{{ form_widget(reviewForm.outcome, {'attr': {'class': 'form-select'}}) }}
					</div>
				</div>
				<div class="submit">
					{{ form_widget(reviewForm.save, {'attr': {'class': 'btn btn-lg btn-success'}}) }}
				</div>
			{% endif %}
		{% endif %}

		{% if not projectPhaseReview.projectReviewComments.empty %}
			<h3>{% trans %}Comments{% endtrans %}:</h3>
			<div class="form-group">

				{% for comment in projectPhaseReview.projectReviewComments %}
				<div class="review-comment">
					<p>{{ comment.comment|nl2br }}</p>
					<em><b>{{ comment.actionTaken|trans }}</b> <span class="review-comment__date">- {{ comment.createdAt|date('m/d/Y h:i a') }}, by {{ comment.commentBy.name }} ({{ comment.commentByRole }})</span></em>
				</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if reviewForm.comment is defined %}
			{% if projectPhase.projectGeneralInfo.projectReviewStatus.id is constant('POST_REQUIRE_ALTERNATE_FUNDING', projectPhase.projectGeneralInfo.projectReviewStatus) %}
			<div class="form-group">
				<strong>{% trans %}You must edit the budget and change funding source to "No funding from ECA".{% endtrans %}</strong>
				<div class="text-right">
					{% if projectPhase.type == constant('VIRTUAL_TYPE', projectPhase) %}
						<a class="btn btn-info" href="{{ path('specialist_project_phase_budget_virtual_funded_by', {'id': projectPhase.id}) }}">{% trans %}Edit budget{% endtrans %}</a>
					{% else %}
						<a class="btn btn-info" href="{{ path('specialist_project_phase_budget_funded_by', {'id': projectPhase.id}) }}">{% trans %}Edit budget{% endtrans %}</a>
					{% endif %}
				</div>
			</div>
			{% endif %}

			<div class="form-group">
				{{ form_label(reviewForm.comment) }}
				{{ form_widget(reviewForm.comment, {'attr': {'class': 'form-control'}}) }}
			</div>
		{% endif %}

		{% if reviewForm  %}
			<div class="form-group inline-elements text-right">
				{{ form_rest(reviewForm) }}
			</div>

			{{ form_end(reviewForm) }}
		{% endif %}
		</div>

	</div>
