	<div class="panel panel-default panel-review">

		<div class="panel-body">

			<div class="form-group">
				<strong>{% trans %}Cycle:{% endtrans %}</strong>
				<div>{{ fellowProject.projectGeneralInfo.cycle.name }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Review Status:{% endtrans %}</strong>
				<div>{{ fellowProject.projectGeneralInfo.projectReviewStatus }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Outcome:{% endtrans %}</strong>
				<div>{{ fellowProject.projectGeneralInfo.projectOutcome }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Submitted by:{% endtrans %}</strong>
				<div>
					{{ fellowProject.projectGeneralInfo.submittedBy.name }}
					({{ fellowProject.projectGeneralInfo.submittedByRole }})
					<br>
					{{ fellowProject.projectGeneralInfo.submittedBy.email }}
				</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Submitted on:{% endtrans %}</strong>
				<div>{{ fellowProjectReview.createdAt|date('m/d/Y') }}</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Created by:{% endtrans %}</strong>
				<div>
					{{fellowProject.projectGeneralInfo.createdBy.name}}
					({{fellowProject.projectGeneralInfo.createdByRole}})
					<br>
					{{fellowProject.projectGeneralInfo.createdBy.email}}
				</div>
			</div>

			<div class="form-group">
				<strong>{% trans %}Total amount requested from ECA{% endtrans %}:</strong> {{ fellowProjectBudgetTotals.ecaTotalContribution|currency_format(0) }} <br/>
				<strong>{% trans %}Total cost share{% endtrans %}:</strong> {{ totals.shared|currency_format(0) }}
			</div>

		{% if reviewForm %}
			{{ form_start(reviewForm) }}
			{% if is_granted('ROLE_ADMIN') %}

			<div class="form-group">
				{{ form_label(reviewForm.cycle) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.cycle, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.reviewStatus) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.reviewStatus, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.outcome) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.outcome, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="form-group">
				{{ form_label(reviewForm.submissionStatus) }}
				<div class="select-wrapper">
					{{ form_widget(reviewForm.submissionStatus, {'attr': {'class': 'form-select'}}) }}
				</div>
			</div>

			<div class="submit">
				{{ form_widget(reviewForm.save, {'attr': {'class': 'btn btn-lg btn-success'}}) }}
			</div>
			{% elseif is_granted('ROLE_STATE_DEPARTMENT') and reviewForm.outcome is defined %}
				<div class="form-group">
					{{ form_label(reviewForm.outcome) }}
					<div class="select-wrapper">
						{{ form_widget(reviewForm.outcome, {'attr': {'class': 'form-select'}}) }}
					</div>
				</div>
				<div class="submit">
					{{ form_widget(reviewForm.save, {'attr': {'class': 'btn btn-lg btn-success'}}) }}
				</div>
			{% endif %}
		{% endif %}

		{% if not fellowProjectReview.projectReviewComments.empty %}
			<h3>{% trans %}Comments{% endtrans %}:</h3>
			<div class="form-group">

				{% for comment in fellowProjectReview.projectReviewComments %}
				<div class="review-comment">
					<p>{{ comment.comment|nl2br }}</p>
					<em><b>{{ comment.actionTaken|trans }}</b> <span class="review-comment__date">- {{ comment.createdAt|date('m/d/Y h:i a') }}, by {{ comment.commentBy.name }} ({{ comment.commentByRole }})</span></em>
				</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if reviewForm.comment is defined %}
			{% if fellowProject.projectGeneralInfo.projectReviewStatus.id is constant('AppBundle\\Entity\\ProjectReviewStatus::POST_REQUIRE_ALTERNATE_FUNDING') %}
			<div class="form-group">
				<strong>{% trans %}You must edit the budget and change funding source to "No funding from ECA".{% endtrans %}</strong>
				<div class="text-right">
					<a class="btn btn-info" href="{{ path('fellow_project_budget_funded', { 'id': fellowProject.id }) }}">{% trans %}Edit budget{% endtrans %}</a>
				</div>
			</div>
			{% endif %}

			<div class="form-group">
				{{ form_label(reviewForm.comment) }}
				{{ form_widget(reviewForm.comment, {'attr': {'class': 'form-control'}}) }}
			</div>
		{% endif %}

		{% if reviewForm  %}
			<div class="form-group inline-elements text-right">
				{{ form_rest(reviewForm) }}
			</div>

			{{ form_end(reviewForm) }}
		{% endif %}
		</div>

	</div>
