{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
	<h2>
		Budget - Living Expenses
		<small class="pull-right">Step 1 of 1</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	<div class="form-group">
		<table class="table table-bordered table-budget">
			<thead>
				{# livingExpensesCostItems variable must be defined for the block #}
				{% block living_expenses_table_header %}{% endblock %}
			</thead>

			<tbody>
			{#{% for date, livingExpense in livingExpenses.rows %}#}
			{% for index in form.itineraryIndexes %}
				{% block living_expenses_table_body_row %}{% endblock %}
			{% endfor %}
			</tbody>

			<tfoot>
				{% block living_expenses_table_footer %}{% endblock %}
			</tfoot>
		</table>

		<div class="text-right">
			{{ form_widget(form.calculate, { 'attr': {'class': 'btn btn-info'} }) }}
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.livingExpenseExceptions) }}
		{{ form_widget(form.livingExpenseExceptions, { 'attr': {'class': 'form-control'} }) }}
	</div>

	{###########################  Ground Transport Estimates #################################}
	<h3 class="fieldset__subtitle">
		{% trans %}Estimated Ground Transportation cost over full Specialist assignment{% endtrans %}
	</h3>

	<div class="form-group">
		<table class="table table-bordered table-budget">
			<thead>
			<tr class="header headers-center lighter-blue-bg">
				<th id="living_expense_item">
					{% trans %}Description{% endtrans %}
				</th>
				<th id="living_expense_total_cost" class="label__required">
					{% trans %}Total cost{% endtrans %}
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td headers="living_expense_item">
					{{ form.contributionGroundTransport.vars.value.costItem.description }}
				</td>
				<td headers="living_expense_total_cost" class="text-right">
					{{ form_widget(form.contributionGroundTransport.totalCost, {'attr': {'class': 'form-control masked'}}) }}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script>
		jQuery(function ($) {
			// $ format for fields
			$('.table-budget .masked')
					.maskMoney({
						'prefix': '$',
						'precision': 0,
						'allowZero': true
					})
					.maskMoney('mask');
		});
	</script>
{% endblock %}
