{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
	<h2>
		Budget - Contributions towards Living Expenses
		<small class="pull-right">Step 1 of 1</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}

	{% if errorsLE.costs is defined and errorsLE.costs > 0 or errorsGT.costs is defined and errorsGT.costs %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{% if errorsLE.totals is defined and errorsLE.totals > 0 or errorsGT.totals is defined and errorsGT.totals > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{% for livingExpense in phaseBudget.livingExpenseEstimates %}
		<h3 class="fieldset__subtitle">
			{% trans %}Contributions for {% endtrans %} {{ livingExpense.inCountryAssignment.city }}
			({{ livingExpense.inCountryAssignment.country.name }})
		</h3>

		<div class="form-group">
			<table class="table table-bordered table-budget">
				<thead>
				{% block contribution_living_expenses_table_header %}{% endblock %}
				</thead>

				<tbody>
				{% for contributionLivingExpenseCostItem in form.contributionLivingExpenses[0].contributionLivingExpenseCostItems %}
					{% if contributionLivingExpenseCostItem.vars.value.livingExpenseCostItem.livingExpense.inCountryAssignment.city  == livingExpense.inCountryAssignment.city %}
						<tr{% if contributionLivingExpenseCostItem.vars.value.id in errorsLE.rows %} class="alert-danger"{% endif %}>
							{% block contribution_living_expenses_table_body_row %}{% endblock %}
						</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>

			<div class="text-right">
				<button class="btn btn-info" type="submit" name="contribution_living_expenses[calculate]" id="btn-calculate-{{ livingExpense.inCountryAssignment.city|replace({' ': '-'})|lower }}">{{ 'Calculate'|trans }}</button>
			</div>

		</div>
	{% endfor %}

	{###########################  Ground Transport Contributions #################################}
	<h3 class="fieldset__subtitle">
		{% trans %}Contributions to Ground Transportation{% endtrans %}
	</h3>

	<div class="form-group">
		<table class="table table-bordered table-budget">
			<thead>
			{{ block('contribution_living_expenses_table_header') }}
			</thead>

			<tbody>
			{% block contribution_ground_transport_table_body %}{% endblock %}
			</tbody>
		</table>

		<div class="text-right">
			<button class="btn btn-info" type="submit" name="contribution_living_expenses[calculate]" id="btn-calculate-ground-transport">{{ 'Calculate'|trans }}</button>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{# To enable masked entries for input fields in table #}
	<script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
	<script>
		jQuery(function ($) {
			// $ format for fields
			$('.table-budget .masked')
					.maskMoney({
						'prefix': '$',
						'precision': 0,
						'allowZero': true
					})
					.maskMoney('mask');

		});
	</script>
{% endblock %}
