{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
	<h2>
		Budget
		<small class="pull-right">Step 2 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}
    {% set fundedBy = phaseBudget.fundedBy %}

	<div class="form-group">
		<div class="summary-funded panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 mb-5">
						<strong>{% trans %}This proposal is requesting:{% endtrans %}</strong>
						{% if fundedBy == 'ECA' %}
							<span>{% trans %}Funding from ECA (in part or in full){% endtrans %}
						{% else %}
							<span>{% trans %}No funding from ECA{% endtrans %} </span>
						{% endif %}
						<div class="css-tooltip css-tooltip--right">
							<a href="{{ path('specialist_project_phase_budget_funded_by', {id: specialistProjectPhase.id}) }}"
							   class="btn btn-default ml-5 css-tooltip__trigger">
								{% trans %}Change{% endtrans %}
							</a>
							<div class="css-tooltip__content">
								<p>
									{% trans %}You will be re-directed back to the tables to review the fields
									required for the new
									funding. Your current values will be saved and the final totals will be
									automatically
									updated.{% endtrans %}
								</p>
							</div>
						</div>
					</div>
				</div>
				{% if phaseBudget.postFundingSource is not null %}
					<div class="row">
						<div class="col-md-12 mt-5">

							<small>
								<strong>{% trans %}Post funding source:{% endtrans %}</strong>
								<p>{{ phaseBudget.postFundingSource|nl2br }}</p>
							</small>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{%  if phaseBudget.budgetTotals.count %}
		<h3 class="fieldset__subtitle">{% trans %}Budget Summary{% endtrans %}</h3>
		<div class="summary-totals summary-budget summary-budget row">
			<div class="summary-item col-md-3">
				<div class="css-tooltip css-tooltip--right css-tooltip--block">
					<div class="title css-tooltip__trigger">{% trans %}Total entered costs (including Stipend){% endtrans %}</div>
					<div class="css-tooltip__content">
						{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
							{% trans %}Tooltip Content - Specialist entered costs - Review Budget{% endtrans %}
						{% else %}
							{% trans %}Tooltip Content - Specialist entered costs - Review Budget for Mixed{% endtrans %}
						{% endif %}
					</div>
				</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.fullCost|currency_format(0) }}</div>
			</div>
			<div class="operator col-md-1"> + </div>

			<div class="summary-item col-md-3">
				<div class="css-tooltip css-tooltip--right css-tooltip--block">
					<div class="title css-tooltip__trigger">{% trans %}Total fixed costs{% endtrans %}</div>
					<div class="css-tooltip__content">
						{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
							{% trans %}Tooltip Content - Specialist fixed costs - Review Budget{% endtrans %}
						{% else %}
							{% trans %}Tooltip Content - Specialist fixed costs - Review Budget for Mixed{% endtrans %}
						{% endif %}
					</div>
				</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.global|currency_format(0) }}</div>
			</div>
			<div class="operator col-md-1"> =</div>

			<div class="summary-item col-md-4">
				<div class="title">{% trans %}Total cost{% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.total|currency_format(0) }}</div>
			</div>
		</div>

		<h3 class="fieldset__subtitle">{{ 'Contributions'|trans }}</h3>
		<div class="summary-totals summary-budget row">
			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total Post contribution{% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.postTotalContribution|currency_format(0) }}</div>
			</div>

			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total Partnering Organization contribution (monetary){% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.hostContributionMonetary|currency_format(0) }}</div>
			</div>

			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total Partnering Organization contribution (in-kind){% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.hostContributionInKind|currency_format(0) }}</div>
			</div>

			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total ECA contribution{% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.ecaTotalContribution|currency_format(0) }}</div>
			</div>
		</div>

		<h3 class="fieldset__subtitle">
			{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
				{% trans %}Stipend, Pre- and Post-work days{% endtrans %}
			{% else %}
				{% trans %}Stipend for In-Country Activities{% endtrans %}
			{% endif %}
		</h3>
		<table class="table table-bordered table-budget">
			<thead>
			<tr class="header headers-center lighter-blue-bg">
				<th id="flexible_desc">{% trans %}Name{% endtrans %}</th>
				<th id="flexible_days">{% trans %}Number of days{% endtrans %}</th>
				<th id="flexible_rate">{% trans %}Rate per day{% endtrans %}</th>
				<th id="flexible_total">{% trans %}Total cost{% endtrans %}</th>
			</tr>
			</thead>

			<tbody>
			{% if dailyCosts|length %}
				{% for name, dailyCost in dailyCosts %}
					<tr>
						<td headers="flexible_desc">{{ name|replace({' (per day)': ''}) }}</td>
						<td headers="flexible_desc" class="text-right">{{ dailyCost[0] }}</td>
						<td headers="flexible_desc" class="text-right">{{ dailyCost[1]|currency_format(0) }}</td>
						<td headers="flexible_desc" class="text-right">{{ dailyCost[2]|currency_format(0) }}</td>
					</tr>
				{% endfor %}
				<tr>
					<th colspan="3" class="text-right no-border">{% trans %}Total{% endtrans %}</th>
					<th class="text-right no-border">{{ (phaseBudget.budgetTotals.first.dailyGlobal + phaseBudget.budgetTotals.first.prePostWork)|currency_format(0) }}</th>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">{% trans %}Not daily costs defined{% endtrans %}</td>
				</tr>
			{% endif %}
			</tbody>
		</table>

		{% if specialistProjectPhase.type != constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
			<h3 class="fieldset__subtitle">{% trans %}Stipend for Virtual Activities{% endtrans %}</h3>
			<table class="table table-bordered table-budget">
				<thead>
				<tr class="header headers-center lighter-blue-bg">
					<th id="flexible_days">{% trans %}Number of hours{% endtrans %}</th>
					{% set hours = stipendCosts.item.periodicity %}
					<th id="flexible_rate">{% trans %}Rate per hour{% endtrans %}</th>
					<th id="flexible_total">{% trans %}Total Stipend{% endtrans %}</th>
				</tr>
				</thead>

				<tbody>
				<tr>
					<td headers="flexible_desc" class="text-right">{{ stipendCosts['hours'] }}</td>
					<td headers="flexible_desc" class="text-right">{{ (stipendCosts.item.defaultValue / stipendCosts.item.periodicity)|currency_format(2) }}</td>
					<td headers="flexible_desc" class="text-right">{{ stipendCosts.total|currency_format(0) }}</td>
				</tr>
				</tbody>
			</table>
		{% endif %}

	{% endif %}

	<h3 class="fieldset__subtitle">{% trans %}Living Expenses{% endtrans %}
		<a href="{{ path('specialist_project_phase_budget_living_expense_estimates', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">Edit</a>
	</h3>

	<table class="table table-bordered table-budget">
		<thead>
		<tr class="header headers-center lighter-blue-bg">
			<th id="daily_cost_date">{% trans %}Date{% endtrans %}</th>
			<th id="daily_cost_city">{% trans %}City{% endtrans %}</th>
			{% for expenseItem in livingExpensesCostItems %}
				<th id="daily_cost_{{ loop.index }}">{{ expenseItem.description }}</th>
			{% endfor %}
			<th id="daily_cost_total">{% trans %}Total{% endtrans %}</th>
		</tr>
		</thead>

		<tbody>
		{% for date, livingExpense in livingExpenses.rows %}
			<tr>
				<td headers="daily_cost_date">{{ date|date('l, F d, Y') }}</td>
				{% if livingExpense %}
					<td headers="daily_cost_city">{{ livingExpense.city.city }}</td>
					{% for expenseItem in livingExpensesCostItems %}
						<td headers="daily_cost_{{ loop.index }}" class="text-right">
							{{ livingExpense[expenseItem.description]|currency_format(0) }}
						</td>
					{% endfor %}
					<td headers="daily_cost_total" class="text-right">{{ livingExpense.total|currency_format(0) }}</td>
				{% else %}
					<td headers="daily_cost_city"></td>
					{% for expenseItem in livingExpensesCostItems %}
						<td headers="daily_cost_{{ loop.index }}"></td>
					{% endfor %}
					<td headers="daily_cost_total"></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>

		<tfoot>
		<tr>
			<th colspan="{{ livingExpensesCostItems|length }}" class="text-right no-border">{% trans %}Totals{% endtrans %}</th>
			{% for expenseItem in livingExpensesCostItems %}
				<th  class="text-right no-border">
					{% if loop.index > 1 %}
						<span class="pull-left budget-totals-icon" aria-hidden="true">+</span>
					{% endif %}
					{{ totals[expenseItem.description]|currency_format(0) }}
				</th>
			{% endfor %}
			<th class="text-right no-border">
				<span class="pull-left budget-totals-icon" aria-hidden="true">=</span>
				{{ livingExpenses.total|currency_format(0) }}
			</th>
		</tr>
		</tfoot>
	</table>

	{% if phaseBudget.livingExpenseExceptions is not null %}
		<h4 class="fieldset__subtitle">Are there any days when the Specialist will not need the Lodging allowance, for example because of overnight travel on a plane or train?  Please specify below, identifying day, city and reason.  In these instances, the Lodging amount will be adjusted accordingly when the Agreement is drawn up.</h4>
		<p class="body-font-small">{{phaseBudget.livingExpenseExceptions|nl2br}}</p>
	{% endif %}

	{% if phaseBudget.contributionGroundTransport %}
		<h4 class="fieldset__subtitle">
			{% trans %}Estimated Ground Transportation cost over full Specialist assignment{% endtrans %}
		</h4>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<table class="table table-bordered table-budget">
					<thead>
					<tr class="header headers-center lighter-blue-bg">
						<th id="living_expense_item">
							{% trans %}Description{% endtrans %}
						</th>
						<th id="living_expense_total_cost" class="label__required">
							{% trans %}Total cost{% endtrans %}
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td headers="living_expense_item">
							{{ phaseBudget.contributionGroundTransport.costItem.description }}
						</td>
						<td headers="living_expense_total_cost" class="text-right">
							{{ phaseBudget.contributionGroundTransport.totalCost|currency_format(0) }}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

	{% endif %}

	<h3 class="fieldset__subtitle">{% trans %}Contribution towards Living Expenses{% endtrans %}
		<a href="{{ path('specialist_project_phase_budget_living_expenses', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
	</h3>

	{% if errors['livingExpenses'].costs is defined and errors['livingExpenses'].costs > 0
		or errors['groundTransport'].costs is defined and errors['groundTransport'].costs > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{% if errors['livingExpenses'].totals is defined and errors['livingExpenses'].totals > 0
	or errors['groundTransport'].totals is defined and errors['groundTransport'].totals > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{% for livingExpense in phaseBudget.livingExpenseEstimates %}
			<h4 class="fieldset__subtitle">
				{% trans %}Contributions for{% endtrans %} {{ livingExpense.inCountryAssignment.city }} ({{ livingExpense.inCountryAssignment.country.name }})
			</h4>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-bordered mt-5">
						<thead>
						{% block contribution_living_expenses_table_header %}{% endblock %}
						</thead>
						<tbody>
						{% for livingExpenseCostItem in livingExpense.livingExpenseCostItems %}

							{% set contributionCostItem = livingExpenseCostItem.contributionLivingExpenseCostItem %}

							{% include 'project/specialist/wizard/budget/contribution_le_table_row.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'living_expenses', 'errors': errors['livingExpenses']} %}
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endfor %}

	{% if phaseBudget.contributionGroundTransport %}
		{% set contributionCostItem = phaseBudget.contributionGroundTransport %}
		<h4 class="fieldset__subtitle">
			{% trans %}Contributions for{% endtrans %} {{ contributionCostItem.CostItem.description }}
		</h4>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<table class="table table-bordered mt-5">
					<thead>
					{{ block('contribution_living_expenses_table_header') }}
					</thead>
					<tbody>
						{% include 'project/specialist/wizard/budget/contribution_table_row.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'groung_transport', 'errors': errors['groundTransport']} %}
					</tbody>
				</table>
			</div>
		</div>
	{% endif %}

	<h3 class="fieldset__subtitle">
		{% trans %}Transportation between cities of assignment &#40;if applicable&#41;{% endtrans %}

		<a href="{{ path('specialist_project_phase_budget_contribution_transportation', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
	</h3>

	{% if errors['transportation'].costs is defined and errors['transportation'].costs > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{% if errors['transportation'].totals is defined and errors['transportation'].totals > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-bordered mt-5">
						<thead>
						{% include ':project/specialist/wizard/budget:transportation_table_header.html.twig' with {'fundedBy': fundedBy} %}
						</thead>
						<tbody>
						{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
						{% if phaseBudget.contributionTransportation != null %}
							{% set contributionCostItems = phaseBudget.contributionTransportation.transportationCostItems %}
							{% set totals = phaseBudget.contributionTransportation.calculateSummaryTotals %}

							{% include ':project/specialist/wizard/budget:transportation_table_body.html.twig' with {'fundedBy': fundedBy, 'totals': totals, 'errors': errors['transportation']} %}
						{% else %}

						{% endif %}
						</tbody>
					</table>
				</div>
			</div>

			<h3 class="fieldset__subtitle">
				{% trans %}One-time costs for all locations &#40;if applicable&#41;{% endtrans %}

				<a href="{{ path('specialist_project_phase_budget_contribution_one_time', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
			</h3>

		{% if errors['oneTime'].costs is defined and errors['oneTime'].costs > 0 %}
			<div class="alert alert-danger small">
				{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
			</div>
		{% endif %}

		{% if errors['oneTime'].totals is defined and errors['oneTime'].totals > 0 %}
			<div class="alert alert-danger small">
				{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
			</div>
		{% endif %}

		<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-bordered mt-5">
						<thead>
						{% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': fundedBy, 'contributionType': 'one_time'} %}
						</thead>
						<tbody>
						{% if phaseBudget.contributionOneTime != null %}
							{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
							{% set contributionCostItems = phaseBudget.contributionOneTime.contributionOneTimeCostItems %}

							{% set totals = phaseBudget.contributionOneTime.calculateSummaryTotals %}

							{% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': fundedBy, 'contributionType': 'one_time', 'totals': totals, 'errors': errors['oneTime']} %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>

			<h3 class="fieldset__subtitle">
				{% trans %}Additional Program Activities Allowance{% endtrans %}
				<a href="{{ path('specialist_project_phase_budget_paa', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
			</h3>

			{% if errors['paa'].costs is defined and errors['paa'].costs > 0 %}
				<div class="alert alert-danger small">
					{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
				</div>
			{% endif %}

			{% if errors['paa'].totals is defined and errors['paa'].totals > 0 %}
				<div class="alert alert-danger small">
					{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
				</div>
			{% endif %}

	{# Program Activities Allowance #}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-bordered mt-5">
						<thead>
						{% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': fundedBy, 'contributionType': 'paa'} %}
						</thead>
						<tbody>
						{% if phaseBudget.programActivitiesAllowance is not null %}
							{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
							{% set contributionCostItems = phaseBudget.programActivitiesAllowance.programActivitiesAllowanceCostItems %}

							{% set totals = phaseBudget.programActivitiesAllowance.calculateSummaryTotals %}

							{% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': fundedBy, 'contributionType': 'paa', 'totals': totals, 'errors': errors['paa']} %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

{% endblock %}
