{% extends ':project/common:base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}

    {% if errors.costs is defined and errors.costs > 0 %}
        <div class="alert alert-danger small">
            {% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
        </div>
    {% endif %}

    {% if errors.totals is defined and errors.totals > 0 %}
        <div class="alert alert-danger small">
            {% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
        </div>
    {% endif %}

    {% if(specialistProjectPhase.type == 'virtual') %}

        <h3 class="fieldset__subtitle">
            {% trans %}Requested Program Activities Allowance{% endtrans %}
        </h3>

        <div class="form-group">
            <p>By default Virtual Specialist do not receive PAA.<br>
                If the Specialist will need a PAA, please describe the item and the cost,
                and indicate the amount post/Partnering Organization will contribute to that cost.</p>
        </div>
    {% else %}

        <h3 class="fieldset__subtitle">
            {% trans %}Additional Program Activities Allowance{% endtrans %}
        </h3>

        <div class="form-group">
            <p>By default, specialists are given a program activities allowance (PAA) in accordance with the length of their assignment.</p>
            <p>The PAA for this assignment will be: <strong>{{ globalPAA.defaultValue|currency_format(0) }}</strong></p>
            <p>If the specialist will need more PAA, please describe the item and the cost and indicate the amount post/Partnering Organization will contribute to that cost.</p>
        </div>
    {% endif %}

    <div class="form-group">
        <table class="table table-bordered table-budget">
            <thead>
            {% block contribution_paa_table_header %}{% endblock %}
            </thead>
            <tbody>
            {# @var paaCostItem \AppBundle\Entity\Specialist\Budget\Contribution\ProgramActivitiesAllowanceCostItem #}
            {% for paaCostItem in form.programActivitiesAllowanceCostItems %}
                <tr{% if paaCostItem.vars.value.id in errors.rows %} class="alert-danger"{% endif %}>
                    {% block contribution_paa_table_body_row %}{% endblock %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            {{ form_widget(form.calculate, { 'attr': {'class': 'btn btn-info'} }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script>
        jQuery(function ($) {
            // $ format for fields
            $('.table-budget .masked').maskMoney({'prefix': '$', 'precision': 0, 'allowZero': true}).maskMoney('mask');
        });
    </script>
{% endblock %}
