{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget - One Time Costs
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}

    {% if errors.costs is defined and errors.costs > 0 %}
        <div class="alert alert-danger small">
            {% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
        </div>
    {% endif %}

    {% if errors.totals is defined and errors.totals > 0 %}
        <div class="alert alert-danger small">
            {% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
        </div>
    {% endif %}

    <h3 class="fieldset__subtitle">
        {% trans %}One-time costs for all locations &#40;if applicable&#41;{% endtrans %}
    </h3>

    <div class="form-group">
        <table class="table table-bordered table-budget">
            <thead>
            {% block contribution_one_time_table_header %}{% endblock %}
            </thead>
            <tbody>
            {# @var contributionTransportationCostItem TransportationCostItem  #}
            {% for contributionOneTimeCostItem in form.contributionOneTimeCostItems %}
                <tr{% if contributionOneTimeCostItem.vars.value.id in errors.rows %} class="alert-danger"{% endif %}>
                    {% block contribution_one_time_table_body_row %}{% endblock %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            {{ form_widget(form.additional, { 'attr': {'class': 'btn btn-info'} }) }}
            {{ form_widget(form.calculate, { 'attr': {'class': 'btn btn-info'} }) }}
        </div>
    </div>

    {{ form_widget(form.costItemToDeleteId) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# To enable masked entries for input fields in table #}
    <script defer src="{{ asset('dist/scripts/jquery-maskmoney.js') }}"></script>
    <script>
        jQuery(function ($) {
            // $ format for fields
            $('.table-budget .masked')
                    .maskMoney({
                        'prefix': '$',
                        'precision': 0,
                        'allowZero': true
                    })
                    .maskMoney('mask');

            // Delete link action
            $('.link-delete-cost-item').click(function (e) {
                e.preventDefault();

                var contributionOneTimeCostItemId = $(this).data('contribution-one-time-id');

                if (confirm('{% trans %}Do you really want to delete this cost item?{% endtrans %}')) {
                    $('#contribution_one_time_costItemToDeleteId').val(contributionOneTimeCostItemId);
                    $('#contribution_one_time_calculate').trigger('click');
                }
            });
        });
    </script>
{% endblock %}
