{% if 'ECA' == fundedBy %}
    <tr class="header headers-center lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_item">
            {% trans %}Item{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_cost">
            {% trans %}Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_host_contribution" colspan="4">
            {% trans %}Post/Partnering Organization Contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_eca_contribution">
            {% trans %}ECA Contribution{% endtrans %}
        </th>
    </tr>
    <tr class="subheader lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_description" class="col-lg-2">
            {% trans %}Description{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_estimated_cost" class="col-lg-1">
            {% trans %}Estimated Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_contribution" class="col-lg-1">
            {% trans %}Post contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_monetary" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_in_kind" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_host_total_contribution" class="col-lg-1">
            {% trans %}Total Post and Partnering Organization contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_eca_total_contribution" class="col-lg-1">
            {% trans %}Total ECA contribution{% endtrans %}
        </th>
    </tr>
{% elseif 'Post' == fundedBy %}
    <tr class="header headers-center lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_item">
            {% trans %}Item{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_cost">
            {% trans %}Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution" colspan="3">
            {% trans %}Partnering Organization Contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_contribution">
            {% trans %}Post Contribution{% endtrans %}
        </th>
    </tr>
    <tr class="subheader lighter-blue-bg">
        <th id="contribution_{{ contributionType }}_description" class="col-lg-2">
            {% trans %}Description{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_estimated_cost" class="col-lg-1">
            {% trans %}Estimated Cost{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_monetary" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_contribution_in_kind" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_host_total_contribution" class="col-lg-1">
            {% trans %}Total Partnering Organization contribution{% endtrans %}
        </th>
        <th id="contribution_{{ contributionType }}_post_total_contribution" class="col-lg-1">
            {% trans %}Total Post contribution{% endtrans %}
        </th>
    </tr>
{% endif %}
