{% if 'ECA' == fundedBy %}
	{% if contributionCostItem is not empty %}
		<tr{% if contributionCostItem.id in errors.rows %} class="alert-danger"{% endif %}>
			<td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description">
				{{ contributionCostItem.livingExpenseCostItem.costItem.description }}
			</td>
			<td headers="contribution_{{ contributionType }}_cost contribution_{{ contributionType }}_estimated_cost"
				class="text-right">
				{{ contributionCostItem.totalCost|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_post_contribution"
				class="text-right">
				{{ contributionCostItem.postContribution|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_po_contribution_monetary"
				class="text-right">
				{{ contributionCostItem.hostContributionMonetary|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_po_contribution_in_kind"
				class="text-right">
				{{ contributionCostItem.hostContributionInKind|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_post_po_total_contribution"
				class="text-right">
				{{ contributionCostItem.postHostTotalContribution|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_eca_contribution contribution_{{ contributionType }}_eca_total_contribution"
				class="text-right">
				{{ contributionCostItem.ecaTotalContribution|currency_format(0) }}
			</td>
		</tr>
	{% endif %}
{% elseif 'Post' == fundedBy %}
	{% if contributionCostItem is not empty %}
		<tr{% if contributionCostItem.id in errors.rows %} class="alert-danger"{% endif %}>
			<td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description">
				{{ contributionCostItem.livingExpenseCostItem.costItem.description }}
			</td>
			<td headers="contribution_{{ contributionType }}_cost contribution_{{ contributionType }}_estimated_cost"
				class="text-right">
				{{ contributionCostItem.totalCost|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_contribution_monetary"
				class="text-right">
				{{ contributionCostItem.hostContributionMonetary|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_contribution_in_kind"
				class="text-right">
				{{ contributionCostItem.hostContributionInKind|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_total_contribution"
				class="text-right">
				{{ contributionCostItem.postHostTotalContribution|currency_format(0) }}
			</td>
			<td headers="contribution_{{ contributionType }}_post_contribution contribution_{{ contributionType }}_post_total_contribution"
				class="text-right">
				{{ contributionCostItem.postTotalContribution|currency_format(0) }}
			</td>
		</tr>
	{% endif %}
{% endif %}
