{% if 'ECA' == fundedBy %}
    {% if contributionCostItems is not empty %}
        {% for contributionCostItem in contributionCostItems %}
            <tr{% if contributionCostItem.id in errors.rows %} class="alert-danger"{% endif %}>
                <td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description">
                    {% if contributionCostItem.costItem is not null %}
                        {{ contributionCostItem.costItem.description|nl2br }}
                    {% endif %}
                </td>
                <td headers="contribution_{{ contributionType }}_cost contribution_{{ contributionType }}_estimated_cost" class="text-right">
                    {{ contributionCostItem.totalCost|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_post_contribution" class="text-right">
                    {{ contributionCostItem.postContribution|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_po_contribution_monetary" class="text-right">
                    {{ contributionCostItem.hostContributionMonetary|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_po_contribution_in_kind" class="text-right">
                    {{ contributionCostItem.hostContributionInKind|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_post_po_total_contribution" class="text-right">
                    {{ contributionCostItem.postHostTotalContribution|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_eca_contribution contribution_{{ contributionType }}_eca_total_contribution" class="text-right">
                    {{ contributionCostItem.ecaTotalContribution|currency_format(0) }}
                </td>
            </tr>
        {% endfor %}
        <tr class="totals-row totals-cell">
            <td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description" class="text-right">
                {{ 'Totals'|trans }}
            </td>
            <td headers="contribution_{{ contributionType }}_cost contribution_{{ contributionType }}_estimated_cost" class="text-right">
                {{ totals.cost|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_post_contribution" class="text-right">
                {{ totals.post|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_po_contribution_monetary" class="text-right">
                {{ totals.hostMonetary|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_po_contribution_in_kind" class="text-right">
                {{ totals.hostInKind|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_post_po_contribution contribution_{{ contributionType }}_post_po_total_contribution" class="text-right">
                {{ totals.postHostTotal|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_eca_contribution contribution_{{ contributionType }}_eca_total_contribution" class="text-right">
                {{ totals.ecaTotal|currency_format(0) }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description" colspan="7">
                {% trans %}There are no contributions.{% endtrans %}
            </td>
        </tr>
    {% endif %}
{% elseif 'Post' == fundedBy %}
    {% if contributionCostItems is not empty %}
        {% for contributionCostItem in contributionCostItems %}
            <tr{% if contributionCostItem.id in errors.rows %} class="alert-danger"{% endif %}>
                <td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description">
                    {% if contributionCostItem.costItem is not null %}
                        {{ contributionCostItem.costItem.description|nl2br }}
                    {% endif %}
                </td>
                <td headers="contribution_{{ contributionType }}_cost contribution_{{ contributionType }}_estimated_cost" class="text-right">
                    {{ contributionCostItem.totalCost|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_contribution_monetary" class="text-right">
                    {{ contributionCostItem.hostContributionMonetary|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_contribution_in_kind" class="text-right">
                    {{ contributionCostItem.hostContributionInKind|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_total_contribution" class="text-right">
                    {{ contributionCostItem.postHostTotalContribution|currency_format(0) }}
                </td>
                <td headers="contribution_{{ contributionType }}_post_contribution contribution_{{ contributionType }}_post_total_contribution" class="text-right">
                    {{ contributionCostItem.postTotalContribution|currency_format(0) }}
                </td>
            </tr>
        {% endfor %}
        <tr class="totals-row totals-cell">
            <td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description" class="text-right">
                {{ 'Totals'|trans }}
            </td>
            <td headers="contribution_{{ contributionType }}_cost contribution_{{ contributionType }}_estimated_cost" class="text-right">
                {{ totals.cost|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_contribution_monetary" class="text-right">
                {{ totals.hostMonetary|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_contribution_in_kind" class="text-right">
                {{ totals.hostInKind|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_po_contribution contribution_{{ contributionType }}_po_total_contribution" class="text-right">
                {{ totals.postHostTotal|currency_format(0) }}
            </td>
            <td headers="contribution_{{ contributionType }}_post_contribution contribution_{{ contributionType }}_post_total_contribution" class="text-right">
                {{ totals.postTotal|currency_format(0) }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td headers="contribution_{{ contributionType }}_item contribution_{{ contributionType }}_description" colspan="6">
                {% trans %}There are no contributions.{% endtrans %}
            </td>
        </tr>
    {% endif %}
{% endif %}
