{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Budget
        <small class="pull-right">Step 1 of 2</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <fieldset>
            <legend>
                <span class="label__required">{% trans %}This proposal will be funded by:{% endtrans %}</span><br>
                <small class="text-success">{% trans %}(If unsure, select <b>ECA</b>){% endtrans %}</small>
            </legend>
            {{ form_widget(form.fundedBy, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.fundedBy) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            <label for="funded_by_postFundingSource">
                {% trans %}Post funding source:{% endtrans %}
            </label>
            {{ form_errors(form.postFundingSource) }}
            {{ form_widget(form.postFundingSource, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
{% endblock %}
