{% extends 'project/specialist/wizard/budget/base_living_expenses.html.twig' %}

{% block living_expenses_table_header %}
	<tr class="header headers-center lighter-blue-bg">
		<th id="daily_cost_date">{% trans %}Date{% endtrans %}</th>
		<th id="daily_cost_city">{% trans %}City{% endtrans %}</th>
		{% for expenseItem in livingExpensesCostItems %}
			<th id="daily_cost_{{ loop.index }}">{{ expenseItem.description }}</th>
		{% endfor %}
		<th id="daily_cost_total">{% trans %}Total{% endtrans %}</th>
	</tr>
{% endblock %}

{% block living_expenses_table_body_row %}
	<tr>
		<td headers="daily_cost_date">
			{{ index.vars.value.date|date('l, F d, Y') }}
			{#{{ form_widget(index.setWay) }}#}
			<div class="hidden">{{ form_widget(index.date) }}</div>
		</td>
		{% set idx = index.vars.value.date|date('U') %}
		{% if livingExpenses['rows'][idx] %}
			<td headers="daily_cost_city">
				{{ form_widget(index.inCountryAssignment) }}
				{#{{ form_widget(index.oldInCountryAssignment) }}#}
			</td>
			{% for expenseItem in livingExpensesCostItems %}
				<td headers="daily_cost_{{ loop.index }}" class="text-right">
					{{ livingExpenses.rows[idx][expenseItem.description]|currency_format(0) }}
				</td>
			{% endfor %}
			<td headers="daily_cost_total" class="text-right">{{ livingExpenses['rows'][idx]['total']|currency_format(0) }}</td>
		{% else %}
			<td headers="daily_cost_city"></td>
			{% for expenseItem in livingExpensesCostItems %}
				<td headers="daily_cost_{{ loop.index }}"></td>
			{% endfor %}
			<td headers="daily_cost_total"></td>
		{% endif %}
	</tr>
{% endblock %}

{% block living_expenses_table_footer %}
	<tr>
		<th colspan="{{ livingExpensesCostItems|length }}" class="text-right no-border">{% trans %}Totals{% endtrans %}</th>
		{% for expenseItem in livingExpensesCostItems %}
			<th  class="text-right no-border">
				{% if loop.index > 1 %}
					<span class="pull-left budget-totals-icon" aria-hidden="true">+</span>
				{% endif %}
				{{ totals[expenseItem.description]|currency_format(0) }}
			</th>
		{% endfor %}
		<th class="text-right no-border">
			<span class="pull-left budget-totals-icon" aria-hidden="true">=</span>
			{{ livingExpenses.total|currency_format(0) }}
		</th>
	</tr>
{% endblock %}
