{% if contributionCostItems is not empty %}
    {# @var contributionCostItem \AppBundle\Entity\Specialist\Budget\Contribution\TransportationCostItem #}
    {% for contributionCostItem in contributionCostItems %}
        <tr>
            <td headers="contribution_transportation_travel_info contribution_transportation_description">
                {% if contributionCostItem.travel is not null %}
                    {{ contributionCostItem.travel.origin.city }} to {{ contributionCostItem.travel.destination.city }}
                {% endif %}
            </td>
            <td headers="contribution_transportation_travel_info contribution_transportation_date">
                {% if contributionCostItem.travel is not null %}
                    {{ contributionCostItem.travel.date|date('F d, Y') }}
                {% endif %}
            </td>
            <td headers="contribution_transportation_travel_info contribution_transportation_booking_responsibility">
                {% if contributionCostItem.travel is not null %}
                    {{ contributionCostItem.travel.bookingResponsible|title }}
                {% endif %}
            </td>
            <td headers="contribution_transportation_travel_info contribution_transportation_mode">
                {% if contributionCostItem.travel is not null %}
                    {{ contributionCostItem.travel.mode }}
                {% endif %}
            </td>
            <td headers="contribution_transportation_cost contribution_transportation_estimated_cost"
                class="text-right">
                {{ contributionCostItem.totalCost|currency_format(0) }}
            </td>
            {% if 'ECA' == fundedBy %}
                <td headers="contribution_transportation_post_host_contribution contribution_transportation_post_contribution" class="text-right">
                    {{ contributionCostItem.postContribution|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_post_host_contribution contribution_transportation_host_contribution_monetary" class="text-right">
                    {{ contributionCostItem.hostContributionMonetary|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_post_host_contribution contribution_transportation_host_contribution_in_kind" class="text-right">
                    {{ contributionCostItem.hostContributionInKind|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_post_host_contribution contribution_transportation_post_host_total_contribution" class="text-right">
                    {{ contributionCostItem.postHostTotalContribution|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_eca_contribution contribution_transportation_eca_total_contribution" class="text-right">
                    {{ contributionCostItem.ecaTotalContribution|currency_format(0) }}
                </td>
            {% elseif 'Post' == fundedBy %}
                <td headers="contribution_transportation_host_contribution contribution_transportation_host_contribution_monetary" class="text-right">
                    {{ contributionCostItem.hostContributionMonetary|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_host_contribution contribution_transportation_host_contribution_in_kind" class="text-right">
                    {{ contributionCostItem.hostContributionInKind|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_host_contribution contribution_transportation_host_total_contribution" class="text-right">
                    {{ contributionCostItem.postHostTotalContribution|currency_format(0) }}
                </td>
                <td headers="contribution_transportation_post_contribution contribution_transportation_post_total_contribution" class="text-right">
                    {{ contributionCostItem.postTotalContribution|currency_format(0) }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr class="totals-row totals-cell">
        <td headers="contribution_transportation_travel_info contribution_transportation_description" class="text-right" colspan="4">
            {{ 'Totals'|trans }}
        </td>
        <td headers="contribution_transportation_cost contribution_transportation_estimated_cost" class="text-right">
            {{ totals.cost|currency_format(0) }}
        </td>
        {% if 'ECA' == fundedBy %}
            <td headers="contribution_transportation_post_host_contribution contribution_transportation_post_contribution" class="text-right">
                {{ totals.post|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_post_host_contribution contribution_transportation_host_contribution_monetary" class="text-right">
                {{ totals.hostMonetary|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_post_host_contribution contribution_transportation_host_contribution_in_kind" class="text-right">
                {{ totals.hostInKind|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_post_host_contribution contribution_transportation_post_host_total_contribution" class="text-right">
                {{ totals.postHostTotal|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_eca_contribution contribution_transportation_eca_total_contribution" class="text-right">
                {{ totals.ecaTotal|currency_format(0) }}
            </td>
        {% elseif 'Post' == fundedBy %}
            <td headers="contribution_transportation_host_contribution contribution_transportation_host_contribution_monetary" class="text-right">
                {{ totals.hostMonetary|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_host_contribution contribution_transportation_host_contribution_in_kind" class="text-right">
                {{ totals.hostInKind|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_host_contribution contribution_transportation_host_total_contribution" class="text-right">
                {{ totals.postHostTotal|currency_format(0) }}
            </td>
            <td headers="contribution_transportation_post_contribution contribution_transportation_post_total_contribution" class="text-right">
                {{ totals.postTotal|currency_format(0) }}
            </td>
        {% endif %}
    </tr>
{% else %}
    <td headers="contribution_transportation_travel_info contribution_transportation_description" colspan="{% if 'ECA' == fundedBy %}10{% elseif 'Post' == fundedBy %}9{% endif %}">
        {% trans %}There are no contributions.{% endtrans %}
    </td>
{% endif %}
