<tr class="header headers-center lighter-blue-bg">
    <th id="contribution_transportation_travel_info" colspan="4">
        {% trans %}Travel Info{% endtrans %}
    </th>
    <th id="contribution_transportation_cost">
        {% trans %}Cost{% endtrans %}
    </th>
    {% if 'ECA' == fundedBy %}
        <th id="contribution_transportation_post_host_contribution" colspan="4">
            {% trans %}Post/Partnering Organization Contribution{% endtrans %}
        </th>
        <th id="contribution_transportation_eca_contribution">
            {% trans %}ECA Contribution{% endtrans %}
        </th>
    {% elseif 'Post' == fundedBy %}
        <th id="contribution_transportation_host_contribution" colspan="3">
            {% trans %}Partnering Organization Contribution{% endtrans %}
        </th>
        <th id="contribution_transportation_post_contribution">
            {% trans %}Post Contribution{% endtrans %}
        </th>
    {% endif %}
</tr>
<tr class="subheader lighter-blue-bg">
    <th id="contribution_transportation_description" class="col-lg-2">
        {% trans %}Description{% endtrans %}
    </th>
    <th id="contribution_transportation_date" class="col-lg-1">
        {% trans %}Date{% endtrans %}
    </th>
    <th id="contribution_transportation_booking_responsibility" class="col-lg-2">
        {% trans %}Booking responsibility{% endtrans %}
    </th>
    <th id="contribution_transportation_mode" class="col-lg-1">
        {% trans %}Mode{% endtrans %}
    </th>
    <th id="contribution_transportation_estimated_cost" class="col-lg-1">
        {% trans %}Estimated Cost{% endtrans %}
    </th>
    {% if 'ECA' == fundedBy %}
        <th id="contribution_transportation_post_contribution" class="col-lg-1">
            {% trans %}Post contribution{% endtrans %}
        </th>
        <th id="contribution_transportation_host_contribution_monetary" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_transportation_host_contribution_in_kind" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_transportation_post_host_total_contribution" class="col-lg-1">
            {% trans %}Total Post and Partnering Organization contribution{% endtrans %}
        </th>
        <th id="contribution_transportation_eca_total_contribution" class="col-lg-1">
            {% trans %}Total ECA contribution{% endtrans %}
        </th>
    {% elseif 'Post' == fundedBy %}
        <th id="contribution_transportation_host_contribution_monetary" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;monetary&#41;{% endtrans %}
        </th>
        <th id="contribution_transportation_host_contribution_in_kind" class="col-lg-1">
            {% trans %}Partnering Organization contribution &#40;in-kind&#41;{% endtrans %}
        </th>
        <th id="contribution_transportation_host_total_contribution" class="col-lg-1">
            {% trans %}Total Partnering Organization contribution{% endtrans %}
        </th>
        <th id="contribution_transportation_post_total_contribution" class="col-lg-1">
            {% trans %}Total Post contribution{% endtrans %}
        </th>
    {% endif %}
</tr>
