{% extends 'base.html.twig' %}

{% import 'project/common/macros.twig' as macros %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/styles/fellow-admin-menu.css') }}"/>
{% endblock %}

{% block body %}
    <button type="button" class="btn btn-primary pull-right btn-share" data-toggle="modal" data-target="#shareModal">
        {% trans %}Sharing options{% endtrans %}
    </button>

    {% include 'project/specialist/header.html.twig' %}

    <div class="panel">
        <div class="panel-body">
            {% include 'notifications.html.twig' %}

            <h2 class="text-center">Administration Panel</h2>

            <p class="text-center">Select an option below to manage your proposal.</p>

            <div class="container-fluid">
                <nav class="icon-nav-lg">
                    <ul class="nav">
                        {% if specialistProjectPhase.type == constant('VIRTUAL_TYPE', specialistProjectPhase) %}
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('General Information', path('specialist_project_title_region', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-general-information.png', 'Status') }}
                                {{ macros.specialistAdminLink('Points of Contact', path('specialist_project_phase_contact_points', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-points-contact.png', 'Status') }}
                                {{ macros.specialistAdminLink('Country or Cultural Considerations', path('specialist_project_phase_considerations', { id: specialistProjectPhase.id}), 'dist/images/icon-lg-cultural-considerations.png', 'Status') }}
                                {{ macros.specialistAdminLink('Certifications', path('specialist_project_phase_certifications', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-cert-goals.png', 'Status') }}
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('Candidate Information', path('specialist_project_phase_candidate_info', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-cand-certification.png', 'Status') }}
                                {{ macros.specialistAdminLink('Partnering Organizations', path('specialist_project_phase_partnering_organizations', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-partnering-organizations.jpg', 'Status') }}
                                {{ macros.specialistAdminLink('Goals, Impact, Deliverables, and Phases', path('specialist_project_phase_goals_sustainability', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-goals-sust.png', 'Status') }}
                                {{ macros.specialistAdminLink('Virtual Itinerary', path('specialist_project_phase_itinerary_virtual_dates', { id: specialistProjectPhase.id}), 'dist/images/icon-lg-duties.png', 'Status') }}

                            </ul>
                        </li>

                        <li>
                            <ul class="nav row">
                    {{ macros.specialistAdminLink('Budget', path('specialist_project_phase_budget_virtual_funded_by', {id: specialistProjectPhase.id}), 'dist/images/icon-lg-budget.png', 'Status') }}
                            </ul>
                        </li>
                        {% elseif specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
                        {# In country projects #}
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('General Information', path('specialist_project_title_region', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-general-information.png', 'Status') }}
                                {{ macros.specialistAdminLink('Points of Contact', path('specialist_project_phase_contact_points', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-points-contact.png', 'Status') }}
                                {{ macros.specialistAdminLink('General Information - Project requirements', path('specialist_project_phase_requirements', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-requirements.png', 'Status') }}
                                {{ macros.specialistAdminLink('Certifications', path('specialist_project_phase_certifications', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-cert-goals.png', 'Status') }}
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('Candidate Information', path('specialist_project_phase_candidate_info', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-cand-certification.png', 'Status') }}
                                {{ macros.specialistAdminLink('Partnering Organizations', path('specialist_project_phase_partnering_organizations', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-partnering-organizations.jpg', 'Status') }}
                                {{ macros.specialistAdminLink('In Country Itinerary', path('specialist_project_phase_itinerary_dates', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-day-to-day.png', 'Status') }}
                                {{ macros.specialistAdminLink('Pre- and Post- work', path('specialist_project_phase_pre_post_work', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-pre-post-work.png', 'Status') }}
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('Goals, Impact, Deliverables, and Phases', path('specialist_project_phase_goals_sustainability', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-goals-sust.png', 'Status') }}
                                {{ macros.specialistAdminLink('Budget', path('specialist_project_phase_budget_funded_by', {id: specialistProjectPhase.id}), 'dist/images/icon-lg-budget.png', 'Status') }}
                            </ul>
                        </li>

                        {% else %} {# mixed projects #}

                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('General Information', path('specialist_project_title_region', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-general-information.png', 'Status') }}
                                {{ macros.specialistAdminLink('Points of Contact', path('specialist_project_phase_contact_points', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-points-contact.png', 'Status') }}
                                {{ macros.specialistAdminLink('General Information - Project requirements', path('specialist_project_phase_requirements', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-requirements.png', 'Status') }}
                                {{ macros.specialistAdminLink('Certifications', path('specialist_project_phase_certifications', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-cert-goals.png', 'Status') }}
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('Candidate Information', path('specialist_project_phase_candidate_info', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-cand-certification.png', 'Status') }}
                                {{ macros.specialistAdminLink('Partnering Organizations', path('specialist_project_phase_partnering_organizations', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-partnering-organizations.jpg', 'Status') }}
                                {{ macros.specialistAdminLink('In Country Itinerary', path('specialist_project_phase_itinerary_dates', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-day-to-day.png', 'Status') }}
                                {{ macros.specialistAdminLink('Goals, Impact, Deliverables, and Phases', path('specialist_project_phase_goals_sustainability', { id: specialistProjectPhase.id }), 'dist/images/icon-lg-goals-sust.png', 'Status') }}
                            </ul>
                        </li>
                        <li>
                            <ul class="nav row">
                                {{ macros.specialistAdminLink('Virtual Itinerary', path('specialist_project_phase_itinerary_mixed_virtual_component', {id: specialistProjectPhase.id}), 'dist/images/icon-lg-duties.png', 'Status') }}
                                {{ macros.specialistAdminLink('Budget', path('specialist_project_phase_budget_funded_by', {id: specialistProjectPhase.id}), 'dist/images/icon-lg-budget.png', 'Status') }}
                            </ul>
                        </li>

                        {% endif %}
                    </ul>
                </nav>
            </div>

            {{ form_start(submitProjectForm) }}
            <div class="well text-center">
                <a href="{{ path('specialist_project_phase_show', { 'id': specialistProjectPhase.id }) }}" class="btn btn-lg btn-default mr-5">
                    {% trans %}Review proposal{% endtrans %}
                </a>

				{% if is_granted('delete', projectGeneralInfo) %}
                    <a href="{{ path('specialist_project_phase_confirm_delete', {'id': specialistProjectPhase.id}) }}" class="btn btn-lg btn-danger mr-5">
						{% trans %}Delete this Proposal{% endtrans %}
                    </a>
				{% endif %}

				{% if projectGeneralInfo.submittedBy == null %}
                    {{ form_widget(submitProjectForm.submitSpecialistProposal, { 'attr': {'class': 'btn btn-lg btn-success ml-5'} }) }}
                {% endif %}
            </div>
            {{ form_row(submitProjectForm._token) }}
            {{ form_end(submitProjectForm, {'render_rest': false}) }}
        </div>
    </div>

    {% include 'project/common/sharing_widget.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script defer>
        // This variable stores all Embassy and RELO users.
        var embassyRELOUsers = jQuery.parseJSON('{{ embassyRELOUsers|raw }}');
    </script>

    <script async src="{{ asset('dist/scripts/bootstrap3-typeahead.js') }}"></script>
{% endblock %}
