{% extends '::base.html.twig' %}

{% import 'project/common/macros.twig' as macros %}

{% block title %}Browse Specialist Proposals &#124; Proposal System{% endblock %}

{% block body %}
    {% set are_specialist_projects_phases = specialist_projects_phases is not empty %}

    <div class="widget-grid">
        <div class="row">
            {% if are_specialist_projects_phases %}
                <div class="col-md-3">
                    <div class="region region-content-left">
                        {{ form_start(filter_form, { 'attr': { 'novalidate': 'novalidate', 'class': 'filter' } }) }}

                        {{ form_widget(filter_form, { 'attr': { 'novalidate': 'novalidate', 'class': 'filter' } }) }}
                        {{ macros.justQueries(['sort', 'sortDirection', 'cycle']) }}

                        {{ form_end(filter_form) }}
                    </div>
                </div>
            {% endif %}

            {% set grid_cols = are_specialist_projects_phases ? 9 : 12 %}

            <div class="col-md-{{ grid_cols }} col-lg-{{ grid_cols }}">
                <h1>Browse Specialist Proposals</h1>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-offset-9 form-group inline-form col-sm-3">
                                {{ form_start(cycle_form, { 'attr': {'class': 'filter-year' }}) }}

                                <div class="select-wrapper pull-right">
                                    {{ form_widget(cycle_form, { 'attr': { 'class': 'btn-xs' } }) }}
                                </div>
                                <label for="cycle" class="pull-right">Fiscal year</label>

                                {{ macros.allQueriesExcept(['cycle']) }}

                                {{ form_end(cycle_form) }}
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                {% set request_query = app.request.query.all %}

                                <th id="project_reference_number" class="col-lg-1 col-md-1">
                                    <div class="pull-left">{% trans %}Reference #{% endtrans %}</div>
                                    <div class="pull-left">
                                        <a title="Descending" href="?{{ request_query|merge({
                                            'sort': 'reference_number_s',
                                            'sortDirection': 'desc'
                                        })|url_encode }}">&blacktriangledown;</a>
                                        <a title="Ascending" href="?{{ request_query|merge({
                                            'sort': 'reference_number_s',
                                            'sortDirection': 'asc'
                                        })|url_encode }}">&blacktriangle;</a>
                                    </div>
                                </th>
                                <th id="project_title" class="col-lg-2 col-md-2">
                                    <div class="pull-left">{% trans %}Title{% endtrans %}</div>
                                    <div class="pull-left">
                                        <a title="Descending" href="?{{ request_query|merge({
                                            'sort': 'title_s',
                                            'sortDirection': 'desc'
                                        })|url_encode }}">&blacktriangledown;</a>
                                        <a title="Ascending" href="?{{ request_query|merge({
                                            'sort': 'title_s',
                                            'sortDirection': 'asc'
                                        })|url_encode }}">&blacktriangle;</a>
                                    </div>
                                </th>
                                <th id="project_type" class="col-lg-2 col-md-2">
                                    <div class="pull-left">{% trans %}Type{% endtrans %}</div>
                                    <div class="pull-left">
                                        <a title="Descending" href="?{{ request_query|merge({
                                            'sort': 'type_s',
                                            'sortDirection': 'desc'
                                        })|url_encode }}">&blacktriangledown;</a>
                                        <a title="Ascending" href="?{{ request_query|merge({
                                            'sort': 'type_s',
                                            'sortDirection': 'asc'
                                        })|url_encode }}">&blacktriangle;</a>
                                    </div>
                                </th>
                                <th id="project_status" class="col-lg-1 col-md-1">
                                    <div class="pull-left">{% trans %}Proposal status{% endtrans %}</div>
                                    <div class="pull-left">
                                        <a title="Descending" href="?{{ request_query|merge({
                                            'sort': 'proposal_status_s',
                                            'sortDirection': 'desc'
                                        })|url_encode }}">&blacktriangledown;</a>
                                        <a title="Ascending" href="?{{ request_query|merge({
                                            'sort': 'proposal_status_s',
                                            'sortDirection': 'asc'
                                        })|url_encode }}">&blacktriangle;</a>
                                    </div>
                                </th>
                                <th id="project_outcome" class="col-lg-1 col-md-1">
                                    <div class="pull-left">{% trans %}Proposal Outcome{% endtrans %}</div>
                                    <div class="pull-left">
                                        <a title="Descending" href="?{{ request_query|merge({
                                            'sort': 'proposal_outcome_s',
                                            'sortDirection': 'desc'
                                        })|url_encode }}">&blacktriangledown;</a>
                                        <a title="Ascending" href="?{{ request_query|merge({
                                            'sort': 'proposal_outcome_s',
                                            'sortDirection': 'asc'
                                        })|url_encode }}">&blacktriangle;</a>
                                    </div>
                                </th>
                                <th id="project_region" class="col-lg-1 col-md-1">
                                    <div class="pull-left">{% trans %}Region{% endtrans %}</div>
                                    <div class="pull-left">
                                        <a title="Descending" href="?{{ request_query|merge({
                                            'sort': 'region_s',
                                            'sortDirection': 'desc'
                                        })|url_encode }}">&blacktriangledown;</a>
                                        <a title="Ascending" href="?{{ request_query|merge({
                                            'sort': 'region_s',
                                            'sortDirection': 'asc'
                                        })|url_encode }}">&blacktriangle;</a>
                                    </div>
                                </th>
                                <th id="project_relo_location" class="col-lg-2 col-md-2">
                                    {% trans %}RELO Locations{% endtrans %}
                                </th>
                                <th id="project_country" class="col-lg-1 col-md-1">
                                    {% trans %}Countries{% endtrans %}
                                </th>
                                <th id="project_action" class="col-lg-1 col-md-1">Action</th>
                            </tr>
                            </thead>

                            {% if are_specialist_projects_phases %}
                                <tbody>
                                {# @var specialist_project_phase \AppBundle\Entity\SpecialistProjectPhase#}
                                {% for specialist_project_phase in specialist_projects_phases %}
                                    {# @var project_general_info \AppBundle\Entity\ProjectGeneralInfo #}
                                    {% set project_general_info = specialist_project_phase.projectGeneralInfo %}

                                    {# @var specialist_project \AppBundle\Entity\SpecialistProject #}
                                    {% set specialist_project = specialist_project_phase.specialistProject %}

                                    <tr>
                                        <td headers="project_reference_number">
                                            <a href="{{ path('specialist_project_phase_show', {
                                                id: specialist_project_phase.id
                                            }) }}">
                                                {{ project_general_info.referenceNumber }}
                                            </a>
                                        </td>
                                        <td headers="project_title">
                                            {{ specialist_project_phase.title }}
                                        </td>
                                        <td headers="project_type">
                                            {{ specialist_project_phase.humanizedType }}
                                        </td>
                                        <td headers="project_status">
                                            {{ project_general_info.proposalStatusText }}
                                        </td>
                                        <td headers="project_outcome">
                                            {% if project_general_info.projectOutcome is not null %}
                                                {{ project_general_info.projectOutcome.name }}
                                            {% endif %}
                                        </td>
                                        <td headers="project_region">
                                            {% if project_general_info.region is not null %}
                                                {{ project_general_info.region.acronym }}
                                            {% endif %}
                                        </td>
                                        <td headers="project_relo_location">
                                            <ul class="list-unstyled">
                                                {# @var country \AppBundle\Entity\Country #}
                                                {% for relo_location in project_general_info.reloLocations %}
                                                    <li{% if not loop.last %} class="mb-5"{% endif %}>{{ relo_location.name }}</li>
                                                {% else %}
                                                    <li>Not selected</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td headers="project_country">
                                            <ul class="list-unstyled">
                                                {# @var country \AppBundle\Entity\Country #}
                                                {% for country in project_general_info.countries %}
                                                    <li{% if not loop.last %} class="mb-5"{% endif %}>{{ country.name }}</li>
                                                {% else %}
                                                    <li>Not selected</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td headers="project_action">
                                            <ul class="list-unstyled no-margin">
                                                <li>
                                                    <a href="{{ path('specialist_project_phase_show', { id: specialist_project_phase.id }) }}">
                                                        {% trans %}Review proposal{% endtrans %}
                                                    </a>
                                                </li>
                                                <li class="mt-5">
                                                    <a href="{{ path('specialist_project_phase_clone', { 'phase_id': specialist_project_phase.id }) }}">
                                                        {% trans %}Add new phase{% endtrans %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <tfoot>
                                <tr>
                                    <td headers="project_reference_number" colspan="9">
                                        There are no Specialist proposals.
                                    </td>
                                </tr>
                                </tfoot>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
