{% extends "base.html.twig" %}

{% block title %}Confirm Removal of Project Phase{% endblock %}

{% block body %}

	<h1>Specialist Project Removal</h1>

<div class="panel">
	<div class="panel-body">
		<h2>Are you sure you want to delete the Specialist Project?</h2>
		<table class="table table-bordered table__view-mode">
			<tbody>
			<tr>
				<th>{% trans %}Reference #:{% endtrans %}</th>
				<td>{{ projectGeneralInfo.referenceNumber }}</td>
			</tr>
			<tr>
				<th>{% trans %}Title:{% endtrans %}</th>
				<td>{{ projectPhase.title }}</td>
			</tr>
			<tr>
				<th>{{ 'Type:'|trans }}</th>
				<td>
					{% if projectPhase.type == constant('IN_COUNTRY_TYPE', projectPhase) %}
						Entirely In-Country
					{% elseif projectPhase.type == constant('VIRTUAL_TYPE', projectPhase) %}
						Entirely Virtual
					{% elseif projectPhase.type == constant('MIXED_TYPE', projectPhase) %}
						Mixed (in-country component and virtual component)
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>{% trans %}Region:{% endtrans %}</th>
				<td>{{ projectGeneralInfo.region}}</td>
			</tr>
			<tr>
				<th>{% trans %}Country or Countries:{% endtrans %}</th>
				<td>
					<ul class="list-unstyled">
					{% for country in projectGeneralInfo.countries %}
						<li>{{ country.name}}</li>
					{% else %}
						<li>{{ 'No countries defined'|trans }}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<th>{% trans %}Status:{% endtrans %}</th>
				<td>{{ projectGeneralInfo.submissionStatus|replace({'_': ' '})|title }}</td>
			</tr>
			</tbody>
		</table>

		<div class="confirm-delete-btns well text-right">
			<a href="{{ path('specialist_project_phase_show', {'id': projectPhase.id}) }}" class="btn btn-default mr-5">{% trans %}Cancel{% endtrans %}</a>
			{{ form_start(deleteForm) }}
				<input type="submit" value="{% trans %}Delete{% endtrans %}" class="btn btn-danger ml-5">
			{{ form_end(deleteForm) }}
		</div>
	</div>
</div>

{% endblock %}
