{# This button shows the Sharing Options modal window #}
{#<button type="button" class="btn btn-primary pull-right btn-share" data-toggle="modal" data-target="#shareModal">#}
    {#{% trans %}Sharing options{% endtrans %}#}
{#</button>#}

<h1>Specialist Proposal Submission</h1>

<h3>
    {% if specialistProjectPhase.title is not null %}{{ specialistProjectPhase.title }}{% endif %}
    <a href="{{ path('specialist_project_phases', {
        'id': specialistProjectPhase.id
    }) }}" class="btn btn-sm btn-link" target="_blank">See all phases</a>
</h3>

{# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
{% set projectGeneralInfo = specialistProjectPhase.projectGeneralInfo %}
<ul class="list-inline">
    <li>
        <strong>Reference Number:</strong> {{ projectGeneralInfo.referenceNumber }}
    </li>

    {% if projectGeneralInfo.countries|length > 0 %}
        <li>
            <strong>
                {{ (projectGeneralInfo.countries|length > 1) ? 'Countries:' : 'Country:' }}
            </strong>
            {# @var country \AppBundle\Entity\Country #}
            {% for country in projectGeneralInfo.countries %}
            <span>{{ country.name }}{% if not loop.last %},{% endif %} </span>
            {% endfor %}
        </li>
    {% endif %}

    {% if projectGeneralInfo.region is not null %}
        <li>
            <strong>Region:</strong> {{ projectGeneralInfo.region }}
        </li>
    {% endif %}

    {% if specialistProjectPhase.type is not null %}
        <li>
            <strong>{% trans %}Proposal Type: {% endtrans %}</strong>
            {% if specialistProjectPhase.type == "in-country" %} Entirely In-Country {% endif %}
            {% if specialistProjectPhase.type == "virtual" %} Entirely Virtual {% endif %}
            {% if specialistProjectPhase.type == "mixed" %} Mixed (in-country component and virtual component) {% endif %}
        </li>
    {% endif %}

    {% if  projectGeneralInfo.reloLocations|length > 0 %}
        <li>
            <strong>{% trans %}RELO: {% endtrans %}</strong>
            <ul class="list-inline inline-block">
                {% for reloLocation in projectGeneralInfo.reloLocations %}
                    <li>{{ reloLocation.name }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

</ul>
