{% extends 'base.html.twig' %}

{% block title %}Specialist Proposals &#124; Proposal System{% endblock %}

{% block body %}
    <h1>My Specialist Proposals</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Created by me</h2>
        </div>

        <div class="panel-body">
            {% include ':project/specialist:phases_table.html.twig' with { 'phases': owned_phases } only %}
        </div>

        <div class="panel-heading">
            <h2 class="pull-left">Shared with me</h2>
        </div>

        <div class="panel-body">
            {% include ':project/specialist:phases_table.html.twig' with { 'phases': shared_phases } only %}
        </div>
    </div>
{% endblock %}
