{% extends '::base.html.twig' %}

{% block title %}Specialist Proposal Phases &#124; Proposal System{% endblock %}

{% block body %}
    <h1>My Specialist Proposals</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Phases for: {{ phase.title }}</h2>
        </div>

        <div class="panel-body">
            {% include ':project/specialist:phases_table.html.twig' with { 'phases': phase.specialistProject.phases } only %}
        </div>
    </div>
{% endblock %}
