<table class="table table-bordered">
    <thead>
    <tr>
        <th id="specialist_proposal_reference_number" class="col-md-1">
            {% trans %}Reference &#35;{% endtrans %}
        </th>
        <th id="specialist_proposal_title" class="col-md-3">
            {% trans %}Title{% endtrans %}
        </th>
        <th id="specialist_proposal_type" class="col-md-2">
            {% trans %}Type{% endtrans %}
        </th>
        <th id="specialist_proposal_country" class="col-md-2">
            {% trans %}Country{% endtrans %}
        </th>
        <th id="specialist_proposal_status" class="col-md-2">
            {% trans %}Status{% endtrans %}
        </th>
        <th id="specialist_proposal_action" class="col-md-2">
            {% trans %}Action{% endtrans %}
        </th>
    </tr>
    </thead>

    <tbody>
    {# @var phase \AppBundle\Entity\SpecialistProjectPhase #}
    {% for phase in phases %}
        {% set general_info = phase.projectGeneralInfo %}
        <tr>
            <td headers="specialist_proposal_reference_number">
                {{ general_info.referenceNumber }}
            </td>
            <td headers="specialist_proposal_title">
                {{ phase.title }}
            </td>
            <td headers="specialist_proposal_type">
                {% if phase.type == constant('IN_COUNTRY_TYPE', phase) %}
                    Entirely In-Country
                {% elseif phase.type == constant('VIRTUAL_TYPE', phase) %}
                    Entirely Virtual
                {% elseif phase.type == constant('MIXED_TYPE', phase) %}
                    Mixed (in-country component and virtual component)
                {% endif %}
            </td>
            <td headers="specialist_proposal_country">
                <ul class="list-unstyled">
                    {# @var country \AppBundle\Entity\Country #}
                    {% for country in general_info.countries %}
                        <li>{{ country.name }}</li>
                    {% else %}
                        <li>Not selected</li>
                    {% endfor %}
                </ul>
            </td>
            <td headers="specialist_proposal_status">
                {% if constant('PROJECT_SUBMITTED', general_info) == general_info.submissionStatus %}
                    {% if general_info.projectReviewStatus is not null %}
                        {{ general_info.projectReviewStatus.name }}
                    {% endif %}
                {% else %}
                    Not Submitted
                {% endif %}
            </td>
            <td headers="specialist_proposal_action">
                <ul class="list-unstyled no-margin">
                    <li>
                        <a href="{{ path('specialist_project_phase_show', { id: phase.id }) }}">
                            {% trans %}Review proposal{% endtrans %}
                        </a>
                    </li>
                    {% if is_granted('edit', general_info) %}
                        <li class="mt-5">
                            <a href="{{ path('specialist_project_phase_admin_panel', { id: phase.id }) }}">
                                {% trans %}Edit Proposal{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('delete', general_info) %}
                        <li class="mt-5">
                            <a href="{{ path('specialist_project_phase_confirm_delete', { 'id': phase.id }) }}">
                                {% trans %}Delete this Proposal{% endtrans %}
                            </a>
                        </li>
                    {% endif %}
                    <li class="mt-5">
                        <a href="{{ path('specialist_project_phase_clone', { 'phase_id': phase.id }) }}">
                            {% trans %}Add new phase{% endtrans %}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% else %}
        <tr>
            <td headers="specialist_proposal_reference_number" colspan="6">
                {% trans %}There are no Specialist Proposal phases.{% endtrans %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
