{% extends '::base.html.twig' %}

{% block body %}
    <h1>Specialist Proposal Submission</h1>

    {% include '::notifications.html.twig' %}

    {% if not (app.session.flashbag.has('block-access')) %}
        {{ form_start(form) }}

        <div class="panel panel-primary panel-wizard">
            <div class="panel-heading">
                <h2>Select Project Type</h2>
            </div>

            <div class="panel-body">
				{% if not newProposal %}
					<span class="small alert alert-info block mt-5">
		         	{{ 'You are creating a phase out of proposal '|trans }} <strong><a href="{{ path('specialist_project_phase_show', {'id': sourcePhase.id}) }}" target="_blank">{{ sourcePhase.projectGeneralInfo.referenceNumber }}</a></strong>.
					</span>

					<div class="form-group">
						<label class="label__required" for="title_region_title">
							{% trans %}Title{% endtrans %}
						</label>
						<div class="small">
							<p>{{ 'Ensure to add the phase to this title; e.g. <i>Title A Phase %phaseNumber%</i>'|trans({
									'%phaseNumber%': 2
								})|raw }}.</p>
						</div>
						{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
						{{ form_errors(form.title) }}
					</div>
				{% endif %}

                <div class="form-group">
                    <p class="label__required">
                        {% trans %}Where will the work for this project take place (select one):{% endtrans %}
                    </p>
                </div>

                <div class="form-group">
                    <fieldset>
                        <div class="inline-labels">
                            {{ form_widget(form.type[0]) }}
                            {{ form_label(form.type[0]) }}
                            {{ form_errors(form.type[0]) }}
                        </div>
                    </fieldset>

                    <small>
                        {% trans %}These projects take place entirely in the country of assignment. There is no significant virtual component (such as online teaching). However, in this category, you may include minimal pre-work or post-work for the specialist (such as planning days or follow on phone calls). The maximum allowed pre- and post- work days are:{% endtrans %}
                    </small>

                    <ul>
                        <li>
                            <small>
                                <strong>Pre-work maximum:</strong> 5 days
                            </small>
                        </li>
                        <li>
                            <small>
                                <strong>Post-work maximum:</strong> 5 days
                            </small>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <fieldset>
                        <div class="inline-labels">
                            {{ form_widget(form.type[1]) }}
                            {{ form_label(form.type[1]) }}
                            {{ form_errors(form.type[1]) }}
                        </div>
                    </fieldset>

                    <small>
                        {% trans %}These projects take place entirely virtually. The Specialist does not travel away from their home at all.{% endtrans %}
                    </small>
                </div>

                <div class="form-group">
                    <fieldset>
                        <div class="inline-labels">
                            {{ form_widget(form.type[2]) }}
                            {{ form_label(form.type[2]) }}
                            {{ form_errors(form.type[2]) }}
                        </div>
                    </fieldset>

                    <small>
                        {% trans %}These projects contain both an in-country component as well as a virtual component. The virtual component may be before or after the in-country component. The virtual component must be significant and have its own unique duties. If the virtual component is less than a week, it should be considered pre or post-work to the in-country assignment and you should select the "Entirely In-Country" option above.{% endtrans %}
                    </small>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <a href="{{ path('specialist_project_index') }}" class="btn btn-danger btn-lg">Cancel</a>
                    </div>
                    <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4 text-right">
                        {{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                    </div>
                    {{ form_row(form._token) }}
                </div>
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    {% endif %}
{% endblock %}
