<div id="review-navigation" class="panel pane-default">
	{{ form_start(form) }}
	<div class="panel-body">
		<a href="{{ path('specialist_project_phase_export_pdf', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right mr-5">
			{% trans %}Export PDF{% endtrans %}
		</a>

		{% if is_granted('edit', projectGeneralInfo) %}
			<a href="{{ path('specialist_project_phase_admin_panel', {'id': specialistProjectPhase.id}) }}" class="btn btn-info">
				{% trans %}Edit this proposal{% endtrans %}
			</a>
		{% endif %}

		{% if is_granted('delete', projectGeneralInfo) %}
			<a href="{{ path('specialist_project_phase_confirm_delete', {'id': specialistProjectPhase.id}) }}" class="btn btn-danger">
				{% trans %}Delete this Proposal{% endtrans %}
			</a>
		{% endif %}

		{#{% if projectGeneralInfo.isWithdrawable and is_granted('withdraw', projectGeneralInfo) %}#}
		{#<a href="{{ path('project_fellow_confirm_withdrawal', { 'id': fellowProject.id }) }}" class="btn btn-danger">#}
		{#{% trans %}Withdraw{% endtrans %}#}
		{#</a>#}
		{#{% endif %}#}

		{% if projectGeneralInfo.submittedBy == null %}
			{#{% if fellowProjectPresenter.isProposalReadyForSubmission %}#}
				<button type="submit" class="btn btn-success ml-5">{% trans %}Submit proposal{% endtrans %}</button>
			{% else %}
				{#<div class="css-tooltip css-tooltip--right css-tooltip--sm">#}
                        {#<span class="disabled css-tooltip__trigger btn btn-success ml-5">#}
                            {#{% trans %}Submit proposal{% endtrans %}#}
                        {#</span>#}

					{#<div class="css-tooltip__content">#}
						{#<p>{% trans %}You must complete all sections to submit this proposal{% endtrans %}</p>#}
					{#</div>#}
				{#</div>#}
			{#{% endif %}#}
		{% endif %}

	</div>
	<input type="hidden" id="submit_specialist_proposal__token" name="submit_specialist_proposal[_token]" value="{{ form._token.vars.value }}">
	{{ form_end(form, {'render_rest': false}) }}
</div>

