{% extends 'base.html.twig' %}

{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase)
    or specialistProjectPhase.type == constant('MIXED_TYPE', specialistProjectPhase) %}
    {% set inCountryOrMixed = true %}
{% else %}
    {% set inCountryOrMixed = false %}
{% endif %}

{% set is_in_country_project = specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
{% set is_virtual_project = specialistProjectPhase.type == constant('VIRTUAL_TYPE', specialistProjectPhase) %}
{% set is_mixed_project = specialistProjectPhase.type == constant('MIXED_TYPE', specialistProjectPhase) %}

{% block body %}
    {% include 'project/specialist/header.html.twig' %}

    {# @var projectGeneralInfo \AppBundle\Entity\ProjectGeneralInfo #}
    {% set projectGeneralInfo = specialistProjectPhase.projectGeneralInfo %}

    {% if projectGeneralInfo.submittedBy != null %}
    <div class="row">
        <div class="col-md-9">
	{% endif %}

    {% include 'project/specialist/show_navigation.html.twig' %}

    {# General Information #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">
                {% trans %}General Information{% endtrans %}
            </h2>
			{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('specialist_project_title_region', { 'id': specialistProjectPhase.id }) }}"
                   class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
            {% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ specialistProjectPhase.title }}</td>
            </tr>
            <tr>
                <th>{{ 'Program Description'|trans }}</th>
                <td>{{ specialistProjectPhase.programDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>{{ 'label.region'|trans }}</th>
                <td>{{ projectGeneralInfo.region }}</td>
            </tr>
            <tr>
                <th>{{ 'label.country'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {# @var country \AppBundle\Entity\Country #}
                        {% for country in projectGeneralInfo.countries %}
                            <li>{{ country.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>{{ 'label.relo_location'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {# @var reloLocation \AppBundle\Entity\ReloLocation #}
                        {% for reloLocation in projectGeneralInfo.reloLocations %}
                            <li>{{ reloLocation.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            <tr>
                <th>{{ 'label.post'|trans }}</th>
                <td>
                    <ul class="list-unstyled">
                        {# @var post \AppBundle\Entity\Post #}
                        {% for post in projectGeneralInfo.posts %}
                            <li>{{ post }} ({{ post.country.name }})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        {% if projectGeneralInfo.countries is not empty and inCountryOrMixed %}
        <div class="panel-body">
            <h3>{% trans %}City Costs{% endtrans %}</h3>
				{% for country in projectGeneralInfo.countries %}

				<h4>{{ country.name }}</h4>
				<table class="table table-bordered table-budget">
					<thead>
					<tr>
						<th id="cc_city" class="col-md-6">{% trans %}City{% endtrans %}</th>
						{% for expenseItem in livingExpensesCostItems %}
							<th id="cc_{{ loop.index }}" class="col-md-3">{{ expenseItem.description }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% if (specialistProjectPhase.budget == null or specialistProjectPhase.budget.livingExpenseEstimates is empty) %}
						<tr>
							<td colspan="{{ livingExpensesCostItems|length + 1 }}">{% trans %}No cities haven't been added yet.{% endtrans %}</td>
						</tr>
					{% else %}
						{% for city in specialistProjectPhase.budget.livingExpenseEstimates %}
							{% if (city.inCountryAssignment.country == country) %}
								<tr>
									<td headers="cc_city">{{ city.inCountryAssignment.city }}</td>

									{% for expenseItem in livingExpensesCostItems %}
										{% for costItem in city.livingExpenseCostitems %}
											{% if expenseItem.description == costItem.costItem.description %}
												<td headers="cc_{{ loop.index }}" class="text-right">{{ costItem.costPerDay|currency_format(0) }}</td>
											{% endif %}
										{% endfor %}
									{% endfor %}
								</tr>
							{% endif %}
						{% endfor %}
					{% endif %}
					</tbody>
				</table>
				{% endfor %}
        </div>
        {% endif %}
    </div>

    {# Point of Contacts #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Points of Contact</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_contact_points', { 'id': specialistProjectPhase.id }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
            {# @var contactPoint \AppBundle\Entity\ContactPoint #}
            {% for contactPoint in projectGeneralInfo.contactPoints %}
                {% set contactPointType = contactPoint.type %}

                <tr>
                    <th colspan="2" class="table-title">
                        {% if 0 == contactPointType %}
                            {% trans %}Primary{% endtrans %}
                        {% elseif 1 == contactPointType %}
                            {% trans %}Secondary{% endtrans %}
                        {% elseif 2 == contactPointType %}
                            {% trans %}Additional{% endtrans %}
                        {% endif %} Point of Contact
                    </th>
                </tr>

                <tr>
                    <th>{% trans %}First Name{% endtrans %}</th>
                    <td>{{ contactPoint.firstName }}</td>
                </tr>

                <tr>
                    <th>{% trans %}Last Name{% endtrans %}</th>
                    <td>{{ contactPoint.lastName }}</td>
                </tr>

                <tr>
                    <th>{{ 'label.title'|trans }}</th>
                    <td>{{ contactPoint.title }}</td>
                </tr>

                <tr>
                    <th>{{ 'label.email'|trans }}</th>
                    <td>{{ contactPoint.email }}</td>
                </tr>

                <tr>
                    <th>{% trans %}Alternate Email{% endtrans %}</th>
                    <td>{{ contactPoint.alternateEmail }}</td>
                </tr>

                <tr>
                    <th>
                        {% trans %}If this person will be departing this post, please select the anticipated departure
                        date.{% endtrans %}
                    </th>
                    <td>
                        {% if contactPoint.anticipatedDepartureDate %}
                            {{ contactPoint.anticipatedDepartureDate|date('m/d/Y') }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if inCountryOrMixed %}
    {# Project requirements #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">{% trans %}General Information - Project requirements{% endtrans %}</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_requirements', { 'id': specialistProjectPhase.id }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
			{% if specialistProjectPhase.sourcePhase == true %}
                <tr>
                    <th>
						{% trans %}Do you want to request the same Specialist?{% endtrans %}
                    </th>
                    <td>
						{% if specialistProjectPhase.candidateSame is not null %}
							{% if specialistProjectPhase.candidateSame %}Yes{% else %}No{% endif %}
						{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
						{% trans %}If you are requiring the same Specialist, does he or she require a new visa?{% endtrans %}
                    </th>
                    <td>
						{% if specialistProjectPhase.candidateSameNewVisa is not null %}
							{% if specialistProjectPhase.candidateSameNewVisa %}Yes{% else %}No{% endif %}
						{% endif %}
                    </td>
                </tr>
			{% endif %}
            <tr>
                <th>{% trans %}What type of visa does the Specialist require?{% endtrans %}</th>
                <td>{{ requiredVisaType }}</td>
            </tr>
            <tr>
                <th>{% trans %}If other type of Visa, please specify.{% endtrans %}</th>
                <td>{{ projectGeneralInfo.specialistProjectPhase.otherVisaType }}</td>
            </tr>
            <tr>
                <th>{{ 'label.visa_avg_length'|trans }}</th>
                <td>
                    {% if projectGeneralInfo.specialistProjectPhase.visaAvgLength is not null %}
                        {{ projectGeneralInfo.specialistProjectPhase.visaAvgLength.name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'label.visa_requirements_desc'|trans }}</th>
                <td>{{ projectGeneralInfo.visaRequirementsDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>{% trans %}Please describe age restriction(s).{% endtrans %}</th>
                <td>{{ projectGeneralInfo.ageRestrictionDesc|nl2br }}</td>
            </tr>
            {#<tr>#}
                {#<th>{{ 'label.medical_access_issues'|trans }}</th>#}
                {#<td>#}
                    {#{% if projectGeneralInfo.requiredMedicalConditions is not null %}#}
                        {#{% if projectGeneralInfo.requiredMedicalConditions %}Yes{% else %}No{% endif %}#}
                    {#{% endif %}#}
                {#</td>#}
            {#</tr>#}
            <tr>
                <th>{{ 'label.medical_restrictions_desc'|trans }}</th>
                <td>{{ projectGeneralInfo.medicalRestrictionsDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}Please share any security information that the Specialist should be aware of.{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.securityInfoDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}Please share any country or cultural considerations that the Specialist should be made aware of.{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.additionalRequirementsDesc|nl2br }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if not inCountryOrMixed %} {# virtual #}
    {# Country or Cultural Considerations #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Country or Cultural Considerations</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_considerations', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
			{% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>
                    {% trans %}Please share any country or cultural considerations that the Specialist should be made aware of.{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.additionalRequirementsDesc|nl2br }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endif %}

    {# Certifications #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Certifications</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_certifications', { 'id': specialistProjectPhase.id }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>
        <table class="table table__view-mode">
            {% set phaseType = specialistProjectPhase.type %}

            <tbody>
            {# In Country Certifications #}
            {% if ( phaseType == constant('IN_COUNTRY_TYPE', specialistProjectPhase) ) %}
                <tr>
                    <th>{{ 'label.rso_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.rsoCertification is not null and projectGeneralInfo.rsoCertification %}
                            {% trans %}Post certifies that RSO has no objection{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.visa_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.visaCertification is not null and projectGeneralInfo.visaCertification %}
                            {% trans %}Post agrees to provide visa information{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.in_country_orientation_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.inCountryOrientationCertification is not null and projectGeneralInfo.inCountryOrientationCertification %}
                            {% trans %}Post agrees to arrange an in-country orientation{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.cost_sharing_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.costSharingCertification is not null and projectGeneralInfo.costSharingCertification %}
                            {% trans %}Post agrees to assume unfulfilled cost-sharing commitments{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
            {# Virtual Certifications #}
            {% elseif is_virtual_project %}
                <tr>
                    <th>{% trans %}Logistics Certification{% endtrans %}</th>
                    <td>
                        {% if projectGeneralInfo.logisticsCertification is not null and projectGeneralInfo.logisticsCertification %}
                            {% trans %}Post certifies that they will be responsible for program logistics{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Monitoring Certification{% endtrans %}</th>
                    <td>
                        {% if projectGeneralInfo.monitoringCertification is not null and projectGeneralInfo.monitoringCertification %}
                            {% trans %}Post certifies that they are responsible for monitoring the Specialist’s work and schedule{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
            {# Mixed Certifications #}
            {% elseif is_mixed_project %}
                <tr>
                    <th>{{ 'label.rso_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.rsoCertification is not null and projectGeneralInfo.rsoCertification %}
                            {% trans %}Post certifies that RSO has no objection{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.visa_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.visaCertification is not null and projectGeneralInfo.visaCertification %}
                            {% trans %}Post agrees to provide visa information{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.in_country_orientation_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.inCountryOrientationCertification is not null and projectGeneralInfo.inCountryOrientationCertification %}
                            {% trans %}Post agrees to arrange an in-country orientation{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'label.cost_sharing_certification'|trans }}</th>
                    <td>
                        {% if projectGeneralInfo.costSharingCertification is not null and projectGeneralInfo.costSharingCertification %}
                            {% trans %}Post agrees to assume unfulfilled cost-sharing commitments{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Logistics Certification{% endtrans %}</th>
                    <td>
                        {% if projectGeneralInfo.logisticsCertification is not null and projectGeneralInfo.logisticsCertification %}
                            {% trans %}Post certifies that they will be responsible for program logistics.{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Monitoring Certification{% endtrans %}</th>
                    <td>
                        {% if projectGeneralInfo.monitoringCertification is not null and projectGeneralInfo.monitoringCertification %}
                            {% trans %}Post certifies that they are responsible for monitoring the Specialist’s work and schedule{% endtrans %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    {# Candidate Information #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Candidate Information</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_candidate_info', { 'id': specialistProjectPhase.id }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
			{% if specialistProjectPhase.sourcePhase == true %}
			<tr>
				<th>
					{% trans %}Do you want to request the same Specialist?{% endtrans %}
				</th>
				<td>
					{% if specialistProjectPhase.candidateSame is not null %}
						{% if specialistProjectPhase.candidateSame %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>
					{% trans %}If yes, have you already contacted that Specialist?{% endtrans %}
				</th>
				<td>
					{% if specialistProjectPhase.candidateSameContacted is not null %}
						{% if specialistProjectPhase.candidateSameContacted %}Yes{% else %}No{% endif %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			<tr>
                <th>
                    {% trans %}Project is best suited for candidate with the following areas of expertise:{% endtrans %}
                </th>
                <td>
                    <ul class="list-unstyled">
                        {# @var areaOfExpertise \AppBundle\Entity\AreaOfExpertise #}
                        {% for areaOfExpertise in specialistProjectPhase.areasOfExpertise %}
                            <li>{{ areaOfExpertise.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>{% trans %}Description, further information, or candidate-specific needs{% endtrans %}</th>
                <td>{{ specialistProjectPhase.furtherDetailsDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>{{ 'Please describe specific degrees or certifications required for this project outside of the %tooltip%. Please type N/A if there are no specific requirements.'|trans({'%tooltip%': 'regular eligibility requirements'|trans}) }}</th>
                <td>{{ specialistProjectPhase.degreeRequirementsDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>{% trans %}If you already have a Specialist candidate in mind for this project, please identify that person here:{% endtrans %}</th>
                <td>{{ specialistProjectPhase.proposedCandidate }}</td>
            </tr>
            <tr>
                <th>{% trans %}Have you already contacted this candidate about this project?{% endtrans %}</th>
                <td>
                    {% if specialistProjectPhase.proposedCandidateContacted is not null %}
                        {% if specialistProjectPhase.proposedCandidateContacted %}Yes{% else %}No{% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}If you have already contacted the candidate, please provide their email address here:{% endtrans %}
                </th>
                <td>{{ specialistProjectPhase.proposedCandidateEmail }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# Partnering Organizations #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Partnering Organizations</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_partnering_organizations', {'id': specialistProjectPhase.id }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
            {% for countryName, partneringOrganizations in projectPhasePartneringOrganizations %}
                <tr>
                    <th>{{ countryName }}</th>
                    <td>
                        <ul class="list-unstyled">
                            {# @var partneringOrganization \AppBundle\Entity\Specialist\PartneringOrganization #}
                            {% for partneringOrganization in partneringOrganizations %}
                                <li>{{ partneringOrganization.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="2">{% trans %}No Partnering Organizations defined yet{% endtrans %}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if inCountryOrMixed %}
        {# Itinerary Dates #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="pull-left">In Country Itinerary</h2>

				{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('specialist_project_phase_itinerary_dates', { 'id': specialistProjectPhase.id }) }}"
                   class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
				{% endif %}
            </div>

            <table class="table table__view-mode">
                <tbody>
                <tr>
                    <th>{% trans %}Start Date{% endtrans %}</th>
                    <td>
                        {% if specialistProjectPhase.startDate %}
                            {{ specialistProjectPhase.startDate|date('l, F d, Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}End Date{% endtrans %}</th>
                    <td>
                        {% if specialistProjectPhase.endDate %}
                            {{ specialistProjectPhase.endDate|date('l, F d, Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Are the start and end dates flexible?{% endtrans %}
                    </th>
                    <td>
                        {% if specialistProjectPhase.datesFlexible is not null %}
                            {% if specialistProjectPhase.datesFlexible %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Date and length comment{% endtrans %}</th>
                    <td>{{ specialistProjectPhase.dateLengthDesc|nl2br }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {# Itinerary Activities #}
        {% if specialistProjectPhase.startDate and specialistProjectPhase.endDate
            and specialistProjectPhase.inCountryAssignments is not empty %}
            <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="pull-left">In Country Itinerary Activities</h2>

				{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('specialist_project_phase_itinerary_activities', { 'id': specialistProjectPhase.id }) }}"
                   class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
				{% endif %}
            </div>
			<table class="table table-bordered">
				{% for key, item in itineraryActivities %}

					{% if item.rest is not empty %}
						{% set rowType = 'rest' %}
					{% elseif item.activities is not empty or item.travels is not empty %}
						{% set rowType = 'activities-travel' %}
					{% else %}
						{% set rowType = 'empty' %}
					{% endif %}

					<tr class="itinerary-{{ rowType }}-row">
						<td headers="itinerary_date" class="col-md-2">{{ key|date('l, F d, Y') }}</td>
						<td headers="itinerary_activity" class="col-md-10">
                            {% if rowType == 'rest' %}
                                <table class="table table-rest-day">
                                    <thead>
                                    <tr>
                                        <th id="itinerary_rest_header" colspan="2">{% trans %}Rest day{% endtrans %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td headers="itinerary_rest_header" class="col-md-12 col-lg-12">
                                            {{ item.rest[0].inCountryAssignment.city }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% else %}
                                {# Activities #}
                                {% if item.activities is not empty %}
                                    <table class="table table-activity">
                                        <thead>
                                        <tr>
                                            <th colspan="6">{% trans %}Activities{% endtrans %}</th>
                                        </tr>
                                        <tr>
                                            <th id="itinerary_activity_desc" class="col-md-1 col-lg-1">
                                                {% trans %}Activity{% endtrans %}
                                            </th>
                                            <th id="itinerary_topic" class="col-md-3 col-lg-3">
                                                {% trans %}Topic{% endtrans %}
                                            </th>
                                            <th id="itinerary_audience_desc" class="col-md-3 col-lg-3">
                                                {% trans %}Anticipated Audience{% endtrans %}
                                            </th>
                                            <th id="itinerary_duration" class="col-md-1 col-lg-1">
                                                {% trans %}Duration{% endtrans %}
                                            </th>
                                            <th id="itinerary_city" class="col-md-2 col-lg-2">
                                                {% trans %}City{% endtrans %}
                                            </th>
                                            <th id="itinerary_po" class="col-md-2 col-lg-2">
                                                {% trans %}Partnering Organization{% endtrans %}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for activity in item.activities %}
                                            <tr>
                                                <td headers="itinerary_activity_desc">
                                                    <div class="mb-5">
                                                        <strong>{% trans %}Type:{% endtrans %}</strong>&nbsp;
                                                        {% if activity.activityTypeOther %}
                                                            {{ activity.activityTypeOther }}
                                                        {% else %}
                                                            {{ activity.activityType }}
                                                        {% endif %}
                                                    </div>
                                                </td>
                                                <td headers="itinerary_topic">
                                                    <ul class="list-unstyled no-margin">
                                                        {% for topic in activity.topics %}
                                                            <li class="mb-5">
                                                                {% if 'Other' == topic.name %}
                                                                    <strong>Other:</strong>&nbsp;
                                                                    {% if activity.topicOther is not null %}
                                                                        {{ activity.topicOther }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {{ topic.name }}
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td headers="itinerary_audience_desc">
                                                    <ul class="list-unstyled no-margin">
                                                        {% set totalNumberParticipants = 0 %}

                                                        {# @var anticipatedAudience \AppBundle\Entity\Specialist\Itinerary\Activity\AnticipatedAudience #}
                                                        {% for anticipatedAudience in activity.anticipatedAudience %}
                                                            <li class="mb-5 row">
                                                                <div class="col-lg-9 col-md-9">
                                                                    {% if 'Other' == anticipatedAudience.audience.name %}
                                                                        <strong>Other:</strong>&nbsp;
                                                                        {{ anticipatedAudience.audienceOther }}
                                                                    {% else %}
                                                                        {{ anticipatedAudience.audience.name }}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 text-right">
                                                                    {{ anticipatedAudience.estimatedParticipants }}
                                                                </div>
                                                            </li>

                                                            {% set totalNumberParticipants = totalNumberParticipants + anticipatedAudience.estimatedParticipants  %}
                                                        {% endfor %}
                                                        <li class="mb-5 row">
                                                            <div class="col-lg-9 col-md-9 text-right">
                                                                <strong>Total Nº Participants:</strong>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 text-right">
                                                                {{ totalNumberParticipants }}
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td headers="itinerary_duration" class="text-right">
                                                    {{ activity.duration }} hours
                                                </td>
                                                <td headers="itinerary_city">{{ activity.inCountryAssignment.city }}</td>
                                                <td headers="itinerary_po">
                                                    <ul class="list-unstyled no-margin">
                                                        {# @var partneringOrganization \AppBundle\Entity\Specialist\PartneringOrganization #}
                                                        {% for partneringOrganization in activity.partneringOrganizations %}
                                                            <li class="mb-5">{{ partneringOrganization }}</li>
                                                        {% else %}
                                                            N/A
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td headers="itinerary_activity_desc" colspan="7">
                                                    <strong>{% trans %}Description:{% endtrans %}</strong>&nbsp;
                                                    {% if activity.activityTypeDesc is not null %}
                                                        {{ activity.activityTypeDesc|nl2br }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% endif %}

                                {# Travels #}
                                {% if item.travels is not empty %}
                                    <table class="table table-travel">
                                        <thead>
                                        <tr>
                                            <th colspan="6">{% trans %}Travels{% endtrans %}</th>
                                        </tr>
                                        <tr>
                                            <th id="itinerary_travel_from" class="col-md-2 col-lg-2">
                                                {% trans %}From{% endtrans %}
                                            </th>
                                            <th id="itinerary_travel_to" class="col-md-2 col-lg-2">
                                                {% trans %}To{% endtrans %}
                                            </th>
                                            <th id="itinerary_travel_mode" class="col-md-2 col-lg-2">
                                                {% trans %}Mode{% endtrans %}
                                            </th>
                                            <th id="itinerary_travel_time" class="col-md-2 col-lg-2">
                                                {% trans %}Approximate time of travel{% endtrans %}
                                            </th>
                                            <th id="itinerary_travel_responsible" class="col-md-3 col-lg-3">
                                                {% trans %}Who is responsible for booking the travel{% endtrans %}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {# @var travel \AppBundle\Entity\Specialist\Itinerary\Travel #}
                                        {% for travel in item.travels %}
                                            <tr>
                                                <td headers="itinerary_travel_from">
                                                    {{ travel.origin.city }}
                                                </td>
                                                <td headers="itinerary_travel_to">
                                                    {{ travel.destination.city }}
                                                </td>
                                                <td headers="itinerary_travel_mode">
                                                    {{ travel.mode }}
                                                </td>
                                                <td headers="itinerary_travel_time">
                                                    {{ travel.travelTime }}
                                                </td>
                                                <td headers="itinerary_travel_responsible">
                                                    {{ travel.bookingResponsible|title }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% endif %}
                            {% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
            <table class="table table__view-mode">
                <tbody>
                    <tr>
                        <th>
                            {% trans %}Does the Specialist have at least 1 rest day per week?{% endtrans %}
                        </th>
                        <td>
                            {% if specialistProjectPhase.restDayWeek is not null %}
                                {% if specialistProjectPhase.restDayWeek %}Yes{% else %}No{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}If no, please explain.{% endtrans %}</th>
                        <td>{{ specialistProjectPhase.restDayWeekDesc|nl2br }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Does the Specialist have a minimun of 4 and a maximum of 6 hours of work each working day?{% endtrans %}
                        </th>
                        <td>
                            {% if specialistProjectPhase.hoursRequiredDay is not null %}
                                {% if specialistProjectPhase.hoursRequiredDay %}Yes{% else %}No{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}If no, please explain.{% endtrans %}</th>
                        <td>{{ specialistProjectPhase.hoursRequiredDayDesc|nl2br }}</td>
                    </tr>
                </tbody>
            </table>
    </div>
        {% endif %}

    {% endif %}

    {% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
        {# @var prePostWork \AppBundle\Entity\PrePostWork #}
        {% set prePostWork = specialistProjectPhase.prePostWork %}

        {# Pre and Post work #}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Pre- and Post-work</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_pre_post_work', { 'id': specialistProjectPhase.id }) }}" class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        {% if prePostWork is not null %}
            <table class="table table__view-mode">
                <tbody>
                <tr>
                    <th>{% trans %}Does the Specialist need additional pre-work days{% endtrans %}:</th>
                    <td>
                        {% if prePostWork.additionalPreWork is not null %}
                            {% if prePostWork.additionalPreWork %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}If yes, how many additional pre-work days{% endtrans %}:</th>
                    <td>{{ prePostWork.additionalPreWorkDays }}</td>
                </tr>
                <tr>
                    <th>{% trans %}What is the earliest date that pre-work days can begin{% endtrans %}:</th>
                    <td>
                        {% if prePostWork.additionalPreWorkStartDate %}
                            {{ prePostWork.additionalPreWorkStartDate|date('m/d/Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Describe pre-work. If there are specific dates/times for the pre-work (e.g. a scheduled phone call), please include that information as well.{% endtrans %}
                    </th>
                    <td>{{ prePostWork.additionalPreWorkDesc|nl2br }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Does the Specialist need post-work days{% endtrans %}:</th>
                    <td>
                        {% if prePostWork.additionalPostWork is not null %}
                            {% if prePostWork.additionalPostWork %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}If yes, how many post-work days{% endtrans %}:</th>
                    <td>{{ prePostWork.additionalPostWorkDays }}</td>
                </tr>
                <tr>
                    <th>{% trans %}What is the latest date that post-work days can end{% endtrans %}:</th>
                    <td>
                        {% if prePostWork.additionalPostWorkStartDate %}
                            {{ prePostWork.additionalPostWorkStartDate|date('m/d/Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Describe post-work. If there are specific dates/times for the post-work (e.g. a scheduled phone call), please include that information as well.{% endtrans %}
                    </th>
                    <td>{{ prePostWork.additionalPostWorkDesc|nl2br }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
    {% endif %}

    {# Goals and Sustainability #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Goals, Impact, Deliverables, and Phases</h2>

			{% if is_granted('edit', projectGeneralInfo) %}
            <a href="{{ path('specialist_project_phase_goals_sustainability', { 'id': specialistProjectPhase.id }) }}"
               class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        <table class="table table__view-mode">
            <tbody>
            <tr>
                <th>
                    {% trans %}How does this project support Mission goals{% endtrans %}:
                </th>
                <td>{{ projectGeneralInfo.postMissionGoalsDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}By the end of this Specialist project, what will the participants be able to do, or what will they have learned{% endtrans %}:
                </th>
                <td>{{ projectGeneralInfo.specialistProjectPhase.sustainabilityDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}Please describe the project deliverables, if any.{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.specialistProjectPhase.deliverablesDesc|nl2br }}</td>
            </tr>
            <tr>
                <th>
                    {% trans %}If you plan on submitting a proposal for an additional phase or phases which will continue this project, please briefly describe the plans for the subsequent phase(s).{% endtrans %}
                    {% trans %}Please note that additional phases will be part of the same project, but the additional phase must be submitted separately using the “Submit Additional Phase of Existing Project” button on the dashboard. Additional phases will be approved independently of the initial phase.{% endtrans %}
                </th>
                <td>{{ projectGeneralInfo.specialistProjectPhase.subsequentPhasesDesc|nl2br }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% if specialistProjectPhase.type == constant('VIRTUAL_TYPE', specialistProjectPhase) %}
        {# Virtual Itinerary Dates #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="pull-left">Virtual Itinerary</h2>

				{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('specialist_project_phase_itinerary_virtual_dates', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
				{% endif %}
            </div>

            <table class="table table__view-mode">
                <tbody>
                <tr>
                    <th>{% trans %}Estimated Start Date{% endtrans %}</th>
                    <td>
                        {% if specialistProjectPhase.startDate %}
                            {{ specialistProjectPhase.startDate|date('l, F d, Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Estimated End Date{% endtrans %}</th>
                    <td>
                        {% if specialistProjectPhase.endDate %}
                            {{ specialistProjectPhase.endDate|date('l, F d, Y') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% trans %}Are the start and end dates flexible?{% endtrans %}
                    </th>
                    <td>
                        {% if specialistProjectPhase.datesFlexible is not null %}
                            {% if specialistProjectPhase.datesFlexible %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Date and length comment{% endtrans %}</th>
                    <td>{{ specialistProjectPhase.dateLengthDesc|nl2br }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% if specialistProjectPhase.startDate and specialistProjectPhase.endDate and specialistProjectPhase.virtualItineraryWeeks is not empty %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="pull-left">Virtual Itinerary Activities</h2>

					{% if is_granted('edit', projectGeneralInfo) %}
                    <a href="{{ path('specialist_project_phase_itinerary_virtual_activities', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
					{% endif %}
                </div>

                {% include ':project/specialist/wizard/virtual/itinerary:activities_table.html.twig' with {'weeks': weeks, 'edit_activities': false} %}

		    {% if virtualActivities != null %}
                <div class="panel-body">
                    {% include ':project/specialist/wizard/virtual/itinerary:activities_summary.html.twig' with { 'activities': virtualActivities } %}
                </div>
		    {% endif %}

            </div>
        {% endif %}

    {% endif %}

    {% if is_mixed_project %}
        {% set mixed_virtual_component = specialistProjectPhase.mixedVirtualComponent %}

        {# Virtual Itinerary dates (Mixed proposal) #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="pull-left">Virtual Itinerary</h2>

				{% if is_granted('edit', projectGeneralInfo) %}
                <a href="{{ path('specialist_project_phase_itinerary_mixed_virtual_component', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">
                    {% trans %}Edit{% endtrans %}
                </a>
				{% endif %}
            </div>

            <table class="table table__view-mode">
                <tbody>
                <tr>
                    <th>
                        {% trans %}When will the Virtual component for this project occur, with reference to the In Country component?{% endtrans %}
                    </th>
                    <td>{{ virtual_mixed_component }}</td>
                </tr>
                {% if constant('MIXED_VIRTUAL_COMPONENT_BEFORE', specialistProjectPhase) == mixed_virtual_component %}
                    <tr>
                        <th>{% trans %}Estimated Start Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualStartDateBefore is not null %}
                                {{ specialistProjectPhase.virtualStartDateBefore|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}Estimated End Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualEndDateBefore is not null %}
                                {{ specialistProjectPhase.virtualEndDateBefore|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                {% elseif constant('MIXED_VIRTUAL_COMPONENT_AFTER', specialistProjectPhase) == mixed_virtual_component %}
                    <tr>
                        <th>{% trans %}Estimated Start Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualStartDateAfter is not null %}
                                {{ specialistProjectPhase.virtualStartDateAfter|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}Estimated End Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualEndDateAfter is not null %}
                                {{ specialistProjectPhase.virtualEndDateAfter|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                {% elseif constant('MIXED_VIRTUAL_COMPONENT_BEFORE_AND_AFTER', specialistProjectPhase) == mixed_virtual_component %}
                    <tr>
                        <th colspan="2" class="table-title">{% trans %}Before In Country Component{% endtrans %}</th>
                    </tr>
                    <tr>
                        <th>{% trans %}Estimated Start Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualStartDateBefore is not null %}
                                {{ specialistProjectPhase.virtualStartDateBefore|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}Estimated End Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualEndDateBefore is not null %}
                                {{ specialistProjectPhase.virtualEndDateBefore|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="table-title">{% trans %}After In Country Component{% endtrans %}</th>
                    </tr>
                    <tr>
                        <th>{% trans %}Estimated Start Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualStartDateAfter is not null %}
                                {{ specialistProjectPhase.virtualStartDateAfter|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans %}Estimated End Date{% endtrans %}</th>
                        <td>
                            {% if specialistProjectPhase.virtualEndDateAfter is not null %}
                                {{ specialistProjectPhase.virtualEndDateAfter|date('l, F d, Y') }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>
                        {% trans %}Are the start and end dates flexible?{% endtrans %}
                    </th>
                    <td>
                        {% if specialistProjectPhase.virtualDatesFlexible is not null %}
                            {% if specialistProjectPhase.virtualDatesFlexible %}Yes{% else %}No{% endif %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}Date and length comment{% endtrans %}</th>
                    <td>{{ specialistProjectPhase.virtualDateLengthDesc|nl2br }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {# Virtual Itinerary activities (Mixed proposal) #}
        {% if weeks is not empty %}
            {% set has_before_after_component = specialistProjectPhase.mixedVirtualComponent == constant('MIXED_VIRTUAL_COMPONENT_BEFORE_AND_AFTER', specialistProjectPhase) %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="pull-left">Virtual Itinerary Activities</h2>

					{% if is_granted('edit', projectGeneralInfo) %}
                    <a href="{{ path('specialist_project_phase_itinerary_mixed_virtual_activities', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">{% trans %}Edit{% endtrans %}</a>
					{% endif %}
                </div>

                {% if has_before_after_component %}
                    <table class="table table__view-mode">
                        <tbody>
                        <tr>
                            <th colspan="2" class="table-title">{% trans %}Before In Country Component{% endtrans %}</th>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

                {% include ':project/specialist/wizard/virtual/itinerary:activities_table.html.twig' with { 'weeks': weeks, 'edit_activities': false } %}

                {% if has_before_after_component %}
                    <table class="table table__view-mode">
                        <tbody>
                        <tr>
                            <th colspan="2" class="table-title">{% trans %}After In Country Component{% endtrans %}</th>
                        </tr>
                        </tbody>
                    </table>

                    {% include ':project/specialist/wizard/virtual/itinerary:activities_table.html.twig' with { 'weeks': weeks_after, 'edit_activities': false, 'loop_index_carry': weeks|length } %}
                {% endif %}

                {% if virtualActivities != null %}
                    <div class="panel-body">
                        {% include ':project/specialist/wizard/virtual/itinerary:activities_summary.html.twig' with { 'activities': virtualActivities } %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

    {# @var phaseBudget \AppBundle\Entity\SpecialistProjectPhaseBudget #}
    {% set phaseBudget = specialistProjectPhase.budget %}

    {% if inCountryOrMixed %}
        {% set budgetPath = 'specialist_project_phase_budget_funded_by' %}
    {% else %}
        {% set budgetPath = 'specialist_project_phase_budget_virtual_funded_by' %}
	{% endif %}

    {# Budget #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="pull-left">Budget</h2>

			{% if is_granted('edit', phaseBudget) %}
            <a href="{{ path(budgetPath, {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">
                {% trans %}Edit{% endtrans %}
            </a>
			{% endif %}
        </div>

        {% if phaseBudget != null %}
            {% set fundedBy = phaseBudget.fundedBy %}

			<div class="panel-body">

			{% if fundedBy != null %}
				<p><strong>{% trans %}This proposal is requesting: {% endtrans %}</strong>

				{% if fundedBy == 'ECA' %}
					<span>{% trans %}Funding from ECA (in part or in full){% endtrans %} </span></p>
				{% else %}
					<span>{% trans %}No funding from ECA{% endtrans %} </span></p>
					<strong>{% trans %}Post funding source:{% endtrans %}</strong>
					<p>{{ phaseBudget.postFundingSource|nl2br }}</p>
				{% endif %}
			{% endif %}

			{% if phaseBudget.budgetTotals.count %}
				<h3 class="fieldset__subtitle">{% trans %}Budget Summary{% endtrans %}</h3>
				<div class="summary-totals summary-budget summary-budget row">
					<div class="summary-item col-md-3">
						<div class="css-tooltip css-tooltip--right css-tooltip--block">
							<div class="title css-tooltip__trigger">{% trans %}Total entered costs (including Stipend){% endtrans %}</div>
							<div class="css-tooltip__content">
								{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
									{% trans %}Tooltip Content - Specialist entered costs - Review Budget{% endtrans %}
								{% elseif specialistProjectPhase.type == constant('MIXED_TYPE', specialistProjectPhase) %}
									{% trans %}Tooltip Content - Specialist entered costs - Review Budget for Mixed{% endtrans %}
								{% else %}
									{% trans %}Tooltip Content - Specialist entered costs - Review Budget for Virtual{% endtrans %}
								{% endif %}
							</div>
						</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.fullCost|currency_format(0) }}</div>
					</div>
					<div class="operator col-md-1"> +</div>

					<div class="summary-item col-md-3">
						<div class="css-tooltip css-tooltip--right css-tooltip--block">
							<div class="title css-tooltip__trigger">{% trans %}Total fixed costs{% endtrans %}</div>
							<div class="css-tooltip__content">
								{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
									{% trans %}Tooltip Content - Specialist fixed costs - Review Budget{% endtrans %}
                                {% elseif specialistProjectPhase.type == constant('MIXED_TYPE', specialistProjectPhase) %}
                                    {% trans %}Tooltip Content - Specialist fixed costs - Review Budget for Mixed{% endtrans %}
                                {% else %}
                                    {% trans %}Tooltip Content - Specialist fixed costs - Review Budget for Virtual{% endtrans %}
								{% endif %}
							</div>
						</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.global|currency_format(0) }}</div>
					</div>
					<div class="operator col-md-1"> =</div>

					<div class="summary-item col-md-4">
						<div class="title">{% trans %}Total cost{% endtrans %}</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.total|currency_format(0) }}</div>
					</div>
				</div>

				<h3 class="fieldset__subtitle">{{ 'Contributions'|trans }}</h3>
				<div class="summary-totals summary-budget row">
					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total Post contribution{% endtrans %}</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.postTotalContribution|currency_format(0) }}</div>
					</div>

					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total Partnering Organization contribution (monetary){% endtrans %}</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.hostContributionMonetary|currency_format(0) }}</div>
					</div>

					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total Partnering Organization contribution (in-kind){% endtrans %}</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.hostContributionInKind|currency_format(0) }}</div>
					</div>

					<div class="summary-item col-md-3">
						<div class="title">{% trans %}Total ECA contribution{% endtrans %}</div>
						<div class="value">{{ phaseBudget.budgetTotals.first.ecaTotalContribution|currency_format(0) }}</div>
					</div>
				</div>

				{% if inCountryOrMixed %}
                    <h3 class="fieldset__subtitle">
						{% if specialistProjectPhase.type == constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
							{% trans %}Stipend, Pre- and Post-work days{% endtrans %}
						{% else %}
							{% trans %}Stipend for In-Country Activities{% endtrans %}
						{% endif %}
                    </h3>
                    <table class="table table-bordered table-budget">
                        <thead>
                        <tr class="header headers-center lighter-blue-bg">
                            <th id="flexible_desc">{% trans %}Name{% endtrans %}</th>
                            <th id="flexible_days">{% trans %}Number of days{% endtrans %}</th>
                            <th id="flexible_rate">{% trans %}Rate per day{% endtrans %}</th>
                            <th id="flexible_total">{% trans %}Total cost{% endtrans %}</th>
                        </tr>
                        </thead>

                        <tbody>
						{% if dailyCosts|length %}
							{% for name, dailyCost in dailyCosts %}
                                <tr>
                                    <td headers="flexible_desc">{{ name|replace({' (per day)': ''}) }}</td>
                                    <td headers="flexible_desc" class="text-right">{{ dailyCost[0] }}</td>
                                    <td headers="flexible_desc" class="text-right">{{ dailyCost[1]|currency_format(0) }}</td>
                                    <td headers="flexible_desc" class="text-right">{{ dailyCost[2]|currency_format(0) }}</td>
                                </tr>
							{% endfor %}
                            <tr>
                                <th colspan="3" class="text-right no-border">{% trans %}Total{% endtrans %}</th>
                                <th class="text-right no-border">{{ (phaseBudget.budgetTotals.first.dailyGlobal + phaseBudget.budgetTotals.first.prePostWork)|currency_format(0) }}</th>
                            </tr>
						{% else %}
                            <tr>
                                <td colspan="4">{% trans %}Not daily costs defined{% endtrans %}</td>
                            </tr>
						{% endif %}
                        </tbody>
                    </table>
				{% endif %}

				{% if specialistProjectPhase.type != constant('IN_COUNTRY_TYPE', specialistProjectPhase) %}
					<h3 class="fieldset__subtitle">{% trans %}Stipend for Virtual Activities{% endtrans %}</h3>
					<table class="table table-bordered table-budget">
						<thead>
						<tr class="header headers-center lighter-blue-bg">
							<th id="flexible_days">{% trans %}Number of hours{% endtrans %}</th>
							{% set hours = stipendCosts.item.periodicity %}
							<th id="flexible_rate">{% trans %}Rate per hour{% endtrans %}</th>
							<th id="flexible_total">{% trans %}Total cost{% endtrans %}</th>
						</tr>
						</thead>

						<tbody>
						<tr>
							<td headers="flexible_desc" class="text-right">{{ stipendCosts['hours'] }}</td>
							<td headers="flexible_desc" class="text-right">{{ (stipendCosts.item.defaultValue / stipendCosts.item.periodicity)|currency_format(2) }}</td>
							<td headers="flexible_desc" class="text-right">{{ stipendCosts.total|currency_format(0) }}</td>
						</tr>
						</tbody>
					</table>
				{% endif %}

			{% endif %}

            {% if inCountryOrMixed %}
				<h3>Living Expenses</h3>

				<table class="table table-bordered">
					<thead>
					<tr class="header headers-center lighter-blue-bg">
						<th id="daily_cost_date">{% trans %}Date{% endtrans %}</th>
						<th id="daily_cost_city">{% trans %}City{% endtrans %}</th>
						{% for expenseItem in livingExpensesCostItems %}
							<th id="daily_cost_{{ loop.index }}">{{ expenseItem.description }}</th>
						{% endfor %}
						<th id="daily_cost_total">{% trans %}Total{% endtrans %}</th>
					</tr>
					</thead>

					<tbody>
					{% for date, livingExpense in livingExpenses.rows %}
						<tr>
							<td headers="daily_cost_date">{{ date|date('l, F d, Y') }}</td>
							{% if livingExpense %}
								<td headers="daily_cost_city">{{ livingExpense.city.city }}</td>
								{% for expenseItem in livingExpensesCostItems %}
									<td headers="daily_cost_{{ loop.index }}" class="text-right">
										{{ livingExpense[expenseItem.description]|currency_format(0) }}
									</td>
								{% endfor %}
								<td headers="daily_cost_total" class="text-right">{{ livingExpense.total|currency_format(0) }}</td>
							{% else %}
								<td headers="daily_cost_city"></td>
								{% for expenseItem in livingExpensesCostItems %}
									<td headers="daily_cost_{{ loop.index }}"></td>
								{% endfor %}
								<td headers="daily_cost_total"></td>
							{% endif %}
						</tr>
					{% endfor %}
					</tbody>

					<tfoot>
					<tr>
						<th colspan="{{ livingExpensesCostItems|length }}" class="text-right no-border">{% trans %}Total{% endtrans %}</th>
						{% for expenseItem in livingExpensesCostItems %}
							<th class="text-right no-border">
								{% if loop.index > 1 %}
									<span class="pull-left budget-totals-icon" aria-hidden="true">+</span>
								{% endif %}
								{{ totals[expenseItem.description]|currency_format(0) }}
							</th>
						{% endfor %}
						<th class="text-right no-border">
							<span class="pull-left budget-totals-icon" aria-hidden="true">=</span>
							{{ livingExpenses.total|currency_format(0) }}
						</th>
					</tr>
					</tfoot>
				</table>

				{% if phaseBudget.livingExpenseExceptions is not null %}
					<table class="table table__view-mode">
						<tbody>
						<tr>
							<th>
								Are there any days when the Specialist will not need the Lodging allowance, for example because of overnight travel on a plane or train? Please specify below, identifying day, city and reason. In these instances, the Lodging amount will be adjusted accordingly when the Agreement is drawn up.
							</th>
							<td>
								{{ phaseBudget.livingExpenseExceptions|nl2br }}
							</td>
						</tr>
						</tbody>
					</table>
				{% endif %}

				{% if phaseBudget.contributionGroundTransport %}
					<h4 class="fieldset__subtitle">
						{% trans %}Estimated Ground Transportation cost over full Specialist assignment{% endtrans %}
					</h4>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<table class="table table-bordered table-budget">
								<thead>
								<tr class="header headers-center lighter-blue-bg">
									<th id="living_expense_item">
										{% trans %}Description{% endtrans %}
									</th>
									<th id="living_expense_total_cost">
										{% trans %}Total cost{% endtrans %}
									</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td headers="living_expense_item">
										{{ phaseBudget.contributionGroundTransport.costItem.description }}
									</td>
									<td headers="living_expense_total_cost" class="text-right">
										{{ phaseBudget.contributionGroundTransport.totalCost|currency_format(0) }}
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

				{% endif %}

				{% if phaseBudget.contributionLivingExpenses.count and fundedBy %}
					<h3>{% trans %}Contribution towards Living Expenses{% endtrans %}</h3>

					{% if errors['livingExpenses'].costs is defined and errors['livingExpenses'].costs > 0
					or errors['groundTransport'].costs is defined and errors['groundTransport'].costs > 0 %}
						<div class="alert alert-danger small">
							{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
						</div>
					{% endif %}

					{% if errors['livingExpenses'].totals is defined and errors['livingExpenses'].totals > 0
					or errors['groundTransport'].totals is defined and errors['groundTransport'].totals > 0 %}
						<div class="alert alert-danger small">
							{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
						</div>
					{% endif %}

					{% for livingExpense in phaseBudget.livingExpenseEstimates %}
						<h4 class="fieldset__subtitle">
							{% trans %}Contributions for{% endtrans %} {{ livingExpense.inCountryAssignment.city }}
							({{ livingExpense.inCountryAssignment.country.name }})
						</h4>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<table class="table table-bordered mt-5">
									<thead>
									{% include('project/specialist/wizard/budget/' ~ fundedBy|lower ~ '/contribution_living_expenses_table_header.html.twig') %}
									</thead>
									<tbody>
									{% for livingExpenseCostItem in livingExpense.livingExpenseCostItems %}

										{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
										{% set contributionCostItem = livingExpenseCostItem.contributionLivingExpenseCostItem %}
										{% include 'project/specialist/wizard/budget/contribution_le_table_row.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'living_expenses', 'errors': errors['livingExpenses']} %}
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					{% endfor %}

					{% if phaseBudget.contributionGroundTransport %}
						{% set contributionCostItem = phaseBudget.contributionGroundTransport %}
						<h4 class="fieldset__subtitle">
							{% trans %}Contributions
							for{% endtrans %} {{ contributionCostItem.CostItem.description }}
						</h4>

						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<table class="table table-bordered mt-5">
									<thead>
									{% include('project/specialist/wizard/budget/' ~ fundedBy|lower ~ '/contribution_living_expenses_table_header.html.twig') %}
									</thead>
									<tbody>
									{% include 'project/specialist/wizard/budget/contribution_table_row.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'groung_transport', 'errors': errors['groundTransport']} %}
									</tbody>
								</table>
							</div>
						</div>
					{% endif %}
				{% endif %}

				{% if phaseBudget.contributionTransportation %}
					<h3>{% trans %}Transportation between cities of assignment{% endtrans %}</h3>

					{% if errors['transportation'].costs is defined and errors['transportation'].costs > 0 %}
						<div class="alert alert-danger small">
							{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
						</div>
					{% endif %}

					{% if errors['transportation'].totals is defined and errors['transportation'].totals > 0 %}
						<div class="alert alert-danger small">
							{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
						</div>
					{% endif %}

					<table class="table table-bordered">
						<thead>
						{% include ':project/specialist/wizard/budget:transportation_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy} %}
						</thead>
						<tbody>
						{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
						{% set contributionCostItems = phaseBudget.contributionTransportation.transportationCostItems %}
						{% set totals = phaseBudget.contributionTransportation.calculateSummaryTotals %}

						{% include ':project/specialist/wizard/budget:transportation_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'totals': totals, 'errors': errors['transportation']} %}
						</tbody>
					</table>
				{% endif %}

				{% if phaseBudget.contributionOneTime and fundedBy %}
					<h3>{% trans %}One-time costs for all locations{% endtrans %}</h3>

					{% if errors['oneTime'].costs is defined and errors['oneTime'].costs > 0 %}
						<div class="alert alert-danger small">
							{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
						</div>
					{% endif %}

					{% if errors['oneTime'].totals is defined and errors['oneTime'].totals > 0 %}
						<div class="alert alert-danger small">
							{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
						</div>
					{% endif %}

					<table class="table table-bordered">
						<thead>
						{% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'one_time'} %}
						</thead>
						<tbody>
						{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
						{% set contributionCostItems = phaseBudget.contributionOneTime.contributionOneTimeCostItems %}

						{% set totals = phaseBudget.contributionOneTime.calculateSummaryTotals %}

						{% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'one_time', 'totals': totals, 'errors': errors['oneTime']} %}
						</tbody>
					</table>
				{% endif %}

            {% endif %}

			{# Additional PAA is common to all types #}
			{% if phaseBudget.programActivitiesAllowance and fundedBy %}
				<h3>{% trans %}Additional Program Activities Allowance{% endtrans %}</h3>

				{% if errors['paa'].costs is defined and errors['paa'].costs > 0 %}
					<div class="alert alert-danger small">
						{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
					</div>
				{% endif %}

				{% if errors['paa'].totals is defined and errors['paa'].totals > 0 %}
					<div class="alert alert-danger small">
						{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
					</div>
				{% endif %}

				<table class="table table-bordered">
					<thead>
					{% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'paa'} %}
					</thead>
					<tbody>
					{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
					{% set contributionCostItems = phaseBudget.programActivitiesAllowance.programActivitiesAllowanceCostItems %}

					{% set totals = phaseBudget.programActivitiesAllowance.calculateSummaryTotals %}

					{% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': phaseBudget.fundedBy, 'contributionType': 'paa', 'totals': totals, 'errors': errors['paa']} %}
					</tbody>
				</table>
			{% endif %}

			</div>
	    {% endif %}
    </div>

    {% include 'project/specialist/show_navigation.html.twig' %}

	{% if projectGeneralInfo.submittedBy != null %}
		</div >

		<div class="col-md-3">
			{{ render(controller('AppBundle:SpecialistProjectReview:review', {'id': specialistProjectPhase.id})) }}
		</div>

		</div>
	{% endif %}

{% endblock %}
