{% extends '::base.html.twig' %}

{% block title %}Manage Hosts &#124; Proposal System{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function ($) {
			/**
			 * Triggers the deletion of a Host Institution
			 */
			$('.link-delete').click(function (e) {
				e.preventDefault();

				if (confirm('{% trans %}Do you really want to delete this Host Institution?{% endtrans %}')) {
					$('#delete-form form').attr('action', $(this).attr('href')).trigger('submit');
				}
			});
		})
	</script>

{% endblock %}

{% block body %}
	<h1>
		Manage Host Institutions
		<a class="btn btn-primary" href="{{ path('admin_host_new') }}">
			{% trans %}Add new Host Institution{% endtrans %}
		</a>
	</h1>

	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th id="host-id" class="col-md-1 col-lg-1">Reference #</th>
					<th id="host-name" class="col-md-3 col-lg-3">Name</th>
					<th id="host-country" class="col-md-4 col-lg-4">Country</th>
					<th id="host-number-proposals" class="col-md-1 col-lg-1">Number of Proposals with this Host Institution</th>
					<th id="host-created-at" class="col-md-2 col-lg-2">Date of Creation</th>
					<th id="host-actions" class="col-md-1 col-lg-1">Actions</th>
				</tr>
				</thead>
				{% if hosts is not empty %}
					<tbody>
					{# @var host \AppBundle\Entity\Host #}
					{% for host in hosts %}
						<tr>
							<td headers="host-id" class="text-center">{{ host.id }}</td>
							<td headers="host-name">{{ host.name }}</td>
							<td headers="host-country">
								{{ host.cname }}
							</td>
							<td headers="host-number-proposals" class="text-center">{{ host.projects }}</td>
							<td headers="host-created-at">{{ host.createdAt|date('m/d/Y') }}</td>
							<td headers="host-actions">
								<ul class="list-unstyled no-margin">
									<li>
										<a href="{{ path('admin_host_edit', {'id': host.id}) }}">Edit</a>
									</li>
									{% if not host.projects %}
										<li>
											<a class="link-delete" href="{{ path('admin_host_delete', {'id': host.id}) }}">Delete</a>
										</li>
									{% endif %}
								</ul>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				{% else %}
					<tfoot>
					<tr>
						<td headers="host-id" colspan="6">There are no Hosts</td>
					</tr>
					</tfoot>
				{% endif %}
			</table>
		</div>

		<div id="delete-form" class="hidden">
			{{ form_start(deleteForm) }}
			{{ form_end(deleteForm) }}
		</div>
	</div>
{% endblock %}
