{% extends 'project/common/base_wizard_step.html.twig' %}

{% block wizard_step_title %}
	<h2>
		Budget
		<small class="pull-right">Step 2 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}
    {% set fundedBy = phaseBudget.fundedBy %}

	<div class="form-group">
		<div class="summary-funded panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 mb-5">
						<strong>{% trans %}This proposal is requesting:{% endtrans %}</strong>
						{% if fundedBy == 'ECA' %}
							<span>{% trans %}Funding from ECA (in part or in full){% endtrans %}
						{% else %}
							<span>{% trans %}No funding from ECA{% endtrans %} </span>
						{% endif %}
						<div class="css-tooltip css-tooltip--right">
							<a href="{{ path('specialist_project_phase_budget_virtual_funded_by', {id: specialistProjectPhase.id}) }}"
							   class="btn btn-default ml-5 css-tooltip__trigger">
								{% trans %}Change{% endtrans %}
							</a>
							<div class="css-tooltip__content">
								<p>
									{% trans %}You will be re-directed back to the tables to review the fields required for the new funding. Your current values will be saved and the final totals will be automatically updated.{% endtrans %}
								</p>
							</div>
						</div>
					</div>
				</div>
				{% if phaseBudget.postFundingSource is not null %}
					<div class="row">
						<div class="col-md-12 mt-5">

							<small>
								<strong>{% trans %}Post funding source:{% endtrans %}</strong>
								<p>{{ phaseBudget.postFundingSource }}</p>
							</small>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{%  if phaseBudget.budgetTotals.count %}
		<h3 class="fieldset__subtitle">{% trans %}Budget Summary{% endtrans %}</h3>
		<div class="summary-totals summary-budget summary-budget row">
			<div class="summary-item col-md-3">
				<div class="css-tooltip css-tooltip--right css-tooltip--block">
					<div class="title css-tooltip__trigger">{% trans %}Total entered costs (including Stipend){% endtrans %}</div>
					<div class="css-tooltip__content">
						{% trans %}Tooltip Content - Specialist entered costs - Review Budget for Virtual{% endtrans %}
					</div>
				</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.fullCost|currency_format(0) }}</div>
			</div>
			<div class="operator col-md-1"> + </div>

			<div class="summary-item col-md-3">
				<div class="css-tooltip css-tooltip--right css-tooltip--block">
					<div class="title css-tooltip__trigger">{% trans %}Total fixed costs{% endtrans %}</div>
					<div class="css-tooltip__content">
						{% trans %}Tooltip Content - Specialist fixed costs - Review Budget for Virtual{% endtrans %}
					</div>
				</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.global|currency_format(0) }}</div>
			</div>
			<div class="operator col-md-1"> =</div>

			<div class="summary-item col-md-4">
				<div class="title">{% trans %}Total cost{% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.total|currency_format(0) }}</div>
			</div>
		</div>

		<h3 class="fieldset__subtitle">{{ 'Contributions'|trans }}</h3>
		<div class="summary-totals summary-budget row">
			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total Post contribution{% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.postTotalContribution|currency_format(0) }}</div>
			</div>

			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total Partnering Organization contribution (monetary){% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.hostContributionMonetary|currency_format(0) }}</div>
			</div>

			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total Partnering Organization contribution (in-kind){% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.hostContributionInKind|currency_format(0) }}</div>
			</div>

			<div class="summary-item col-md-3">
				<div class="title">{% trans %}Total ECA contribution{% endtrans %}</div>
				<div class="value">{{ phaseBudget.budgetTotals.first.ecaTotalContribution|currency_format(0) }}</div>
			</div>
		</div>

		<h3 class="fieldset__subtitle">{% trans %}Stipend{% endtrans %}</h3>
		<table class="table table-bordered table-budget">
			<thead>
			<tr class="header headers-center lighter-blue-bg">
				<th id="flexible_days">{% trans %}Number of hours{% endtrans %}</th>
				{% set hours = stipendCosts.item.periodicity %}
				<th id="flexible_rate">{% trans %}Rate per hour{% endtrans %}</th>
				<th id="flexible_total">{% trans %}Total cost{% endtrans %}</th>
			</tr>
			</thead>

			<tbody>
				<tr>
					<td headers="flexible_desc" class="text-right">{{ stipendCosts['hours'] }}</td>
					<td headers="flexible_desc" class="text-right">{{ (stipendCosts.item.defaultValue / stipendCosts.item.periodicity)|currency_format(2) }}</td>
					<td headers="flexible_desc" class="text-right">{{ stipendCosts.total|currency_format(0) }}</td>
				</tr>
			</tbody>
		</table>

	{% endif %}

	<h3 class="fieldset__subtitle">
		{% trans %}Requested Program Activities Allowance{% endtrans %}
		<a href="{{ path('specialist_project_phase_budget_virtual_paa', {'id': specialistProjectPhase.id}) }}" class="btn btn-info pull-right">Edit</a>
	</h3>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<p>By default Virtual Specialist do not receive PAA.<br>
			If the Specialist will need a PAA, please describe the item and the cost,
			and indicate the amount post/Partnering Organization will contribute to that cost.</p>
		</div>
	</div>

	{% if errors['paa'].costs is defined and errors['paa'].costs > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions, but no corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{% if errors['paa'].totals is defined and errors['paa'].totals > 0 %}
		<div class="alert alert-danger small">
			{% trans %}You have items in the table below with contributions exceeding their corresponding cost. Please review.{% endtrans %}
		</div>
	{% endif %}

	{# Program Activities Allowance #}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<table class="table table-bordered mt-5">
						<thead>
						{% include 'project/specialist/wizard/budget/contribution_table_header.html.twig' with {'fundedBy': fundedBy, 'contributionType': 'paa'} %}
						</thead>
						<tbody>
						{% if phaseBudget.programActivitiesAllowance is not null %}
							{# @var contributionCostItems \Doctrine\Common\Collections\ArrayCollection #}
							{% set contributionCostItems = phaseBudget.programActivitiesAllowance.programActivitiesAllowanceCostItems %}

							{% set totals = phaseBudget.programActivitiesAllowance.calculateSummaryTotals %}

							{% include 'project/specialist/wizard/budget/contribution_table_body.html.twig' with {'fundedBy': fundedBy, 'contributionType': 'paa', 'totals': totals, 'errors': errors['paa']} %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

{% endblock %}
