{% extends '::base.html.twig' %}

{% block title %}Shopping Cart &#124; Fellow Proposals &#124; Proposal System{% endblock %}

{% macro allQueriesExcept(exceptions) %}
    {% for key, value in app.request.query.all if key not in exceptions %}
        {{ _self.renderInput(key, value) }}
    {% endfor %}
{% endmacro %}

{% macro justQueries(keys) %}
    {% for key, value in app.request.query.all if key in keys %}
        {{ _self.renderInput(key, value) }}
    {% endfor %}
{% endmacro %}

{% macro renderInput(key, value) %}
    {% if value is iterable %}
        {% for subkey, val in value %}
            {{ _self.renderInput(key ~ '[' ~ subkey ~ ']', val) }}
        {% endfor %}
    {% else %}
        <input type="hidden" name="{{ key }}" value="{{ value }}"/>
    {% endif %}
{% endmacro %}

{% block body %}

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1>Shop Proposals{% if is_granted('ROLE_RPO') and shopping_cart_region is not null %} in {{ shopping_cart_region }}{% endif %}</h1>

            {% include 'notifications.html.twig' %}

            {% if is_granted('ROLE_STATE_DEPARTMENT') or is_granted('ROLE_ADMIN') %}
                <div class="row tabs-light">
                    <div class="col-md-12 col-lg-12">
                        <ul class="nav nav-tabs">
                            {# @var region \AppBundle\Entity\Region #}
                            {% for region in regions %}
                                <li role="presentation"{% if region is same as(shopping_cart_region) %} class="active"{% endif %}>
                                    <a href="{{ path('fellow_project_region_shopping_cart', {acronym: region.acronym}) }}">
                                        {{ region.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="summary-totals summary-budget row">
                        <div class="summary-item col-md-3 col-lg-3">
                            <div class="title">
                                {% trans %}Total Regional Budget{% endtrans %}
                            </div>
                            <div class="value">
                                <span id="total-regional-budget" data-value="{{ regional_budget }}">
                                    {{ regional_budget|currency_format(0) }}
                                </span>
                            </div>
                        </div>
                        <div class="operator col-md-1">&#45;</div>

                        <div class="summary-item col-md-3 col-lg-3">
                            <div>
                                <div class="title">
                                    {% trans %}Current Regional Budget in Shopping Cart{% endtrans %}
                                </div>
                            </div>
                            <div class="value">
                                <span id="budget-in-shopping-cart" data-value="{{ budget_in_shopping_cart }}">
                                    {{ budget_in_shopping_cart|currency_format(0) }}
                                </span>
                            </div>
                        </div>
                        <div class="operator col-md-1">&#61;</div>

                        <div class="summary-item col-md-4">
                            <div class="title">
                                {% trans %}Estimated Remaining Regional Budget{% endtrans %}
                            </div>
                            <div class="value">
                                {% set estimated_regional_budget = regional_budget - budget_in_shopping_cart %}

                                <span id="estimated-regional-budget" data-value="{{ estimated_regional_budget }}">
                                    {{ estimated_regional_budget|currency_format(0) }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="summary-funded panel panel-default no-margin">
                        <div class="panel-body text-right">
                            <span id="under-consideration-fellow-projects-counter" style="font-size:20px;">
                                {{ fellow_projects_under_consideration|length }}
                            </span>
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size:20px; margin-left:20px;">
                                &nbsp;
                            </span>
                            <a href="{{ path('fellow_project_shopping_cart_share') }}" class="btn btn-default">{% trans %}Share with ECA{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h2>{% trans %}Proposals under Consideration for being Selected{% endtrans %}</h2>

            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="under-consideration-fellow-projects" class="table table-bordered no-margin" data-sortable>
                        {% set no_under_consideration_projects = fellow_projects_under_consideration is empty %}

                        <thead>
                        <tr>
                            <th id="under-consideration-project-reference-number" class="col-lg-1 col-md-1" data-sortable-type="alpha">
								{% trans %}Reference #{% endtrans %}
							</th>
                            <th id="under-consideration-browse-project-total-cost" class="col-md-1 col-lg-1" data-sortable-type="numeric">
                                {% trans %}Total Cost of Fellowship (&#36;){% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-eca-total-contribution" class="col-md-1 col-lg-1" data-sortable-type="numeric">
                                {% trans %}ECA Contribution (&#36;){% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-project-status" class="col-md-1 col-lg-1" data-sortable-type="alpha">
                                {% trans %}Proposal status{% endtrans %}
                            </th>
                            {% if not is_granted('ROLE_RPO') %}
                                <th id="under-consideration-browse-project-outcome" class="col-md-1 col-lg-1" data-sortable-type="alpha">
                                    {% trans %}Proposal Outcome{% endtrans %}
                                </th>
                                <th id="under-consideration-browse-project-region" class="col-md-1 col-lg-1" data-sortable-type="alpha">
                                    {% trans %}Region{% endtrans %}
                                </th>
                            {% endif %}
                            <th id="under-consideration-browse-project-rpo-ranking" class="col-md-1 col-lg-1" data-sortable-type="numeric">
                                {% trans %}RPO ranking{% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-relo-location" class="{% if not is_granted('ROLE_RPO') %}col-md-1 col-lg-1{% else %}col-md-2 col-lg-2{% endif %}" data-sortable-type="alpha">
                                {% trans %}RELO Location{% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-relo-ranking" class="col-md-1 col-lg-1" data-sortable-type="numeric">
                                {% trans %}RELO ranking{% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-country" class="col-md-1 col-lg-1" data-sortable-type="alpha">
                                {% trans %}Country{% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-host-institution" class="{% if not is_granted('ROLE_RPO') %}col-md-1 col-lg-1{% else %}col-md-2 col-lg-2{% endif %}" data-sortable-type="alpha">
                                {% trans %}Host Institution{% endtrans %}
                            </th>
                            <th id="under-consideration-browse-project-cycle" class="col-md-1 col-lg-1" data-sortable-type="alpha">
                                {% trans %}Cycle{% endtrans %}
                            </th>
                            <th id="under-consideration-action" data-sortable="false">Remove from Cart</th>
                        </thead>

                        <tfoot{% if no_under_consideration_projects %} class="hide"{% endif %}>
                        <tr>
                            <td headers="under-consideration-project-reference-number" class="text-right" colspan="2">
                                <strong>Total</strong>
                            </td>
                            <td headers="under-consideration-browse-project-eca-total-contribution" class="text-right">
                                <strong id="under-consideration-eca-total-budget">
                                    {{ budget_in_shopping_cart|currency_format(0) }}
                                </strong>
                            </td>
                            <td headers="under-consideration-browse-project-outcome" colspan="10">&nbsp;</td>
                        </tr>
                        </tfoot>

                        <tbody>
                        {% if not no_under_consideration_projects %}
                            {% for fellow_project_under_consideration in fellow_projects_under_consideration %}
                                {# @var project_general_info \AppBundle\Entity\ProjectGeneralInfo #}
                                {% set project_general_info = fellow_project_under_consideration.projectGeneralInfo %}

                                {# @var location_host \AppBundle\Entity\LocationHostInfo #}
                                {% set location_host = fellow_project_under_consideration.locationHostInfo %}

						        {% set budgetRevision = null %}
                                {% if fellow_project_under_consideration.fellowProjectBudget %}
                                    {# @var budgetRevision \AppBundle\Entity\FellowProjectBudgetRevision #}
                                    {% set budgetRevision = fellow_project_under_consideration.fellowProjectBudget.currentRevision %}
						        {% endif %}

                                {% set project_total_cost = (budgetRevision is not null and budgetRevision.fellowProjectBudgetTotals is not empty) ? budgetRevision.totalCost : 0 %}
                                {% set project_eca_total_contribution = (budgetRevision is not null and budgetRevision.fellowProjectBudgetTotals is not empty) ? budgetRevision.eCATotalContribution : 0 %}

                                <tr data-fellow-project-id="{{ fellow_project_under_consideration.id }}" data-eca-total-contribution="{{ project_eca_total_contribution }}">
                                    <td headers="under-consideration-project-reference-number">
                                        <a href="{{ path('project_fellow_show', {id: fellow_project_under_consideration.id}) }}">
                                            {{ project_general_info.referenceNumber }}
                                        </a>
                                    </td>
                                    <td headers="under-consideration-project-total-cost" class="text-right" data-value="{{ project_total_cost }}">
                                        {{ project_total_cost|currency_format(0) }}
                                    </td>
                                    <td headers="under-consideration-project-eca-total-contribution" class="text-right" data-value="{{ project_eca_total_contribution }}">
                                        {{ project_eca_total_contribution|currency_format(0) }}
                                    </td>
                                    <td headers="under-consideration-project-status">
                                        {{ project_general_info.proposalStatusText }}
                                    </td>
                                    {% if not is_granted('ROLE_RPO') %}
                                        <td headers="under-consideration-project-outcome">
                                            {% if project_general_info.projectOutcome is not null %}
                                                {{ project_general_info.projectOutcome.name }}
                                            {% endif %}
                                        </td>
                                        <td headers="under-consideration-project-region">
                                            {% if project_general_info.region is not null %}
                                                {{ project_general_info.region.acronym }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td headers="under-consideration-project-rpo-ranking" class="text-center">
                                        {% if project_general_info.rpoRanking is not null %}
                                            {{ project_general_info.rpoRanking }}
                                        {% endif %}
                                    </td>
                                    <td headers="under-consideration-project-relo-location">
                                        {% if project_general_info.firstRELOLocation is not null %}
                                            {{ project_general_info.firstRELOLocation.name }}
                                        {% endif %}
                                    </td>
                                    <td headers="under-consideration-project-relo-ranking" class="text-center">
                                        {% if project_general_info.reloRanking is not null %}
                                            {{ project_general_info.reloRanking }}
                                        {% endif %}
                                    </td>
                                    <td headers="under-consideration-project-country">
                                        {% if project_general_info.countries is not empty %}
                                            {{ project_general_info.countries.last.name }}
                                        {% endif %}
                                    </td>
                                    <td headers="under-consideration-project-host-institution">
                                        {% if location_host is not null and location_host.host is not null %}
                                            {{ location_host.host }}
                                        {% endif %}
                                    </td>
                                    <td headers="under-consideration-project-cycle">
                                        {% if fellow_project_under_consideration.cycleSeason is not null %}
                                            {{ fellow_project_under_consideration.cycleSeason|title }}
                                        {% endif %}
                                    </td>
                                    <td headers="under-consideration-action" class="text-center">
                                        <a href="javascript:void(0);" class="remove-shopping-cart-item text-danger">
                                            <span class="glyphicon glyphicon-trash">&nbsp;</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr class="under-consideration-no-items">
                                <td colspan="{% if not is_granted('ROLE_RPO') %}13{% else %}11{% endif %}" headers="under-consideration-project-reference-number">
                                    {% trans %}There are no Fellow proposals under consideration.{% endtrans %}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    <div class="text-right panel-body">
                    {% if is_granted('ROLE_STATE_DEPARTMENT') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('fellow_project_region_shopping_cart', {'acronym': shopping_cart_region.acronym, 'export': 'selected' }) }}" class="btn btn-info{% if no_under_consideration_projects %} hidden{% endif %}" id="csv-selected-proposals">{{ 'Download to CSV'|trans }}</a>
                    {% else %}
                        <a href="{{ path('fellow_project_shopping_cart', {'export': 'selected' }) }}" class="btn btn-info{% if no_under_consideration_projects %} hidden{% endif %}" id="csv-selected-proposals">{{ 'Download to CSV'|trans }}</a>
                    {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="widget-grid">
        {% if fellow_projects is not empty %}
            <div class="row">
                <div class="col-md-2 col-lg-2">
                    <div class="region region-content-left">
                        {{ form_start(filters_form, {'attr': {'novalidate': 'novalidate', 'class': 'filter'}}) }}
                        {{ form_widget(filters_form, {'attr': {'novalidate': 'novalidate', 'class': 'filter'}}) }}

                        {{ _self.justQueries(['sort', 'sortDirection', 'cycle']) }}

                        {{ form_end(filters_form) }}
                    </div>
                </div>

                <div class="col-md-10 col-lg-10">
                    <h2>Browse Proposals in {% if shopping_cart_region is not null %}{{  shopping_cart_region.name }}{% endif %}</h2>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table id="browse-fellow-projects" class="table table-bordered no-margin">
                                <thead>

                                {% set queryParams = app.request.query.all %}

                                <tr>
                                    <th id="browse-project-reference-number" class="col-lg-1 col-md-1">
                                        <div class="pull-left">{% trans %}Reference #{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'reference_number_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'reference_number_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-total-cost" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}Total Cost of Fellowship (&#36;){% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'total_cost_f', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'total_cost_f', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-eca-total-contribution" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}ECA Contribution (&#36;){% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'eca_total_contribution_f', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'eca_total_contribution_f', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-project-status" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}Proposal status{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'proposal_status_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'proposal_status_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    {% if not is_granted('ROLE_RPO') %}
                                        <th id="browse-project-outcome" class="col-md-1 col-lg-1">
                                            <div class="pull-left">{% trans %}Proposal Outcome{% endtrans %}</div>
                                            <div class="pull-left">
                                                <a title="Descending" href="?{{ queryParams|merge({'sort': 'proposal_outcome_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                                <a title="Ascending" href="?{{ queryParams|merge({'sort': 'proposal_outcome_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                            </div>
                                        </th>
                                        <th id="browse-project-region" class="col-md-1 col-lg-1">
                                            <div class="pull-left">{% trans %}Region{% endtrans %}</div>
                                            <div class="pull-left">
                                                <a title="Descending" href="?{{ queryParams|merge({'sort': 'region_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                                <a title="Ascending" href="?{{ queryParams|merge({'sort': 'region_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                            </div>
                                        </th>
                                    {% endif %}
                                    <th id="browse-project-rpo-ranking" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}RPO ranking{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'rpo_ranking_i', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'rpo_ranking_i', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-relo-location" class="{% if not is_granted('ROLE_RPO') %}col-md-1 col-lg-1{% else %}col-md-2 col-lg-2{% endif %}">
                                        <div class="pull-left">{% trans %}RELO Location{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'relo_location_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'relo_location_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-relo-ranking" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}RELO ranking{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'relo_ranking_i', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'relo_ranking_i', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-country" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}Country{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'country_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'country_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-host-institution" class="{% if not is_granted('ROLE_RPO') %}col-md-1 col-lg-1{% else %}col-md-2 col-lg-2{% endif %}">
                                        <div class="pull-left">{% trans %}Host Institution{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'host_institution_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'host_institution_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-project-cycle" class="col-md-1 col-lg-1">
                                        <div class="pull-left">{% trans %}Cycle{% endtrans %}</div>
                                        <div class="pull-left">
                                            <a title="Descending" href="?{{ queryParams|merge({'sort': 'cycle_season_s', 'sortDirection': 'desc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                                            <a title="Ascending" href="?{{ queryParams|merge({'sort': 'cycle_season_s', 'sortDirection': 'asc'})|url_encode }}"><span class="glyphicon glyphicon-triangle-top"></span></a>
                                        </div>
                                    </th>
                                    <th id="browse-action">{% trans %}Add to Cart{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {# @var fellow_project \AppBundle\Entity\FellowProject #}
                                {% for fellow_project in fellow_projects %}
                                    {# @var project_general_info \AppBundle\Entity\ProjectGeneralInfo #}
                                    {% set project_general_info = fellow_project.projectGeneralInfo %}

                                    {# @var location_host \AppBundle\Entity\LocationHostInfo #}
                                    {% set location_host = fellow_project.locationHostInfo %}

                                    {% if fellow_project.fellowProjectBudget %}
                                        {# @var budgetRevision \AppBundle\Entity\FellowProjectBudgetRevision #}
                                        {% set budgetRevision = fellow_project.fellowProjectBudget.currentRevision %}
                                    {% else %}
								        {% set budgetRevision = null %}
                                    {% endif %}

                                    {% set project_total_cost = (budgetRevision is not null and budgetRevision.fellowProjectBudgetTotals is not empty) ? budgetRevision.totalCost : 0 %}
                                    {% set project_eca_total_contribution = (budgetRevision is not null and budgetRevision.fellowProjectBudgetTotals is not empty) ? budgetRevision.eCATotalContribution : 0 %}

                                    {% set is_under_consideration = project_general_info.underConsideration %}

                                    <tr data-fellow-project-id="{{ fellow_project.id }}" data-eca-total-contribution="{{ project_eca_total_contribution }}"{% if is_under_consideration %} class="lighter-blue-bg"{% endif %}>
                                        <td headers="browse-project-reference-number">
                                            <a href="{{ path('project_fellow_show', {id: fellow_project.id}) }}">
                                                {{ project_general_info.referenceNumber }}
                                            </a>
                                        </td>
                                        <td headers="browse-project-total-cost" class="text-right">
                                            {{ project_total_cost|currency_format(0) }}
                                        </td>
                                        <td headers="browse-project-eca-total-contribution" class="text-right">
                                            {{ project_eca_total_contribution|currency_format(0) }}
                                        </td>
                                        <td headers="browse-project-status">
                                            {{ project_general_info.proposalStatusText }}
                                        </td>
                                        {% if not is_granted('ROLE_RPO') %}
                                            <td headers="browse-project-outcome">
                                                {% if project_general_info.projectOutcome is not null %}
                                                    {{ project_general_info.projectOutcome.name }}
                                                {% endif %}
                                            </td>
                                            <td headers="browse-project-region">
                                                {% if project_general_info.region is not null %}
                                                    {{ project_general_info.region.acronym }}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td headers="browse-project-rpo-ranking" class="text-center">
                                            {% if project_general_info.rpoRanking is not null %}
                                                {{ project_general_info.rpoRanking }}
                                            {% endif %}
                                        </td>
                                        <td headers="browse-project-relo-location">
                                            {% if project_general_info.firstRELOLocation is not null %}
                                                {{ project_general_info.firstRELOLocation.name }}
                                            {% endif %}
                                        </td>
                                        <td headers="browse-project-relo-ranking" class="text-center">
                                            {% if project_general_info.reloRanking is not null %}
                                                {{ project_general_info.reloRanking }}
                                            {% endif %}
                                        </td>
                                        <td headers="browse-project-country">
                                            {% if project_general_info.countries is not empty %}
                                                {{ project_general_info.countries.last.name }}
                                            {% endif %}
                                        </td>
                                        <td headers="browse-project-host-institution">
                                            {% if location_host is not null and location_host.host is not null %}
                                                {{ location_host.host }}
                                            {% endif %}
                                        </td>
                                        <td headers="browse-project-cycle">
                                            {% if fellow_project.cycleSeason is not null %}
                                                {{ fellow_project.cycleSeason|title }}
                                            {% endif %}
                                        </td>
                                        <td headers="browse-action" class="text-center">
                                            <input aria-label="Add to Cart" type="checkbox"{% if is_under_consideration %} checked{% endif %}>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="{% if not is_granted('ROLE_RPO') %}13{% else %}11{% endif %}" headers="project-reference-number">
                                            {% trans %}There are no Fellow proposals.{% endtrans %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            {% if fellow_projects|length > 0 %}
                                <div class="text-right panel-body">
                                    {% if is_granted('ROLE_STATE_DEPARTMENT') or is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('fellow_project_region_shopping_cart', {'acronym': shopping_cart_region.acronym, 'export': 'proposals' }) }}" class="btn btn-info" id="csv-all-proposals">{{ 'Download all proposals for this region to CSV'|trans }}</a>
                                    {% else %}
                                    <a href="{{ path('fellow_project_shopping_cart', {'export': 'proposals' }) }}" class="btn btn-info" id="csv-all-proposals">{{ 'Download all proposals for this region to CSV'|trans }}</a>
                                    {% endif %}
                                </div>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/styles/sortable.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script defer src="{{ asset('dist/scripts/sortable.js') }}"></script>

    <script>
        jQuery(function ($) {
            'use strict';
            var $browseFellowProjects = $('#browse-fellow-projects'),
                $underConsiderationFellowProjects = $('#under-consideration-fellow-projects'),
                $totalRegionalBudget = $('#total-regional-budget'),
                $budgetInShoppingCart = $('#budget-in-shopping-cart'),
                $estimatedRegionalBudget = $('#estimated-regional-budget'),
                $underConsiderationECATotalContribution = $('#under-consideration-eca-total-budget'),
                $underConsiderationProjectsCounter = $('#under-consideration-fellow-projects-counter'),
                totalRegionalBudget = Math.floor($totalRegionalBudget.data('value'));

            /**
             * Update Shopping Cart's summary values.
             */
            function updateShoppingCartBudgetSummary(ecaTotalContribution) {
                'use strict';
                var budgetInShoppingCart = Math.floor($budgetInShoppingCart.data('value')),
                    estimatedRegionalBudget,
                    estimatedRegionalBudgetHTML,
                    budgetInShoppingCartHTML;

                budgetInShoppingCart += ecaTotalContribution;
                estimatedRegionalBudget = totalRegionalBudget - budgetInShoppingCart;

                budgetInShoppingCartHTML = '$' + budgetInShoppingCart.toLocaleString();

                estimatedRegionalBudgetHTML = (estimatedRegionalBudget < 0)
                    ? '($' + Math.abs(estimatedRegionalBudget).toLocaleString() + ')'
                    : '$' + estimatedRegionalBudget.toLocaleString();

                $budgetInShoppingCart.html(budgetInShoppingCartHTML).data('value', budgetInShoppingCart);
                $underConsiderationECATotalContribution.html(budgetInShoppingCartHTML);
                $estimatedRegionalBudget.html(estimatedRegionalBudgetHTML).data('value', estimatedRegionalBudget);
            }

            /**
             *
             */
            function addNoProjectsRow() {
                'use strict';
                $underConsiderationFellowProjects
                    .find('tfoot').addClass('hide').end()
                    .find('tbody')
                        .append(
                            $('<tr>').addClass('under-consideration-no-items').append(
                                $('<td>').attr({
                                    'colspan': 13,
                                    'headers': 'under-consideration-project-reference-number'
                                }).text(
                                    '{% trans %}There are no Fellow proposals under consideration.{% endtrans %}'
                                )
                            )
                        )
                        .find('.under-consideration-eca-total-budget-row').remove();
            }

            /**
             *
             */
            $browseFellowProjects.on('change', ':checkbox', function addShoppingCartItem() {
                'use strict';
                var $addToCart = $(this),
                    $fellowProposalRow = $addToCart.closest('tr'),
                    $shoppingCartItem = $fellowProposalRow.clone(true),
                    fellowProjectId = $fellowProposalRow.data('fellow-project-id'),
                    ecaTotalContribution = Math.floor($fellowProposalRow.data('eca-total-contribution'));

                $browseFellowProjects.find(':checkbox').attr('disabled', true).css('cursor', 'wait');

                if ($addToCart.is(':checked')) {
                    $.post('{{ path('fellow_project_shopping_cart_item_handler') }}', {
                        fellowProjectId: fellowProjectId,
                        underConsideration: 1
                    }, function (data) {
                        'use strict';
                        if (data.success) {
                            $shoppingCartItem
                                .find('td').each(function () {
                                    $(this).attr('headers', this.headers.replace(/browse/gi, 'under-consideration'));
                                })
                                .last()
                                    .find(':checkbox').remove().end()
                                    .append(
                                        $('<a>')
                                            .addClass('remove-shopping-cart-item text-danger')
                                            .attr('href', 'javascript:void(0);')
                                            .append($('<span>').addClass('glyphicon glyphicon-trash'))
                                    );

                            // Increment Under Consideration projects counter
                            $underConsiderationProjectsCounter.html(
                                Math.floor($underConsiderationProjectsCounter.html()) + 1
                            );

                            $underConsiderationFellowProjects
                                .find('tfoot').removeClass('hide').end()
                                .find('.under-consideration-no-items').remove().end()
                                .append($shoppingCartItem);

							if ($('#csv-selected-proposals').is('.hidden')) {
								$('#csv-selected-proposals').removeClass('hidden');
							}
                        }
                    }).done(function () {
                        'use strict';
                        $fellowProposalRow.addClass('lighter-blue-bg');

                        $browseFellowProjects.find(':checkbox').attr('disabled', false).css('cursor', 'auto');

                        updateShoppingCartBudgetSummary(ecaTotalContribution);
                    });
                } else {
                    $.post('{{ path('fellow_project_shopping_cart_item_handler') }}', {
                        fellowProjectId: fellowProjectId,
                        underConsideration: 0
                    }, function (data) {
                        'use strict';
                        if (data.success) {
                            updateShoppingCartBudgetSummary(-1 * ecaTotalContribution);

                            $underConsiderationFellowProjects
                                .find('tr[data-fellow-project-id="' + fellowProjectId + '"]').remove();

                            if (0 === $underConsiderationFellowProjects.find('tbody').find('tr').length) {
                                addNoProjectsRow();
								$('#csv-selected-proposals').addClass('hidden');
                            }

                            $fellowProposalRow.removeClass('lighter-blue-bg');

                            // Decrement Under Consideration projects counter
                            $underConsiderationProjectsCounter.html(
                                Math.floor($underConsiderationProjectsCounter.html()) - 1
                            );
                        }
                    }).done(function () {
                        'use strict';
                        $browseFellowProjects.find(':checkbox').attr('disabled', false).css('cursor', 'auto');
                    });
                }
            });

            /**
             *
             */
            $underConsiderationFellowProjects.on('click', '.remove-shopping-cart-item', function removeShoppingCartItem(evt) {
                var $removeFromCart = $(this),
                    $underConsiderationFellowProposalRow = $removeFromCart.closest('tr'),
                    fellowProjectId = $underConsiderationFellowProposalRow.data('fellow-project-id'),
                    ecaTotalContribution = Math.floor($underConsiderationFellowProposalRow.data('eca-total-contribution'));

                evt.preventDefault();

                $browseFellowProjects.find(':checkbox').attr('disabled', true).css('cursor', 'wait');

                $.post('{{ path('fellow_project_shopping_cart_item_handler') }}', {
                    fellowProjectId: fellowProjectId,
                    underConsideration: 0
                }, function (data) {
                    'use strict';
                    if (data.success) {
                        updateShoppingCartBudgetSummary(-1 * ecaTotalContribution);

                        $underConsiderationFellowProposalRow.remove();

                        if (0 === $underConsiderationFellowProjects.find('tbody').find('tr').length) {
                            addNoProjectsRow();
							$('#csv-selected-proposals').addClass('hidden');
                        }

                        $browseFellowProjects
                            .find('tr[data-fellow-project-id="' + fellowProjectId + '"]')
                                .removeClass('lighter-blue-bg').find(':checked').attr('checked', false);

                        // Dicrement Under Consideration projects counter
                        $underConsiderationProjectsCounter.html(
                            Math.floor($underConsiderationProjectsCounter.html()) - 1
                        );
                    }
                }).done(function () {
                    'use strict';
                    $browseFellowProjects.find(':checkbox').attr('disabled', false).css('cursor', 'auto');
                });
            });
        });
    </script>
{% endblock %}
