{% extends ':project/common:base_wizard_step.html.twig' %}

{% block wizard_step_title %}
    <h2>
        Certifications
        <small class="pull-right">Step 1 of 1</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <p>{% trans %}Please certify the following:{% endtrans %}</p>
    </div>

    <div class="form-group">
        <label class="label__required" for="certifications_logisticsCertification">{% trans %}Logistics Certification{% endtrans %}</label>
        <div class="small">{% trans %}Logistics Certification field instructions - Virtual Proposals{% endtrans %}</div>

        <div class="select-wrapper">
            {{ form_widget(form.logisticsCertification) }}
        </div>

        {{ form_errors(form.logisticsCertification) }}
    </div>

    <div class="form-group">
        <label class="label__required" for="certifications_logisticsCertification">{% trans %}Monitoring Certification{% endtrans %}</label>

		<div class="small">{% trans %}Monitoring Certification field instructions - Virtual Proposals{% endtrans %}</div>

        <div class="select-wrapper">
            {{ form_widget(form.monitoringCertification) }}
        </div>

        {{ form_errors(form.monitoringCertification) }}
    </div>
{% endblock %}
