{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {% if form.vars.value.region is not null %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>General Information <small class="pull-right">Step 2 of 4</small></h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                {{ form_label(form.countries, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.countries) }}

                {% set noCountry = app.session.flashBag.has('no_country') %}

                <div class="select-wrapper{% if noCountry %} has-error{% endif %}">
                    {{ form_widget(form.countries, { 'attr': {'class': 'form-select'} }) }}
                </div>

                {% if noCountry %}
                    <span class="small text-danger block mt-5">
                       <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('no_country')[0] }}
                    </span>
                {% endif %}

            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
    {% endif %}
{% endblock %}