{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>
                Dependents <small class="pull-right">Step 1 of 1</small>
            </h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <p class="inline">
                    <i>
                        {% trans %}The program allows Fellows to bring dependents unless prohibited by Post. Post is
                        only required to find housing suitable for one person but may assist with identifying larger
                        housing. The Fellow is responsible for the cost difference in housing. Post is not responsible
                        for visas or job or school information for dependents.{% endtrans %}
                    </i>
                </p>
                <div class="css-tooltip css-tooltip--right css-tooltip--sm">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">
                        {% trans %}Tooltip Display Text - Dependent restrictions{% endtrans %}
                    </span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Dependent restrictions{% endtrans %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {{form.bringDependents.vars.label|trans}}
                    </legend>
                    {{ form_widget(form.bringDependents, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.bringDependents) }}
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Can the Fellow bring children?{% endtrans %}
                    </legend>
                    {{ form_widget(form.bringChildren, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.bringChildren) }}
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Can the Fellow bring an unmarried partner?{% endtrans %}
                    </legend>
                    {{ form_widget(form.bringUnmarriedPartner, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.bringUnmarriedPartner) }}
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Can the Fellow bring a same-sex partner/spouse?{% endtrans %}
                    </legend>
                    {{ form_widget(form.bringSameSexSpouse, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.bringSameSexSpouse) }}
                </fieldset>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Can the Fellow bring a same-sex partner?{% endtrans %}
                    </legend>
                    {{ form_widget(form.bringSameSexPartner, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.bringSameSexPartner) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.dependentRestrictionsDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
                    {{ form_widget(form.dependentRestrictionsDesc, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.dependentRestrictionsDesc) }}
                </div>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="inline-block label__required">{{form.housingDependents.vars.label|trans}}</legend>
                    <div class="css-tooltip css-tooltip--bottom">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Dependent housing{% endtrans %}</span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Dependent housing{% endtrans %}
                        </div>
                    </div>
                    {{ form_widget(form.housingDependents, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.housingDependents) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    <label for="dependents_housingDependentInfo">
                        {% trans %}If the housing is not suitable for dependents, would Post/Host allow the Fellow to
                        use their own funds to find suitable housing?{% endtrans %}
                    </label>
                    {{ form_widget(form.fellowFundsHousing, { 'attr': {'class': 'inline-labels'} }) }}
                    {{ form_errors(form.fellowFundsHousing) }}
                </div>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="dependents_housingDependentInfo">
                        {% trans %}If housing is already secured, please describe:{% endtrans %}
                    </label>
                    {{ form_widget(form.housingDependentInfo, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.housingDependentInfo) }}
                </div>
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}