{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {% include 'notifications.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>
                Fellowship Duties and Mission Goals
                <small class="pull-right">Step 1 of 2</small>
            </h2>
        </div>

        <div class="panel-body">
            {# Primary Activities #}
            <div class="form-group">
                <h3 class="fieldset__subtitle inline-block">
                    {% trans %}Primary Duties{% endtrans %}
                </h3>

                <div class="css-tooltip css-tooltip--right">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">
                        {% trans %}Tooltip Display Text - Primary duties{% endtrans %}
                    </span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Primary duties{% endtrans %}
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th id="fellowship_duty_primary_activity_description" class="col-lg-3 col-md-3 label__required">
                            {{ 'label.activity_desc'|trans }}
                        </th>
                        <th id="fellowship_duty_primary_activity_focus" class="col-lg-5 col-md-5 label__required">
                            {{ 'label.skill_needed'|trans }}
                        </th>
                        <th id="fellowship_duty_primary_activity_hours" class="col-lg-1 col-md-1 label__required">
                            {% trans %}Estimate of hours per week{% endtrans %}
                        </th>
                        <th id="fellowship_duty_primary_activity_audience" class="col-lg-3 col-md-3 label__required">
                            {{ 'label.audience'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {# @var primaryActivity \AppBundle\Entity\Fellow\DutyActivityPrimary #}
                    {% for primaryActivity in form.dutyPrimaryActivities %}
                        <tr>
                            {% set deletableDuty = not loop.first %}

                            <td headers="fellowship_duty_primary_activity_description"{% if deletableDuty %} class="link-delete-item__wrapper"{% endif %}>
                                {% if deletableDuty %}
                                    <a href="#" class="link-delete-item duty-primary-activity text-danger" data-activity-id="{{ primaryActivity.vars.value.id }}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                {% endif %}

                                {{ form_label(primaryActivity.description, null, { 'label_attr': {'class': 'hidden'} }) }}
                                {{ form_widget(primaryActivity.description, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(primaryActivity.description) }}
                            </td>
                            <td headers="fellowship_duty_primary_activity_focus">
                                <p class="small text-success">{% trans %}Note: You must check at least one and no more than three{% endtrans %}</p>
                                {{ form_label(primaryActivity.activitiesFocus, null, { 'label_attr': {'class': 'hidden'} }) }}
                                <div class="checkbox-wrapper">
                                    {{ form_widget(primaryActivity.activitiesFocus) }}
                                </div>
                                {{ form_errors(primaryActivity.activitiesFocus) }}
                            </td>
                            <td headers="fellowship_duty_primary_activity_hours">
                                {{ form_label(primaryActivity.hoursNumber, null, { 'label_attr': {'class': 'hidden'} }) }}
                                {{ form_widget(primaryActivity.hoursNumber, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(primaryActivity.hoursNumber) }}
                            </td>
                            <td headers="fellowship_duty_primary_activity_audience">
                                {{ form_label(primaryActivity.audience, null, { 'label_attr': {'class': 'hidden'} }) }}
                                {{ form_widget(primaryActivity.audience, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(primaryActivity.audience) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="form-group text-right">
                {{ form_widget(form.addPrimary, { 'attr': {'class': 'btn btn-info'} }) }}
            </div>

            {# Secondary Activities #}
            <div class="form-group">
                <h3 class="fieldset__subtitle inline-block">
                    {% trans %}Secondary Duties{% endtrans %}
                </h3>

                <div class="css-tooltip css-tooltip--right">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">
                        {% trans %}Tooltip Display Text - Secondary duties{% endtrans %}
                    </span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Secondary duties{% endtrans %}
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th id="fellowship_duty_secondary_activity_desc" class="col-md-3">
                            {{ 'label.activity_desc'|trans }}
                        </th>
                        <th id="fellowship_duty_secondary_activity_focus" class="col-md-4">
                            {{ 'label.skill_needed'|trans }}
                        </th>
                        <th id="fellowship_duty_secondary_activity_hours" class="col-md-1">
                            {% trans %}Estimate of hours{% endtrans %}
                        </th>
                        <th id="fellowship_duty_secondary_activity_period" class="col-md-1">
                            {{ 'label.hours_period'|trans }}
                        </th>
                        <th id="fellowship_duty_secondary_activity_audience" class="col-md-3">
                            {{ 'label.audience'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {# @var secondaryActivity \AppBundle\Entity\Fellow\DutyActivitySecondary #}
                    {% for secondaryActivity in form.dutySecondaryActivities %}
                        <tr>
                            <td headers="fellowship_duty_secondary_activity_desc" class="link-delete-item__wrapper">
                                <a href="#" class="link-delete-item duty-secondary-activity text-danger" data-activity-id="{{ secondaryActivity.vars.value.id }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>

                                {{ form_label(secondaryActivity.description, null, { 'label_attr': {'class': 'hidden'} }) }}
                                {{ form_widget(secondaryActivity.description, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(secondaryActivity.description) }}
                            </td>
                            <td headers="fellowship_duty_secondary_activity_focus">
                                <p class="small text-success">{% trans %}Note: You must check at least one and no more than three{% endtrans %}</p>
                                {{ form_label(secondaryActivity.activitiesFocus, null, { 'label_attr': {'class': 'hidden'} }) }}
                                <div class="checkbox-wrapper">
                                    {{ form_widget(secondaryActivity.activitiesFocus) }}
                                </div>
                                {{ form_errors(secondaryActivity.activitiesFocus) }}
                            </td>
                            <td headers="fellowship_duty_secondary_activity_hours">
                                {{ form_label(secondaryActivity.hoursNumber, null, { 'label_attr': {'class': 'hidden'} }) }}
                                {{ form_widget(secondaryActivity.hoursNumber, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(secondaryActivity.hoursNumber) }}
                            </td>
                            <td headers="fellowship_duty_secondary_activity_period">
                                {{ form_label(secondaryActivity.hoursPeriod, null, { 'label_attr': {'class': 'hidden'} }) }}
                                <div class="select-wrapper">
                                    {{ form_widget(secondaryActivity.hoursPeriod, { 'attr': {'class': 'form-select'} }) }}
                                </div>
                                {{ form_errors(secondaryActivity.hoursPeriod) }}
                            </td>
                            <td headers="fellowship_duty_secondary_activity_audience">
                                {{ form_label(secondaryActivity.audience, null, { 'label_attr': {'class': 'hidden'} }) }}
                                {{ form_widget(secondaryActivity.audience, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_errors(secondaryActivity.audience) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td headers="fellowship_duty_secondary_activity_desc" colspan="5">
                                {% trans %}There are no Secondary Activities for this project.{% endtrans %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="form-group text-right">
                {{ form_widget(form.addSecondary, { 'attr': {'class': 'btn btn-info'} }) }}
            </div>
        </div>

        {{ form_widget(form.activityPrimaryIdToRemove) }}
        {{ form_widget(form.activitySecondaryIdToRemove) }}

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(function ($) {
            // Delete link action
            $('.link-delete-item').click(function (e) {
                e.preventDefault();

                var $anchorEl = $(this),
                    activityId = $anchorEl.data('activity-id');

                if (confirm('{% trans %}Do you really want to remove this activity?{% endtrans %}')) {
                    if ($anchorEl.hasClass('duty-primary-activity')) {
                        $('#duties_activityPrimaryIdToRemove').val(activityId);
                    }
                    else {
                        $('#duties_activitySecondaryIdToRemove').val(activityId);
                    }


                    $('#duties_next').trigger('click');
                }
            });
        });
    </script>
{% endblock %}
