{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>
                Fellowship Duties and Mission Goals
                <small class="pull-right">Step 2 of 2</small>
            </h2>
        </div>

        <div class="panel-body">
            <h3 class="fieldset__subtitle">Mission Goals</h3>

            <div class="form-group">
                {{ form_label(form.postMissionGoalsDesc, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.postMissionGoalsDesc) }}
                {{ form_widget(form.postMissionGoalsDesc, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
