{% extends '::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	{# attempt to load AngularJS from CDN #}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	{# if AngularJS fails to load fallback a local version #}
	<script>window.angular || document.write('<script src="assets/js/angular.min.js"><\/script>');</script>

	<script>
		angular.module('NewFellowProject', [])
			.config(function ($interpolateProvider) {
				$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
			})
			.controller('NewFellowProjectCtrl', function () {
				var newFellowProject = this;
				newFellowProject.regions = jQuery.parseJSON('{{ regionsData|raw }}');
			});
	</script>

	<script>
		jQuery(function () {
			var minDate = new Date('{{ currentFellowCycle.displayPeriodStartDate|date('m/d/Y') }}'),
				maxDate = new Date('{{ currentFellowCycle.displayPeriodEndDate|date('m/d/Y') }}');

			datepickers.picker0.setMinDate(minDate);
			datepickers.picker0.setMaxDate(maxDate);
			datepickers.picker0.gotoDate(minDate);
		})
	</script>
{% endblock %}

{% block body %}
<div>
    <h1>Fellow Proposal Submission</h1>

    {{ form_start(form) }}
    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>General Information</h2>
        </div>

        <div class="panel-body" ng-app="NewFellowProject"  ng-controller="NewFellowProjectCtrl as newFellowProject">
{#             <div class="form-group">
                {{ form_label(form.region, null, { 'label_attr': {'class': 'label__required'} }) }}
                <div class="select-wrapper">
                    {{ form_widget(form.region, { 'attr': {'class': 'form-select'} }) }}
                </div>
                {{ form_errors(form.region) }}
            </div>

            <div class="form-group">
                {{ form_label(form.country, null, { 'label_attr': {'class': 'label__required'} }) }}
                <div class="select-wrapper">
                    {{ form_widget(form.country, { 'attr': {'class': 'form-select'} }) }}
                </div>
                {{ form_errors(form.country) }}
            </div>

            <div class="form-group">
                {{ form_label(form.post,null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                <div class="css-tooltip css-tooltip--right">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">
                        {% trans %}Tooltip Display Text - Supervising post{% endtrans %}
                    </span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Supervising post{% endtrans %}
                    </div>
                </div>
                <div class="select-wrapper">
                    {{ form_widget(form.post, { 'attr': {'class': 'form-select'} }) }}
                </div>
                {{ form_errors(form.post) }}
            </div> #}

            <div class="form-group">
                <label class="label__required" for="create_project_region">In which region will this project take place?</label>
                <div class="select-wrapper">
                    <select id="create_project_region" name="create_project[region]" class="form-select" ng-required="true" ng-model="selectedRegion" ng-options="region.name for region in newFellowProject.regions track by region.id">
                        <option value="">Select a region</option>
                    </select> 
                </div>
            </div>
            <div class="form-group">
                <label class="label__required " for="create_project_country">In which country will this project take place?</label>
                <div class="select-wrapper">
                    <select id="create_project_country" name="create_project[country]" required="required" class="form-select" ng-required="true" ng-disabled="!selectedRegion" ng-model="selectedCountry" ng-options="country.name for country in selectedRegion.countries track by country.id">
                        <option value="" selected="selected">Select a country</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="label__required inline-block " for="create_project_post">Which Post will supervise this project?</label>
                <div class="css-tooltip css-tooltip--right">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">
                        {% trans %}Tooltip Display Text - Supervising post{% endtrans %}
                    </span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Supervising post{% endtrans %}
                    </div>
                </div>
                <div class="select-wrapper">
                    <select id="create_project_post" name="create_project[post]" class="form-select" ng-required="true" ng-disabled="!selectedCountry" ng-model="post" ng-options="post.name for post in selectedCountry.posts track by post.id">
                        <option value="" selected="selected">Select a post</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.proposedStartDate, null, { 'label_attr': {'class': 'label__required'} }) }}
                <div class="datepicker">
                    {{ form_widget(form.proposedStartDate, { 'attr': {'class': 'form-control', 'ng-required' : 'true'} }) }}
                </div>

                <p class="mt-5 small">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>

                <p class="small">Please select a date between {{ currentFellowCycle.displayPeriodStartDate|date('m/d/Y')}} and {{ currentFellowCycle.displayPeriodEndDate|date('m/d/Y')}}.</p>

                {{ form_errors(form.proposedStartDate) }}
            </div>

            <div class="form-group">
                <fieldset>
                    <legend class="label__required">
                        {% trans %}Is the start date flexible?{% endtrans %}
                    </legend>
                    {{ form_widget(form.proposedStartDateFlexible, { 'attr': {'class': 'inline-labels', 'ng-required' : 'true'} }) }}
                    {{ form_errors(form.proposedStartDateFlexible) }}
                </fieldset>
            </div>

            <div class="sub-fieldset">
                <div class="form-group">
                    {{ form_label(form.cycleSeasonDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
                    <div class="css-tooltip css-tooltip--right">
                        <span class="css-tooltip__trigger css-tooltip__trigger--link">
                            {% trans %}Tooltip Display Text - Date Comments{% endtrans %}
                        </span>
                        <div class="css-tooltip__content">
                            {% trans %}Tooltip Content - Date Comments{% endtrans %}
                        </div>
                    </div>
                    {{ form_widget(form.cycleSeasonDesc, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.cycleSeasonDesc) }}
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <a href="{{ path('proposal_fellow_index') }}" class="btn btn-danger btn-lg">Cancel</a>
                </div>
                <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4 text-right">
                    {{ form_widget(form.next, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                </div>
                {{ form_row(form._token) }}
            </div>
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}
