{% extends '::base.html.twig' %}

{% block body %}
    {% include ':fellowproject:submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>General Information
                <small class="pull-right">Step 3 of 4</small>
            </h2>
        </div>

        <div class="panel-body">
            <table class="table table__view-mode table-bordered">
                <tbody>
                <tr>
                    <th>{{ 'label.relo_location'|trans }}</th>
                    <td>
                        {% if form.vars.value.reloLocations is not empty %}
                            {{ form.vars.value.reloLocations.first.name }}
                        {% else %}
                            No RELO Available
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                {{ form_label(form.post,null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                <div class="css-tooltip css-tooltip--right">
                    <span class="css-tooltip__trigger css-tooltip__trigger--link">
                        {% trans %}Tooltip Display Text - Supervising post{% endtrans %}
                    </span>
                    <div class="css-tooltip__content">
                        {% trans %}Tooltip Content - Supervising post{% endtrans %}
                    </div>
                </div>
                {{ form_errors(form.post) }}
                <div class="select-wrapper">
                    {{ form_widget(form.post, { 'attr': {'class': 'form-select'} }) }}
                </div>
            </div>

            {% set noProposalStartDate = app.session.flashBag.has('no_proposal_start_date') %}

            <div class="form-group{% if noProposalStartDate %} has-error{% endif %}">
                {{ form_label(form.fellowProject.proposedStartDate, null, { 'label_attr': {'class': 'label__required'} }) }}
                <div class="datepicker">
                    {{ form_widget(form.fellowProject.proposedStartDate, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <p class="mt-5 small">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}
                </p>
                <p class="small">Please select a date between {{ projectGeneralInfo.cycle.displayPeriodStartDate|date('m/d/Y')}} and {{ projectGeneralInfo.cycle.displayPeriodEndDate|date('m/d/Y')}}.</p>

                {{ form_errors(form.fellowProject.proposedStartDate) }}

                {% if noProposalStartDate %}
                    <span class="small text-danger block mt-5">
                       <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('no_proposal_start_date')[0] }}
                    </span>
                {% endif %}
            </div>
        </div>

        {% include ':fellowproject:footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script async src="{{ asset('dist/scripts/pikaday-jquery.js') }}"></script>
	<script>
		jQuery(function() {
			var minDate = new Date('{{ projectGeneralInfo.cycle.displayPeriodStartDate|date('m/d/Y') }}'),
				maxDate = new Date('{{ projectGeneralInfo.cycle.displayPeriodEndDate|date('m/d/Y') }}');

			datepickers.picker0.setMinDate(minDate);
			datepickers.picker0.setMaxDate(maxDate);
			datepickers.picker0.gotoDate(minDate);
		})
	</script>
{% endblock %}
