{% extends 'base.html.twig' %}

{% block body %}
    {% include 'fellowproject/submission_main_heading.html.twig' %}

    {{ form_start(form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>General Information <small class="pull-right">Step 1 of 4</small></h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                {{ form_label(form.region, null, { 'label_attr': {'class': 'label__required'} }) }}
                {{ form_errors(form.region) }}

                {% set noRegion = app.session.flashBag.has('no_region') %}

                <div class="select-wrapper{% if noRegion %} has-error{% endif %}">
                    {{ form_widget(form.region, { 'attr': {'class': 'form-select'} }) }}
                </div>
                {% if noRegion %}
                    <span class="small text-danger block mt-5">
                       <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('no_region')[0] }}
                    </span>
                {% endif %}
            </div>
        </div>

        {% include 'fellowproject/footer.html.twig' %}
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}