{% extends '::base.html.twig' %}

{% block title %}Manage Posts &#124; Proposal System{% endblock %}

{% block body %}
    <h1>
        Manage Posts
        <a class="btn btn-primary" href="{{ path('admin_post_new') }}">
            {% trans %}Add new Post{% endtrans %}
        </a>
    </h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="post-id" class="col-md-1 col-lg-1">Reference #</th>
                    <th id="post-name" class="col-md-3 col-lg-3">Name</th>
                    <th id="post-country" class="col-md-4 col-lg-4">Country</th>
                    <th id="post-number-proposals" class="col-md-1 col-lg-1">Number of Proposals with this Post</th>
                    <th id="post-created-at" class="col-md-2 col-lg-2">Date of Creation</th>
                    <th id="post-actions" class="col-md-1 col-lg-1">Actions</th>
                </tr>
                </thead>
                {% if posts is not empty %}
                    <tbody>
                    {# @var post \AppBundle\Entity\Post #}
                    {% for post in posts %}
                        <tr>
                            <td headers="post-id" class="text-center">{{ post.id }}</td>
                            <td headers="post-name">{{ post.name }}</td>
                            <td headers="post-country">
                                {% if post.country is not null %}
                                    {{ post.country.name }}
                                {% endif %}
                            </td>
                            <td headers="post-number-proposals" class="text-center">{{ post.projects.count }}</td>
                            <td headers="post-created-at">{{ post.createdAt|date('m/d/Y H:i:s') }}</td>
                            <td headers="post-actions">
                                <ul class="list-unstyled no-margin">
                                    <li>
                                        <a href="{{ path('admin_post_edit', { id: post.id }) }}">Edit</a>
                                    </li>

                                    {% if post.projects.empty %}
                                        <li class="mt-5">
                                            <a href="{{ path('admin_post_delete', { id: post.id }) }}"
                                               class="delete-post">Delete</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tfoot>
                    <tr>
                        <td headers="post-id" colspan="6">There are no Posts</td>
                    </tr>
                    </tfoot>
                {% endif %}
            </table>
        </div>
    </div>

    {# Delete Post form #}
    {{ form_start(delete_form, { 'attr': { 'id': 'delete-post-form', 'class': 'hidden' } }) }}
    <input type="submit" value="{% trans %}Delete{% endtrans %}">
    {{ form_end(delete_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      jQuery(function () {
        "use strict";
        // Delete Post action
        $('.delete-post').click(function (e) {
          "use strict";
          e.preventDefault();

          if (confirm('{% trans %}Do you really want to delete this Post?{% endtrans %}')) {
            $('#delete-post-form').attr('action', this.href).submit();
          }
        });
      });
    </script>
{% endblock %}
