{% extends '::base.html.twig' %}

{% block title %}Add new Post &#124; Proposal System{% endblock %}

{% block body %}
    <h1>Manage Posts</h1>

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>{% if new_post %}Add new{% else %}Edit{% endif %} Post</h2>
        </div>

        {{ form_start(form) }}

        <div class="panel-body">
            <div class="form-group">
                {{ form_label(form.name, null, { 'label_attr': { 'class': 'label__required inline-block' } }) }}
                {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.country, null, { 'label_attr': {'class': 'label__required' } }) }}
                <div class="select-wrapper">
                    {{ form_widget(form.country) }}
                </div>
                {{ form_errors(form.country) }}
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-link btn-lg" href="{{ path('admin_post_index') }}">Back to the list</a>
                </div>
                <div class="col-md-offset-4 col-md-4 text-right">
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                </div>
            </div>
        </div>

        {{ form_row(form._token) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
