<p>Hello,</p>

<p>This email is to inform you that a Fellow project proposal has been submitted for your review. The details of the
    proposal are listed below.</p>
<ul>
    <li>
        {# @var country \AppBundle\Entity\Country #}
        {% set country = fellowProject.projectGeneralInfo.countries.last  %}
        <strong>Country:</strong> {{ country.name }}
    </li>
    <li>
        <strong>Host City:</strong> {{ fellowProject.locationHostInfo.hostCity }}
    </li>
    <li>
        <strong>Host Institution:</strong> {{ fellowProject.locationHostInfo.host }}
    </li>
</ul>

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}">
    {{ absolute_url(path('project_fellow_show', {'id': fellowProject.id })) }}
</a>

<p>Once you review the proposal, you must take one of the following actions:</p>
<ol>
    <li>Approve. The proposal will be passed to ECA for their review.</li>
    <li>Reject. The proposal will NOT be passed to ECA for their review and the Post will be notified that their
        proposal was rejected.
    </li>
    <li>Edit the proposal yourself and approve. The proposal with your edits will be passed to ECA for their review.
    </li>
    <li>Make comments and return the proposal to Post for editing. Post will see your comments and may choose to edit
        and resubmit the proposal for your re-review.
    </li>
</ol>

<p>Regards,<br>The English Language Programs team</p>