{% extends 'base.html.twig' %}

{% block body %}
	{% include 'project/specialist/header.html.twig' %}

	{% include 'notifications.html.twig' %}

	{% if not (app.session.flashbag.has('block-access')) %}

		<div class="panel panel-primary panel-wizard">
			<div class="panel-heading">
				<h2>{% block wizard_step_title %}{% endblock %}</h2>
			</div>

			<div class="panel-body">
				{% block wizard_step_body %}{% endblock %}
			</div>

			{% block wizard_step_footer %}
				{{ form_start(form) }}
				{% include 'fellowproject/footer.html.twig' %}
				{{ form_end(form, {'render_rest': false}) }}
			{% endblock %}
		</div>

		{% block wizard_step_additional_content %}{% endblock %}

	{% endif %}

	{# The Sharing Options widget should be accessible throughtout the entire Proposal #}
	{#{% include 'project/common/sharing_widget.html.twig' %}#}
{% endblock %}
