{% macro specialistAdminLink(title, link, icon, status, size) %}
	<li class="col-sm-{{ size|default(3) }}">
		<a href="{{ link }}">
			<div class="panel panel-default panel-bordered">
				<div class="panel-body">
					<img src="{{ asset(icon) }}" alt="">
					<span>{{ title|trans }}</span>
				</div>
				<div class="panel-footer">
					<small class="status">{{ status }}</small>
				</div>
			</div>
		</a>
	</li>
{% endmacro %}

{####### Financials section - Budget tables #####################}
{% macro fellowBudgetAdminCostTableHead(prefix, descTitle, fcTitle, pcfTitle, hcfTitle) %}
	<thead>
	<tr>
		<th rowspan=2 id="{{ prefix }}_description" class="col-md-2">
			{{ descTitle|default('Description'|trans) }}</th>
		<th rowspan="2" id="{{ prefix }}_full_cost" class="col-md-2">
			{{ fcTitle|default('Cost over full Fellowship period (10 months)'|trans) }}</th>
		<th colspan="3" class="bg-header-warning">Post</th>
		<th colspan="3" class="bg-header-info">Host</th>
		<th class="bg-header-success">ECA</th>
	</tr>
	<tr>
		<th id="{{ prefix }}_post_contribution_full" class="col-md-1 bg-warning">{{ pcfTitle|default('Total contribution for full Fellowship'|trans) }}</th>
		<th id="{{ prefix }}_post_contribution_gu" class="col-md-1 bg-warning">{{ 'Contribution through GU'|trans  }}</th>
		<th id="{{ prefix }}_post_contribution_non_gu" class="col-md-1 bg-warning">{{ 'Contribution - Non GU payment'|trans }}</th>
		<th id="{{ prefix }}_host_contribution_full" class="col-md-1 bg-info">{{ hcfTitle|default('Contribution for full Fellowship (monetary)'|trans) }}</th>
		<th id="{{ prefix }}_host_contribution_gu" class="col-md-1 bg-info">{{ 'Contribution through GU'|trans  }}</th>
		<th id="{{ prefix }}_host_contribution_non_gu" class="col-md-1 bg-info">{{ 'Contribution - Non GU payment'|trans }}</th>
		<th id="{{ prefix }}_total_eca_contribution" class="col-md-1 bg-success">{% trans %}Total contribution{% endtrans %}</th>
	</tr>
	</thead>
{% endmacro %}

{####### Financials section - Budget tables #####################}
{% macro fellowBudgetAdminCostTableRow(prefix, item, description, rowClass) %}
	{% if not rowClass %}
		{% set rowClass = prefix %}
	{% endif %}
	<tr class="{{ rowClass }}">
		<th headers="{{ prefix }}_description" class="active">{{ description }}</th>
		<td headers="{{ prefix }}_full_cost">{{ form_widget(item.full_cost, { 'attr': {'class': 'fc masked'} }) }}</td>
		<td headers="{{ prefix }}_post_contribution_full" class="bg-warning">{{ form_widget(item.post_contribution, { 'attr': {'class': 'pcf masked'} }) }}</td>
		<td headers="{{ prefix }}_post_contribution_gu" class="bg-warning">
			{% if rowClass == 'one_time' %}
				{{ form_widget(item.post_contribution_gu, { 'attr': {'class': 'pcgu masked hidden'} }) }}
				<div class="text-center form-control">N/A</div>
			{% else %}
				{{ form_widget(item.post_contribution_gu, { 'attr': {'class': 'pcgu masked'} }) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_post_contribution_non_gu" class="bg-warning">
			{% if rowClass == 'one_time' %}
				{{ form_widget(item.post_contribution_non_gu, { 'attr': {'class': 'pcngu masked hidden'} }) }}
				<div class="text-center form-control">N/A</div>
			{% else %}
				{{ form_widget(item.post_contribution_non_gu, { 'attr': {'class': 'pcngu masked'} }) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_host_contribution_full" class="bg-info">{{ form_widget(item.host_contribution_monetary, { 'attr': {'class': 'hcf masked'} }) }}</td>
		<td headers="{{ prefix }}_host_contribution_gu" class="bg-info">
			{% if rowClass == 'one_time' %}
				{{ form_widget(item.host_contribution_gu, { 'attr': {'class': 'hcgu masked hidden'} }) }}
				<div class="text-center form-control">N/A</div>
			{% else %}
				{{ form_widget(item.host_contribution_gu, { 'attr': {'class': 'hcgu masked'} }) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_host_contribution_non_gu" class="bg-info">
			{% if rowClass == 'one_time' %}
				{{ form_widget(item.host_contribution_non_gu, { 'attr': {'class': 'hcngu masked hidden'} }) }}
				<div class="text-center form-control">N/A</div>
			{% else %}
				{{ form_widget(item.host_contribution_non_gu, { 'attr': {'class': 'hcngu masked'} }) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_total_eca_contribution" class="bg-success">{{ form_widget(item.eca_total_contribution, { 'attr': {'class': 'tec masked'} }) }}</td>
	</tr>
{% endmacro %}

{####### Financials section - Budget tables #####################}
{% macro fellowBudgetAdminViewCostTableRow(prefix, item, description, rowClass) %}
	{% if not rowClass %}
		{% set rowClass = prefix %}
	{% endif %}
	<tr class="{{ rowClass }}">
		<th headers="{{ prefix }}_description" class="active">{{ description }}</th>
		<td headers="{{ prefix }}_full_cost" class="text-right">{{ item.fullCost|currency_format(0) }}</td>
		<td headers="{{ prefix }}_post_contribution_full" class="bg-warning text-right">{{ item.postContribution|currency_format(0) }}</td>
		<td headers="{{ prefix }}_post_contribution_gu" class="bg-warning text-right">
			{% if rowClass == 'one_time' %}
				N/A
			{% else %}
				{{ item.postContributionGU|currency_format(0) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_post_contribution_non_gu" class="bg-warning text-right">
			{% if rowClass == 'one_time' %}
				N/A
			{% else %}
				{{ item.postContributionNonGU|currency_format(0) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_host_contribution_full" class="bg-info text-right">{{ item.hostContributionMonetary|currency_format(0) }}</td>
		<td headers="{{ prefix }}_host_contribution_gu" class="bg-info text-right">
			{% if rowClass == 'one_time' %}
				N/A
			{% else %}
				{{ item.hostContributionGU|currency_format(0) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_host_contribution_non_gu" class="bg-info text-right">
			{% if rowClass == 'one_time' %}
				N/A
			{% else %}
				{{ item.hostContributionNonGU|currency_format(0) }}
			{% endif %}
		</td>
		<td headers="{{ prefix }}_total_eca_contribution" class="bg-success text-right">{{ item.ecaTotalContribution|currency_format(0) }}</td>
	</tr>
{% endmacro %}

{####### Financials section - Navigation tabs #####################}
{% macro financialsMainNavigation(fellowProject, activeTab='financials') %}
	<div class="row tabs-light">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li role="presentation"{% if activeTab == 'financials' %} class="active"{% endif %}>
					<a href="{{ path('fellow_project_financials', {id: fellowProject.id}) }}">
						{{ 'Financials'|trans }}
					</a>
				</li>
			</ul>
		</div>
	</div>

{% endmacro %}

{% macro allQueriesExcept(exceptions) %}
    {% for key, value in app.request.query.all if key not in exceptions %}
        {{ _self.renderInput(key, value) }}
    {% endfor %}
{% endmacro %}

{% macro justQueries(keys) %}
    {% for key, value in app.request.query.all if key in keys %}
        {{ _self.renderInput(key, value) }}
    {% endfor %}
{% endmacro %}

{% macro renderInput(key, value) %}
    {% if value is iterable %}
        {% for subkey, val in value %}
            {{ _self.renderInput(key ~ '[' ~ subkey ~ ']', val) }}
        {% endfor %}
    {% else %}
        <input type="hidden" name="{{ key }}" value="{{ value }}"/>
    {% endif %}
{% endmacro %}

