<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-text" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">Close</span>
                </button>
                <h4 class="modal-title" id="shareModalLabel">
                    {% trans %}Sharing options{% endtrans %}
                </h4>
            </div>

            <div class="modal-body">
                <span class="h4">Invite people</span>
                <p class="mt-5">{% trans %}Please enter and select the email address of the registered RELO or Embassy user you want to share this proposal with.{% endtrans %}</p>
                <input aria-label="Invite people" type="text" autocomplete="off" class="form-control mt-5" id="people-list">
                <span class="small text-danger mt-5" id="share-modal-error-message" style="display:none">
                   <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> 
                   Entered email address is not a valid user.
                </span>
                <br>

                <span class="h4">Who has access</span>
                <ul id="who-has-access-list" class="list-unstyled">
                    {# @var currentUser \AppBundle\Entity\User #}
                    {% set currentAuthenticatedUser = app.user %}

                    {# @var creator \AppBundle\Entity\User #}
                    {% set creator = projectGeneralInfo.createdBy %}

                    {# @var submitter \AppBundle\Entity\User #}
                    {% set submitter = projectGeneralInfo.submittedBy %}

                    <li class="list-unstyled__author-item" data-author-id="{{ creator.id }}">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ creator.name }}

                                        {% if currentAuthenticatedUser.id == creator.id %}
                                            &#40;You&#41;
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12">
                                        <small>{{ creator.email }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 text-center">
                                {% if (submitter is not null) and (submitter.id == creator.id) %}
                                    {% trans %}Is owner and submitter{% endtrans %}
                                {% else %}
                                    {% trans %}Is owner{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    {# @var user \AppBundle\Entity\User #}
                    {% for user in projectGeneralInfo.authors %}
                        <li class="list-unstyled__author-item" data-author-id="{{ user.id }}">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row list-unstyled__author-item__details">
                                        <div class="col-md-12">
                                            {{ user.name }}

                                            {% if currentAuthenticatedUser.id == user.id %}
                                                &#40;You&#41;
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12">
                                            <small>{{ user.email }}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if (submitter is not null) and (submitter.id == user.id) %}
                                        {% trans %}Is submitter{% endtrans %}
                                    {% else %}
                                        <a class="un-share-project" href="javascript:void(0)">
                                            {% trans %}Un-share{% endtrans %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                {{ form_start(shareProjectForm) }}

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                {{ form_widget(shareProjectForm.shareProject, { 'attr': {'class': 'btn btn-primary'} }) }}

                {{ form_row(shareProjectForm._token) }}
                {{ form_end(shareProjectForm, {'render_rest': false}) }}
            </div>
        </div>
    </div>
</div>
