{% extends 'project/common/base_wizard_step_no_form.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script async src="{{ asset('dist/scripts/pikaday-jquery.js') }}"></script>

    <script>
		function toggleActivityField(selectFld) {
			var $otherField = $(selectFld).parent().parent().find('input');
			if ($(selectFld).find(':selected').text() == 'Other') {
				$otherField.removeClass('disabled').removeAttr('readonly');
			} else {
				$otherField.addClass('disabled').attr('readonly', 'readonly').val('');
			}
		}

        /**
         * Disable the for Estimated Participants input text fields for those Audience that don't have entered values.
         *
         * @param $wrapper The wrapper that contains the fields.
         */
        function disabledEstimatedParticipants($wrapper) {
            $wrapper.find('td[headers="itinerary_audience_desc"] :text')
                .filter(function (i, el) { return !el.value; })
                .attr('disabled', true);
        }

        /**
         * Calculate the total number of participants filtering those inputs with numeric values.
         *
         * @param $wrapper The wrapper that contains the fields.
         */
        function calculateTotalNumberParticipants($wrapper) {
            var totalNumberParticipants = $wrapper
                .find('td[headers="itinerary_audience_desc"] .row:not(#other-audience-row, #total-number-participants-row) :text')
                .filter(function (i, el) { return el.value && !isNaN(el.value); })
                .map(function(i, el) { return Math.floor(el.value); })
                .toArray()
                .reduce(function(prev, current) { return prev + current; }, 0);

            $wrapper.find('.audience-total-number-participants').val(totalNumberParticipants);
        }

        jQuery(function ($) {
            var minDate = new Date('{{ specialistProjectPhase.startDate|date('m/d/Y') }}'),
                maxDate = new Date('{{ specialistProjectPhase.endDate|date('m/d/Y') }}');

            $.each(datepickers, function(index, picker) {
                picker.setMinDate(minDate);
                picker.setMaxDate(maxDate);
                picker.gotoDate(minDate);
            });
	        
          /**
           * Reset modal window form fields.
           */
          $('body').on(
            'hidden.bs.modal', '.modal', function resetModalForm(e) {
              $(e.target).find('form')[0].reset();
            }
          );

            /********************************** `Activity` forms events ***********************************************/
             /**
             * Add new Itinerary activity event handler.
             */
            $('.link-add-activity').click(function (e) {
                e.preventDefault();

                var $activityFormModal = $('#activity-form');

                $('#itinerary_activity_dateRanges_0_startDate').val($(this).closest('ul').data('itinerary-date'));

                $activityFormModal.modal('show');

                toggleActivityField($('#activity-form td[headers="itinerary_activity_desc"] select'));
                disabledEstimatedParticipants($activityFormModal);
            });

            /**
             * Edit an Itinerary activity event handler.
             */
            $('.link-edit-activity').click(function (e) {
                e.preventDefault();

                $.get($(this).attr('href'), function (data) {
                    var $activityFormModalWrapper = $('#activity-form-edit-wrapper'),
                        $checkboxes;

                    $activityFormModalWrapper.html(data).find('.modal').modal('show');

                    toggleActivityField($('#activity-form-edit-wrapper td[headers="itinerary_activity_desc"] select'));

                    $checkboxes = $activityFormModalWrapper.find('td[headers="itinerary_topic"] :checkbox');

                    if ($checkboxes.filter(':checked').length >= 3) {
                        $checkboxes.filter(':not(:checked)').addClass('disabled').attr('disabled', true);

                        // Disabled `If other topic` field if Other option is marked.
                        $('#itinerary_activity_edit_topicOther').attr('disabled', !$checkboxes.last().is(':checked'));
                    }

                    disabledEstimatedParticipants($activityFormModalWrapper);
                    calculateTotalNumberParticipants($activityFormModalWrapper);

                    if ($('#itinerary_activity_edit_partneringOrganizationNA').is(':checked')) {
                        $('#activity-form-edit-wrapper td[headers="itinerary_po"] :checkbox:not(#itinerary_activity_edit_partneringOrganizationNA)').attr({
                            'disabled': true,
                            'checked': false
                        });
                    }
                });
            });

            /**
             * Delete an Itinerary activity event handler.
             */
            $('.link-delete-activity').click(function (e) {
                e.preventDefault();

                if (confirm('{% trans %}Do you really want to delete this Itinerary activity?{% endtrans %}')) {
                    $('#activity-delete-form form').attr('action', $(this).attr('href')).trigger('submit');
                }
            });

            /**
             * Add a new date range row.
             */
            $('#itinerary_activity_addDate').click(function (e) {
                var $dateRangesTable = $('.itinerary-activity-date-ranges tbody'),
                    $dateRangeRows = $dateRangesTable.find('> tr'),
                    $newDateRangeRow = $dateRangeRows.first().clone(),
                    rowsNumber = $dateRangeRows.length,
                    datepickerStartDate,
                    datepickerEndDate;

                e.preventDefault();

                $newDateRangeRow.find('.datepicker input')
                    .first()
                        .attr({
                            'id': 'itinerary_activity_dateRanges_' + rowsNumber + '_startDate',
                            'name': 'itinerary_activity[dateRanges][' + rowsNumber + '][startDate]'
                        })
                        .val('')
                    .end()
                    .last()
                        .attr({
                            'id': 'itinerary_activity_dateRanges_' + rowsNumber + '_endDate',
                            'name': 'itinerary_activity[dateRanges][' + rowsNumber + '][endDate]'
                        })
                        .val('');
                $newDateRangeRow.find('td')
                    .first()
                    .prepend('<a href="#" class="link-delete-date text-danger mr-5"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>');
                $dateRangesTable.append($newDateRangeRow);

                datepickerStartDate = new Pikaday({
                    field: document.getElementById('itinerary_activity_dateRanges_' + rowsNumber + '_startDate'),
                    position: 'bottom left',
                    format: 'MM/DD/YYYY',
                    minDate: minDate,
                    maxDate: maxDate,
                    defaultDate: minDate,
                });

                datepickerEndDate = new Pikaday({
                    field: document.getElementById('itinerary_activity_dateRanges_' + rowsNumber + '_endDate'),
                    position: 'bottom left',
                    format: 'MM/DD/YYYY',
                    minDate: minDate,
                    maxDate: maxDate,
                    defaultDate: minDate
                });

            });

            /**
             * Delete date range row.
             */
            $( ".table-date-ranges" ).on( "click", ".link-delete-date", function(e) {
                var $dateRangesTableItems = $(this).closest('tbody').find('tr');

                if ($dateRangesTableItems.length > 1) {
                    $(this).closest('tr').remove();
                }
                e.preventDefault();
            });

            /**
             * Enable/disable Topics options when user selects three of them.
             */
			$('#activity-form, #activity-form-edit-wrapper').on('change', 'td[headers="itinerary_topic"] :checkbox', function(e) {
                var $checkboxes = $('#activity-form, #activity-form-edit-wrapper').find('td[headers="itinerary_topic"] :checkbox');

                // Disabled unchecked checkboxes when user selects three topics from the list.
                if ($checkboxes.filter(':checked').length >= 3) {
                    $checkboxes.filter(':not(:checked)').addClass('disabled').attr('disabled', true);

                    // Disabled `If other topic` field if Other option is marked.
                    $('#itinerary_activity_topicOther, #itinerary_activity_edit_topicOther')
                            .attr('disabled', !$checkboxes.last().is(':checked'));
                }
                else {
                    $checkboxes.removeClass('disabled').removeAttr('disabled');
                    $('#itinerary_activity_topicOther, #itinerary_activity_edit_topicOther').removeAttr('disabled')
                }
			}).on('change', 'td[headers="itinerary_activity_desc"] select', function() {
				toggleActivityField(this);
			}).on('submit', 'form', function() {
                var $topicsChecked = $(this).find('td[headers="itinerary_topic"] :checkbox:checked');

				if ((!$(this).find('td[headers="itinerary_activity_desc"] select').val()
						|| $(this).find('td[headers="itinerary_activity_desc"] select :selected').text() == 'Other')
						&& !$(this).find('td[headers="itinerary_activity_desc"] input').val()) {
					alert('An Activity type must be set');
					return false;
				} else if ($topicsChecked.length == 0 || $topicsChecked.length > 3) {
                    alert('You must check at least one Topic and no more than three.');
                    return false;
                }
                else if ($(this).find('td[headers="itinerary_po"] :checked').length === 0) {
                    alert('You must check at least one Partnering Organization or check N/A otherwise.');
                    return false;
                }
			});

            $('#activity-form, #activity-form-edit-wrapper')
                /**
                 * Enabled/disable "Est. Nº Participants" text input when Audience is checked.
                 */
                .on('change', 'td[headers="itinerary_audience_desc"] :checkbox', function (e) {
                    var isChecked = this.checked;

                    $(this).closest('.row').find(':text').val('').attr('disabled', !isChecked);

                    if ('Other' === $('label[for="' + this.id + '"]').text()) {
                        $('#other-audience-row :text').attr('disabled', !isChecked);
                    }

                    calculateTotalNumberParticipants($(this).closest('.modal'));
                })
                /**
                 * Event handler to sum the Estimated Nº Participants when the users leaves the input text field.
                 */
                .on('focusout', 'td[headers="itinerary_audience_desc"] .row:not(#other-audience-row, #total-number-participants-row) :text', function (e) {
                    calculateTotalNumberParticipants($(this).closest('.modal'));
                })
                /**
                 * Event handler for Partnering Organization N/A option.
                 */
                .on('change', '#itinerary_activity_partneringOrganizationNA, #itinerary_activity_edit_partneringOrganizationNA', function () {
                    var $partneringOrganizationNA = $(this),
                        isChecked = this.checked;

                    $partneringOrganizationNA
                        .closest('td')
                        .find(':checkbox').not($partneringOrganizationNA)
                        .attr({'disabled': isChecked, 'checked': !isChecked});
                });

            /************************************ `Travel` forms events ***********************************************/

            /**
             * Add new Itinerary travel event handler.
             */
            $('.link-add-travel').click(function (e) {
                e.preventDefault();

                $('#travel_date').val($(this).closest('ul').data('itinerary-date'));
                $('#itinerary-travel-form').modal('show');
            });

            /**
             * Edit an Itinerary travel event handler.
             */
            $('.link-edit-travel').click(function (e) {
                e.preventDefault();

                $.get($(this).attr('href'), function (data) {
                    $('#travel-form-edit-wrapper').html(data).find('.modal').modal('show');
                });
            });

            /**
             * Delete an Itinerary travel event handler.
             */
            $('.link-delete-travel').click(function (e) {
                e.preventDefault();

                if (confirm('{% trans %}Do you really want to delete this Itinerary travel?{% endtrans %}')) {
                    $('#travel-delete-form-wrapper form').attr('action', $(this).attr('href')).trigger('submit');
                }
            });

            /********************************** `Rest day` forms events ***********************************************/

            /**
             * Add new Itinerary rest day event handler.
             */
            $('.link-make-rest').click(function (e) {
                e.preventDefault();

                $('#rest_dateRanges_0_startDate').val($(this).closest('ul').data('itinerary-date'));
                $('#itinerary-rest-form').modal('show');
            });

            $('#rest_addDate').click(function (e) {
                var $dateRangesTable = $('.itinerary-rest-date-ranges tbody'),
                        $dateRangeRows = $dateRangesTable.find('> tr'),
                        $newDateRangeRow = $dateRangeRows.first().clone(),
                        rowsNumber = $dateRangeRows.length,
                        datepickerStartDate,
                        datepickerEndDate;

                e.preventDefault();

                $newDateRangeRow.find('.datepicker input')
                        .first()
                        .attr({
                            'id': 'rest_dateRanges_' + rowsNumber + '_startDate',
                            'name': 'rest[dateRanges][' + rowsNumber + '][startDate]'
                        })
                        .val('')
                        .end()
                        .last()
                        .attr({
                            'id': 'rest_dateRanges_' + rowsNumber + '_endDate',
                            'name': 'rest[dateRanges][' + rowsNumber + '][endDate]'
                        })
                        .val('');

                $newDateRangeRow.find('td')
                    .first()
                    .prepend('<a href="#" class="link-delete-date text-danger mr-5"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>');

                $dateRangesTable.append($newDateRangeRow);

                datepickerStartDate = new Pikaday({
                    field: document.getElementById('rest_dateRanges_' + rowsNumber + '_startDate'),
                    position: 'bottom left',
                    format: 'MM/DD/YYYY',
                    minDate: minDate,
                    maxDate: maxDate,
                    defaultDate: minDate
                });

                datepickerEndDate = new Pikaday({
                    field: document.getElementById('rest_dateRanges_' + rowsNumber + '_endDate'),
                    position: 'bottom left',
                    format: 'MM/DD/YYYY',
                    minDate: minDate,
                    maxDate: maxDate,
                    defaultDate: minDate
                });
            });

            /**
             * Edit an Itinerary travel event handler.
             */
            $('.link-edit-rest').click(function (e) {
                e.preventDefault();

                $.get($(this).attr('href'), function (data) {
                    $('#rest-form-edit-wrapper').html(data).find('.modal').modal('show');
                });
            });

            /**
             * Delete an Itinerary activity event handler.
             */
            $('.link-delete-rest').click(function (e) {
                e.preventDefault();

                if (confirm('{% trans %}Do you really want to delete this Rest day from the Itinerary?{% endtrans %}')) {
                    $('#rest-delete-form-wrapper form').attr('action', $(this).attr('href')).trigger('submit');
                }
            });
        });
    </script>
{% endblock %}

{% block wizard_step_title %}
    <h2>
        In Country Itinerary
        <small class="pull-right">Step 2 of 2</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    {% if emptyRows is not empty %}
        <div class="alert alert-danger">
            {% trans %}This itinerary is not yet complete.{% endtrans %}
            <div class="css-tooltip css-tooltip--bottom display-inline">
                <a href="#" class="css-tooltip--trigger">{% trans %}More info{% endtrans %}</a>
                <div class="css-tooltip__content">
                    <p>{% trans %}You must add an activity, travel, or rest to the following days:{% endtrans %}</p>
                    <ul class="two-col-list">
                        {% for emptyDate in emptyRows %}
                            <li>{{ emptyDate|date('l, F d, Y') }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% if activityConflicts is not empty %}
        <div class="alert alert-danger">
            {% trans %}There are dates with activities in multiple cities, ensure you add a travel on those dates.{% endtrans %}
            <div class="css-tooltip css-tooltip--bottom display-inline">
                <a href="#" class="css-tooltip--trigger">{% trans %}More info{% endtrans %}</a>
                <div class="css-tooltip__content">
                    <p>{% trans %}You should add a travel to the following days:{% endtrans %}</p>
                    <ul class="two-col-list">
                        {% for conflict in activityConflicts %}
                            <li>{{ conflict|date('l, F d, Y') }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="alert alert-info">
        <ul class="no-margin">
            <li>Specialist work days should include a minimum of 4 and a maximum of 6 contact hours.</li>
            <li>Specialist work schedule should include at least 1 rest day every week.</li>
        </ul>
    </div>

    <div class="form-group">
        <table class="table table-bordered">
            <tbody>
            {% for key, item in itineraryActivities %}
                {% if item.rest is not empty %}
                    {% set rowType = 'rest' %}
                {% elseif item.activities is not empty or item.travels is not empty %}
                    {% set rowType = 'activities-travel' %}
                {% else %}
                    {% set rowType = 'empty' %}
                {% endif %}

                <tr class="itinerary-{{ rowType }}-row">
                    <td headers="itinerary_date" class="col-md-2 col-lg-2">
                        <p>{{ key|date('l, F d, Y') }}</p>
                        {% if rowType != 'rest' %}
                            <ul class="list-unstyled" data-itinerary-date="{{ key|date('m/d/Y') }}">
                                <li>
                                    <a href="#activity-form" class="btn btn-link link-add-activity">
                                        {% trans %}Add Activity{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="#travel-form" class="btn btn-link link-add-travel">
                                        {% trans %}Add Travel{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    {% if rowType == 'empty' %}
                                        <a href="#make-rest-form" class="btn btn-link link-make-rest">
                                            {% trans %}Make Rest Day{% endtrans %}
                                        </a>
                                    {% else %}
                                        <div class="css-tooltip css-tooltip--right">
                                            <a href="#"
                                               class="btn btn-link link-make-rest css-tooltip__trigger disabled">
                                                {% trans %}Make Rest Day{% endtrans %}
                                            </a>
                                            <div class="css-tooltip__content">
                                                <span>
                                                    {% trans %}To make this day a rest one, delete all associated activities and/or travels.{% endtrans %}
                                                </span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </li>
                            </ul>
                        {% endif %}
                    </td>
                    <td headers="itinerary_activity" class="col-md-10 col-lg-10">
                        {% if rowType == 'rest' %}
                            {# Rest #}
                            <table class="table table-rest-day">
                                <thead>
                                <tr>
                                    <th id="itinerary_rest_header" colspan="2">{% trans %}Rest day{% endtrans %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td headers="itinerary_rest_header" class="col-md-11 col-lg-11">
                                        {{ item.rest[0].inCountryAssignment.city }}
                                    </td>
                                    <td headers="itinerary_rest_header" class="col-md-1 col-lg-1">
                                        <ul class="list-unstyled no-margin">
                                            <li>
                                                <a href="{{ path('specialist_project_phase_itinerary_rest_edit', {
                                                    'id': specialistProjectPhase.id,
                                                    'rid': item.rest[0].id,
                                                }) }}" class="link-edit-rest">Edit</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('specialist_project_phase_itinerary_rest_delete', {
                                                    'id': specialistProjectPhase.id,
                                                    'rid': item.rest[0].id,
                                                }) }}" class="link-delete-rest">Delete</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            {# Activities #}
                            {% if item.activities is not empty %}
                                <table class="table table-activity">
                                <thead>
                                <tr>
                                    <th colspan="7">{% trans %}Activities{% endtrans %}</th>
                                </tr>
                                <tr>
                                    <th id="itinerary_activity_desc" class="col-md-1 col-lg-1">
                                        {% trans %}Activity{% endtrans %}
                                    </th>
                                    <th id="itinerary_topic" class="col-md-2 col-lg-2">
                                        {% trans %}Topics{% endtrans %}
                                    </th>
                                    <th id="itinerary_audience_desc" class="col-md-3 col-lg-3">
                                        {% trans %}Anticipated Audience{% endtrans %}
                                    </th>
                                    <th id="itinerary_duration" class="col-md-1 col-lg-1">
                                        {% trans %}Duration{% endtrans %}
                                    </th>
                                    <th id="itinerary_city" class="col-md-2 col-lg-2">
                                        {% trans %}City{% endtrans %}
                                    </th>
                                    <th id="itinerary_po" class="col-md-2 col-lg-2">
                                        {% trans %}Partnering Organization{% endtrans %}
                                    </th>
                                    <th id="itinerary_actions" class="col-md-1">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>

                                {# @var activity \AppBundle\Entity\ItineraryActivity #}
                                {% for activity in item.activities %}
                                    <tr>
                                        <td headers="itinerary_activity_desc">
                                            <div class="mb-5">
                                                <strong>{% trans %}Type:{% endtrans %}</strong>&nbsp;
                                                {% if activity.activityTypeOther %}
                                                    {{ activity.activityTypeOther }}
                                                {% else %}
                                                    {{ activity.activityType }}
                                                {% endif %}
                                            </div>

                                            {#{% if activity.activityTypeDesc is not null  %}#}
                                                {#<strong>{% trans %}Description:{% endtrans %}</strong>&nbsp;#}
                                                {#{{ activity.activityTypeDesc|nl2br }}#}
                                            {#{% endif %}#}
                                        </td>
                                        <td headers="itinerary_topic">
                                            <ul class="list-unstyled no-margin">
                                                {# @var topic \AppBundle\Entity\AreaOfExpertise #}
                                                {% for topic in activity.topics %}
                                                    <li class="mb-5">
                                                        {% if 'Other' == topic.name %}
                                                            <strong>Other:</strong>&nbsp;
                                                            {% if activity.topicOther is not null %}
                                                                {{ activity.topicOther }}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ topic.name }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td headers="itinerary_audience_desc">
                                            <ul class="list-unstyled no-margin">
                                                {% set totalNumberParticipants = 0 %}

                                                {# @var anticipatedAudience \AppBundle\Entity\Specialist\Itinerary\Activity\AnticipatedAudience #}
                                                {% for anticipatedAudience in activity.anticipatedAudience %}
                                                    <li class="mb-5 row">
                                                        <div class="col-lg-9 col-md-9">
                                                            {% if 'Other' == anticipatedAudience.audience.name %}
                                                                <strong>Other:</strong>&nbsp;
                                                                {{ anticipatedAudience.audienceOther }}
                                                            {% else %}
                                                                {{ anticipatedAudience.audience.name }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 text-right">
                                                            {{ anticipatedAudience.estimatedParticipants }}
                                                        </div>
                                                    </li>

                                                    {% set totalNumberParticipants = totalNumberParticipants + anticipatedAudience.estimatedParticipants  %}
                                                {% endfor %}
                                                <li class="mb-5 row">
                                                    <div class="col-lg-9 col-md-9 text-right">
                                                        <strong>Total Nº Participants:</strong>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 text-right">
                                                        {{ totalNumberParticipants }}
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                        <td headers="itinerary_duration" class="text-right">
                                            {{ activity.duration }}&nbsp;
                                            {% if activity.duration == 1 %}hour{% else %}hours{% endif %}
                                        </td>
                                        <td headers="itinerary_city">{{ activity.inCountryAssignment.city }}</td>
                                        <td headers="itinerary_po">
                                            <ul class="list-unstyled no-margin">
                                                {# @var partneringOrganization \AppBundle\Entity\Specialist\PartneringOrganization #}
                                                {% for partneringOrganization in activity.partneringOrganizations %}
                                                    <li class="mb-5">{{ partneringOrganization }}</li>
                                                {% else %}
                                                    N/A
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td headers="itinerary_actions">
                                            <ul class="list-unstyled no-margin">
                                                <li>
                                                    <a href="{{ path('specialist_project_phase_itinerary_activity_edit', {
                                                        'id': specialistProjectPhase.id,
                                                        'iaid': activity.id,
                                                    }) }}" class="link-edit-activity">{% trans %}Edit{% endtrans %}</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('specialist_project_phase_itinerary_activity_delete', {
                                                        'id': specialistProjectPhase.id,
                                                        'iaid': activity.id,
                                                    }) }}" class="link-delete-activity">{% trans %}Delete{% endtrans %}</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td headers="itinerary_activity_desc" colspan="7">
                                            <strong>{% trans %}Description:{% endtrans %}</strong>&nbsp;
                                            {% if activity.activityTypeDesc is not null %}
                                                {{ activity.activityTypeDesc|nl2br }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                                </table>

                                {#{% if item.activities_conflict %}#}
									{#<div class="small alert alert-danger">#}
										{#{% trans %}It seems a travel connecting the cities is missing!{% endtrans %}#}
									{#</div>#}
								{#{% endif %}#}

                            {% endif %}

                            {# Travels #}
                            {% if item.travels is not empty %}
                                <table class="table table-travel">
                                    <thead>
                                    <tr>
                                        <th colspan="6">{% trans %}Travels{% endtrans %}</th>
                                    </tr>
                                    <tr>
                                        <th id="itinerary_travel_from" class="col-md-2 col-lg-2">
                                            {% trans %}From{% endtrans %}
                                        </th>
                                        <th id="itinerary_travel_to" class="col-md-2 col-lg-2">
                                            {% trans %}To{% endtrans %}
                                        </th>
                                        <th id="itinerary_travel_mode" class="col-md-2 col-lg-2">
                                            {% trans %}Mode{% endtrans %}
                                        </th>
                                        <th id="itinerary_travel_time" class="col-md-2 col-lg-2">
                                            {% trans %}Approximate time of travel{% endtrans %}
                                        </th>
                                        <th id="itinerary_travel_responsible" class="col-md-3 col-lg-3">
                                            {% trans %}Who is responsible for booking the travel{% endtrans %}
                                        </th>
                                        <th id="itinerary_actions" class="col-md-1 col-lg-1">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {# @var travel \AppBundle\Entity\Specialist\Itinerary\Travel #}
                                    {% for travel in item.travels %}
                                        <tr>
                                            <td headers="itinerary_travel_from">
                                                {{ travel.origin.city }}
                                            </td>
                                            <td headers="itinerary_travel_to">
                                                {{ travel.destination.city }}
                                            </td>
                                            <td headers="itinerary_travel_mode">
                                                {{ travel.mode }}
                                            </td>
                                            <td headers="itinerary_travel_time">
                                                {{ travel.travelTime }}
                                            </td>
                                            <td headers="itinerary_travel_responsible">
                                                {{ travel.bookingResponsible|title }}
                                            </td>
                                            <td headers="itinerary_actions">
                                                <ul class="list-unstyled no-margin">
                                                    <li>
                                                        <a href="{{ path('specialist_project_phase_itinerary_travel_edit', {
                                                            'id': specialistProjectPhase.id,
                                                            'tid': travel.id,
                                                        }) }}" class="link-edit-travel">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('specialist_project_phase_itinerary_travel_delete', {
                                                            'id': specialistProjectPhase.id,
                                                            'tid': travel.id,
                                                        }) }}" class="link-delete-travel">Delete</a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include ':project/specialist/wizard/itinerary:add_activity.html.twig' with {'formNonJS': formAddActivityNonJS, 'form': formAddActivity} only %}

    <div id="activity-form-edit-wrapper"></div>

    <div class="hidden delete-form" id="activity-delete-form">
        {{ form_start(deleteForm) }}
        {{ form_end(deleteForm) }}
    </div>

    {% include ':project/specialist/wizard/itinerary/travel:add.html.twig' with {'formNonJS': formAddTravelNonJS, 'form': formAddTravel} only %}

    <div id="travel-form-edit-wrapper"></div>

    <div class="hidden" id="travel-delete-form-wrapper">
        {{ form_start(deleteTravelForm) }}
        {{ form_end(deleteTravelForm) }}
    </div>

    {% include ':project/specialist/wizard/itinerary/rest:add.html.twig' with {'formNonJS': addRestNonJSForm, 'form': addRestForm} only %}

    <div id="rest-form-edit-wrapper"></div>

    <div class="hidden" id="rest-delete-form-wrapper">
        {{ form_start(deleteRestForm) }}
        {{ form_end(deleteRestForm) }}
    </div>
{% endblock %}

{% block wizard_step_footer %}
    {{ form_start(form) }}

    <div class="panel-body" style="padding-top:0">
        <div class="form-group">
            <fieldset>
                <legend class="label__required">
                    {% trans %}Does the Specialist have at least 1 rest day per week?{% endtrans %}
                </legend>
                {{ form_widget(form.restDayWeek, { 'attr': {'class': 'inline-labels'} }) }}
                {{ form_errors(form.restDayWeek) }}
            </fieldset>
        </div>

        <div class="sub-fieldset">
            <div class="form-group">
                {{ form_label(form.restDayWeekDesc) }}
                {{ form_widget(form.restDayWeekDesc, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.restDayWeekDesc) }}
            </div>
        </div>

        <div class="form-group">
            <fieldset>
                <legend class="label__required">
                    {% trans %}Does the Specialist have a minimum of 4 and a maximum of 6 hours of work each working day?{% endtrans %}
                </legend>
                {{ form_widget(form.hoursRequiredDay, { 'attr': {'class': 'inline-labels'} }) }}
                {{ form_errors(form.hoursRequiredDay) }}
            </fieldset>
        </div>

        <div class="sub-fieldset">
            <div class="form-group">
                {{ form_label(form.hoursRequiredDayDesc) }}
                {{ form_widget(form.hoursRequiredDayDesc, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.hoursRequiredDayDesc) }}
            </div>
        </div>
    </div>
    {% include 'fellowproject/footer.html.twig' %}

    {{ form_end(form) }}
{% endblock %}
