{% extends "::base.html.twig" %}

{% block title %}Confirm Removal of Item{% endblock %}

{% block body %}
	<h1>Itinerary Activity removal</h1>

	<h2>{% trans %}Do you really want to delete this Itinerary activity?{% endtrans %}</h2>
	<table>
		<tbody>
		<tr>
			<th>{% trans %}Id{% endtrans %}</th>
			<td>{{ itineraryActivity.id }}</td>
		</tr>
		<tr>
			<th>{% trans %}Activity Description{% endtrans %}</th>
			<td>{{ itineraryActivity.activityTypeOther }}</td>
		</tr>
		</tbody>
	</table>

	<ul>
		<li>
			<a href="{{ path('specialist_project_phase_itinerary_activities', {
				'id': specialistProjectPhase.id
			}) }}">{% trans %}Cancel{% endtrans %}</a>
		</li>
		<li>
			{{ form_start(delete_form) }}
			<input type="submit" value="{% trans %}Delete{% endtrans %}">
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}
