{% if formNonJS is not null %}
    <noscript>
        {{ form_start(formNonJS) }}

        <div class="form-group">
            <h3 class="fieldset__subtitle inline-block">{% trans %}Add Itinerary Activity{% endtrans %}</h3>

            {% include ':project/specialist/wizard/itinerary:add_activity_body.html.twig' with {'form': formNonJS, 'nonJS': true} only %}

            <div class="text-right">
                {{ form_widget(formNonJS.add, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        {{ form_end(formNonJS, {'render_rest': false}) }}
    </noscript>
{% endif %}

{# this is the way we came up with to identify if the Form is the Edit or the Add one. #}
{% set isAddActivityForm = form.dateRanges is defined %}

<div id="activity-form{% if not isAddActivityForm %}-edit{% endif %}" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <div class="pull-right">
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
                    {{ form_widget(form.add, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
                </div>
                <h4 class="modal-title">
                    {% if isAddActivityForm %}
                        {% trans %}Add Itinerary Activity{% endtrans %}
                    {% else %}
                        {% trans %}Edit Itinerary Activity{% endtrans %}
                    {% endif %}
                </h4>
            </div>

            <div class="modal-body">
                {% include ':project/specialist/wizard/itinerary:add_activity_body.html.twig' with {'form': form, 'nonJS': false} only %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" id="itinerary_activity_add_2" name="itinerary_activity[add]" class="btn btn-success btn-lg">Save and add to Itinerary</button>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
