{% if form.dateRanges is defined %}
    {# TODO: Make help text editable!! #}
    <div class="help-block small">
        <p>Please list the days that this activity will take place. You may do any of the following:</p>
        <ol>
            <li>
                Enter a single day (by listing only the start date). Example:<br>
                <em>June 15, 2017</em>
            </li>
            <li>
                Enter a consecutive date range (by listing both a start date and an end date). Example:<br>
                <em>June 17, 2017 – June 20, 2017</em>
            </li>
            {% if nonJS == false %}
                <li>
                    Enter a combination of the two (by using the “Add date or date range” button). Example:<br>
                    <em>
                        June 15, 2017 – June 17, 2017<br>
                        June 20, 2017<br>
                        June 25, 2017 – June 28, 2017
                    </em>
                </li>
            {% endif %}
        </ol>
    </div>

    <table class="table table-bordered table-date-ranges itinerary-activity-date-ranges ">
        <thead>
        <tr>
            <th id="date_range_start" class="col-md-6 col-lg-6 label__required">
                {% trans %}Start Date{% endtrans %}
            </th>
            <th id="date_range_end" class="col-md-6 col-lg-6">
                {% trans %}End Date{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dateRange in form.dateRanges %}
            <tr>
                <td headers="date_range_start">
                    <div class="datepicker">
                        {{ form_widget(dateRange.startDate, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                </td>
                <td headers="date_range_end">
                    <div class="datepicker">
                        {{ form_widget(dateRange.endDate, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not nonJS %}
        <div class="text-right mb-30">
            {{ form_widget(form.addDate, {'attr': {'class': 'btn btn-info'}}) }}
        </div>
    {% endif %}
{% else %}
    <div class="hidden">
        {{ form_widget(form.activityDate) }}
    </div>
{% endif %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th id="itinerary_activity_desc" class="col-md-2 col-lg-2 label__required">
            {% trans %}Activity{% endtrans %}
        </th>
        <th id="itinerary_topic" class="col-md-2 col-lg-2 label__required">
            {% trans %}Topic{% endtrans %}
        </th>
        <th id="itinerary_audience_desc" class="col-md-3 col-lg-3 label__required">
            {% trans %}Anticipated Audience{% endtrans %}
        </th>
        <th id="itinerary_duration" class="col-md-1 col-lg-1 label__required">
            {% trans %}Duration (hours){% endtrans %}
        </th>
        <th id="itinerary_city" class="col-md-2 col-lg-2 label__required">
            {% trans %}City{% endtrans %}
        </th>
        <th id="itinerary_po" class="col-md-2 col-lg-2 label__required">
            {% trans %}Partnering Organization{% endtrans %}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td headers="itinerary_activity_desc">
            <h4>
                <label for="itinerary_activity_activityType">Type</label>
            </h4>
            <div class="select-wrapper">
                {{ form_widget(form.activityType, {'attr': {'class': 'form-control'}}) }}
            </div>

			<div class="form-group">
				<label><strong>{% trans %}If other activity{% endtrans %}</strong>
            		{{ form_widget(form.activityTypeOther, {'attr': {'class': 'form-control'}}) }}
				</label>
			</div>

            <div class="form-group">
                <h4>
                    <label for="itinerary_activity_activityTypeDesc">Description</label>
                </h4>
                {% trans %}<p class="small text-success">For example, a training manual, curriculum, text book.</p>{% endtrans %}
                {{ form_widget(form.activityTypeDesc, {'attr': {'class': 'form-control activity-type-textarea', 'rows' : '12'}}) }}
            </div>
        </td>
        <td headers="itinerary_topic">
            <p class="small text-success">
                {% trans %}Select up to 3 topics{% endtrans %}
            </p>
            <div class="checkbox-wrapper">
                {{ form_widget(form.topics) }}
            </div>
            <div class="form-group">
                <label><strong>{% trans %}If other topic{% endtrans %}</strong>
                    {{ form_widget(form.topicOther, {'attr': {'class': 'form-control'}}) }}
                </label>
            </div>
        </td>
        <td headers="itinerary_audience_desc">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <p class="small text-success">{% trans %}Select all applicable{% endtrans %}</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <p class="small">
                        {% trans %}Est. Nº Participants{% endtrans %}
                    </p>
                </div>
            </div>

            {% for anticipatedAudienceEntry in form.anticipatedAudience %}
                <div class="row mb-5">
                    <div class="col-lg-8 col-md-8">
                        <div class="checkbox-wrapper">
                            {{ form_widget(anticipatedAudienceEntry.audience) }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        {% if anticipatedAudienceEntry.estimatedParticipants is defined %}
                            {{ form_widget(anticipatedAudienceEntry.estimatedParticipants, {'attr': {'class': 'form-control'}}) }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div id="other-audience-row" class="row mb-5">
                <div class="col-lg-8 col-md-8">
                    <div class="form-group">
                        <label>
                            <strong>{% trans %}If other audience{% endtrans %}</strong>
                        </label>
                        {{ form_widget(form.audienceOther, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div id="total-number-participants-row" class="row mb-5">
                <div class="col-lg-offset-8 col-md-offset-8 col-lg-4 col-md-4">
                    <div class="form-group">
                        <label>
                            <strong>
                                {% trans %}Total Nº Participants{% endtrans %}
                            </strong>
                        </label>
                        <input type="text" class="audience-total-number-participants form-control" disabled>
                    </div>
                </div>
            </div>
        </td>
        <td headers="itinerary_duration">
            {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
            <p class="small text-success">{% trans %}A work day should have min. 4 hours and max. 6 hours.{% endtrans %}</p>
        </td>
        <td headers="itinerary_city">
            <div class="select-wrapper">
                {{ form_widget(form.inCountryAssignment, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
        <td headers="itinerary_po">
            <p class="small text-success">{% trans %}Select all applicable{% endtrans %}</p>
            <div class="checkbox-wrapper">
                <div class="checkbox-wrapper">
                    {{ form_widget(form.partneringOrganizationNA) }}
                    {{ form_label(form.partneringOrganizationNA) }}
                </div>

                {% for countryName, countryPartneringOrganization in form.partneringOrganizations.vars.choices %}
                    <h4>{{ countryName }}</h4>

                    <div class="checkbox-wrapper">
                        {% for partneringOrganizationId, partneringOrganization in countryPartneringOrganization %}
                            {{ form_widget(form.partneringOrganizations[partneringOrganizationId]) }}
                            {{ form_label(form.partneringOrganizations[partneringOrganizationId]) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>
    </tbody>
</table>

{{ form_row(form._token) }}
