{% extends ':project/common:base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

    <script src="{{ asset('dist/scripts/pikaday-jquery.js') }}"></script>

	<script>
		jQuery(function($) {
			var $dateForm = $('form[name="itinerary_dates"]'),
                today = new Date();

			$dateForm.submit(function() {
				if ($('#old_startDate').length && $('#old_endDate').length) {
					if ($('#itinerary_dates_startDate').val() != $('#old_startDate').html()
							|| $('#itinerary_dates_endDate').val() != $('#old_endDate').html()) {
						return confirm('{% trans %}Changing the dates may erase some current dates and their assigned activities, are you sure you want to proceed?{% endtrans %}')
					}
				}
			});

          $.each(
            datepickers, function (index, picker) {
              "use strict";
              picker.setMinDate(today);
              picker.gotoDate(today);
            }
          );
		});
	</script>
{% endblock %}

{% block wizard_step_title %}
	<h2>
		In Country Itinerary
		<small class="pull-right">Step 1 of 2</small>
	</h2>
{% endblock %}

{% block wizard_step_body %}
	{% set noStartDate = app.session.flashBag.has('field-error-start-date') %}
	{% set noEndDate = app.session.flashBag.has('field-error-end-date') %}

    {# Show to users Virtual Itinerary date range when is Mixed proposal so they don't overlap the dates #}
    {% if specialistProjectPhase.type == constant('MIXED_TYPE', specialistProjectPhase) %}
        {% set haveBeforeDates = specialistProjectPhase.virtualStartDateBefore is not null and specialistProjectPhase.virtualEndDateBefore is not null %}
        {% set haveAfterDates = specialistProjectPhase.virtualStartDateAfter is not null and specialistProjectPhase.virtualEndDateAfter is not null %}
        {% set mixed_virtual_component = specialistProjectPhase.mixedVirtualComponent %}

        {% if haveBeforeDates or haveAfterDates %}
            <div class="alert alert-info" role="alert">
                <p>Make sure you don't select a date period that overlaps with the dates you already selected in the
                    Virtual Itinerary:</p>
                {% if constant('MIXED_VIRTUAL_COMPONENT_BEFORE', specialistProjectPhase) == mixed_virtual_component %}
                    <p>From {{ specialistProjectPhase.virtualStartDateBefore|date('m/d/Y') }}
                        to {{ specialistProjectPhase.virtualEndDateBefore|date('m/d/Y') }}</p>
                {% elseif constant('MIXED_VIRTUAL_COMPONENT_AFTER', specialistProjectPhase) == mixed_virtual_component %}
                    <p>From {{ specialistProjectPhase.virtualStartDateAfter|date('m/d/Y') }}
                        to {{ specialistProjectPhase.virtualEndDateAfter|date('m/d/Y') }}</p>
                {% elseif constant('MIXED_VIRTUAL_COMPONENT_BEFORE_AND_AFTER', specialistProjectPhase) == mixed_virtual_component %}
                    <p>From {{ specialistProjectPhase.virtualStartDateBefore|date('m/d/Y') }}
                        to {{ specialistProjectPhase.virtualEndDateBefore|date('m/d/Y') }}</p>
                    <p>From {{ specialistProjectPhase.virtualStartDateAfter|date('m/d/Y') }}
                        to {{ specialistProjectPhase.virtualEndDateAfter|date('m/d/Y') }}</p>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

	<div class="row">
		<div class="form-group col-md-6">
			{{ form_label(form.startDate, null, {'label_attr': {'class': 'label__required'}}) }}

			<div class="datepicker{% if noStartDate %} has-error{% endif %}">
				{{ form_widget(form.startDate, { 'attr': {'class': 'form-control'} }) }}
				{% if currentDates[0] %}
					<span class="hidden" id="old_startDate">{{ currentDates[0]|date('m/d/Y') }}</span>
				{% endif %}
			</div>
			<p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
			{% if noStartDate %}
				<span class="small text-danger block mt-5">
					<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-start-date')[0] }}
				</span>
			{% endif %}
		</div>

		<div class="form-group col-md-6">
			{{ form_label(form.endDate, null, {'label_attr': {'class': 'label__required'}}) }}
			<div class="datepicker{% if noEndDate %} has-error{% endif %}">
				{{ form_widget(form.endDate, {'attr': {'class': 'form-control'}}) }}
				{% if currentDates[1] %}
					<span class="hidden" id="old_endDate">{{ currentDates[1]|date('m/d/Y') }}</span>
				{% endif %}
			</div>
			<p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
			{% if noEndDate %}
				<span class="small text-danger block mt-5">
                       <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-end-date')[0] }}
                    </span>
			{% endif %}
		</div>
	</div>

    <div class="form-group">
        <fieldset>
            <legend class="label__required inline-block">
                {% trans %}Are the start and end dates flexible?{% endtrans %}
            </legend>
            <div class="css-tooltip css-tooltip--right">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Flexible Dates{% endtrans %}</span>
                <div class="css-tooltip__content">
                    {% trans %}Tooltip Content - Flexible Dates{% endtrans %}
                </div>
            </div>
            {{ form_widget(form.datesFlexible, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.datesFlexible) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            {{ form_label(form.dateLengthDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
	        <div class="css-tooltip css-tooltip--right">
	            <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Date Length desc{% endtrans %}</span>
	            <div class="css-tooltip__content">
	                {% trans %}Tooltip Content - Date Length desc{% endtrans %}
	            </div>
	        </div>
            {{ form_widget(form.dateLengthDesc, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{% endblock %}
