{% extends 'base.html.twig' %}

{% block body %}
    <h1>ReloLocation edit</h1>

    {{ form_start(edit_form) }}

    <div class="panel panel-primary panel-wizard">
        <div class="panel-heading">
            <h2>Edit RELO Location</h2>
        </div>

        <div class="panel-body">
            <div class="form-group">
                {{ form_label(edit_form.name, null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                {{ form_errors(edit_form.name) }}
                {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group">
                <div class="checkbox-wrapper">
                    {{ form_label(edit_form.countries, null, { 'label_attr': {'class': 'label__required inline-block'} }) }}
                    {{ form_errors(edit_form.countries) }}
                    {{ form_widget(edit_form.countries) }}
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-link btn-lg" href="{{ path('relo_location_index') }}">Back to the list</a>
                </div>
                <div class="col-md-offset-4 col-md-4 text-right">
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                </div>
            </div>
        </div>
    </div>

    {{ form_row(edit_form._token) }}
    {{ form_end(edit_form) }}
{% endblock %}
