{% extends 'base.html.twig' %}

{% block title %}Manage RELO Locations &#124; Proposal System{% endblock %}

{% block body %}
    <h1>
        Manage RELO Locations
        <a class="btn btn-primary" href="{{ path('relo_location_new') }}">
            {% trans %}Add new RELO Location{% endtrans %}
        </a>
    </h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="relo_location_id" class="col-md-2 col-lg-1">
                        {% trans %}Reference #{% endtrans %}
                    </th>
                    <th id="relo_location_name" class="col-md-4 col-lg-4">
                        {% trans %}Name{% endtrans %}
                    </th>
                    <th id="relo_location_countries" class="col-md-4 col-lg-4">
                        {% trans %}Countries{% endtrans %}
                    </th>
                    <th id="relo_location_created_at" class="col-md-2 col-lg-2">
                        {% trans %}Date of Creation{% endtrans %}
                    </th>
                    <th id="relo_location_actions" class="col-md-2 col-lg-1">
                        {% trans %}Actions{% endtrans %}
                    </th>
                </tr>
                </thead>

                <tbody>
                {# @var reloLocation \AppBundle\Entity\ReloLocation #}
                {% for reloLocation in reloLocations %}
                    <tr>
                        <td headers="relo_location_id">
                            {{ reloLocation.id }}
                        </td>
                        <td headers="relo_location_name">
                            {{ reloLocation.name }}
                        </td>
                        <td headers="relo_location_countries">
                            <ul class="list-unstyled">
                                {# @var country \AppBundle\Entity\Country #}
                                {% for country in reloLocation.countries %}
                                    <li>{{ country.name }}</li>
                                {% else %}
                                    <li>{% trans %}No country selected.{% endtrans %}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td headers="relo_location_created_at">
                            {% if reloLocation.createdAt %}
                                {{ reloLocation.createdAt|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                        <td headers="relo_location_actions">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('relo_location_edit', { 'id': reloLocation.id }) }}">Edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td headers="relo_location_id" colspan="4">
                            {% trans %}There are no RELO Locations.{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
