{% if formNonJS is not null %}
    <noscript>
        {{ form_start(formNonJS) }}

        <div class="form-group">
            <h3 class="fieldset__subtitle inline-block">{% trans %}Add Itinerary Rest Day{% endtrans %}</h3>

            {% include ':project/specialist/wizard/itinerary/rest:add_body.html.twig' with {'form': formNonJS, 'nonJS': true} only %}

            <div class="text-right">
                {{ form_widget(formNonJS.add, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        {{ form_end(formNonJS, {'render_rest': false}) }}
    </noscript>
{% endif %}

{# this is the way we came up with to identify if the Form is the Edit or the Add one. #}
{% set isAddActivityForm = true %}

<div id="itinerary-rest-form{% if not isAddActivityForm %}-edit{% endif %}" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-text" data-dismiss="modal">Close</button>
                <h4 class="modal-title">{% if isAddActivityForm %}Add{% else %}Edit{% endif %} Itinerary Rest Day</h4>
            </div>

            {{ form_start(form) }}
            <div class="modal-body">
                {% include ':project/specialist/wizard/itinerary/rest:add_body.html.twig' with {'form': form, 'nonJS': false} only %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
                {{ form_widget(form.add, { 'attr': {'class': 'btn btn-success btn-lg'} }) }}
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>
