{% if form.dateRanges is defined %}
    {# TODO: Make help text editable!! #}
    <div class="help-block small">
        <p>Please list the days that this activity will take place. You may do any of the following:</p>
        <ol>
            <li>
                Enter a single day (by listing only the start date). Example:<br>
                <em>June 15, 2017</em>
            </li>
            <li>
                Enter a consecutive date range (by listing both a start date and an end date). Example:<br>
                <em>June 17, 2017 – June 20, 2017</em>
            </li>
            {% if nonJS == false %}
                <li>
                    Enter a combination of the two (by using the “Add date or date range” button). Example:<br>
                    <em>
                        June 15, 2017 – June 17, 2017<br>
                        June 20, 2017<br>
                        June 25, 2017 – June 28, 2017
                    </em>
                </li>
            {% endif %}
        </ol>
    </div>

    <table class="table table-bordered table-date-ranges itinerary-rest-date-ranges">
        <thead>
        <tr>
            <th id="date_range_start" class="col-md-6 col-lg-6 label__required">
                {% trans %}Start Date{% endtrans %}
            </th>
            <th id="date_range_end" class="col-md-6 col-lg-6">
                {% trans %}End Date{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dateRange in form.dateRanges %}
            <tr>
                <td headers="date_range_start">
                    <div class="datepicker">
                        {{ form_widget(dateRange.startDate, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                </td>
                <td headers="date_range_end">
                    <div class="datepicker">
                        {{ form_widget(dateRange.endDate, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if not nonJS %}
        <div class="text-right mb-30">
            {{ form_widget(form.addDate, {'attr': {'class': 'btn btn-info'}}) }}
        </div>
    {% endif %}
{% else %}
    <div class="hidden">
        {{ form_widget(form.date) }}
    </div>
{% endif %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th id="itinerary_rest_city" class="col-md-12 col-lg-12 label__required">
            {% trans %}City{% endtrans %}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td headers="itinerary_rest_city">
            <div class="select-wrapper">
                {{ form_widget(form.inCountryAssignment, { 'attr': {'class': 'form-select'} }) }}
            </div>
        </td>
    </tr>
    </tbody>
</table>
