footer.footer {
    background-color: $darker-blue;
    color: #dadada;
    padding: 15px 0 5px;
    line-height: 1.6;
    font-weight: 600;
    float: left;
    width: 100%;
    a {
        color: #fff;
    }
}

.branding {
    background-color: $dark-blue;
}

.brands-list {
    margin: 0;
    li {
       display: inline-block;
       margin: 20px 40px;
    }
}

.social-icons {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin-right: 3px;
        margin-bottom: 5px;
        text-indent: -9999px;
        display: inline-block;
        a {
            width: 28px;
            height: 28px;
            display: block;
            background-position: 0 0;
            background-repeat: no-repeat;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-position: 0 -38px;
            }
        }
    }
}

.social_twitter {
    background: url(../images/twitter.png) no-repeat;
}

.social_linkedin {
    background: url(../images/linkedin.png) no-repeat;
}

.social_youtube {
    background: url(../images/youtube.png) no-repeat;
}

.social_instagram {
    background: url(../images/instagram.png) no-repeat;
}