.main-header{
    @extend .clearfix;
    padding: 10px 15px;
    background-color: $light-gray;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    #logo img {
        width: 125px;
        height: auto;
    }
    .user-data-form{
        display: inline-block;
        .btn{
            border-radius: 0px;
            width: auto;
        }
        .form-select{
            border-radius: 0px;
        }
    }
}

.main-logo{
    display: inline-block;
}
