.sidebar {
    width: 200px;
    //height: 800px;
    background-color: $dark-blue;
    float: left;
}

ul.sidenav {
    list-style: none;
    li {
        border-bottom: solid 1px lighten($dark-blue, 10%);
        a {
            color: $sidenav-text-color;
            &:hover{
                background-color: lighten($dark-blue, 8%);
            }
        }
    }
}

.sidebar__subnav {
    ul{
        @extend .nav;
        li{
            border-bottom: none;
        }
    }
}

.sidebar__subnav__title {
    color: lighten($dark-blue, 55%);
    text-transform: uppercase;
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 800;
    font-size: 0.9em;
}