{% extends 'base.html.twig' %}

{% block title %}Edit Embassy &#124; Proposal System{% endblock %}

{% block body %}

	<h1>Edit countries for Embassy</h1>

	<div class="panel panel-primary panel-wizard">

		{{ form_start(edit_form) }}
		<div class="panel-body">

			<table class="table table__view-mode table-bordered">
				<tbody>
				<tr>
					<th>{{ 'Name'|trans }}</th>
					<td>{{ edit_form.vars.value.name }}</td>
				</tr>
				<tr>
					<th>{{ 'Email'|trans }}</th>
					<td>{{ edit_form.vars.value.email }}</td>
				</tr>
				</tbody>
			</table>

			{{ form_errors(edit_form) }}
			<div class="form-group">
				<div class="checkbox-wrapper">
					{{ form_label(edit_form.countries) }}
					{{ form_widget(edit_form.countries) }}
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<div class="row">
				<div class="col-md-offset-8 col-md-4 text-right">
					<button type="submit" id="form_submit" name="form[submit]" class="btn btn-success btn-lg">Save</button>
				</div>

			</div>

		</div>

		{{ form_row(edit_form._token) }}
	{{ form_end(edit_form, {'render_rest': false}) }}

	</div>
{% endblock %}
