{% extends 'base.html.twig' %}

{% block body %}
    <h1>Review Status</h1>

    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'notifications.html.twig' %}

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th id="review-status-id" class="col-md-1 col-lg-1">
                        {% trans %}ID{% endtrans %}
                    </th>
                    <th id="review-status-name" class="col-md-6 col-lg-6">
                        {% trans %}Name{% endtrans %}
                    </th>
                    <th id="review-status-updated-at" class="col-md-4 col-lg-4">
                        {% trans %}Last update{% endtrans %}
                    </th>
                    <th id="review-status-actions" class="col-md-1 col-lg-1">
                        {% trans %}Actions{% endtrans %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {# @var reviewStatus \AppBundle\Entity\ProjectReviewStatus #}
                {% for reviewStatus in reviewStatuses %}
                    <tr>
                        <td headers="review-status-id">
                            {{ reviewStatus.id }}
                        </td>
                        <td headers="review-status-name">
                            {{ reviewStatus.name }}
                        </td>
                        <td headers="review-status-updated-at">
                            {{ reviewStatus.updatedAt|date('m/d/Y') }}
                        </td>
                        <td headers="review-status-actions">
                            <a href="{{ path('proposal_admin_review_status_edit', {id: reviewStatus.id}) }}">
                                Edit
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
