<ul>
	{# @var country \AppBundle\Entity\Country #}
	<li>
		<strong>{% trans %}Reference #{% endtrans %}:</strong> {{ projectPhase.projectGeneralInfo.referenceNumber }}
	</li>
	<li>
		<strong>{% trans %}Title{% endtrans %}:</strong> {{ projectPhase.title }}
	</li>
	<li>
		<strong>{% trans %}Proposal Type{% endtrans %}:</strong>
		{% if projectPhase.type == "in-country" %} Entirely In-Country {% endif %}
		{% if projectPhase.type == "virtual" %} Entirely Virtual {% endif %}
		{% if projectPhase.type == "mixed" %} Mixed (in-country component and virtual component) {% endif %}
	</li>
	<li>
		<strong>{% trans %}Countries{% endtrans %}:</strong>
		{% for country in projectPhase.projectGeneralInfo.countries %}
			{% if loop.first %}
				{{ country.name }}
			{% else %}
				, {{ country.name }}
			{% endif %}
		{% endfor %}
	</li>
	<li>
		<strong>{% trans %}Fiscal Year{% endtrans %}:</strong> {{ projectPhase.projectGeneralInfo.cycle.name }}
	</li>
</ul>
