<p>Hello,</p>

<p>This email is to inform you that an Specialist project proposal has been submitted for your review. The details of the proposal are listed below.</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
	{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
</a>

<p>Once you review the proposal, you must take one of the following actions:</p>
<ol>
	<li>Approve. The proposal will be passed to ECA for their review.</li>
	<li>Reject. The proposal will NOT be passed to ECA for their review and the Post will be notified that their proposal was rejected.</li>
	<li>Edit the proposal yourself and approve. The proposal with your edits will be passed to ECA for their review.</li>
	<li>Make comments and return the proposal to Post for editing. Post will see your comments and may choose to edit and resubmit the proposal for your re-review. </li>
</ol>

<p>Regards,<br>The English Language Programs team</p>