{% extends ':project/common:base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

    <script>
		jQuery(function($) {
          var today = new Date();

			$('form[name="virtual_dates"]').submit(function() {
				var changed = false;
				$('.field-date').each(function(idx, elem) {
					var old_name = '#old_' + $(elem).attr('id');
					if ($(old_name) && $(old_name).text()) {
						if ($(old_name).text() != $(elem).val()) {
							changed = true;
							return false;
						}
					}
				})
				if (changed) {
					return confirm('{% trans %}Changing the dates may erase some current weeks and their assigned activities, are you sure you want to proceed?{% endtrans %}')
				}

			});

          $.each(
            datepickers, function (index, picker) {
              "use strict";
              picker.setMinDate(today);
              picker.gotoDate(today);
            }
          );
		});
    </script>
{% endblock %}

{% block wizard_step_title %}
    <h2>
        Virtual Itinerary
        <small class="pull-right">Step 2 of 3</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    {% set mixed_virtual_component = specialistProjectPhase.mixedVirtualComponent %}
    {% set no_start_date = app.session.flashBag.has('field-error-start-date') %}
    {% set no_end_date = app.session.flashBag.has('field-error-end-date') %}

    {# Show to users In Country Itinerary date range so they don't overlap the dates #}
    {% if specialistProjectPhase.startDate is not null and specialistProjectPhase.endDate is not null %}
        <div class="alert alert-info" role="alert">
            <p>Make sure you don't select a date period that overlaps with the dates you already selected in the In Country Itinerary:</p>
            <p>From {{ specialistProjectPhase.startDate|date('m/d/Y') }} to {{ specialistProjectPhase.endDate|date('m/d/Y') }}</p>
        </div>
    {% endif %}

    {% if constant('MIXED_VIRTUAL_COMPONENT_BEFORE', specialistProjectPhase) == mixed_virtual_component %}
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualStartDateBefore, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_start_date %} has-error{% endif %}">
                    {{ form_widget(form.virtualStartDateBefore, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualStartDateBefore %}
					<span class="hidden" id="old_virtual_dates_virtualStartDateBefore">{{ form.vars.value.virtualStartDateBefore|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_start_date %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-start-date')[0] }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualEndDateBefore, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_end_date %} has-error{% endif %}">
                    {{ form_widget(form.virtualEndDateBefore, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualEndDateBefore %}
					<span class="hidden" id="old_virtual_dates_virtualEndDateBefore">{{ form.vars.value.virtualEndDateBefore|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_end_date %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-end-date')[0] }}
                    </span>
                {% endif %}
            </div>
        </div>
    {% elseif constant('MIXED_VIRTUAL_COMPONENT_AFTER', specialistProjectPhase) == mixed_virtual_component %}
        <div class="row">
            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualStartDateAfter, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_start_date %} has-error{% endif %}">
                    {{ form_widget(form.virtualStartDateAfter, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualStartDateAfter %}
					<span class="hidden" id="old_virtual_dates_virtualStartDateAfter">{{ form.vars.value.virtualStartDateAfter|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_start_date %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-start-date')[0] }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualEndDateAfter, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_end_date %} has-error{% endif %}">
                    {{ form_widget(form.virtualEndDateAfter, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualEndDateAfter %}
					<span class="hidden" id="old_virtual_dates_virtualEndDateAfter">{{ form.vars.value.virtualEndDateAfter|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_end_date %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-end-date')[0] }}
                    </span>
                {% endif %}
            </div>
        </div>
    {% elseif constant('MIXED_VIRTUAL_COMPONENT_BEFORE_AND_AFTER', specialistProjectPhase) == mixed_virtual_component %}
        <div class="row">
            <h3 class="col-md-12 col-lg-12">Before In Country Component</h3>

            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualStartDateBefore, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_start_date %} has-error{% endif %}">
                    {{ form_widget(form.virtualStartDateBefore, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualStartDateBefore %}
					<span class="hidden" id="old_virtual_dates_virtualStartDateBefore">{{ form.vars.value.virtualStartDateBefore|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_start_date %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-start-date')[0] }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualEndDateBefore, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_end_date %} has-error{% endif %}">
                    {{ form_widget(form.virtualEndDateBefore, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualEndDateBefore %}
					<span class="hidden" id="old_virtual_dates_virtualEndDateBefore">{{ form.vars.value.virtualEndDateBefore|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_end_date %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-end-date')[0] }}
                    </span>
                {% endif %}
            </div>
        </div>

        {% set no_start_date_after = app.session.flashBag.has('field-error-start-date-after') %}
        {% set no_end_date_after = app.session.flashBag.has('field-error-end-date-after') %}

        <div class="row">
            <h3 class="col-md-12 col-lg-12">After In Country Component</h3>

            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualStartDateAfter, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_start_date_after %} has-error{% endif %}">
                    {{ form_widget(form.virtualStartDateAfter, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualStartDateAfter %}
					<span class="hidden" id="old_virtual_dates_virtualStartDateAfter">{{ form.vars.value.virtualStartDateAfter|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_start_date_after %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-start-date-after')[0] }}
                    </span>
                {% endif %}
            </div>
            <div class="form-group col-md-6 col-lg-6">
                {{ form_label(form.virtualEndDateAfter, null, {'label_attr': {'class': 'label__required'}}) }}

                <div class="datepicker{% if no_end_date_after %} has-error{% endif %}">
                    {{ form_widget(form.virtualEndDateAfter, { 'attr': {'class': 'field-date'} }) }}
                </div>
                <p class="mt-5 no-js">{% trans %}Please use this format: MM/DD/YYYY{% endtrans %}</p>
				{% if form.vars.value.virtualEndDateAfter %}
					<span class="hidden" id="old_virtual_dates_virtualEndDateAfter">{{ form.vars.value.virtualEndDateAfter|date('m/d/Y') }}</span>
				{% endif %}

                {% if no_end_date_after %}
                    <span class="small text-danger block mt-5">
                        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> {{ app.session.flashBag.get('field-error-end-date-after')[0] }}
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="form-group">
        <fieldset>
            <legend class="label__required inline-block">
                {% trans %}Are the start and end dates flexible?{% endtrans %}
            </legend>
            <div class="css-tooltip css-tooltip--right">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Flexible Dates{% endtrans %}</span>
                <div class="css-tooltip__content">
                    {% trans %}Tooltip Content - Flexible Dates{% endtrans %}
                </div>
            </div>
            {{ form_widget(form.virtualDatesFlexible, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.virtualDatesFlexible) }}
        </fieldset>
    </div>

    <div class="sub-fieldset">
        <div class="form-group">
            {{ form_label(form.virtualDateLengthDesc, null, { 'label_attr': {'class': 'inline-block'} }) }}
            <div class="css-tooltip css-tooltip--right">
                <span class="css-tooltip__trigger css-tooltip__trigger--link">{% trans %}Tooltip Display Text - Date Length desc{% endtrans %}</span>
                <div class="css-tooltip__content">
                    {% trans %}Tooltip Content - Date Length desc{% endtrans %}
                </div>
            </div>
            {{ form_widget(form.virtualDateLengthDesc, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
{% endblock %}
