{% extends ':project/common:base_wizard_step.html.twig' %}

{% block javascripts %}
	{{ parent() }}

	<script>
		jQuery(function($) {
			var $optionForm = $('form[name="virtual_component"]');
			var currentComponent = $optionForm.find(':checked').val();

			$optionForm.submit(function() {
				if (currentComponent != null && currentComponent != $optionForm.find(':checked').val()) {
					return confirm('{% trans %}Changing your selection may erase some current weeks and their assigned activities, are you sure you want to proceed?{% endtrans %}')
				}
			});
		});
	</script>
{% endblock %}

{% block wizard_step_title %}
    <h2>
        Virtual Itinerary
        <small class="pull-right">Step 1 of 3</small>
    </h2>
{% endblock %}

{% block wizard_step_body %}
    <div class="form-group">
        <fieldset>
            <legend class="label__required">
                {% trans %}When will the Virtual component for this project occur, with reference to the In Country component?{% endtrans %}
            </legend>
            {{ form_widget(form.mixedVirtualComponent, { 'attr': {'class': 'inline-labels'} }) }}
            {{ form_errors(form.mixedVirtualComponent) }}
        </fieldset>
    </div>
{% endblock %}
