<p>Hello,</p>

<p>This email is to inform you that an EL Specialist proposal has been submitted by a Post, reviewed by a RELO, and reviewed by the RPO. It was not selected for ECA-funding and Post has agreed to provide alternate funding. The details of the proposal are listed below.</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>
	To review the complete proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
	</a>
</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}
