<p>Hello,</p>

<p>This email is to inform you that an EL Specialist proposal has been submitted by a Post, reviewed by a RELO, and reviewed by the RPO. The details of the proposal are listed below.</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>
	To review the complete proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
	</a>
</p>

<p>Once you review the proposal, you must take one of the following actions</p>

<ol>
	<li>Return to RPO for revision — You may comment on the proposal and return the proposal to RPO for editing. </li>
	<li>Request alternate funding — You approve of the scope of the project, but ECA funding is not available for this project. Post will be notified that they have the option to fund the project themselves. Post can choose to either fund the project themselves or decline to fund the project.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}
