<p>Hello,</p>

<p>This email is to inform you that an EL Specialist proposal has been returned to you for revision. The details of the proposal are listed below.</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>
	To review the complete proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
	</a>
</p>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Edit the proposal and re-submit to RELO for review —The proposal with your edits will be re-reviewed</li>
	<li>Withdraw — If you are unwilling to make the requested changes, you may withdraw your proposal. The proposal will not be re-reviewed and will not be approved.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}
