<p>Hello,</p>

<p>This email is to inform you that the proposal you submitted has not been approved for funding this year. The details of the proposal are listed below:</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>This proposal is no longer under review and no further action can be taken at this time. You may review the details of the proposal by clicking on the URL below.<br>

	<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
	</a>
</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}
