<p>Hello,</p>

<p>This email is to inform you that the proposal you submitted has been selected for ECA funding this year. The details of the proposal are listed below:</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>To review the proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
	</a>
</p>

<p>You will receive more information regarding next steps soon.</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}
