<p>Hello,</p>

<p>This email is to inform you that {{ user.name }}({{ role }}) has changed the status of a Project Proposal. The details of the proposal are listed below.</p>
<ul>
	<li>
		<strong>{% trans %}Reference #{% endtrans %}:</strong> {{ projectPhase.projectGeneralInfo.referenceNumber }}
	</li>
	<li>
		<strong>{% trans %}Title{% endtrans %}:</strong> {{ projectPhase.title }}
	</li>
	<li>
		<strong>{% trans %}Proposal Type{% endtrans %}:</strong>
		{% if projectPhase.type == "in-country" %} Entirely In-Country {% endif %}
		{% if projectPhase.type == "virtual" %} Entirely Virtual {% endif %}
		{% if projectPhase.type == "mixed" %} Mixed (in-country component and virtual component) {% endif %}
	</li>
	<li>
		{# @var country \AppBundle\Entity\Country #}
		<strong>Country:</strong>
		{% for country in projectPhase.projectGeneralInfo.countries %}
			{% if loop.first %}
				{{ country.name }}
			{% else %}
			, {{ country.name }}
			{% endif %}
		{% endfor %}
	</li>
	<li>
		<strong>{% trans %}Cycle{% endtrans %}</strong> {{ projectPhase.projectGeneralInfo.cycle.name }}
	</li>
	<li>
		<strong>{% trans %}Review Status{% endtrans %}</strong> {{ projectPhase.projectGeneralInfo.projectReviewStatus }}
	</li>
	<li>
		<strong>{% trans %}Outcome{% endtrans %}</strong> {{ projectPhase.projectGeneralInfo.projectOutcome }}
	</li>
	<li>
		<strong>{% trans %}Submitted by{% endtrans %}</strong> {{ projectPhase.projectGeneralInfo.submittedBy.name }}
	</li>
	<li>
		<strong>{% trans %}Submitted on{% endtrans %}</strong> {{ projectPhase.specialistProjectReviews.first.createdAt|date('m/d/Y') }}

	</li>
</ul>

<p>To review the complete proposal, please click on the URL below</p>

<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
	{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
</a>

<p>There, you will find comments about the change, please take action accordingly</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}