<p>Hello,</p>

<p>This email is to inform you that an EL Specialist proposal has been re-submitted for your review. The details of the proposal are listed below.</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>
	To review the complete proposal, please click on the URL below.<br>

	<a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
	</a>
</p>

<p>Once you review the proposal, you must take one of the following actions:</p>

<ol>
	<li>Submit to RPO review — You approve of the proposal as it is written and it will be passed to RPO for their review.</li>
	<li>Edit the proposal yourself and Submit to RPO review —The proposal with your edits will be passed to RPO for their review.</li>
	<li>Return to Post for revision — You may comment on the proposal and return the proposal to Post for editing. Post will see your comments and may choose to edit and resubmit the proposal for your re-review.</li>
</ol>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
	{% include 'email/specialist/recipients.html.twig' %}
{% endif %}
