<p>Hello,</p>

<p>This email is to inform you that an EL Specialist proposal has been returned to Post for revision. The details of the proposal are listed below.</p>

{% include 'email/specialist/project_details.html.twig' %}

<p>
    To review the complete proposal, please click on the URL below.<br>

    <a href="{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}">
		{{ absolute_url(path('specialist_project_phase_show', {'id': projectPhase.id})) }}
    </a>
</p>

<p>Post may choose to edit or withdraw the proposal. If the edit the proposal, it will be resubmitted to RELO review.</p>

<p>Regards,<br>The English Language Programs team</p>

{% if not sendMessage %}
    {% include 'email/specialist/recipients.html.twig' %}
{% endif %}
