.dropdown .btn:hover + .dropdown-menu {
    display: block;
}

.dropdown-menu{
	margin-top: 0px !important;
	&:hover {
	    display: block;
	}
	>li>a:hover, >li>a:focus, >li>a:active{
		background-color: #7B7B7B !important;
	}
}

.smart-style-3 .dropdown-menu {
    background-color: #fff !important;
}
