.jarviswidget{
	&.no-header {
		margin-top: 0;
	    border-top: 1px solid #ccc;
	    .no-background{
			background: none !important; // @TODO: This is hack, to make this class work always we need to change the order we add the .scss files.
			border: none !important;
		}
	}
	.input .label {
		margin-top: 10px;
	}

	.smart-form .label {
		font-size: 17px !important;
    	font-family: "Cabin","Open Sans",Arial,Helvetica,Sans-Serif;
    	margin-bottom: 14px;
    	margin-top: 6px;
	}

	.smart-form .checkbox, .smart-form .radio {
		font-size: 17px !important;
    	font-family: "Cabin","Open Sans",Arial,Helvetica,Sans-Serif;
	}

	h3{
		font-size: 23px;
	}
	.smart-form {
		.btn{
			float: right;
		    height: 31px;
		    margin: 10px 0 0 5px;
		    padding: 5px 22px;
		    cursor: pointer;
		    box-sizing: content-box;
		    font-size: 16px;
		}
	}
}

.sub-fieldset{
    padding: 2px 15px 17px!important;
    border: solid 1px #CAE2EF;
    margin-top: 12px!important;
    background: #F0FAFF;
	.label{
		margin-top: 10px;
	}
}

.smart-form fieldset {
    background-color: #fff !important;
    margin-bottom: 40px;
    padding: 0 !important;
}

.smart-form section {
	padding: 1px 14px 5px !important;
}

.smart-form fieldset+fieldset {
    border-top: none;
}

.form-section-header{
    display: block;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    margin: 0 0 15px!important;
    background: #1a3b6a;
    padding: 17px 14px 17px !important;
}

.sticky-top-placeholder{
	height: 72px;
	margin-bottom: 20px;
	position: relative;
	.well{
		transition: all .3s ease;
	}
}

.well.sticky-top{
	position: fixed;
    top: 6px;
    width: calc(100% - 248px);
    z-index: 1000;
    background: #3A424A;
    color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
    .btn-link{
    	color:white;
    	text-decoration: underline;
    }
}

.nav-select{
	width: 400px;
    display: inline-block !important;
}

.field-description{
	font-size: 16px;
	font-family: "Cabin","Open Sans",Arial,Helvetica,Sans-Serif;
	margin-top: 12px !important;
	color: #6B6B6B;
}

.smart-form .textarea textarea {
	font-size: 17px !important;
}

.table>thead:first-child>tr:first-child>th {
    font-size: 16px !important;
    font-family: "Cabin","Open Sans",Arial,Helvetica,Sans-Serif;
}
